﻿﻿@using ASEH_Front.Models
@using System.Text.RegularExpressions;
@{
    List<SiteNav> site_nav_list = ViewBag.site_nav_list;
    string currentUrl = Request.Url.PathAndQuery;
    string enUrl = currentUrl;
    string chUrl = currentUrl == "/" ? "/ch" : new Regex("/en").Replace(currentUrl, "/ch", 1);
}

@helper renderMenu(List<SiteNav>
  navList, string classPrefix, int lv = 1, string checkboxIdPrefix = "")
{
    foreach (var nav in navList)
    {
        string checkboxId = @String.Format("{0}__Lv{1}__Checkbox__{2}-{3}", classPrefix, lv, checkboxIdPrefix, nav.No);
        bool hasUrl = nav.Url != "";
        bool hasChildren = nav.Children.Count() > 0;
        <div class="@String.Format("{0}__Lv{1}Item", classPrefix, lv)">
            <input type="checkbox" id="@checkboxId" />
            <div class="@String.Format("NavHeader", classPrefix, lv)">
                @if (hasUrl)
                {
                    <a class="NavTitle" href="@nav.Url" data-title="@nav.Title" data-href="@nav.Url">@nav.Title</a>
                }
                else
                {
                    <div class="NavTitle" href="@nav.Url" data-title="@nav.Title" data-href="@nav.Url">@nav.Title</div>
                }
                @if (hasChildren)
                {
                    <label for="@checkboxId" class="@String.Format("NavHeader__Toggle", classPrefix, lv)">
                        <i class="glyphicon glyphicon-triangle-bottom"></i>
                    </label>
                }
            </div>


            @if (nav.Children.Count() > 0)
            {
                <div class="@String.Format("{0}__Lv{1}Sub", classPrefix, lv)">
                    @renderMenu(nav.Children, classPrefix, lv + 1, String.Format("{0}-{1}", checkboxIdPrefix, nav.No))
                </div>
            }
        </div>
    }
}
<!DOCTYPE html>

<html>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# business: http://ogp.me/ns/business#">
    <meta charset="UTF-8">
    <link rel="alternate" hreflang="en" href="https://www.aseglobal.com/@ViewBag.enURL" />
    <link rel="alternate" hreflang="zh-tw" href="https://www.aseglobal.com/@ViewBag.zhURL" />
    <!-- og -->
    <meta name="description" content="@ViewBag.Description" />
    <link rel="icon" type="image/png" href="https://3711cdn.r.worldssl.net/pic/content/en/images/favicon_ico.png" sizes="96x96">
    <meta property="og:type" content="website">
    <meta property="og:url" content="@ViewBag.SiteUrl">
    <meta property="og:site_name" content="@ViewBag.SiteName">
    <meta property="og:title" content="@ViewBag.SiteName">
    <meta property="og:description" content="@ViewBag.SiteDesc">
    <meta property="og:image" content="@ViewBag.SiteOgImage">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>@ViewBag.HeadTitle</title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <link rel="apple-touch-icon" href="https://3711cdn.r.worldssl.net/pic/content/en/images/touch-icon.png" />
    <!-- Css -->
    <link rel="stylesheet" href="https://3711cdn.r.worldssl.net/css/content/en/css/ase.css?20200825-1" />
    <link rel="stylesheet" href="https://3711cdn.r.worldssl.net/css/content/en/css/magnific-popup.css" />
    <link rel="stylesheet" href="https://3711cdn.r.worldssl.net/css/content/en/css/all.min.css" />
    <link rel="stylesheet" href="https://3711cdn.r.worldssl.net/css/js/vendor/sweetalert/sweetalert2.min.css" />
    <link rel="stylesheet" href="/css/ase-box.css?1" />
    <link rel="stylesheet" href="/css/ase-box-common.css" />
    <script src="https://3711cdn.r.worldssl.net/js/js/vendor/jquery/jquery-2.2.2.min.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-33905716-1"></script>
    <script src="https://cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.min.js"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-33905716-1');
    </script>
    <style>
        .breadcrumbs-pc .dropdown-item:after {
            border-right: 0;
        }
    </style>
</head>

<body>
    <div id="page-loader" class="loader">
        <span>loading</span>
        <ul> <li id='a'></li> <li id='b'></li> <li id='c'></li> <li id='d'></li> <li id='e'></li> <li id='f'></li> <li id='g'></li> <li id='h'></li> <li id='i'></li> </ul>
    </div>

    <div class="ASEHeader">
        <input type="checkbox" id="MobileNavsToggle" />
        <div class="ASEHeader__Logo">
            <a class="logo pull-left holdinglogo" href="@Url.Action("Index", "Home")">
                <img src="https://3711cdn.r.worldssl.net/pic/content/en/images/index/asegroupTest1_logo.png" />
            </a>
        </div>
        <div class="ASEHeader__Navs">
            @renderMenu(site_nav_list, "ASENavs")
        </div>
        <input type="checkbox" id="searchPanel" />
        <div class="ASEHeader__Search">


            <label class="btn btn-default" for="searchPanel"><i class="icon-search"></i></label>
            <div class="ASESearchPanel">
                <form action="@Url.Action("Search", "En")" autocomplete="off">
                    <input type="text" class="form-control" id="" placeholder="Search" name="q">
                    <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                </form>
            </div>
        </div>
        <div class="ASEHeader__Lang">
            <a href="@enUrl">English</a>
            <a href="@chUrl">中文</a>
        </div>
        <div class="ASEHeader__MobileToggle">
            <label class="hamburger hamburger--collapse" for="MobileNavsToggle">
                <div class="hamburger-box">
                    <div class="hamburger-inner"></div>
                </div>
            </label>
        </div>

        <div class="ASEHeader__MobileNavs">
            @renderMenu(site_nav_list, "ASEMobileNavs")
        </div>
    </div>

    <div class="page">
        <div id="wrapper">
            @RenderBody()
        </div>
    </div>

    <footer class="holdingfooter">
        <a class="gotop" href="javascript:;"><i class="icon-arrow-top"></i><span>TOP</span></a>
        <div class="col-xs-12 copyright nopadding">
            <span>
                Copyright ©
                <script type="text/javascript">myDate = new Date(); myYear = myDate.getFullYear(); document.write(myYear);</script> ASE Technology Holding Co., Ltd. All rights reserved.
            </span>

            <span>
                <a href="@Url.Action("Contact", "En")">Contact Us</a> | <a href="@Url.Action("Download", "En")">Downloads</a> | <a href="@Url.Action("Term_Of_Use", "En")">Terms of Use</a> | <a href="/content/en/ase_privacy.html" target="_blank">Privacy Policy</a> | <a href="/content/en/ase_cookieterm.html" target="_blank">Cookie</a> | <a href="/content/en/sitemap.html">Site Map</a> |
                <a style="width: 20px; height: 20px;" href="https://twitter.com/asegroup_global" target="_blank">
                    <img src="https://3711cdn.r.worldssl.net/pic/content/en/images/icon/twitter.png" alt="Ase Group Twitter" />
                </a>
                <a style="width: 20px; height: 20px;" href="https://tw.linkedin.com/company/ase-group" target="_blank">
                    <img src="https://3711cdn.r.worldssl.net/pic/content/en/images/icon/linkedin.png" alt="Ase Group Linkedin" />
                </a>
                <a style="width: 20px; height: 20px;" href="javascript:" data-toggle="popover" data-trigger="hover" data-placement="top" data-html="true" data-content="
          <div class='weChat'>
            <img src='https://3711cdn.r.worldssl.net/pic/content/en/images/icon/ASE_wechat.png' style='width:160px; height:192px' />
          </div>
        ">
          <img class="m1" src="https://3711cdn.r.worldssl.net/pic/content/en/images/icon/wechat.png" alt="Ase Group WeChat" />
        </a>
                <a style="width: 20px; height: 20px;" href="javascript:" data-toggle="popover" data-trigger="hover" data-placement="top" data-html="true" data-content="
          <div class='weChat'>
            <img src='https://3711cdn.r.worldssl.net/pic/content/en/images/icon/ase_line.png' style='width:160px; height:192px' />
          </div>
        ">
            <img class="m1" src="https://3711cdn.r.worldssl.net/pic/content/en/images/icon/line.png" alt="Ase Group LINE" />
        </a>
            </span>
            <span>ASEH Members: <a href="https://ase.aseglobal.com/en" target="_blank">ASE Inc.</a> | <a href="https://www.spil.com.tw/" target="_blank">SPIL</a> | <a href="https://www.usiglobal.com" target="_blank">USI</a></span>

        </div>
    </footer>
    <div class="cookiebar">
        <div class="cookieinner">
            <p>This website uses Cookies to optimize your experience. By choosing to continue, you agree to the use of Cookies and our Cookie Terms. To know more about Cookies and how to enable and disable cookies, please see “How to change Cookie preferences or disable Cookies?” in our <a href="/content/en/ase_cookieterm.html" target="_blank">Cookie Terms</a>.</p>
            <a href="javascript:void(0)"><div id="continuebutton" class="continuebutton">Accept Cookies</div></a>
        </div>
    </div>
    <!-- css -->
    <link rel="stylesheet" href="https://3711cdn.r.worldssl.net/css/content/en/css/cookie-bar.css?5" />

    <!-- JS -->
    <script src="https://3711cdn.r.worldssl.net/js/js/vendor/jquery.mobile.custom.min.js"></script>
    <script src="https://3711cdn.r.worldssl.net/js/js/vendor/modernizr-custom.js"></script>
    <script src="https://3711cdn.r.worldssl.net/js/js/vendor/jquery.matchHeight-min.js"></script>
    <script src="https://3711cdn.r.worldssl.net/js/js/vendor/TweenMax.min.js"></script>
    <script src="https://3711cdn.r.worldssl.net/js/js/vendor/ScrollMagic.min.js"></script>
    <script src="https://3711cdn.r.worldssl.net/js/js/vendor/bootstrap.min.js"></script>
    <script src="https://3711cdn.r.worldssl.net/js/js/all.js?2" async defer></script>

    <script src="https://3711cdn.r.worldssl.net/js/js/vendor/hammer.min.js"></script>
    <script src="https://3711cdn.r.worldssl.net/js/js/index.js" async defer></script>
    <script src="https://3711cdn.r.worldssl.net/js/js/csr_index.js"></script>

    <script src="https://3711cdn.r.worldssl.net/js/js/jquery.magnific-popup.js"></script>
    <script src="https://3711cdn.r.worldssl.net/js/js/magnific.js"></script>

    <script src="https://3711cdn.r.worldssl.net/js/js/cookies.js?2"></script>
    <script src="https://3711cdn.r.worldssl.net/js/js/vendor/sweetalert/sweetalert2.min.js"></script>
    <script src="~/js/ase-box-video.js?2"></script>
    @if (ViewBag.Message != null)
    {
        <script>swal({ title: "@ViewBag.Message", timer: 3000, type: "@(ViewBag.IsError != null ? "error" : "success" )" })</script>
    }
    <script>
        $(function () {
            $('.regenCode').click(function () {
                var img = $("img", this.parentElement);
                if (img.length > 0) {
                    var oldSrc = $(img).attr("src").split("?")[0]
                    $(img).attr("src", oldSrc + "?unix=" + new Date().getTime());
                }
            })
            $(".togglePassword").click(function () {
                var currentType = $("input", this.parentElement).attr('type')
                if (currentType == "password") {
                    currentType = "text"
                } else {
                    currentType = "password"
                }
                $("input", this.parentElement).attr('type', currentType);
            })
        })
    </script>
    <style>
        .togglePassword {
            position: absolute;
            right: 30px;
            top: 10px;
        }
    </style>
</body>
</html>