﻿@using web.ViewModels.GoogleSearch;
@model web.ViewModels.GoogleSearch.GoogleSearchResult

@{
    if (ViewBag.lang == "en")
    {
        Page.Title = "Site Search";
        Layout = "~/Views/Shared/_Layout_Content_En.cshtml";
    }
    else
    {
        Page.Title = "全站搜尋";
        Layout = "~/Views/Shared/_Layout_Content.cshtml";
    }

    
    List<int> pages = new List<int>();

    for (int i = ViewBag.SearchPage - 5; i < (ViewBag.SearchPage) + 5; i++)
    {
        if (i > 0 && i * 10 < int.Parse(Model.SearchInformation.TotalResults))
        {
            pages.Add(i);
        }
    }
}

@helper renderLinks()
{
    <ul>
    </ul>
}

<link href="~/css/ase-search.css" rel="stylesheet" />
<section class="inside-article">
    <div class="content-lg row ">
        <article class="col-xs-12 aseSearch">
            <h3 class="title">@Page.Title</h3>
            <form>
                <input type="text" name="q" value="@ViewBag.SearchQuery" placeholder="Search Site" />
            </form>
            <div>About @Model.SearchInformation.FormattedTotalResults results</div>
            @if (Model.Items != null)
            {
                <div class="list">
                    @foreach (var item in Model.Items)
                    {

                        <div class="row">
                            @if (item.Pagemap.Metatags.Count() > 0 && item.Pagemap.Metatags[0].OgImage != null)
                            {
                                <div class="col-lg-2">
                                    <img src="@item.Pagemap.Metatags[0].OgImage" />
                                </div>
                            }
                            <div class="col-lg-10">
                                <a href="@item.Link">
                                    <h3>@Html.Raw(item.HtmlTitle)</h3>
                                </a>
                                <div>@item.Link</div>
                                @Html.Raw(item.HtmlSnippet)
                            </div>
                        </div>

                        <hr />
                    }
                </div>
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li>
                            @if (ViewBag.SearchPage > 1)
                            {
                                <a href="?q=@ViewBag.SearchQuery&page=@(ViewBag.SearchPage - 1)" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            }
                            else
                            {
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            }
                        </li>
                        @foreach (int page in pages)
                        {
                            <li class="@(page == ViewBag.SearchPage ? "active" : "")">
                                <a href="?q=@ViewBag.SearchQuery&page=@page">@page</a>
                            </li>
                        }
                        <li>
                            <a href="?q=@ViewBag.SearchQuery&page=@(ViewBag.SearchPage + 1)" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            }
            else
            {
                <div> <h1>Not Found</h1> </div>
            }


        </article>
    </div>
</section>
