﻿@model ASEH_Front.Models.Article.ArticleViewModel
@{
    int x = 0;
    int y = 0;
    bool IsEn = ViewBag.Lang == "en";
}
<section class="slider-vision index-banner">
    <div id="index-banner" class="carousel slide carousel-fade" data-ride="carousel" data-interval="6000">
        <ol class="carousel-indicators">
            @foreach (var item in Model.PicRotateList)
            {
                if (x == 0)
                {
                    <li data-target="#index-banner" data-slide-to="@x" class="active"></li>
                }
                else
                {
                    <li data-target="#index-banner" data-slide-to="@x"></li>
                }

                x++;
            }
        </ol>
        <div class="carousel-inner" role="listbox">
            @foreach (var item in Model.PicRotateList)
            {
                var active = (y == 0) ? "active" : "";
                var picUrl = string.Format("https://3711cdn.r.worldssl.net/uploads/{0}/{1}", item.ProID, IsEn ? item.ProPicPath_EN : item.ProPicPath);
                var picMUrl = string.Format("https://3711cdn.r.worldssl.net/uploads/{0}/{1}", item.ProID, IsEn ? item.ProPicPath_M_EN : item.ProPicPath_M);
                var picName = IsEn ? item.ProName_EN : item.ProName;
                var picDesc = IsEn ? item.ProDesc_EN : item.ProDesc;
                var url = IsEn ? item.ProUrl_EN : item.ProUrl;
                var isPcVideo = picUrl.Contains(".mp4");
                var isMobVideo = picUrl.Contains(".mp4");
                var bgStyle = item.ProShowBgBorder == 0 ? "background-color: transparent" : "";
                var moreBtnText = IsEn ? "MORE" : "了解更多";

                <a href="@url" class="item @active">
                    @if (isPcVideo)
                    {
                        <div class="carousel-background carousel-background--pc">
                            <video src="@picUrl" autoplay loop muted playsinline />
                        </div>
                    }
                    else
                    {
                        <div class="carousel-background carousel-background--pc" style="background-image: url(@picUrl)"></div>
                    }
                    @if (isMobVideo)
                    {
                        <div class="carousel-background carousel-background--mobile">
                            <video src="@picMUrl" autoplay loop muted playsinline />
                        </div>
                    }
                    else
                    {
                        <div class="carousel-background carousel-background--mobile" style="background-image: url(@picMUrl)"></div>
                    }
                    <div class="carousel-caption" style="@bgStyle">
                        @if (item.ProShowText == 1)
                        {
                            <h3>@picName</h3>
                            <p style="margin-bottom: 10px">
                                @Html.Raw(picDesc.Replace("\n", "<br />"))
                            </p>
                        }

                        @if (item.ProShowMoreBtn == 1)
                        {
                            <div class="button" style="position:absolute; bottom:10px;"><span>@moreBtnText</span><i class="icon-arrow-right"></i></div>
                        }
                    </div>
                </a>

                y++;
            }
        </div>

    </div>
</section>