﻿@{
    Layout = "~/Views/Shared/_Layout_Base_En.cshtml";
}

<!-- page Banner -->
@if (!string.IsNullOrEmpty(ViewBag.BannerStyle))
{
    <section id="page-vision" class="page-banner-s @ViewBag.BannerStyle">
        <h1 class="page-title">@ViewBag.Title</h1>
    </section>
}

<!--麵包屑-->
<div class="content-lg row">
    <div class="col-xs-12">
        @Html.MvcSiteMap().SiteMapPath()
    </div>
</div>

@RenderBody()