﻿@{
    ViewBag.Title = "ABOUT THE COMPANY";
    ViewBag.BannerStyle = "banner-about";
    Layout = "~/Views/Shared/_Layout_Content_En.cshtml";
    ViewBag.HeadTitle = "About the Company | ASE Technology Holding";
    ViewBag.Description = "ASE Technology Holding Co., Ltd. is jointly established by the combination of Advanced Semiconductor Engineering, Inc. and Siliconware Precision Industries Co., Ltd. ASE Technology Holding is the world's leading provider of independent semiconductor manufacturing services in assembly and test.";
    ViewBag.enURL = "en/about";
    ViewBag.zhURL = "ch/about";
}

<section class="inside-article">
    <div class="content-lg row">
        <article class="col-xs-12">
            <h3 class="title">About ASE Technology Holding, Co., Ltd.</h3>
            <p>
                ASE Technology Holding Co., Ltd. is jointly established by the combination of Advanced Semiconductor Engineering, Inc. and Siliconware Precision Industries Co., Ltd.  ASE Technology Holding will enhance research and development capability, expand global market footprint, contribute advanced technical support for next-generation applications, and provide miniaturized, high-quality, highly integrated, and fast time-to-market services to all customers.
            </p>
            <p>
                ASE Technology Holding is the leading provider of semiconductor manufacturing services in assembly and test.  The Company develops and offers complete turnkey solutions covering front-end engineering test, wafer probing and final test, as well as IC packaging, materials and electronic manufacturing services through USI with superior technologies, breakthrough innovations, and advanced development programs. By integrating the resources of each business entity, we remain committed to long term partnerships for a win-win sustainable future.
            </p>
            <p>
                ASE Technology Holding will follow the highest corporate governance standards and implement sustainable business philosophies.  As an integral member of the semiconductor value chain, the Company develops dynamic strategies and seeks global talent and resources in response to worldwide competitive landscape.  In order to achieve our sustainable development goals to enhance the welfare of the greater population, ASE Technology Holding will continue to work with other industry participants to explore strategic alliance opportunities, which will in turn to spur further innovation and create a mutually beneficial business environment for the industry as a whole.
            </p>
            <p>
                ASE Technology Holding’s global manufacturing facilities are strategically located in Taiwan, China, South Korea, Japan, Singapore, and Malaysia, Mexico as well as the Americas and Europe, with 90,000 employees.
            </p>

        </article>
        <article class="col-xs-12">
            <h3 class="title"><a href="/en/milestones">Milestones</a></h3>
            <ul class="nopadding">
                <li>
                    In June, 2016, ASE and SPIL entered into the Joint Share Exchange Agreement, pursuant to which, the board of directors from ASE and SPIL approved the formation of ASE Technology Holding Co., Ltd.
                </li>
                <li>
                    On February 12, 2018, ASE and SPIL respectively held Extraordinary General Meetings and each approved the proposed Joint Share Exchange plan, pursuant to which, the to-be-established ASE Technology Holding will acquire 100% of shares of both ASE and SPIL.
                </li>
                <li>
                    On April 30, 2018, ASE Technology Holding listed on the Taiwan Stock Exchange (TWSE code: 3711) and New York Stock Exchange (NYSE code: ASX) through the issue of ADR.
                </li>
            </ul>
        </article>
        <article class="col-xs-12">
            <h3 class="title">Members of ASE Technology Holding Co., Ltd. </h3>
            <p>
                Advanced Semiconductor Engineering Inc. & Siliconware Precision Industries Co.,Ltd., the leading companies of semiconductor assembly and test services.
            </p>
            <p>
                USI Inc., a leading electronic manufacturing service provider.
            </p>
            <div class="col-md-4 picture-padding-2">
                <image src="https://3711cdn.r.worldssl.net/pic/content/en/images/about/building_ase.jpg?1">
                    <br>
                    ASE
</div>
            <div class="col-md-4 picture-padding-2">
                <image src="https://3711cdn.r.worldssl.net/pic/content/en/images/about/building_spil.jpg">
                    <br>
                    SPIL
</div>
            <div class="col-md-4 picture-padding-2">
                <image src="https://3711cdn.r.worldssl.net/pic/content/en/images/about/building_usi.jpg">
                    <br>
                    USI
</div>
        </article>
    </div>
</section>