﻿@{
    ViewBag.Title = "Contact ASE Technology Holding";
    ViewBag.BannerStyle = "banner-about";
    Layout = "~/Views/Shared/_Layout_Content_En.cshtml";
    ViewBag.HeadTitle = "Contact Us | ASE Technology Holding";
    ViewBag.Description = "Contact ASE Technology Holding";
    ViewBag.enURL = "en/contact";
    ViewBag.zhURL = "ch/contact";
}

<section class="inside-article">
    <div class="content-lg row">
        <article class="col-xs-12">
            <h3 class="title">Contact Us</h3>
        </article>
    </div>
</section>
<section class="page-list-content section-contact">

    <div class="content-lg row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="list">
                <div class="title">
                    Website Feedback
                    <a href="#open01" data-toggle="collapse" class="collapsed feedback"></a>
                </div>
                <div class="content-wrapper content-feedback">
                    <div id="open01" class="collapse text-center">
                        If you have any questions, comments or suggestions regarding this Website, please <a href="mailto:ase_webmaster@aseglobal.com">contact us</a>.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-lg row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="list">
                <div class="title">
                    Media Enquiries
                    <a href="#open02" data-toggle="collapse" class="collapsed feedback"></a>
                </div>
                <div class="content-wrapper content-feedback">
                    <div id="open02" class="collapse text-center">
                        <strong>Eddie Chang</strong><br>
                        886-2-66365678<br>
                        <a href="mailto:eddie_chang@aseglobal.com">eddie_chang@aseglobal.com</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-lg row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="list">
                <div class="title">
                    CSR Contacts
                    <a href="#open03" data-toggle="collapse" class="collapsed feedback"></a>
                </div>
                <div class="content-wrapper content-feedback">
                    <div id="open03" class="collapse text-center">
                        If you have any questions, comments or suggestions regarding Corporate Sustainability Report, please <a href="mailto:ASEH_CSR@aseglobal.com">contact us</a>.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-lg row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="list">
                <div class="title">
                    Sales Contacts
                    <a href="#open04" data-toggle="collapse" class="collapsed feedback"></a>
                </div>
                <div class="content-wrapper content-feedback">
                    <div id="open04" class="collapse text-center">
                        <div class="col-md-5 col-xs-4"></div>
                        <div class="col-md-2 col-xs-4">
                            <ul class="nopadding" style="text-align: left;">
                                <li><a href="https://ase.aseglobal.com/en/About/plants_offices" target="_blank">Contact ASE</a></li>
                                <li><a href="https://www.spil.com.tw/contact/" target="_blank">Contact SPIL</a></li>
                                <li><a href="https://www.usiglobal.com/en/sales_office" target="_blank">Contact USI</a></li>
                            </ul>
                        </div>
                        <div class="col-md-5 col-xs-4"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-lg row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="list">
                <div class="title">
                    IR Contacts
                    <a href="#open05" data-toggle="collapse" class="collapsed feedback"></a>
                </div>
                <div class="content-wrapper content-feedback">
                    <div id="open05" class="collapse text-center">
                        If you have any request for information or suggestion about ASX IR services, please click <a href="https://ir.aseglobal.com/html/ir_contact.php">here</a> to contact our IR officers.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
$(function(){
    $('a.feedback').click(function(){
        if($(this).parent().attr('style')=='' || $(this).parent().prop('style').length==0){
           $(this).parent().attr('style','border:none;background: #eee;');
        }else
        {
            $(this).parent().attr('style','');
        }
    });
});
</script>