﻿@{
    ViewBag.Title = "Committed to<br />a Win-Win Sustainable Future";
    ViewBag.BannerStyle = "banner-csr";
    Layout = "~/Views/Shared/_Layout_Content_En_CSR.cshtml";
    ViewBag.HeadTitle = "Our Sustainability Focus | ASE Technology Holding";
    ViewBag.Description = "Find out how ASE Technology Holding drives positive change and sustainable development through sustainability management in green transformation, responsible procurement, inclusive workplace, and corporate citizenship.";
    ViewBag.enURL = "en/csr";
    ViewBag.zhURL = "ch/csr";
}

<section class="inside-article">
    <div class="content-lg row">
        <article class="col-xs-12">
            <p>
                ASEH approaches sustainability through four strategic pillars - low carbon, circular, inclusive and collaborative as well as innovative business models and best practices in key areas such as Smart Factories, Pandemic Preparedness, Energy Resources Recycling and Information Security Management. We aim to create sustainable values in the long run, cultivate a more sustainability-minded culture, and make a positive impact on society by leveraging our leading position in the semiconductor industry.
            </p>
        </article>
    </div>
</section>
<section id="iconlink" class="iconlink linebg-3">
    <div class="content-lg row">
        <ul class="row row_padding_0 item-csr">
            <li class="col-xs-12 col-sm-6 col-md-3 text-center">
                <a href="/content/en/csr_smart_factories.html">
                    <div class="imgbox">
                        <img src="/pic/content/en/images/csr/icon_smart_factories.png" alt="智慧工廠" data-hover="/pic/content/en/images/csr/icon_smart_factories-hover.png">
                    </div>
                    <div class="textbox">
                        <h4>Smart Factories</h4>
                        <div class="text">
                            <p>Our development in smart manufacturing and digital transformation began in 2015. There are currently eleven smart factories established and will increase to eighteen by the end of 2020.</p>
                        </div>
                    </div>
                    <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                </a>
            </li>
            <li class="col-xs-12 col-sm-6 col-md-3 text-center">
                <a href="/content/en/csr_pandemic_preparedness.html">
                    <div class="imgbox">
                        <img src="/pic/content/en/images/csr/icon_pandemic_preparedness.png" alt="Pandemic Preparedness" data-hover="/pic/content/en/images/csr/icon_pandemic_preparedness-hover.png">
                    </div>
                    <div class="textbox">
                        <h4>Pandemic Preparedness</h4>
                        <div class="text">
                            <p>We have implemented the most stringent measures for pandemic preparedness in our facilities around the world. Effective communication and preemptive actions are the key components of the pandemic crisis management plan that prescribe appropriate responses to mitigate impacts.</p>
                        </div>
                    </div>
                    <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                </a>
            </li>
            <li class="col-xs-12 col-sm-6 col-md-3 text-center" style="border-right: 1px solid #cccccc">
                <a href="/content/en/csr_energy_resources_recycling.html">
                    <div class="imgbox">
                        <img src="/pic/content/en/images/csr/icon_energy_resources_recycling.png" alt="Energy Resources Recycling" data-hover="/pic/content/en/images/csr/icon_energy_resources_recycling-hover.png">
                    </div>
                    <div class="textbox">
                        <h4>Energy Resources Recycling</h4>
                        <div class="text">
                            <p>We are committed to reducing energy consumption and carbon emissions by expanding our green supply chain, adopting the use of renewable energy, and developing smart energy management technologies.</p>
                        </div>
                    </div>
                    <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                </a>
            </li>
            <li class="col-xs-12 col-sm-6 col-md-3 text-center">
                <a href="/content/en/csr_information_security_management_policy.html">
                    <div class="imgbox">
                        <img src="/pic/content/en/images/csr/icon_cybersecurity_management.png" alt="Information Security Management" data-hover="/pic/content/en/images/csr/icon_cybersecurity_management-hover.png">
                    </div>
                    <div class="textbox">
                        <h4>Information Security Management</h4>
                        <div class="text">
                            <p>We have deployed the NIST CSF maturity assessment at our 25 facilities worldwide to facilitate the comprehensive planning for internet security, and the adoption and implementation of improvement plans.</p>
                        </div>
                    </div>
                    <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                </a>
            </li>
        </ul>
    </div>
</section>
<section class="inside-article">
    <div class="content-lg row">
        <article class="col-xs-12">
            <h3 class="title">Our Sustainability Focus</h3>
            <p>Find out how we are driving positive change and sustainable development through sustainability management in green transformation, responsible procurement, inclusive workplace, and corporate citizenship.</p>
        </article>
    </div>
</section>

<section class="inside-article">
    <div class="technology-bottom-flex">
        <div class="carousel slide focus-carousel" data-ride="carousel" data-interval="9000" id="focus">
            <ol class="carousel-indicators">
                <li data-target="#focus" data-slide-to="0" class="active"></li>
                <li data-target="#focus" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <div class="row">
                        <div class="col-md-4">
                            <a href="@Url.Action("Csr_Sustainability_Governance", "En")"><img alt="" src="https://3711cdn.r.worldssl.net/pic/Content/ch/images/icon/p1.png" style="width: 100%"><br><h4>Sustainability Governance</h4></a><br />
                            <!-- <a href="@Url.Action("Csr_Corporate_Sustainability_Policy", "En")">Corporate Sustainability Policy</a><br /> -->
                            <!-- <a href="@Url.Action("Csr_Sustainability_Strategy", "En")">Sustainability Strategy</a><br /> -->
                            <!-- <a class="p" href="~/content/en/csr_organization_structure.html">Organization and Structure</a><br /> -->
                            <a class="p" href="@Url.Action("Csr_Business_Conduct_Ethics", "En")">Business Conduct and Ethics</a><br />
                            <!-- <a href="@Url.Action("Csr_Human_Rights_Management", "En")">Human Rights Management</a><br /> -->
                            <a class="p" href="~/content/en/csr_risk_management.html">Risk Management</a><br />
                            <a class="p" href="https://ir.aseglobal.com/c/ir_corpor.php">Board of Directors</a><br />
                            <a class="p" href="~/content/en/csr_succession_planning.html">Succession Planning</a><br />
                            <a class="p" href="~/Content/en/csr_information_security_management_policy.html">Information Security Management</a><br />
                            <a class="p" href="@Url.Action("IP_Management", "En")">Intellectual Property Management</a>
                        </div>
                        <div class="col-md-4">
                            <a class="" href="~/content/en/csr_green_transformation.html"><img alt="" src="https://3711cdn.r.worldssl.net/pic/content/ch/images/icon/p2.png" style="width: 100%"><br><h4>Green Transformation</h4></a>
                            <a class="p" href="~/content/en/csr_climate_change_energy_management.html">Climate Change and Energy Management</a><br />
                            <a class="p" href="~/content/en/csr_water_resource_management.html">Water Resource Management</a><br />
                            <a class="p" href="~/content/en/csr_waste_management.html">Waste Management</a><br />
                            <a class="p" href="~/content/en/csr_green_facility.html">Green Facility</a>
                        </div>
                        <div class="col-md-4">
                            <a class="" href="~/content/en/csr_responsible_procurement.html"><img alt="" src="https://3711cdn.r.worldssl.net/pic/content/ch/images/icon/p3.png" style="width: 100%"><br><h4>Responsible Procurement</h4></a>
                            <a class="p" href="~/content/en/csr_supply_chain_management_framework.html">Supply Chain Management Framework</a><br />
                            <a class="p" href="~/content/en/csr_supply_chain_sustainability_management.html">Supply Chain Sustainability Management</a><br />
                            <a class="p" href="~/content/en/csr_conflict_minerals_compliance.html">Conflict Minerals Compliance</a><br />
                            <a class="p" href="~/content/en/supplier-sustainability-excellence-award.html">Supplier Sustainability Excellence Awards</a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-md-4 col-md-offset-2">
                            <a class="" href="~/content/en/csr_inclusive_workplace.html"><img alt="" src="https://3711cdn.r.worldssl.net/pic/Content/ch/images/icon/p4.png" style="width: 100%"><br><h4>Inclusive Workplace</h4></a>
                            <a class="p" href="~/content/en/csr_global_recruitment_diversity.html">Global Recruitment and Diversity</a><br />
                            <a class="p" href="~/content/en/csr_talent_attraction_retention.html">Talent Attraction and Retention</a><br />
                            <a class="p" href="~/content/en/csr_talent_cultivation_development.html">Talent Cultivation and Development</a><br />
                            <a class="p" href="~/content/en/csr_occupational_health_safety.html">Occupational Health and Safety</a>
                        </div>
                        <div class="col-md-4">
                            <a class="" href="/content/en/csr_corporate_citizenship.html"><img alt="" src="https://3711cdn.r.worldssl.net/pic/content/ch/images/icon/p5.png" style="width: 100%"><br><h4>Corporate Citizenship</h4></a>
                            <a class="p" href="~/content/en/csr_social_involvement_overview.html">Social Involvement Overview</a><br />
                            <a class="p" href="~/content/en/csr_environmental_conservation.html">Environmental Conservation</a><br />
                            <a class="p" href="~/content/en/csr_industry-academia_collaborations.html">Industry-Academia Collaborations</a><br />
                            <a class="p" href="~/content/en/csr_community_engagement.html">Community Engagement</a><br />
                            <a class="p" href="~/content/en/csr_public_advocacy.html">Public Advocacy</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <a data-slide="prev" href="#focus" class="left carousel-control">‹</a>
            <a data-slide="next" href="#focus" class="right carousel-control">›</a> -->
        </div>
    </div>

    <div class="row">
        <div class="container technology-carousel">
            <div class='col-xs-12 nopadding'>
                <div class="carousel slide media-carousel" data-ride="carousel" data-interval="9000" id="media">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#media" data-slide-to="0" class="active"></li>
                        <li data-target="#media" data-slide-to="1"></li>
                        <li data-target="#media" data-slide-to="2"></li>
                        <li data-target="#media" data-slide-to="3"></li>
                        <li data-target="#media" data-slide-to="4"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="col-xs-12" style="padding: 0 5px;">
                                <a href="@Url.Action("Csr_Sustainability_Governance", "En")"><img alt="" src="https://3711cdn.r.worldssl.net/pic/Content/ch/images/icon/p1.png" style="width: 100%"><br><h4>Sustainability Governance</h4></a><br />
                                <!-- <a href="@Url.Action("Csr_Corporate_Sustainability_Policy", "En")">Corporate Sustainability Policy</a><br /> -->
                                <!-- <a href="@Url.Action("Csr_Sustainability_Strategy", "En")">Sustainability Strategy</a><br /> -->
                                <!-- <a class="p" href="~/content/en/csr_organization_structure.html">Organization and Structure</a><br /> -->
                                <a class="p" href="@Url.Action("Csr_Business_Conduct_Ethics", "En")">Business Conduct and Ethics</a><br />
                                <!-- <a href="@Url.Action("Csr_Human_Rights_Management", "En")">Human Rights Management</a><br /> -->
                                <a class="p" href="~/content/en/csr_risk_management.html">Risk Management</a><br />
                                <a class="p" href="https://ir.aseglobal.com/c/ir_corpor.php">Board of Directors</a><br />
                                <a class="p" href="~/content/en/csr_succession_planning.html">Succession Planning</a><br />
                                <a class="p" href="~/Content/en/csr_information_security_management_policy.html">Information Security Management</a><br />
                                <a class="p" href="@Url.Action("IP_Management", "En")">Intellectual Property Management</a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-xs-12" style="padding: 0 5px">
                                <a class="" href="~/content/en/csr_green_transformation.html"><img alt="" src="https://3711cdn.r.worldssl.net/pic/content/ch/images/icon/p2.png" style="width: 100%"><br><h4>Green Transformation</h4></a>
                                <a class="p" href="~/content/en/csr_climate_change_energy_management.html">Climate Change and Energy Management</a><br />
                                <a class="p" href="~/content/en/csr_water_resource_management.html">Water Resource Management</a><br />
                                <a class="p" href="~/content/en/csr_waste_management.html">Waste Management</a><br />
                                <a class="p" href="~/content/en/csr_green_facility.html">Green Facility</a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-xs-12" style="padding: 0 5px">
                                <a class="" href="~/content/en/csr_responsible_procurement.html"><img alt="" src="https://3711cdn.r.worldssl.net/pic/content/ch/images/icon/p3.png" style="width: 100%"><br><h4>Responsible Procurement</h4></a>
                                <a class="p" href="~/content/en/csr_supply_chain_management_framework.html">Supply Chain Management Framework</a><br />
                                <a class="p" href="~/content/en/csr_supply_chain_sustainability_management.html">Supply Chain Sustainability Management</a><br />
                                <a class="p" href="~/content/en/csr_conflict_minerals_compliance.html">Conflict Minerals Compliance</a><br />
                                <a class="p" href="~/content/en/supplier-sustainability-excellence-award.html">Supplier Sustainability Excellence Awards</a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-xs-12" style="padding: 0 5px">
                                <a class="" href="~/content/en/csr_inclusive_workplace.html"><img alt="" src="https://3711cdn.r.worldssl.net/pic/content/ch/images/icon/p4.png" style="width: 100%"><br><h4>Inclusive Workplace</h4></a>
                                <a class="p" href="~/content/en/csr_global_recruitment_diversity.html">Global Recruitment and Diversity</a><br />
                                <a class="p" href="~/content/en/csr_talent_attraction_retention.html">Talent Attraction and Retention</a><br />
                                <a class="p" href="~/content/en/csr_talent_cultivation_development.html">Talent Cultivation and Development</a><br />
                                <a class="p" href="~/content/en/csr_occupational_health_safety.html">Occupational Health and Safety</a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-xs-12" style="padding: 0 5px">
                                <a class="" href="~/content/en/csr_corporate_citizenship.html"><img alt="" src="https://3711cdn.r.worldssl.net/pic/content/ch/images/icon/p5.png" style="width: 100%"><br><h4>Corporate Citizenship</h4></a>
                                <a class="p" href="~/content/en/csr_social_involvement_overview.html">Social Involvement Overview</a><br />
                                <a class="p" href="~/content/en/csr_environmental_conservation.html">Environmental Conservation</a><br />
                                <a class="p" href="~/content/en/csr_industry-academia_collaborations.html">Industry-Academia Collaborations</a><br />
                                <a class="p" href="~/content/en/csr_community_engagement.html">Community Engagement</a><br />
                                <a class="p" href="~/content/en/csr_public_advocacy.html">Public Advocacy</a>
                            </div>
                        </div>
                        <a data-slide="prev" href="#media" class="left carousel-control">‹</a>
                        <a data-slide="next" href="#media" class="right carousel-control">›</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="inside-article">
    <div class="content-lg row">
        <article class="col-md-10 col-md-offset-1 text-center" style="padding: 60px 0;">
            <div class="col-md-12 nopadding">
                <img src="/pic/content/en/images/csr/csr_mov.jpg">
            </div>
            <div style="position:absolute; left:25%; top: 35%; z-index:100; margin:0 auto; background-color: rgba(0, 0, 0, 0.5); border-radius: 5px; width: 50%; height: 30%; padding: 6%; text-align: center;">
                <a class="button videoButton popupVideo" href="https://www.aseglobal.com/marcom/files/D1F1765EFE1637511DD679D9A4810C0A4971486BC5BCD375CD57CA4DE5FD3044" target="_blank"><span style="padding-top: 4px;">Watch More</span><i class="icon-play"></i></a>
            </div>
        </article>
    </div>
</section>
<section id="iconlink" class="csr-bg">
    <div class="content-lg row">
        <div class="container" style="margin: 100px 0;">
            <div class="col-xs-6 col-sm-6 col-md-4 hide-in-small" style="padding: 0 5px">
                <a href="javascript:" data-toggle="popover" data-trigger="hover" data-content="Named Industry Group Leader in the 2016-2020 Dow Jones Sustainability Indices, and listed as a constituent of the Dow Jones Sustainability World Index and Emerging Markets Index." data-placement="bottom">
                    <div class="lab-type white">
                        <img src="https://3711cdn.r.worldssl.net/pic/content/ch/images/csr/logo_DJSI.jpg?1" style="width: 100%" data-hover="https://3711cdn.r.worldssl.net/pic/content/ch/images/csr/logo_DJSI.jpg">
                    </div>
                </a>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4" style="padding: 0 5px">
                <div class="lab-type lightblue">
                    <img src="https://3711cdn.r.worldssl.net/pic/content/en/images/csr/logo_text.png" style="width: 100%" data-hover="https://3711cdn.r.worldssl.net/pic/content/en/images/csr/logo_text.png">
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4 hide-in-large" style="padding: 0 5px">
                <a href="javascript:" data-toggle="popover" data-trigger="hover" data-content="Named Industry Group Leader in the 2016-2020 Dow Jones Sustainability Indices, and listed as a constituent of the Dow Jones Sustainability World Index and Emerging Markets Index." data-placement="bottom">
                    <div class="lab-type white">
                        <img src="https://3711cdn.r.worldssl.net/pic/content/ch/images/csr/logo_DJSI.jpg?1" style="width: 100%" data-hover="https://3711cdn.r.worldssl.net/pic/content/ch/images/csr/logo_DJSI.jpg">
                    </div>
                </a>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4" style="padding: 0 5px">
                <a href="javascript:" data-toggle="popover" data-trigger="hover" data-html="true" data-content="Named on the Climate A List 2016, 2018, 2019, 2020<br />Named on the Water A List 2020" data-placement="bottom">
                    <div class="lab-type white">
                        <img src="https://3711cdn.r.worldssl.net/pic/content/ch/images/csr/logo_CDP.jpg?1" style="width: 100%" data-hover="https://3711cdn.r.worldssl.net/pic/content/ch/images/csr/logo_CDP.jpg">
                    </div>
                </a>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4" style="padding: 0 5px">
                <a href="javascript:" data-toggle="popover" data-trigger="hover" data-content="Received 2018, 2019, 2020 Taiwan Corporate Sustainability Awards: Corporate Sustainability Report (Platinum)." data-placement="bottom">
                    <div class="lab-type white">
                        <img src="https://3711cdn.r.worldssl.net/pic/content/ch/images/csr/logo_TCSA.jpg" style="width: 100%" data-hover="https://3711cdn.r.worldssl.net/pic/content/ch/images/csr/logo_TCSA.jpg">
                    </div>
                </a>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4 hide-in-small" style="padding: 0 5px">
                <div class="lab-type lightgray">
                    <img src="https://3711cdn.r.worldssl.net/pic/content/ch/images/csr/logo_ase.png" data-hover="https://3711cdn.r.worldssl.net/pic/content/ch/images/csr/logo_ase.png">
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4" style="padding: 0 5px">
                <a href="javascript:" data-toggle="popover" data-trigger="hover" data-content="Included in the FTSE4GOOD Emerging Markets Index for five years in a row (2015-2019)." data-placement="bottom">
                    <div class="lab-type white">
                        <img src="https://3711cdn.r.worldssl.net/pic/content/ch/images/csr/logo_FTSE4Good.jpg" style="width: 100%" data-hover="https://3711cdn.r.worldssl.net/pic/content/ch/images/csr/logo_FTSE4Good.jpg">
                    </div>
                </a>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4" style="padding: 0 5px">
                <a href="javascript:" data-toggle="popover" data-trigger="hover" data-content="Listed on the RobecoSAM Sustainability Yearbook and awarded the 'Gold Class' for four consecutive years (2017-2020) within 1% of top performing company's score under the Semiconductors and Semiconductor Industry Group." data-placement="bottom">
                    <div class="lab-type white">
                        <img src="https://3711cdn.r.worldssl.net/pic/content/ch/images/csr/logo_SAM.jpg" style="width: 100%" data-hover="https://3711cdn.r.worldssl.net/pic/content/ch/images/csr/logo_SAM.jpg">
                    </div>
                </a>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4" style="padding: 0 5px">
                <a href="javascript:" data-toggle="popover" data-trigger="hover" data-content="Named as one of the 2018 Thomson Reuters Top 100 Global Technology Leaders." data-placement="bottom">
                    <div class="lab-type white">
                        <img src="https://3711cdn.r.worldssl.net/pic/content/ch/images/csr/logo_TR.jpg" style="width: 100%" data-hover="https://3711cdn.r.worldssl.net/pic/content/ch/images/csr/logo_TR.jpg">
                    </div>
                </a>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4" style="padding: 0 5px">
                <a href="javascript:" data-toggle="popover" data-trigger="hover" data-content="Listed on the 2018 & 2019 FTSE4Good TIP Taiwan ESG Index (The index has been developed in partnership with Taiwan Stock Exchange's ('TWSE') wholly-owned subsidiary, Taiwan Index Plus Corp. ('TIP')." data-placement="bottom">
                    <div class="lab-type white">
                        <img src="https://3711cdn.r.worldssl.net/pic/content/ch/images/csr/logo_TIP.jpg" style="width: 100%" data-hover="https://3711cdn.r.worldssl.net/pic/content/ch/images/csr/logo_TIP.jpg">
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<section id="iconlink" class="iconlink linebg-2">
    <div class="content-lg row">
        <ul class="row row_padding_0 item-csr">
            <li class="col-xs-12 col-sm-4 col-md-4 text-center">
                <a href="/en/csr_stakeholder_engagement">
                    <div class="imgbox">
                        <img src="https://3711cdn.r.worldssl.net/pic/content/en/images/icon/csr_icon-05.png" alt="Stakeholder Engagement" data-hover="https://3711cdn.r.worldssl.net/pic/content/ch/images/icon/csr_icon-05_hover.png">
                    </div>
                    <div class="textbox">
                        <h4>Stakeholder Engagement</h4>
                        <div class="text">
                            <p>Through communication mechanisms with our stakeholders, we include important feedback into our strategies and operations worldwide.</p>
                        </div>
                    </div>
                    <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                </a>
            </li>
            <li class="col-xs-12 col-sm-4 col-md-4 text-center" style="border-right: 1px solid #cccccc">
                <a href="/en/csr_download">
                    <div class="imgbox">
                        <img src="https://3711cdn.r.worldssl.net/pic/content/ch/images/icon/csr_icon-06.png" alt="CSR Reports Downloads" data-hover="https://3711cdn.r.worldssl.net/pic/content/ch/images/icon/csr_icon-06_hover.png">
                    </div>
                    <div class="textbox">
                        <h4>CSR Reports Downloads</h4>
                        <div class="text">
                            <p>Read and download the CSR report. Watch and download ASE sustainability video.</p>
                        </div>
                    </div>
                    <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                </a>
            </li>
            <li class="col-xs-12 col-sm-4 col-md-4 text-center">
                <a href="/en/news_login">
                    <div class="imgbox">
                        <img src="https://3711cdn.r.worldssl.net/pic/news-icon.png?1" alt="newsletters" data-hover="https://3711cdn.r.worldssl.net/pic/news-icon-hover.png?1">
                    </div>
                    <div class="textbox">
                        <h4>Newsletter</h4>
                        <div class="text">
                            <p>Welcome to subscribe ASEH's newsletters, we will provide you with the latest CSR information ～</p>
                        </div>
                    </div>
                    <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                </a>
            </li>
        </ul>
    </div>
</section>

<section class="csr-news">
    <div class="content-lg row">
        <div class="col-xs-12">
            <div class="list">
                <h4 class="text-center">
                    CSR News<a href="~/content/en/csr_news.html" class="circle_button"><i class="icon-cross"></i></a>
                </h4>
                <div class="content">
                    <a href="~/en/press_room_detail/2020_djsi_industry_leader">
                        <div class="textbox">
                            <p class="title">ASE Technology Holding Named 2020 Industry Leader in the Dow Jones Sustainability Indices</p>
                            <p class="text">ASE has once again been included in the 2020 Dow Jones Sustainability Indices (DJSI) World and the Emerging Market segments. For the fifth year in a row, ASE was also named the industry leader in the Semiconductors and Semiconductor Equipment Industry Group, which demonstrates our achievement in environment, social and governance aspects.</p>
                        </div>
                        <div class="circle_button-wrapper">
                            <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="linebg-2">
    <div class="content-lg text-center" style="padding: 100px 0">
        <h2>Welcome to Follow Us</h2>
        <span style="padding-top: 10px">
            <a href="https://twitter.com/asegroup_global" target="_blank" style="margin: 0 10px">
                <img src="https://3711cdn.r.worldssl.net/pic/content/en/images/icon/icon_twitter.png" alt="Ase Group Twitter" />
            </a>
            <a href="https://tw.linkedin.com/company/ase-group" target="_blank" style="margin: 0 10px">
                <img src="https://3711cdn.r.worldssl.net/pic/content/en/images/icon/icon_linkedin.png" alt="Ase Group Linkedin" />
            </a>
            <a href="javascript:" data-toggle="popover" data-trigger="hover" data-placement="top" data-html="true" data-content="
              <div class='weChat'>
                <img src='https://3711cdn.r.worldssl.net/pic/content/en/images/icon/ASE_wechat.png' style='width:160px; height:192px' />
              </div>
            " style="margin: 0 10px">
                <img class="m1" src="https://3711cdn.r.worldssl.net/pic/content/en/images/icon/icon_wechat.png" alt="Ase Group WeChat" />
            </a>
            <a href="javascript:" data-toggle="popover" data-trigger="hover" data-placement="top" data-html="true" data-content="
              <div class='weChat'>
                <img src='https://3711cdn.r.worldssl.net/pic/content/en/images/icon/ase_line.png' style='width:160px; height:192px' />
              </div>
            " style="margin: 0 10px">
                <img class="m1" src="https://3711cdn.r.worldssl.net/pic/content/en/images/icon/icon_line.png" alt="Ase Group LINE" />
            </a>
        </span>
    </div>
</section>

<script>
    $(document).ready(function(){
        $('[data-toggle="popover"]').popover();
        $("#focus").swiperight(function() { /* enables the swiping on phone */
            $(this).carousel('prev');
        });
        $("#focus").swipeleft(function() { /* enables the swiping on phone */
            $(this).carousel('next');
        });
        $("#media").swiperight(function() { /* enables the swiping on phone */
            $(this).carousel('prev');
        });
        $("#media").swipeleft(function() { /* enables the swiping on phone */
            $(this).carousel('next');
        });
    });
</script>