﻿@{
    ViewBag.Title = "Committed to<br />a Win-Win Sustainable Future";
    ViewBag.BannerStyle = "banner-csr";
    Layout = "~/Views/Shared/_Layout_Content_En_CSR.cshtml";
    ViewBag.HeadTitle = "Sustainability Strategy | ASE Technology Holding";
    ViewBag.Description = "Over the next 20 years, businesses will be exposed to numerous environmental and social changes that will bring both risks and opportunities in the search for sustainable growth.";
    ViewBag.enURL = "en/csr_sustainability_strategy.html";
    ViewBag.zhURL = "ch/csr_sustainability_strategy.html";
}

<section class="inside-article">
    <div class="content-lg row">
        <article class="col-xs-12">
            <h3 class="title">Sustainability Strategy</h3>
            <p>
                Over the next 20 years, businesses will be exposed to numerous environmental and social changes that will bring both risks and opportunities in the search for sustainable growth. Among these changes, we especially focus on megatrends in sustainability critical to our business development, including Climate Change, Energy & Fuel, Material Resource Scarcity, Water Scarcity, Population Growth and Supply Chain Globalization Challenges. We address the aforementioned megatrends in sustainability though an integrated and dynamic strategic framework (as shown below) developed based upon our value creation model. The strategic framework defines ASE’s four strategic pillars- Low Carbon, Circular, Inclusive and Collaborative, and corresponding strategic directions.
            </p>
        </article>
    </div>
</section>
<div class="row csr-bg csr">
    <div class="col-xs-10 col-xs-offset-1 col-lg-8 col-lg-offset-2 nopadding">
        <div class="nopadding" style="width: 28%; top: 9%; float: left; position: absolute; display: inline;" id="circular"><a href="#circular1"><img src="https://3711cdn.r.worldssl.net/pic/content/en/images/csr/sustainability_strategy1.png" width="100%"></a></div>
        <div class="nopadding" style="width: 44%; top: 9%; left: 28%; float: left; position: absolute; display: inline;"></div>
        <div class="nopadding" style="width: 28%; top: 9%; left: 72%; float: left; position: absolute; display: inline;" id="inclusive"><a href="#inclusive1"><img src="https://3711cdn.r.worldssl.net/pic/content/en/images/csr/sustainability_strategy2.png" width="100%"></a></div>
        <div class="clearfix"></div>
        <div class="nopadding" style="width: 28%; top: 49%; float: left; position: absolute; display: inline;" id="low_carbon"><a href="#low_carbon1"><img src="https://3711cdn.r.worldssl.net/pic/content/en/images/csr/sustainability_strategy3.png" width="100%"></a></div>
        <div class="nopadding" style="width: 44%; top: 49%; left: 28%; float: left; position: absolute; display: inline;"></div>
        <div class="nopadding" style="width: 28%; top: 49%; left: 72%; float: left; position: absolute; display: inline;" id="collaborative"><a href="#collaborative1"><img src="https://3711cdn.r.worldssl.net/pic/content/en/images/csr/sustainability_strategy4.png" width="100%"></a></div>
        <div class="clearfix"></div>
        <div><img src="https://3711cdn.r.worldssl.net/pic/content/en/images/csr/sustainability_strategy.png" width="100%"></div>
    </div>
</div>
<section class="inside-article">
    <div class="content-lg row csr">
        <article class="col-xs-12">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <br>

                <a id="circular1"></a>
                <div class="col-md-12 bgnews-list list-base panel">
                    <div class="content">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            <span class="black-text-in-box accordion-center-text">Circular</span>
                            <div class="circle_button-wrapper pull-right">
                                <div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
                            </div>
                        </a>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <p>
                                <strong>ASE's definition:</strong><br>
                                Sustainable business solutions that foster restorative and regenerative design, and aim to keep products, components, and materials at their highest utility and value at all times.<br>

                                <strong>Long-term goal:</strong><br>
                                Keep products, components manufactured and materials used by ASE's value network functioning at their highest utility and value at all times.
                            </p>
                            <h3 class="title">Strategic Directions</h3>
                            <p>
                                <strong>Circular Design</strong><br>
                                Integrate circular thinking into product and process design to facilitate sustainable resources usage and foster profitable circular business.<br>

                                <strong>Water Cycle</strong><br>
                                Set up ASE water objective and strategy and build up ASE circular water cycle.<br>

                                <strong>Waste/Reusable Resource Management</strong><br>
                                Identify and develop materials and production process with circular potential to minimize waste.
                            </p>
                        </div>
                    </div>
                </div>

                <a id="inclusive1"></a>
                <div class="col-md-12 bgnews-list list-base panel">
                    <div class="content">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <span class="black-text-in-box accordion-center-text">Inclusive</span>
                            <div class="circle_button-wrapper pull-right">
                                <div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
                            </div>
                        </a>
                    </div>

                    <div id="collapseTwo" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            <p>
                                <strong>ASE's definition:</strong><br>
                                Sustainable business solutions that go beyond philanthropy, social involvement and expand access to goods, services, and livelihood opportunities for vulnerable groups in commercially viable ways.<br>

                                <strong>Long-term goal:</strong><br>
                                Build ASE new and profitable business model to actively create social value.
                            </p>
                            <h3 class="title">Strategic Directions</h3>
                            <p>
                                <strong>Social Impact</strong><br>
                                Develop the conceptual framework for social involvement as well as a corresponding monitoring and evaluation mechanism.<br>

                                <strong>Social Innovation</strong><br>
                                Identify social problems and target populations to be addressed and collaborate with partners to find new business opportunities through social innovation.
                            </p>
                        </div>
                    </div>
                </div>

                <a id="low_carbon1"></a>
                <div class="col-md-12 bgnews-list list-base panel">
                    <div class="content">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <span class="black-text-in-box accordion-center-text">Low Carbon</span>
                            <div class="circle_button-wrapper pull-right">
                                <div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
                            </div>
                        </a>
                    </div>

                    <div id="collapseThree" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
                            <p>
                                <strong>ASE's definition:</strong><br>
                                Sustainable business solutions that align with and lead the transition of low carbon economy, thereby foster economic growth in more climate-friendly and resilient, as well as cost-efficient ways.<br>

                                <strong>Long-term goal:</strong><br>
                                Shape climate leadership and bringing low carbon solutions to the global market.
                            </p>
                            <h3 class="title">Strategic Directions</h3>
                            <p>
                                <strong>Carbon Management</strong><br>
                                Build up the overall carbon management strategies, policies and systems to facilitate the low carbon development.<br>

                                <strong>Green & Renewable Energy Investment</strong><br>
                                Build up ASE's green/renewable investment strategy to prevent external costs such as carbon fees and find new opportunities.<br>

                                <strong>Low Carbon Products/Services</strong><br>
                                Provide low-carbon solutions (services or products) to the market.<br>

                                <strong>Adaptation & Resilience</strong><br>
                                Identify vulnerabilities caused by a changing climate and develop adaptation strategies to reduce climate risks.<br>

                                <strong>Enable Sustainable Lifestyles</strong><br>
                                Shape low-carbon culture internally and image as a leading provider of low-carbon solutions externally.
                            </p>
                        </div>
                    </div>
                </div>

                <a id="collaborative1"></a>
                <div class="col-md-12 bgnews-list list-base panel">
                    <div class="content">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            <span class="black-text-in-box accordion-center-text">Collaborative</span>
                            <div class="circle_button-wrapper pull-right">
                                <div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
                            </div>
                        </a>
                    </div>

                    <div id="collapseFour" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingFour">
                        <div class="panel-body">
                            <p>
                                <strong>ASE's definition:</strong><br>
                                Sustainable business solutions that promote collaboration between entities with different resources and capabilities from homogeneous or heterogeneous value chains to scale up cross-sector innovations.<br>

                                <strong>Long-term goal:</strong><br>
                                Accelerate sustainable growth and social development in value chain via collaborate innovation.
                            </p>
                            <h3 class="title">Strategic Directions</h3>
                            <p>
                                <strong>Smart Procurement</strong><br>
                                Build up responsible and sustainable procurement mechanism to strengthen corporate risk management system.<br>

                                <strong>Supply Chain Management Go High Tech</strong><br>
                                Increase and optimize supply chain traceability (e.g. tier 2 suppliers).<br>

                                <strong>Strategic Partnership</strong><br>
                                Build up strategic partnership with companies possessing different capabilities and resources to foster innovation.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script>
    $(document).ready(function () {

        $('#circular').click(function () {
            $('#collapseOne').addClass("in");
            $('#collapseTwo').removeClass("in");
            $('#collapseThree').removeClass("in");
            $('#collapseFour').removeClass("in");
        });

        $('#inclusive').click(function () {
            $('#collapseOne').removeClass("in");
            $('#collapseTwo').addClass("in");
            $('#collapseThree').removeClass("in");
            $('#collapseFour').removeClass("in");
        });

        $('#low_carbon').click(function () {
            $('#collapseOne').removeClass("in");
            $('#collapseTwo').removeClass("in");
            $('#collapseThree').addClass("in");
            $('#collapseFour').removeClass("in");
        });

        $('#collaborative').click(function () {
            $('#collapseOne').removeClass("in");
            $('#collapseTwo').removeClass("in");
            $('#collapseThree').removeClass("in");
            $('#collapseFour').addClass("in");
        });
    });
</script>