﻿@{
    ViewBag.Title = "CORPORATE SOCIAL RESPONSIBILITY";
    ViewBag.BannerStyle = "banner-csr";
    Layout = "~/Views/Shared/_Layout_Content_En_CSR.cshtml";
}

<section class="inside-article">
    <div class="content-lg row">
        <article class="col-xs-12">
            <h3 class="title">CSR Report Questionnaire</h3>
            <h4 class="sub-title">Stakeholder Concern Questionnaire of Corporate Sustainability Report</h4>
            <p>
                ASE Technology Holding reports on its effort on sustainability issues and performance annually through its Corporate Sustainability Report. The purpose of this questionnaire is to understand stakeholders’ suggestions for our Corporate Sustainability Report so that important issues you feel concerned about can be presented in the report. Many thanks for spending your precious time to complete this questionnaire. <br>
                This survey is anonymous, and your survey data will not be used for other purposes except as herein stated.

            </p>
            <h4 class="sub-title">Please indicate which kind of stakeholder you are:</h4>

            @using (Html.BeginForm("Csr_Report_Questionnaire", "En", FormMethod.Post, new { @class = "form-inline" }))
            {
                @Html.AntiForgeryToken()

                <div class="col-sm-4">
                    <label class="radio-inline">
                        <input type="radio" name="stakeholder" value="Employee" @(Model.stakeholder == "Employee" ? "checked" : "")> Employee
                    </label>
                </div>
                <div class="col-sm-4">
                    <label class="radio-inline">
                        <input type="radio" name="stakeholder" value="Customer" @(Model.stakeholder == "Customer" ? "checked" : "")> Customer
                    </label>
                </div>
                <div class="col-sm-4">
                    <label class="radio-inline">
                        <input type="radio" name="stakeholder" value="Supplier / Contractor" @(Model.stakeholder == "Supplier / Contractor" ? "checked" : "")> Supplier / Contractor
                    </label>
                </div>
                <div class="col-sm-4">
                    <label class="radio-inline">
                        <input type="radio" name="stakeholder" value="Shareholder / Investor" @(Model.stakeholder == "Shareholder / Investor" ? "checked" : "")> Shareholder / Investor
                    </label>
                </div>
                <div class="col-sm-4">
                    <label class="radio-inline">
                        <input type="radio" name="stakeholder" value="Community Resident" @(Model.stakeholder == "Community Resident" ? "checked" : "")> Community Resident
                    </label>
                </div>
                <div class="col-sm-4">
                    <label class="radio-inline">
                        <input type="radio" name="stakeholder" value="Industry Unions / Association" @(Model.stakeholder == "Industry Unions / Association" ? "checked" : "")> Industry Unions / Association
                    </label>
                </div>
                <div class="col-sm-4">
                    <label class="radio-inline">
                        <input type="radio" name="stakeholder" value="NGO / NPO" @(Model.stakeholder == "NGO / NPO" ? "checked" : "")> NGO / NPO
                    </label>
                </div>
                <div class="col-sm-4">
                    <label class="radio-inline">
                        <input type="radio" name="stakeholder" value="Government" @(Model.stakeholder == "Government" ? "checked" : "")> Government
                    </label>
                </div>
                <div class="col-sm-4">
                    <label class="radio-inline">
                        <input type="radio" name="stakeholder" value="Media" @(Model.stakeholder == "Media" ? "checked" : "")> Media
                    </label>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="radio-inline">
                            <input type="radio" name="stakeholder" value="Other" @(Model.stakeholder == "Other" ? "checked" : "")> Other (Please explain):
                            <input type="text" class="form-control" name="other" style="height:24px; border-color: #CCCCCC" value="@(Model.other)">
                        </label>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        @if (@ViewData["stakeholder"] != null)
                        {
                            <span style="color: red;">@ViewData["stakeholder"]</span>
                        }
                    </div>
                </div>
                <p>&nbsp;</p>
                <h4 class="sub-title">Please tick the box with the degree of your concern about the sustainability issues.</h4>
                <div class="table-responsive">
                    <table class="table csr grey-table table-with-border" style="margin-top: -15px">
                        <tbody>
                            <tr class="grey">
                                <td rowspan="2" colspan="2" class="col-sm-4">Sustainability Issues</td>
                                <td rowspan="2" class="col-sm-4">Description</td>
                                <td colspan="5" class="col-sm-4">Degree of Concern</td>
                            </tr>
                            <tr class="grey">
                                <td class="col-sm-1">Very<br>High</td>
                                <td class="col-sm-1">High</td>
                                <td class="col-sm-1">Neutral</td>
                                <td class="col-sm-1">Low</td>
                                <td class="col-sm-1">Very<br>Low</td>
                            </tr>
                            <tr class="white">
                                <td rowspan="8">Economic</td>
                                <td>Corporate Governance</td>
                                <td>Governance structure and composition; The Board of Directors' independent ability to oversee the company and its strategies</td>
                                <label class="radio-inline">
                                    <td class="text-center"><input type="radio" name="Corporate" value="VeryHigh" checked="checked"></td>
                                    <td class="text-center"><input type="radio" name="Corporate" value="High"></td>
                                    <td class="text-center"><input type="radio" name="Corporate" value="Neutral"></td>
                                    <td class="text-center"><input type="radio" name="Corporate" value="Low"></td>
                                    <td class="text-center"><input type="radio" name="Corporate" value="VeryLow"></td>
                                </label>
                            </tr>
                            <tr class="white">
                                <td>Business Ethics</td>
                                <td>Codes of conduct and codes of ethics; Anti-corruption; Anti-competitive Behavior; Information security (including customer proprietary information protection)</td>
                                <label class="radio-inline">
                                    <td class="text-center"><input type="radio" name="Ethics" value="VeryHigh" checked="checked"></td>
                                    <td class="text-center"><input type="radio" name="Ethics" value="High"></td>
                                    <td class="text-center"><input type="radio" name="Ethics" value="Neutral"></td>
                                    <td class="text-center"><input type="radio" name="Ethics" value="Low"></td>
                                    <td class="text-center"><input type="radio" name="Ethics" value="VeryLow"></td>
                                </label>
                            </tr>
                            <tr class="white">
                                <td>Regulatory Compliance</td>
                                <td>Promote awareness of compliance with laws and regulations; Regulatory compliance training</td>
                                <label class="radio-inline">
                                    <td class="text-center"><input type="radio" name="Regulatory" value="VeryHigh" checked="checked"></td>
                                    <td class="text-center"><input type="radio" name="Regulatory" value="High"></td>
                                    <td class="text-center"><input type="radio" name="Regulatory" value="Neutral"></td>
                                    <td class="text-center"><input type="radio" name="Regulatory" value="Low"></td>
                                    <td class="text-center"><input type="radio" name="Regulatory" value="VeryLow"></td>
                                </label>
                            </tr>
                            <tr class="white">
                                <td>Stakeholder Communications</td>
                                <td>Understanding the reasonable expectations and interests of stakeholders</td>
                                <label class="radio-inline">
                                    <td class="text-center"><input type="radio" name="Stakeholders" value="VeryHigh" checked="checked"></td>
                                    <td class="text-center"><input type="radio" name="Stakeholders" value="High"></td>
                                    <td class="text-center"><input type="radio" name="Stakeholders" value="Neutral"></td>
                                    <td class="text-center"><input type="radio" name="Stakeholders" value="Low"></td>
                                    <td class="text-center"><input type="radio" name="Stakeholders" value="VeryLow"></td>
                                </label>
                            </tr>
                            <tr class="white">
                                <td>Business Strategy and Performance</td>
                                <td>Industrial arrangement/Market positioning; Enterprise competitiveness; Direct economic value generated (Revenues); Economic value distributed (operating costs, employee wages/benefits, payments to providers of capital, payments to government, community investments)</td>
                                <label class="radio-inline">
                                    <td class="text-center"><input type="radio" name="Strategy" value="VeryHigh" checked="checked"></td>
                                    <td class="text-center"><input type="radio" name="Strategy" value="High"></td>
                                    <td class="text-center"><input type="radio" name="Strategy" value="Neutral"></td>
                                    <td class="text-center"><input type="radio" name="Strategy" value="Low"></td>
                                    <td class="text-center"><input type="radio" name="Strategy" value="VeryLow"></td>
                                </label>
                            </tr>
                            <tr class="white">
                                <td>Supply Chain Development</td>
                                <td>Procurement practice; Local purchasing; Sustainable supply chain</td>
                                <label class="radio-inline">
                                    <td class="text-center"><input type="radio" name="Customer" value="VeryHigh" checked="checked"></td>
                                    <td class="text-center"><input type="radio" name="Customer" value="High"></td>
                                    <td class="text-center"><input type="radio" name="Customer" value="Neutral"></td>
                                    <td class="text-center"><input type="radio" name="Customer" value="Low"></td>
                                    <td class="text-center"><input type="radio" name="Customer" value="VeryLow"></td>
                                </label>
                            </tr>
                            <tr class="white">
                                <td>Innovation Management</td>
                                <td>New process/New product development; Technology/Intellectual property acquisition and management</td>
                                <label class="radio-inline">
                                    <td class="text-center"><input type="radio" name="Taxation" value="VeryHigh" checked="checked"></td>
                                    <td class="text-center"><input type="radio" name="Taxation" value="High"></td>
                                    <td class="text-center"><input type="radio" name="Taxation" value="Neutral"></td>
                                    <td class="text-center"><input type="radio" name="Taxation" value="Low"></td>
                                    <td class="text-center"><input type="radio" name="Taxation" value="VeryLow"></td>
                                </label>
                            </tr>
                            <tr class="white">
                                <td>Risk Management</td>
                                <td>Risk identification, assessment, and response; Catastrophic contingency planning</td>
                                <label class="radio-inline">
                                    <td class="text-center"><input type="radio" name="Supply" value="VeryHigh" checked="checked"></td>
                                    <td class="text-center"><input type="radio" name="Supply" value="High"></td>
                                    <td class="text-center"><input type="radio" name="Supply" value="Neutral"></td>
                                    <td class="text-center"><input type="radio" name="Supply" value="Low"></td>
                                    <td class="text-center"><input type="radio" name="Supply" value="VeryLow"></td>
                                </label>
                            </tr>
                            <tr class="grey">
                                <td rowspan="8">Environmental</td>
                                <td>Environmental Management System</td>
                                <td>Environmental management system; Hazardous substance management; Environmental Expenditures</td>
                                <label class="radio-inline">
                                    <td class="text-center"><input type="radio" name="Innovation" value="VeryHigh" checked="checked"></td>
                                    <td class="text-center"><input type="radio" name="Innovation" value="High"></td>
                                    <td class="text-center"><input type="radio" name="Innovation" value="Neutral"></td>
                                    <td class="text-center"><input type="radio" name="Innovation" value="Low"></td>
                                    <td class="text-center"><input type="radio" name="Innovation" value="VeryLow"></td>
                                </label>
                            </tr>
                            <tr class="grey">
                                <td>Climate Change</td>
                                <td>Climate change mitigation and adaptation; Carbon management (greenhouse gases management); Green buildings; Green factory</td>
                                <label class="radio-inline">
                                    <td class="text-center"><input type="radio" name="Risk" value="VeryHigh" checked="checked"></td>
                                    <td class="text-center"><input type="radio" name="Risk" value="High"></td>
                                    <td class="text-center"><input type="radio" name="Risk" value="Neutral"></td>
                                    <td class="text-center"><input type="radio" name="Risk" value="Low"></td>
                                    <td class="text-center"><input type="radio" name="Risk" value="VeryLow"></td>
                                </label>
                            </tr>
                            <tr class="grey">
                                <td>Waste Management</td>
                                <td>Waste reduction and recycling</td>
                                <label class="radio-inline">
                                    <td class="text-center"><input type="radio" name="Climate" value="VeryHigh" checked="checked"></td>
                                    <td class="text-center"><input type="radio" name="Climate" value="High"></td>
                                    <td class="text-center"><input type="radio" name="Climate" value="Neutral"></td>
                                    <td class="text-center"><input type="radio" name="Climate" value="Low"></td>
                                    <td class="text-center"><input type="radio" name="Climate" value="VeryLow"></td>
                                </label>
                            </tr>
                            <tr class="grey">
                                <td>Water Resource Management</td>
                                <td>Enhancing utilization efficiency of water resource, Reducing wastewater discharge</td>
                                <label class="radio-inline">
                                    <td class="text-center"><input type="radio" name="Waste" value="VeryHigh" checked="checked"></td>
                                    <td class="text-center"><input type="radio" name="Waste" value="High"></td>
                                    <td class="text-center"><input type="radio" name="Waste" value="Neutral"></td>
                                    <td class="text-center"><input type="radio" name="Waste" value="Low"></td>
                                    <td class="text-center"><input type="radio" name="Waste" value="VeryLow"></td>
                                </label>
                            </tr>
                            <tr class="grey">
                                <td>Energy Management</td>
                                <td>Enhancing efficiency of energy utilization</td>
                                <label class="radio-inline">
                                    <td class="text-center"><input type="radio" name="Water" value="VeryHigh" checked="checked"></td>
                                    <td class="text-center"><input type="radio" name="Water" value="High"></td>
                                    <td class="text-center"><input type="radio" name="Water" value="Neutral"></td>
                                    <td class="text-center"><input type="radio" name="Water" value="Low"></td>
                                    <td class="text-center"><input type="radio" name="Water" value="VeryLow"></td>
                                </label>
                            </tr>
                            <tr class="grey">
                                <td>Green Solutions</td>
                                <td>Providing product solutions that can be compact, lightweight, and energy efficient; Green manufacturing</td>
                                <label class="radio-inline">
                                    <td class="text-center"><input type="radio" name="Energy" value="VeryHigh" checked="checked"></td>
                                    <td class="text-center"><input type="radio" name="Energy" value="High"></td>
                                    <td class="text-center"><input type="radio" name="Energy" value="Neutral"></td>
                                    <td class="text-center"><input type="radio" name="Energy" value="Low"></td>
                                    <td class="text-center"><input type="radio" name="Energy" value="VeryLow"></td>
                                </label>
                            </tr>
                            <tr class="grey">
                                <td>Supplier Environmental Performance</td>
                                <td>Supplier/contractor environmental assessment</td>
                                <label class="radio-inline">
                                    <td class="text-center"><input type="radio" name="Green" value="VeryHigh" checked="checked"></td>
                                    <td class="text-center"><input type="radio" name="Green" value="High"></td>
                                    <td class="text-center"><input type="radio" name="Green" value="Neutral"></td>
                                    <td class="text-center"><input type="radio" name="Green" value="Low"></td>
                                    <td class="text-center"><input type="radio" name="Green" value="VeryLow"></td>
                                </label>
                            </tr>
                            <tr class="grey">
                                <td>Use of Recycled Raw Materials</td>
                                <td>Use recycled input material to manufacture products</td>
                                <label class="radio-inline">
                                    <td class="text-center"><input type="radio" name="Training" value="VeryHigh" checked="checked"></td>
                                    <td class="text-center"><input type="radio" name="Training" value="High"></td>
                                    <td class="text-center"><input type="radio" name="Training" value="Neutral"></td>
                                    <td class="text-center"><input type="radio" name="Training" value="Low"></td>
                                    <td class="text-center"><input type="radio" name="Training" value="VeryLow"></td>
                                </label>
                            </tr>
                            <tr class="white">
                                <td rowspan="7">Social</td>
                                <td>Training and Talent Development</td>
                                <td>Employee training & education; Talent Development</td>
                                <label class="radio-inline">
                                    <td class="text-center"><input type="radio" name="Equality" value="VeryHigh" checked="checked"></td>
                                    <td class="text-center"><input type="radio" name="Equality" value="High"></td>
                                    <td class="text-center"><input type="radio" name="Equality" value="Neutral"></td>
                                    <td class="text-center"><input type="radio" name="Equality" value="Low"></td>
                                    <td class="text-center"><input type="radio" name="Equality" value="VeryLow"></td>
                                </label>
                            </tr>
                            <tr class="white">
                                <td>Human Right, Equality & Diversity</td>
                                <td>Non-discrimination; Equal Remuneration for Women and Men, Diversity and equal opportunity</td>
                                <label class="radio-inline">
                                    <td class="text-center"><input type="radio" name="Human" value="VeryHigh" checked="checked"></td>
                                    <td class="text-center"><input type="radio" name="Human" value="High"></td>
                                    <td class="text-center"><input type="radio" name="Human" value="Neutral"></td>
                                    <td class="text-center"><input type="radio" name="Human" value="Low"></td>
                                    <td class="text-center"><input type="radio" name="Human" value="VeryLow"></td>
                                </label>
                            </tr>
                            <tr class="white">
                                <td>Labor/Management Relations</td>
                                <td>Employee communication; Compensation and welfare</td>
                                <label class="radio-inline">
                                    <td class="text-center"><input type="radio" name="Labor" value="VeryHigh" checked="checked"></td>
                                    <td class="text-center"><input type="radio" name="Labor" value="High"></td>
                                    <td class="text-center"><input type="radio" name="Labor" value="Neutral"></td>
                                    <td class="text-center"><input type="radio" name="Labor" value="Low"></td>
                                    <td class="text-center"><input type="radio" name="Labor" value="VeryLow"></td>
                                </label>
                            </tr>
                            <tr class="white">
                                <td>Employee Health & Safety</td>
                                <td>Occupational Health and Safety</td>
                                <label class="radio-inline">
                                    <td class="text-center"><input type="radio" name="Health" value="VeryHigh" checked="checked"></td>
                                    <td class="text-center"><input type="radio" name="Health" value="High"></td>
                                    <td class="text-center"><input type="radio" name="Health" value="Neutral"></td>
                                    <td class="text-center"><input type="radio" name="Health" value="Low"></td>
                                    <td class="text-center"><input type="radio" name="Health" value="VeryLow"></td>
                                </label>
                            </tr>
                            <tr class="white">
                                <td>Supplier Social Performance</td>
                                <td>Supplier assessment for: Impacts on society & labor Practices (including Employment practices, Health and safety practices, Wages and compensation, Working hours); Conflict Minerals</td>
                                <label class="radio-inline">
                                    <td class="text-center"><input type="radio" name="Community" value="VeryHigh" checked="checked"></td>
                                    <td class="text-center"><input type="radio" name="Community" value="High"></td>
                                    <td class="text-center"><input type="radio" name="Community" value="Neutral"></td>
                                    <td class="text-center"><input type="radio" name="Community" value="Low"></td>
                                    <td class="text-center"><input type="radio" name="Community" value="VeryLow"></td>
                                </label>
                            </tr>
                            <tr class="white">
                                <td>Significant Community Development</td>
                                <td>Community development (education, inspiring the next generation of children, NGO work, strategic giving, philanthropy)</td>
                                <label class="radio-inline">
                                    <td class="text-center"><input type="radio" name="Charity" value="VeryHigh" checked="checked"></td>
                                    <td class="text-center"><input type="radio" name="Charity" value="High"></td>
                                    <td class="text-center"><input type="radio" name="Charity" value="Neutral"></td>
                                    <td class="text-center"><input type="radio" name="Charity" value="Low"></td>
                                    <td class="text-center"><input type="radio" name="Charity" value="VeryLow"></td>
                                </label>
                            </tr>
                            <tr class="white">
                                <td>Environmental Conservation Charity & Initiatives</td>
                                <td>Environmental education promotion; Environmental awareness promotion; Environmental quality enhancement; Environmental impact minimization; Environmental charity sponsorship</td>
                                <label class="radio-inline">
                                    <td class="text-center"><input type="radio" name="Initiatives" value="VeryHigh" checked="checked"></td>
                                    <td class="text-center"><input type="radio" name="Initiatives" value="High"></td>
                                    <td class="text-center"><input type="radio" name="Initiatives" value="Neutral"></td>
                                    <td class="text-center"><input type="radio" name="Initiatives" value="Low"></td>
                                    <td class="text-center"><input type="radio" name="Initiatives" value="VeryLow"></td>
                                </label>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-12">
                    <h4 class="sub-title">*Please write down new sustainability issue or anything you want to suggest us: </h4>
                    <textarea class="form-control" rows="5" style="min-width: 100%; border-color: #CCCCCC" name="additional"></textarea>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        <br><br>
                        <h4 class="sub-title inline">*Verification:</h4>
                        <input type="text" name="vcode" class="form-control" required style="border-color: #CCCCCC" />
                        <img id="captcha" src="~/CAPTCHA.ashx" style=" position:relative; width:100px; height:40px;" />
                        @if (@ViewData["captcha"] != null)
                        {
                            <span style="color: red;">@ViewData["captcha"]</span>
                        }
                    </div>
                </div>
                <div class="col-xs-12 section-contact">
                    <div class="content-wrapper pull-left">
                        <button type="reset" style="margin-left:30px">Reset</button>
                        <button type="submit">Sent</button>
                    </div>
                </div>
                <input type="hidden" name="fieid" value="@Model.FieId">
            }
        </article>
    </div>
</section>

<link rel="stylesheet" href="https://3711cdn.r.worldssl.net/css/js/vendor/sweetalert/sweetalert2.min.css" />
<script src="https://3711cdn.r.worldssl.net/js/js/vendor/sweetalert/sweetalert2.min.js"></script>

@if (@ViewData["msg"] != null)
{
    <script>swal({ title: '@ViewData["msg"]', timer: 3000, type: 'success' })</script>
}