﻿@{
    ViewBag.Title = "Committed to<br />a Win-Win Sustainable Future";
    ViewBag.BannerStyle = "banner-csr";
    Layout = "~/Views/Shared/_Layout_Content_En_CSR.cshtml";
    ViewBag.HeadTitle = "Business Conduct and Ethics | ASE Technology Holding";
    ViewBag.Description = "ASE believes that corproate sustainable development is vital to ASE’s long-term strategies and success. To help ASE practice good corporate citizenship and social responsibility in enterprise operation, ASE has formulated Code of Business Conduct and Ethics.";
    ViewBag.enURL = "en/csr_business_conduct_ethics.html";
    ViewBag.zhURL = "ch/csr_business_conduct_ethics.html";
}

<section class="inside-article">
    <div class="content-lg row">
        <article class="col-xs-12">
            <h3 class="title">Business Conduct and Ethics</h3>
            <p>
                ASE believes that corproate sustainable development is vital to ASE’s long-term strategies and success. To help ASE practice good corporate citizenship and social responsibility in enterprise operation, ASE has formulated <a href="https://media-aseholdco.todayir.com/20180622151727139618980_en.pdf" target="_blank">Code of Business Conduct and Ethics.</a> Standards of business conduct and ethics are prescribed clearly and thoroughly in aforementioned policies and specifications, with the aim of fostering a culture of honesty and accountability and realizing ASE’s commitment to the highest level of ethical conduct in all ASE’s business activities. <br>
                <br>
                As the highest governance body of ASE’s business conduct and ethics, Corporate Sustainability Committee (the “CSC”) coordinates and supervises the establishment and implementation of the ethical corporate management policies and specifications. The CSC periodically reviews the promotion of business conduct and ethics and the compliance of policies and specifications, and reports to the board of directors. The Corporate Governance Taskforce under the CSC promotes ethical policies and specifications to our global manufacturing sites and assits in managing and adopting appropriate policies and specifications to ensure ethical management in compliance with the requirements of local laws and regulations. Global manufacturing sites are responsible for planning the internal organization, structure, and allocation of responsibilities, formulating standard operating procedures and conduct guidelines in accordance with corporate policies and specifications, and promoting awareness and educational activities with respect to ethics policy in internal management and in daily operation. The Group Internal Audit is in charge of supervision to ensure the operating effectiveness of reporting system.
            </p>
        </article>
    </div>
</section>
<div class="row csr-bg">
    <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        <img src="https://3711cdn.r.worldssl.net/pic/content/en/images/csr/business_conduct_and_ethics.png">
        <a href="https://media-aseholdco.todayir.com/20180622151727139618980_en.pdf" target="_blank">
            <div class="circle-link"></div>
        </a>
    </div>
</div>
<section class="inside-article">
    <div class="content-lg row">
        <article class="col-xs-12">
            <p>
                <br>
                All ASE’s members shall comply with all provisions of business conduct and ethics policies and specifications. ASE’s members and any third party may use the following channels to report any violation, suspected violation or any conduct that could result in a violation of ethical management or commercial ethics:
            </p>
            <h4 class="sub-title">External Channel for Reporting</h4>

            <p><a href="/antifraud/en.asp" target="_blank"> Code of Conduct Compliance Reporting System</a></p>


            <h4 class="sub-title">Internal Channel for Reporting</h4>
            <ol class="nopadding">
                <li>General Manager Mailbox</li>
                <li>Human Resource Mailbox</li>
                <li>Employee Appeal Hotline</li>
                <li>Sexual Harassment Prevention Hotline</li>
                <li>Code of Conduct Compliance Reporting System</li>
            </ol>
            <p>
                Upon receipt of the report, ASE will investigate and handle the report according to the aforementioned policies and principles. <br>
                <br>
                A whistleblower shall report, either with name or anonymously, a violation by providing specific facts, related information and documents available for investigation. Unless otherwise provided by laws, ASE and the third parties appointed by ASE to assist in the investigation will keep confidential the identity and privacy of a whistleblower and/or the content of his/her report to the fullest extent permitted by law so as to protect him/her from any unfair retaliation or treatment.
            </p>
            
        </article>
    </div>
</section>