﻿@model ASEH_Front.Models.ReportQuestionnaire.ReportQuestionnaireViewModel2
@{
    ViewBag.Title = "CORPORATE SOCIAL RESPONSIBILITY";
    ViewBag.BannerStyle = "banner-csr";
    Layout = "~/Views/Shared/_Layout_Content_En_CSR.cshtml";
    
    var options = Model.getOptions();
    var Lang = Model.Lang;
}

    <section class="inside-article">
        <div class="content-lg row">
            <article class="col-xs-12">
                @using (Html.BeginForm("Csr_Report_Questionnaire2", "Ch", FormMethod.Post, new { @class = "form-inline" }))
                {
                    @Html.AntiForgeryToken()

                    <h3 class="title">@(Model.getTitle().getText(Lang))</h3>
                    <p>
                        @(Model.getSummer().getText(Lang))
                    </p>

                    foreach (var section in Model.getSections())
                    {
                        <h4 class="sub-title">@(section.getText(Lang))</h4>
                        if (section.StackholderList != null)
                        {
                            <div>
                                @foreach (var stackholder in section.StackholderList)
                                {
                                    <div class="col-sm-4">
                                        <label class="radio-inline">
                                            <input type="radio"
                                                   name="stakeholder"
                                                   value="@(stackholder.Key)"
                                                   @(Model.stakeholder == stackholder.Key ? "checked" : "")> @stackholder.getText(Lang)
                                                @if (section.StackholderList.IndexOf(stackholder) == (section.StackholderList.Count - 1))
                                                {
                                                    <input type="text" class="form-control" name="other" style="height:24px;" value="@(Model.other)">
                                                }
                                            </label>
                                        </div>
                                    }
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        @if (@ViewData["stakeholder"] != null)
                                        {
                                            <span style="color: red;">@ViewData["stakeholder"]</span>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                        else if (section.TopicList != null)
                        {
                            <div class="table-responsive inside-table">
                                <table class="table csr grey-table table-with-border">
                                    <tbody>
                                        <tr class="grey">
                                            <td rowspan="2" class="col-sm-4">@Model.getTableHeader1().getText(Lang)</td>
                                            <td rowspan="2" class="col-sm-4">@Model.getTableHeader2().getText(Lang)</td>
                                            <td colspan="4" class="col-sm-4">@Model.getTableHeader3().getText(Lang)</td>
                                        </tr>
                                        <tr class="grey">
                                            @foreach (var option in options)
                                            {
                                                <td>@option.getText(Lang)</td>
                                            }
                                        </tr>
                                        @foreach (var topic in section.TopicList)
                                        {

                                            <tr>
                                                <td>@topic.Issue.getText(Lang)</td>
                                                <td>@topic.Content.getText(Lang)</td>

                                                @foreach (var option in options)
                                                {
                                                    <td>
                                                        <input type="radio"
                                                               name="@topic.Key"
                                                               value="@option.Key"
                                                               @(options.IndexOf(option) == 0 ? "checked" : "")>
                                                    </td>
                                                }
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }
                        else if (section.isYesOrNo)
                        {
                            <label>
                                <input type="radio" name="@(section.Key)" value="YES" checked> YES
                            </label>
                            <label>
                                <input type="radio" name="@(section.Key)" value="NO"> NO
                            </label>
                        }
                        <p>&nbsp;</p>
                    }
                    <div class="col-sm-12">
                        <h4 class="sub-title">*@Model.getLast().getText(Lang)：</h4>
                        <textarea class="form-control" name="additional" rows="5" style="min-width: 100%" required>@(Model.additional)</textarea>
                    </div>
                    <div class="col-xs-12">
                        <div class="form-group">
                            <br><br>
                            <h4 class="sub-title inline">*@Model.getValid().getText(Lang):</h4>
                            <input type="text" name="vcode" class="form-control" required style="border-color: #CCCCCC" />
                            <img id="captcha" src="~/CAPTCHA.ashx" style=" position:relative; width:100px; height:40px;" />
                            @if (@ViewData["captcha"] != null)
                            {
                                <span style="color: red;">@ViewData["captcha"]</span>
                            }
                        </div>
                    </div>
                    <div class="col-xs-12 section-contact">
                        <div class="content-wrapper pull-left">
                            <button type="reset" style="margin-left:30px">@Model.getCancelButton().getText(Lang)</button>
                            <button type="submit">@Model.getSubmitButton().getText(Lang)</button>
                        </div>
                    </div>
                    <input type="hidden" name="fieid" value="@Model.FieId">
                }
            </article>
        </div>
    </section>
<link rel="stylesheet" href="https://3711cdn.r.worldssl.net/css/js/vendor/sweetalert/sweetalert2.min.css" />
<script src="https://3711cdn.r.worldssl.net/js/js/vendor/sweetalert/sweetalert2.min.js"></script>

@if (@ViewData["msg"] != null)
{
    <script>swal({ title: '@ViewData["msg"]', timer: 3000, type: 'success' })</script>
}}
