﻿@{
    ViewBag.Title = "Committed to<br />a Win-Win Sustainable Future";
    ViewBag.BannerStyle = "banner-csr";
    Layout = "~/Views/Shared/_Layout_Content_En_CSR.cshtml";
    ViewBag.HeadTitle = "Sustainability Governance | ASE Technology Holding";
    ViewBag.Description = "We drive sustainability through proper management of opportunities and risks, aligning business models with stakeholders, and adjust the direction and goals of sustainable development accordingly.";
    ViewBag.enURL = "en/csr_sustainability_governance";
    ViewBag.zhURL = "ch/csr_sustainability_governance";
}

<section class="inside-article">
    <div class="content-lg row">
        <article class="col-xs-12">
            <h3 class="title">Sustainability Governance</h3>
            <p>
                We drive sustainability through proper management of opportunities and risks, aligning business models with stakeholders, and adjust the direction and goals of sustainable development accordingly.
            </p>
        </article>
    </div>
</section>
<!--Button-->
<section class="csr-bg">
    <div class="content-lg row">
        <div class="col-xs-12 csr">
            <div class="col-md-4 bgnews-list list-base">
                <div class="content">
                    <a href="@Url.Action("Csr_Corporate_Sustainability_Policy", "En")">
                        <span class="blue-text-in-box">Corporate Sustainability Policy</span>
                        <div class="circle_button-wrapper pull-right">
                            <div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 bgnews-list list-base">
                <div class="content">
                    <a href="@Url.Action("Csr_Sustainability_Strategy", "En")">
                        <span class="blue-text-in-box">Sustainability Strategy</span>
                        <div class="circle_button-wrapper">
                            <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 bgnews-list list-base">
                <div class="content">
                    <a href="~/content/en/csr_organization_structure.html">
                        <span class="blue-text-in-box">Organization and Structure</span>
                        <div class="circle_button-wrapper">
                            <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 csr">
            <div class="col-md-4 bgnews-list list-base">
                <div class="content">
                    <a href="@Url.Action("Csr_Business_Conduct_Ethics", "En")">
                        <span class="blue-text-in-box">Business Conduct and Ethics</span>
                        <div class="circle_button-wrapper">
                            <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 bgnews-list list-base">
                <div class="content">
                    <a href="@Url.Action("Csr_Human_Rights_Management", "En")">
                        <span class="blue-text-in-box">Human Rights Management</span>
                        <div class="circle_button-wrapper">
                            <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 bgnews-list list-base">
                <div class="content">
                    <a href="~/content/en/csr_regulatory_compliance.html">
                        <span class="blue-text-in-box">Regulatory Compliance</span>
                        <div class="circle_button-wrapper">
                            <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 csr">
            <div class="col-md-4 bgnews-list list-base">
                <div class="content">
                    <a href="~/content/en/csr_risk_management.html">
                        <span class="blue-text-in-box">Risk Management</span>
                        <div class="circle_button-wrapper pull-right">
                            <div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 bgnews-list list-base">
                <div class="content">
                    <a href="https://ir.aseglobal.com/html/ir_corpor.php">
                        <span class="blue-text-in-box">Board of Directors</span>
                        <div class="circle_button-wrapper pull-right">
                            <div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 bgnews-list list-base">
                <div class="content">
                    <a href="~/content/en/csr_succession_planning.html">
                        <span class="blue-text-in-box">Succession Planning</span>
                        <div class="circle_button-wrapper pull-right">
                            <div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 csr">
            <div class="col-md-4 bgnews-list list-base">
                <div class="content">
                    <a href="~/content/en/csr_information_security_management_policy.html">
                        <span class="blue-text-in-box">Information Security Management</span>
                        <div class="circle_button-wrapper pull-right">
                            <div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 bgnews-list list-base">
                <div class="content">
                    <a href="@Url.Action("IP_Management", "En")">
                        <span class="blue-text-in-box">Intellectual Property Management</span>
                        <div class="circle_button-wrapper pull-right">
                            <div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div> 
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>