﻿@model ASEH_Front.Models.Download.DownloadViewModel

@{
    ViewBag.Title = "Committed to<br />a Win-Win Sustainable Future";
    ViewBag.BannerStyle = "banner-csr";
    Layout = "~/Views/Shared/_Layout_Content_En_CSR.cshtml";
    ViewBag.HeadTitle = "CSR Report Downloads | ASE Technology Holding";
    ViewBag.Description = "Get ASE Technology Holding Corporate Sustainability Report (CSR) Report";
    ViewBag.enURL = "en/csr_download";
    ViewBag.zhURL = "ch/csr_download";
}

<section class="inside-article">
    <div class="content-lg row">
        <div class="col-xs-12">
            <h3 class="title">CSR Report & Video Downloads</h3>
        </div>
    </div>
</section>
<br>
<section class="csr-bg">
    <div class="content-lg row">
        <div class="col-sm-4 col-sm-offset-4 csr">
            <div class="col-md-12 bgnews-list list-base">
                <div class="content">
                    <a href="@Url.Action("Csr_Report", "En")">
                        <span class="blue-text-in-box">CSR Report Downloads</span>
                        <div class="circle_button-wrapper pull-right">
                            <div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
                        </div>
                    </a>
                </div>
            </div>
            @*<div class="col-md-6 bgnews-list list-base">
                <div class="content">
                    <a href="@Url.Action("Csr_Video", "En")">
                        <span class="blue-text-in-box">CSR Video Downloads</span>
                        <div class="circle_button-wrapper">
                            <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                        </div>
                    </a>
                </div>
            </div>*@
            <div class="clearfix"></div>
        </div>
    </div>
</section>
