﻿@{
    ViewBag.Title = "Committed to<br />a Win-Win Sustainable Future";
    ViewBag.BannerStyle = "banner-csr";
    Layout = "~/Views/Shared/_Layout_Content_En_CSR.cshtml";
    ViewBag.HeadTitle = "Human rights management | ASE Technology Holding";
    ViewBag.Description = "For the protection and promotion of human rights, ASE Technology Holding Co., Ltd. and its subsidiaries (collectively “ASE Technology Holding”) supports and respects international standards, including the UN Universal Declaration of Human Rights, the first & second principles of UN Global Compact, UN Guiding Principles on Business and Human Rights, ILO International Labor Standards, Declaration of Fundamental Principles and Rights at Work, as well as relevant local laws and regulations.";
    ViewBag.enURL = "en/csr_human_rights_management.html";
    ViewBag.zhURL = "ch/csr_human_rights_management.html";
}

<section class="inside-article">
    <div class="content-lg row">
        <div class="col-md-12">
            <h3 class="title">Human rights management</h3>
            <h4 class="sub-title">ASE Technology Holding Co., Ltd. Human Rights Policy</h4>
            <p>
                For the protection and promotion of human rights, ASE Technology Holding Co., Ltd. and its subsidiaries (collectively “ASE Technology Holding”) supports and respects international standards, including the UN Universal Declaration of Human Rights, the first & second principles of UN Global Compact, UN Guiding Principles on Business and Human Rights, ILO International Labor Standards, Declaration of Fundamental Principles and Rights at Work, as well as relevant local laws and regulations. Additionally, ASE Technology Holding implements human rights protection by joining the Responsible Business Alliance (RBA). ASE Technology Holding has established human rights management principles accordingly to protect the human rights of all ASE Technology Holding’s employees and also expects our suppliers to uphold these principles in order to protect the human rights.<br><br>
                
                ASE Technology Holding is committed to implementing the human rights protection by the following principles:
                <ol class="nopadding">
                    <li>Protect: Be in compliance with all labor and gender equality related laws and regulations where we operate, and providing employees with a safe and healthy work environment.</li>

                    <li>Respect: Prohibiting forced labor, child labor, discrimination, and harassment, and guaranteeing the freedom of association, privacy, reasonable working hours and appropriate compensation and benefits.</li>

                    <li>Remedy: Vowing to maintain an accessible and open grievance mechanism, and to take immediate remedial measures if any violation of human rights issues occurred.</li>

                    <li>Manage: Continuously promoting human rights education, also regularly assessing human rights risks, and reporting and disclosing assessment results to top executives and to the public.</li>

                </ol>
            </p>
            <br>
            <div><a href="~/en/pdf/2019_ASETH_HumanRightsPolicy.pdf" target="_blank"><div class="circle_button darkgray facilities-circle-button"><i class="icon-arrow-right facilities-icon-arrow-right"></i></div> ASE Technology Holding Co., Ltd. Human Rights Policy</a></div>
            <h4 class="sub-title">Human Rights Governance</h4>
            <p>
                In order to adequately manage human rights issues that arise from operating a global business, ASEH implements risk management at all facilities, collates and reports the information to the CSC at regular meetings.<br /><br />

                Employee and operation-related human rights issues are managed by the Employee Care and Development Taskforce, using the RBA management. On community and environmental human rights issues, each facility implements environmental monitoring and survey community feedback locally to identify risks. For suppliers, the Supply Chain Management Taskforce conducts supplier sustainability assessments to identify related risks.
            </p>
            <br />
            <div class="col-md-12 nopadding">
                <b>Human Rights Risk Management Process of ASEH</b><br />
                <img src="https://3711cdn.r.worldssl.net/pic/content/en/images/csr/pic_human_rights_management-1.png" style="width: 100%" />
            </div>

        </div>
    </div>
</section>