﻿@{
    ViewBag.Title = "Committed to<br />a Win-Win Sustainable Future";
    ViewBag.BannerStyle = "banner-csr";
    Layout = "~/Views/Shared/_Layout_Content_En_CSR.cshtml";
    ViewBag.HeadTitle = "ASE Technology Holding";
    ViewBag.HeadTitle = "Conflict Minerals Compliance | ASE Technology Holding";
    ViewBag.Description = "The mining and distribution of “conflict minerals” originating from the Democratic Republic of the Congo (the “DRC”) are sometimes controlled by violent organizations in order to fund conflict in that country and adjacent regions.";
    ViewBag.enURL = "en/csr";
    ViewBag.zhURL = "ch/csr";
}

<!-- Letter from the Chairman -->
<section class="inside-article">
    <div class="content-lg row">
        <div class="col-md-12">
            <h3 class="title">Conflict Minerals Compliance</h3>
        </div>
    </div>
</section>
<div class="content-lg row csr-bg">
    <div class="col-md-12">

        <h4 class="sub-title">ASE Technology Holding Co., Ltd. Corporate Policy for Sourcing Conflict Minerals</h4>
        <p>
            The mining and distribution of “conflict minerals”<a href="javascript:" data-toggle="popover" data-trigger="hover" data-content="“Conflict minerals” are columbite-tantalite (coltan), cassiterite, gold, and wolframite, or their derivatives as defined in the Dodd-Frank Act Section 1502 and SEC Rule 13p-1 under the Securities Exchange Act of 1934." data-placement="bottom">*</a> originating from the Democratic Republic of the Congo (the “DRC”) are sometimes controlled by violent organizations in order to fund conflict in that country and adjacent regions. Our industry supply chains are inadvertently subject to metals derived from these conflict minerals which can be introduced through the metals we use such as gold, tin, tantalum and tungsten. ASE Technology Holding Co., Ltd. and its subsidiaries (collectively, “ASE Technology Holding”) is dedicated to the elimination of these conflict minerals in our supply chain and to using only responsibly sourced “conflict-free minerals”<a href="javascript:" data-toggle="popover" data-trigger="hover" data-content="“Conflict-free minerals” are conflict minerals that through their distribution directly or indirectly do not benefit violent organizations in the Democratic Republic of the Congo and its adjacent regions." data-placement="bottom">*</a>. We expect our suppliers to source conflict-free minerals from smelters or refineries that have been certified by an independent third party audit program to fulfill our objective. It is also our objective to support the continued use of conflict-free minerals from the DRC and its adjacent regions such that responsible mining is not diminished. We exercise due diligence with our suppliers on the origin and supply chain of minerals in accordance with the “OECD Due Diligence for Responsible Supply Chains of Minerals from Conflict-Affected and High-Risk Areas” to establish conflict minerals management mechanism.<br><br>

            All suppliers to ASE Technology Holding must support this policy by:
            <ol class="nopadding">
                <li>Being diligent in their assessment and validation of their supply chains to ensure ASE Technology Holding’s objectives of a transparent supply chain and conflict-free purchases are inputs to the services and products we produce.</li>

                <li>Be in compliance at all times with all regional and international regulations for conflict minerals.</li>

                <li>Be in compliance at all times with industry standards for the sourcing and reporting of conflict minerals.</li>

                <li>Being diligent and accurate in their formal assurances of conflict-free minerals provided to us.</li>
            </ol>
        </p>
    </div>
</div>
<section class="inside-article">
    <div class="content-lg row">
        <div class="col-md-12">
            <br>
            <div><a href="~/en/pdf/2019_ASETH_ConflictMineralsCompliance.pdf" target="_blank"><div class="circle_button darkgray facilities-circle-button"><i class="icon-arrow-right facilities-icon-arrow-right"></i></div> ASE Technology Holding Co., Ltd. Corporate Policy for Sourcing Conflict Minerals</a></div>
            <br>
            <div class="col-xs-12 col-md-8 nopadding">
                <b>Conflict Minerals Management Approach</b><br />
                <img src="https://3711cdn.r.worldssl.net/pic/content/en/images/csr/pic_conflict_minerals_compliance.png" />
            </div>
            <div class="clearfix"></div>
            <br />
            <p>
                <b>Conflict Mineral Requirement</b><br />
                ASEH communicates conflict mineral policies to our suppliers through our website. The suppliers are required to comply with ASEH conflict minerals policy and establish their own conflict minerals policies and to their own suppliers. We also require our suppliers to actively assess and validate their supply chain, and encourage them to source minerals from Smelters or Refiners ("SoRs") that have received "conflict-free" designations by the Responsible Minerals Assurance Process ("RMAP"), or other independent third party audit program.
            </p>
            <br />
            <h4 class="sub-title">Reasonable Country of Origin Inquiry (RCOI)</h4>
            <div class="col-xs-12 col-md-7 nopadding">
                <p>
                    Each year, ASEH performs RCOI, to identify and validate the sources of 3TG in our packaging and material services and electronic manufacturing services and products, and whether they come from conflict-affected regions.<br /><br />
                    
                    Our RCOI includes two steps:
                    <ol class="nopadding">
                        <li>Identify sources of 3TG SoRs through CMRT by conducting supplier survey.</li>
                        <li>Suppliers are asked to sign the Representation Letters of compliance with ASEH Conflict Minerals Policy and to fully reveal the source of the SoRs they sourced from.</li>
                    </ol>
                    In 2018, we have extended the scope of supplier survey and identified 260 SoRs from more than 550 suppliers. According to the supplier survey we conducted in 2018, 100% of our suppliers are compliant with ASEH's requirement for sourcing DRC conflict-Free minerals.
                </p>
            </div>
            <div class="col-xs-12 col-md-4 col-md-offset-1 nopadding">
                <b>Conflict Minerals Compliant Suppliers</b><br />
                <img src="https://3711cdn.r.worldssl.net/pic/content/en/images/csr/pic_conflict_minerals_compliance-1.png" />
            </div>
            <p>
                <b>Due Diligence(DD)</b><br />
                ASEH designed its DD measures to conform to the Organization for Economic Co-operation and Development Due Diligence Guidance for Responsible Supply Chains of Minerals from Conflict-Affected and High-Risk Areas (the "OECD Guidance") and we also adopted the OECD Guidance to not only identify / assess supplier risks and mitigate these identified risks, but also to design a conflict minerals audit form for ASEH's suppliers.<br /><br />

                <b>Independent Private- Sector Audit (IPSA) and Public Disclosure</b><br />
                WeundertakeanIPSA onourConflictMineralsReport and DD procedure to ensure they are in compliance with the requirements set forth by the U.S. Securities and Exchange Commission ("SEC"). Each year, the Conflict Minerals Report is also disclosed publicly.
            </p>
            <br>
            <h4 class="sub-title">ASE Technology Holding SEC Conflict Minerals Filing</h4>
            <p>
                We disclose the Conflict Minerals report on our company website annually. For complete file of ASE Technology Holding SEC Conflict Minerals Filing:
            </p>
            <br>
            <div><a href="~/en/pdf/2018_ASEH_CM_Report.pdf" target="_blank"><div class="circle_button darkgray facilities-circle-button"><i class="icon-arrow-right facilities-icon-arrow-right"></i></div> ASEH CM Report 2018</a></div>
            <br>
            <h4 class="sub-title">Conflict Mineral Contact:</h4>
            <p>
                If you have any questions, comments or suggestions regarding conflict minerals program for Advanced Semiconductor Engineering Inc., please contact <a href="mailto:ASE_CM@aseglobal.com">ASE_CM@aseglobal.com</a><br>

                If you have any questions, comments or suggestions regarding conflict minerals program for Siliconware Precision Industries Co., Ltd., please contact <a href="mailto:petition@spil.com.tw">petition@spil.com.tw</a><br>

                If you have any questions, comments or suggestions regarding conflict minerals program for USI Inc., please contact <a href="mailto:conflict_minerals@usiglobal.com">conflict_minerals@usiglobal.com</a><br>
            </p>
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover({
            html: true,
            trigger: 'hover',
            placement: 'bottom',
        });
    });
</script>
