﻿@{
    ViewBag.Title = "Committed to<br />a Win-Win Sustainable Future";
    ViewBag.BannerStyle = "banner-csr";
    Layout = "~/Views/Shared/_Layout_Content_En_CSR.cshtml";
}

<section class="inside-article">
    <div class="content-lg row">
        <div class="col-xs-12">
            <h3 class="title">CSR Video Downloads</h3>
        </div>
    </div>
</section>
<br>
<section class="inside-article">
    <div class="content-lg row">
        <div class="col-md-4">
            <div class="video">
                <a href="http://ase.aseglobal.com/public/frontend/videos/ASE_Sustability_EN_20171113_final.html" data-toggle="lightbox" data-type="vimeo" data-title="ASE Corporate Sustainability Development">
                    <img src="https://3711cdn.r.worldssl.net/pic/content/en/images/csr/video1.jpg" width="100%">
                    <span class="glyphicon glyphicon-play-circle play-icon" aria-hidden="true"></span>
                </a>
            </div>
            <h4 class="text-left" style="font-weight: bold;">ASE Corporate Sustainability Development</h4>
            <p class="text-left">ASE’s efforts and performance on water management, green buildings, green supply chain, employee care and social engagement for corporate sustainability development.</p>
        </div>
        <div class="col-md-4">
            <div class="video">
                <a href="http://ase.aseglobal.com/public/frontend/videos/ASE_Sustability_2_EN_20180321_final.html" data-toggle="lightbox" data-type="vimeo" data-title="ASE Sustainability Strategy">
                    <img src="https://3711cdn.r.worldssl.net/pic/content/en/images/csr/video2.jpg" width="100%">
                    <span class="glyphicon glyphicon-play-circle play-icon" aria-hidden="true"></span>
                </a>
            </div>
            <h4 class="text-left" style="font-weight: bold;">ASE Sustainability Strategy</h4>
            <p class="text-left">ASE’s vision and action for sustainable future development.</p>
        </div>
        <div class="col-md-4">
            <div class="video">
                <a href="http://ase.aseglobal.com/public/frontend/videos/ASE_WaterManagement_EN_2014_final.html" data-toggle="lightbox" data-type="vimeo" data-title="ASE Water Management">
                    <img src="https://3711cdn.r.worldssl.net/pic/content/en/images/csr/video3.jpg" width="100%">
                    <span class="glyphicon glyphicon-play-circle play-icon" aria-hidden="true"></span>
                </a>
            </div>
            <h4 class="text-left" style="font-weight: bold;">ASE Water Management</h4>
            <p class="text-left">ASE built Taiwan’s first water recycling plant with the highest standards at ASE Kaohsiung.</p>
        </div>
    </div>
</section>
<script src="https://3711cdn.r.worldssl.net/js/js/vendor/lightbox/ekko-lightbox.min.js"></script>
<script>
    // Lightbox
    $(document).delegate('*[data-toggle="lightbox"]', 'click', function (event) {
        event.preventDefault();
        $(this).ekkoLightbox();
    });
</script>
