﻿@{
    ViewBag.Title = "Committed to<br />a Win-Win Sustainable Future";
    ViewBag.BannerStyle = "banner-csr";
    Layout = "~/Views/Shared/_Layout_Content_En_CSR.cshtml";
    ViewBag.HeadTitle = "Supply Chain Development Policy and Supplier CoC | ASE Technology Holding";
    ViewBag.Description = "ASE Technology Holding Co., Ltd. and its subsidiaries (collectively “ASE Technology Holding”) is among the leading providers of semiconductor assembly and test services and a major consolidator of systems and converging technologies.";
    ViewBag.enURL = "en/csr";
    ViewBag.zhURL = "ch/csr";
}

<section class="inside-article">
    <div class="content-lg row">
        <div class="col-md-12">
            <h3 class="title">Supply Chain Development Policy and Supplier CoC</h3>
            <h4 class="sub-title">ASE Technology Holding Co., Ltd. Purchasing and Supply Chain Development Policy</h4>
            <p>
                ASE Technology Holding Co., Ltd. and its subsidiaries (collectively “ASE Technology Holding”) is among the leading providers of semiconductor assembly and test services and a major consolidator of systems and converging technologies. It is therefore our responsibility to have a positive influence on the global electronics supply chain. We regard our suppliers as long-term partners and propose to establish together a sustainable supply chain network. We also dedicate ourselves to responsible sourcing and developing technological capabilities in supply chain in order to provide responsible and first-class services continuously to our customers.<br><br>

                ASE Technology Holding is committed to the following:<br>
                <ol class="nopadding">
                    <li>Taking proactive measures to ensure our purchasing practices are in compliance with the highest standards of professionalism and business ethics, abiding by all laws and regulations where we operate, and emphasizing fair competitions among suppliers and fair business between suppliers and ASE Technology Holding.</li>

                    <li>Fully implementing green procurement and conducting purchasing activities in accordance with ASE Technology Holding’s conflict minerals policy and green product regulations.</li>

                    <li>Building stable partnerships with suppliers, pursuing mutual benefits through full communications and collaborations while emphasizing risks and benefits sharing.</li>

                    <li>Requiring suppliers to abide by all applicable laws and regulations, adhere to high standards of business ethics, safeguard human rights, attach great importance to physical safety and mental health of employees, protect the environment and use their best efforts to fulfill corporate social responsibility.</li>

                    <li>Being actively engaged in supplier management and coaching to assist suppliers with continuous improvement in competitiveness, undertaking supplier risk assessments which include delivery, quality, cost, service, technology and sustainability as criteria, and incorporating the assessment results into ASE Technology Holding’s purchase decisions. Any supplier still unable to meet ASE Technology Holding’s standards after receiving coaching will be replaced by an alternative supplier after full communication.</li>

                    <li>Integrating green product design into customers’ requirements as well as collaborating with customers and suppliers on developing innovative materials and equipment with an aim to advance technologies and enhance competitiveness in the whole supply chain network.</li>
                </ol>
            </p>
            <br>
            <div><a href="~/en/pdf/2019_ASETH_PurchasingAndSupplyChainDevelopmentPolicy.pdf" target="_blank"><div class="circle_button darkgray facilities-circle-button"><i class="icon-arrow-right facilities-icon-arrow-right"></i></div> ASE Technology Holding Co., Ltd. Purchasing and Supply Chain Development Policy</a></div>
            <br>
            
            <h4 class="sub-title">Supplier Code of Conduct</h4>
            <p>
                We, ASE Technology Holding Co., Ltd., its subsidiaries and affiliates (collectively, “ASE”, “We”, “Us” or “Our”), being a responsible corporate citizen, have taken proactive measures to ensure the highest standards of professional and ethical business conduct. We believe that ASE’s long-term operation and success shall rely on the corporate sustainability and realization of corporate social responsibilities. Since the supply chain is a critical extension of ASE’s business value chain, we are actively devoted to developing supply chain to ensure that our suppliers, contractors, service providers and subcontractors (collectively, “Suppliers”) collectively achieve the goal of sustainability.<br><br>

                In order to ensure that working conditions in the supply chain are safe, workers are treated with respect and dignity, and business operations are environmentally responsible and conducted ethically, ASE, by taking UN Guiding Principles on Business and Human Rights, Declaration of Fundamental Principles and Rights at Work and UN Universal Declaration of Human Rights as reference, adopts this Supplier Code of Conduct (“Code”) which follows ASE Technology Holding Co., Ltd. Code of Business Conduct and Ethics as well as the Responsible Business Alliance (“RBA”, Formerly EICC) Code of Conduct , and we require Suppliers’ business conducts to strictly comply with this Code as well as laws and regulations of countries/area where suppliers’ operations exist with respect to labor, health and safety, environmental, business ethics and the management system. ASE also encourages Suppliers to require their suppliers, contractors, services providers and subcontractors to adopt and comply with this Code. Suppliers’ status of compliance with this Code will be one of the considerations for ASE’s evaluation of and decision making on the purchasing.<br><br>

                This Code consists of five sections. Sections A, B, and C outline tenets for Labor, Health and Safety, and the Environment, respectively, and Section D sets forth tenets for business ethics, and Section E outlines the elements necessary to an appropriate management system to implement this Code.
            </p>
            <br>
            <div><a href="~/en/pdf/ASE_Holding_Supplier_CoC_EN_2018.pdf" target="_blank"><div class="circle_button darkgray facilities-circle-button"><i class="icon-arrow-right facilities-icon-arrow-right"></i></div> Supplier Code of Conduct</a></div>
        </div>
    </div>
</section>