﻿@model ASEH_Front.Models.ReportQuestionnaire.ReportQuestionnaireViewModel2
@{
    ViewBag.Title = "CORPORATE SOCIAL RESPONSIBILITY";
    ViewBag.BannerStyle = "banner-csr";
    Layout = "~/Views/Shared/_Layout_Content_En_CSR.cshtml";

    var options = Model.getOptions();
    var Lang = Model.Lang;
}
<style>
    .rq-table th, .rq-table td {
        font-size: 16px !important;
    }

    .rq-table thead td {
        font-weight: bold;
    }
</style>
<section class="inside-article" style="font-size:16px!important;line-height: 28px;">
    <div class="content-lg row">
        <article class="col-xs-12">
            @using (Html.BeginForm("Csr_Report_Questionnaire", "En", FormMethod.Post, new { @class = "form-inline" }))
            {
                @Html.AntiForgeryToken()

                <h3 class="title">@(Model.getTitle().getText(Lang))</h3>
                <p style="font-size: 1.1rem;">
                    @(Model.getSummer().getText(Lang))
                </p>

                foreach (var section in Model.getSections())
                {
                    <h4 class="sub-title">@(section.getText(Lang))</h4>
                    if (section.StackholderList != null)
                    {
                        <div>
                            @foreach (var stackholder in section.StackholderList)
                            {
                                <div class="col-sm-4">
                                    <label class="radio-inline">
                                        <input type="radio"
                                               name="stakeholder"
                                               value="@(stackholder.Key)"
                                               @(Model.stakeholder == stackholder.Key ? "checked" : "")> @stackholder.getText(Lang)
                                            @if (section.StackholderList.IndexOf(stackholder) == (section.StackholderList.Count - 1))
                                            {
                                                <input type="text" class="form-control" name="other" style="height:24px;" value="@(Model.other)">
                                            }
                                        </label>
                                    </div>
                                }
                            <div class="col-sm-12">
                                <div class="form-group">
                                    @if (@ViewData["stakeholder"] != null)
                                    {
                                        <span style="color: red;">@ViewData["stakeholder"]</span>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                    else if (section.TopicList != null)
                    {
                        <div class="table-responsive inside-table rq-table">

                            <div class="quest_form">
                                <div class="quest_form__header">
                                    <div class="quest_form__body">
                                        <div>
                                            <strong class="txt_bold">
                                                @Model.getTableHeader1().getText(Lang)
                                            </strong>
                                            (@Model.getTableHeader2().getText(Lang))
                                        </div>
                                    </div>
                                    <div class="quest_form__options">
                                      <div class="quest_form__options__title">
                                        @Model.getTableHeader3().getText(Lang)
                                      </div>
                                      @foreach (var option in options)
                                      {
                                        <div>@option.getText(Lang)</div>

                                      }
                                    </div>
                                </div>
                                <div class="quest_form__group">
                                    @foreach (var topic in section.TopicList)
                                    {
                                        <div class="quest_form__topic">
                                            <div class="quest_form__body">
                                                <div class="form__body__col">
                                                    <h4>
                                                        <strong>@topic.Issue.getText(Lang)</strong>
                                                    </h4>
                                                    <div>
                                                        @topic.Content.getText(Lang)
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="quest_form__options">
                                                @foreach (var option in options)
                                                {
                                                <label>
                                                    <input type="radio" name="@topic.Key" value="@option.Key">
                                                    <span class="quest_form__optionText">@option.getText(Lang)</span>
                                                </label>
                                                }
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                    else if (section.isYesOrNo)
                    {
                        <label>
                            <input type="radio" name="@(section.Key)" value="YES"> YES
                        </label>
                        <label>
                            <input type="radio" name="@(section.Key)" value="NO"> NO
                        </label>
                    }
                    <p>&nbsp;</p>
                }
                <div class="col-sm-12">
                    <h4 class="sub-title">*@Model.getLast().getText(Lang)：</h4>
                    <textarea class="form-control" name="additional" rows="5" style="min-width: 100%">@(Model.additional)</textarea>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        <br>
                        <br>
                        <h4 class="sub-title inline">*@Model.getValid().getText(Lang):</h4>
                        <input type="text" name="vcode" class="form-control" required style="border-color: #CCCCCC" />
                        <img id="captcha" src="~/CAPTCHA.ashx" style=" position:relative; width:100px; height:40px;" />
                        <button onclick="regenVcode()" type="button">Re Generate Verification</button>
                        @if (@ViewData["captcha"] != null)
                        {
                            <span style="color: red;">@ViewData["captcha"]</span>
                        }
                    </div>
                </div>
                <div class="col-xs-12 section-contact">
                    <div class="content-wrapper pull-left">
                        <button type="reset" style="margin-left:30px">@Model.getCancelButton().getText(Lang)</button>
                        <button type="submit">@Model.getSubmitButton().getText(Lang)</button>
                    </div>
                </div>
                <input type="hidden" name="fieid" value="@Model.FieId">
            }
        </article>
    </div>
</section>
<link rel="stylesheet" href="https://3711cdn.r.worldssl.net/css/js/vendor/sweetalert/sweetalert2.min.css" />
<link rel="stylesheet" href="https://3711cdn.r.worldssl.net/css/css/quest.css" />
<script src="https://3711cdn.r.worldssl.net/js/js/vendor/sweetalert/sweetalert2.min.js"></script>

@if (@ViewData["msg"] != null)
{
    <script>swal({ title: '@ViewData["msg"]', timer: 3000, type: 'success' })</script>
}

<script>

    function regenVcode() {
        var img = document.querySelector("#captcha");
        var newSrc = img.getAttribute('src').split('?')[0];
        newSrc = newSrc + '?unix=' + new Date().getTime();
        img.setAttribute("src", newSrc)
    }
</script>