﻿@model ASEH_Front.Models.Download.DownloadViewModel

@{
    ViewBag.Title = "Committed to<br />a Win-Win Sustainable Future";
    ViewBag.BannerStyle = "banner-csr";
    Layout = "~/Views/Shared/_Layout_Content_En_CSR.cshtml";
    ViewBag.HeadTitle = "CSR Report Downloads | ASE Technology Holding";
    ViewBag.Description = "Get ASE Technology Holding Corporate Sustainability Report (CSR) Report";
    ViewBag.enURL = "en/csr_report";
    ViewBag.zhURL = "ch/csr_report";
}

<section class="inside-article">
    <div class="content-lg row">
        <article class="col-xs-12">
            <h3 class="title">CSR Report Downloads</h3>
        </article>
        @foreach (var item in Model.FileList)
        {
            <div class="col-sm-6 col-md-4 padding-bottom40 text-center">
                <a href="@Url.Content(string.Format("~/uploads/{0}/{1}", item.FieID, item.FieFilePath_EN))" class="link-block download_btn" data-id="@item.FieID" target="_blank">
                    <img src="@Url.Content(string.Format("~/uploads/{0}/{1}", item.FieID, item.FiePicPath_EN))">
                    <p class="reports">
                        <br>
                        @item.FieName_EN<br>
                    </p>
                    <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                </a>
            </div>
        }
        <div class="col-sm-12 csr">
            <br />
            <div class="col-sm-6 col-md-6 bgnews-list list-base">
                <div class="content">
                    <a href="http://csr.spil.com.tw/04_download/download.aspx" target="_blank">
                        <span class="blue-text-in-box">SPIL CSR Report</span>
                        <div class="circle_button-wrapper pull-right">
                            <div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 bgnews-list list-base">
                <div class="content">
                    <a href="https://www.usiglobal.com/en/report" target="_blank">
                        <span class="blue-text-in-box">USI CSR Report</span>
                        <div class="circle_button-wrapper pull-right">
                            <div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
                        </div>
                    </a>
                </div>
            </div>
            @*<div class="col-sm-6 col-md-4 bgnews-list list-base">
                <div class="content">
                    <a href="@Url.Action("Csr_Video", "En")">
                        <span class="blue-text-in-box">CSR Video Downloads</span>
                        <div class="circle_button-wrapper">
                            <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                        </div>
                    </a>
                </div>
            </div>*@
            <div class="clearfix"></div>
        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal modal2 fade" id="csrModal" tabindex="-1" role="dialog" aria-labelledby="csrModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog2">
        <div class="modal-content">
            <div class="modal-body text-center">
                Thank you for your interest in our CSR reports.
                Would you be willing to tell us more about the sustainability issues you concerned?<br><br>
                <div class="moving-arrow">
                    <a class="link-block" href="@Url.Action("Csr_Report_Questionnaire", "En")">
                        Yes, I' ll take the survey<br>
                        <div class="circle_button darkgray margin-top-5"><i class="icon-arrow-right"></i></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.download_btn').click(function (e) {

            e.preventDefault();

            var id = $(this).data("id");
            var url = "/en/csr_report/" + id;
            var download_url = $(this).prop('href');

            $.ajax({
                type: 'POST',
                url: url,
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (data) {

                }
            });

            dothing(id, download_url);
        });

        function dothing(id, download_url) {
            var url = "/en/csr_report_questionnaire?id=" + id;

            $('#csrModal').find('a.link-block').prop('href', url);

            setTimeout(
                function () {
                    $('#csrModal').modal('show');
                }, 1500);

            window.open(download_url);
        }
    });
</script>