﻿@{
    ViewBag.Title = "CORPORATE SOCIAL RESPONSIBILITY";
    ViewBag.BannerStyle = "banner-csr";
    Layout = "~/Views/Shared/_Layout_Content_En_CSR.cshtml";
}

<section class="inside-article">
    <div class="content-lg row">
        <div class="col-md-12">

            <h3 class="title">Corporate Sustainability Policy</h3>
            <h4 class="sub-title">ASE Group Corporate Sustainability and Citizenship Policy</h4>
            <p>
                As the leading provider of semiconductor assembly and test services and a major consolidator of systems and converging technologies, ASE Group plays a vital role in transforming our society into a green and low carbon economy. We regard sustainability and corporate citizenship as the growth opportunity and commit to providing eco-efficient and responsible service to our customers to achieve satisfactory performance in environmental, social and governance (ESG).<br><br>

                ASE Group shall lead and create practices in innovation and sustainability to make a positive impact on our sector, business, stakeholders and society at large.<br><br>

                ASE Group aims to pursue a sustainable growth over time by a strategic approach which is based on not only the perspectives of cost control, integrated risk management, and advanced technology, but responsible use of natural, social and human capitals, assimilating our enterprise into the landscape from which we draw so much, and rely upon.<br><br>

                <h4 class="sub-title">ASE Group is committed to the following:</h4>
                <ol class="nopadding">
                    <li>Maintaining sound corporate governance, and continuously practicing ethics in all areas of our business, and complying with all laws and applicable regulations where we operate.</li>

                    <li>Improving our eco-efficiency and protecting the environment by continuously enhancing resources recycling; reducing greenhouse gas emissions, waste generation, wastewater effluent, and chemical usage.</li>

                    <li>Providing employees with a safe, healthy, and stimulating work environment. Ensuring diversity in our workforce and protecting the human rights.</li>

                    <li>Partnering with our suppliers to ensure that working conditions in ASE’s supply chain are safe, that workers are treated with respect and dignity, and that business operations are environmentally responsible and conducted ethically.</li>

                    <li>Devoting ourselves to the community through charitable activities, educational programs and social work which optimize resource allocation and maximize positive social impacts.</li>

                    <li>Conducting effective and strategic stakeholder engagement and communication while emphasizing on transparent and balanced information disclosure.</li>
                </ol>

        </div>
    </div>
</section>