﻿@{
    ViewBag.Title = "CORPORATE SOCIAL RESPONSIBILITY";
    ViewBag.BannerStyle = "banner-csr";
    Layout = "~/Views/Shared/_Layout_Content_En_CSR.cshtml";
}

<!-- Letter from the Chairman -->
<section class="inside-article">
    <div class="content-lg row">
        <div class="col-md-12">
            <h3 class="title">Conflict Minerals Compliance</h3>
        </div>
    </div>
</section>
<div class="content-lg row csr-bg">
    <div class="col-md-12">

        <h4 class="sub-title">ASE Technology Holding Co., Ltd. Corporate Policy for Sourcing Conflict Minerals</h4>
        <p>
            The mining and distribution of “conflict minerals”<a href="javascript:" data-toggle="popover" data-trigger="hover" data-content="“Conflict minerals” are columbite-tantalite (coltan), cassiterite, gold, and wolframite, or their derivatives as defined in the Dodd-Frank Act Section 1502 and SEC Rule 13p-1 under the Securities Exchange Act of 1934." data-placement="bottom">*</a> originating from the Democratic Republic of the Congo (the “DRC”) are sometimes controlled by violent organizations in order to fund conflict in that country and adjacent regions. Our industry supply chains are inadvertently subject to metals derived from these conflict minerals which can be introduced through the metals we use such as gold, tin, tantalum and tungsten. ASE Technology Holding Co., Ltd. and its subsidiaries (collectively, “ASE Technology Holding”) is dedicated to the elimination of these conflict minerals in our supply chain and to using only responsibly sourced “conflict-free minerals”<a href="javascript:" data-toggle="popover" data-trigger="hover" data-content="“Conflict-free minerals” are conflict minerals that through their distribution directly or indirectly do not benefit violent organizations in the Democratic Republic of the Congo and its adjacent regions." data-placement="bottom">*</a>. We expect our suppliers to source conflict-free minerals from smelters or refineries that have been certified by an independent third party audit program to fulfill our objective. It is also our objective to support the continued use of conflict-free minerals from the DRC and its adjacent regions such that responsible mining is not diminished. We exercise due diligence with our suppliers on the origin and supply chain of minerals in accordance with the “OECD Due Diligence for Responsible Supply Chains of Minerals from Conflict-Affected and High-Risk Areas” to establish conflict minerals management mechanism.<br><br>

            All suppliers to ASE Technology Holding must support this policy by:
            <ol class="nopadding">
                <li>Being diligent in their assessment and validation of their supply chains to ensure ASE Technology Holding’s objectives of a transparent supply chain and conflict-free purchases are inputs to the services and products we produce.</li>

                <li>Be in compliance at all times with all regional and international regulations for conflict minerals.</li>

                <li>Be in compliance at all times with industry standards for the sourcing and reporting of conflict minerals.</li>

                <li>Being diligent and accurate in their formal assurances of conflict-free minerals provided to us.</li>
            </ol>
        </p>
    </div>
</div>
<section class="inside-article">
    <div class="content-lg row">
        <div class="col-md-12">
            <br>
            <div><a href="~/pdf/en/2019_ASETH_ConflictMineralsCompliance.pdf" target="_blank"><div class="circle_button darkgray facilities-circle-button"><i class="icon-arrow-right facilities-icon-arrow-right"></i></div> ASE Technology Holding Co., Ltd. Corporate Policy for Sourcing Conflict Minerals</a></div>
            <br>
            <h4 class="sub-title">Conflict Mineral Contact:</h4>
            <p>
                If you have any questions, comments or suggestions regarding conflict minerals program for Advanced Semiconductor Engineering Inc., please contact <a href="mailto:ASE_CM@aseglobal.com">ASE_CM@aseglobal.com</a><br>

                If you have any questions, comments or suggestions regarding conflict minerals program for Siliconware Precision Industries Co., Ltd., please contact <a href="mailto:petition@spil.com.tw">petition@spil.com.tw</a><br>

                If you have any questions, comments or suggestions regarding conflict minerals program for USI Inc., please contact <a href="mailto:conflict_minerals@usiglobal.com">conflict_minerals@usiglobal.com</a><br>
            </p>
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover({
            html: true,
            trigger: 'hover',
            placement: 'bottom',
        });
    });
</script>
