﻿@{
    ViewBag.Title = "CORPORATE SOCIAL RESPONSIBILITY";
    ViewBag.BannerStyle = "banner-csr";
    Layout = "~/Views/Shared/_Layout_Content_En_CSR.cshtml";
}

<section class="inside-article">
    <div class="content-lg row">
        <div class="col-md-12">

            <h3 class="title">ASE Group Human Rights Policy</h3>

            <p>
                For the protection and promotion of human rights, ASE Group supports and respects international standards, including the UN Universal Declaration of Human Rights, the first & second principles of UN Global Compact, UN Guiding Principles on Business and Human Rights, ILO International Labor Standards, Declaration of Fundamental Principles and Rights at Work, as well as relevant local laws and regulations. Additionally, ASE implements human rights protection by joining the Responsible Business Alliance (RBA). ASE has established human rights management principles accordingly to protect the human rights of all ASE Group employees and also expects our suppliers to uphold these principles in order to protect the human rights.
            </p>
            <p>
                ASE Group is committed to implementing the human rights protection by the following principles：
                <ol class="nopadding">
                    <li>Protect: ASE complies with all labor and gender equality related laws and regulations where we operate, and provides employees with a safe, healthy work environment.</li>

                    <li>Respect: ASE forbids forced labor, child labor, discrimination, and harassment, and guarantees the freedom of association, privacy, reasonable working hours and appropriate compensation and benefits.</li>

                    <li>Remedy: ASE vows to maintain an accessible and open grievance mechanism, and to take immediate remedial measures if any violation of human rights issues occurred.</li>

                    <li>Manage: ASE continuously promotes human rights education, also regularly assesses human rights risks, and reports and discloses assessment results to top executives and to the public.</li>

                </ol>

            </p>

        </div>
    </div>
</section>