﻿@model ASEH_Front.Models.Download.DownloadViewModel

@{
    ViewBag.Title = "CORPORATE SOCIAL RESPONSIBILITY";
    ViewBag.BannerStyle = "banner-csr";
    Layout = "~/Views/Shared/_Layout_Content_En_CSR.cshtml";
}

<section class="inside-article">
    <div class="content-lg row">
        <article class="col-xs-12">
            <h3 class="title">CSR Report Downloads</h3>
        </article>
        @foreach (var item in Model.FileList)
        {
            <div class="col-sm-6 col-md-4 padding-bottom40 text-center">
                <a href="@Url.Action("CsrReportDownload", new { id = item.FieID })" class="link-block download_btn" data-id="29" target="_blank">
                    <img src="@Url.Content(string.Format("~/uploads/{0}/{1}", item.FieID, item.FiePicPath_EN))">
                    <p class="reports">
                        <br>
                        @item.FieName_EN<br>
                    </p>
                    <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                </a>
            </div>
        }
        <div class="panel-group col-xs-12" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="col-md-12 bgnews-list list-base panel">
                <div class="content">
                    <a href="http://csr.usish.com/e_download.php" target="_blank">
                        <span class="blue-text-in-box accordion-center-text">USI CSR Report</span>
                        <div class="circle_button-wrapper pull-right">
                            <div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
