﻿@{
    ViewBag.Title = "CORPORATE SOCIAL RESPONSIBILITY";
    ViewBag.BannerStyle = "banner-csr";
    Layout = "~/Views/Shared/_Layout_Content_En_CSR.cshtml";
}

<section class="inside-article">
    <div class="content-lg row">
        <div class="col-md-12">
            <h3 class="title">Supplier Code of Conduct</h3>
            <p>
                We, ASE Technology Holding Co., Ltd., its subsidiaries and affiliates (collectively, “ASE”, “We”, “Us” or “Our”), being a responsible corporate citizen, have taken proactive measures to ensure the highest standards of professional and ethical business conduct. We believe that ASE’s long-term operation and success shall rely on the corporate sustainability and realization of corporate social responsibilities. Since the supply chain is a critical extension of ASE’s business value chain, we are actively devoted to developing supply chain to ensure that our suppliers, contractors, service providers and subcontractors (collectively, “Suppliers”) collectively achieve the goal of sustainability.<br><br>

                In order to ensure that working conditions in the supply chain are safe, workers are treated with respect and dignity, and business operations are environmentally responsible and conducted ethically, ASE, by taking UN Guiding Principles on Business and Human Rights, Declaration of Fundamental Principles and Rights at Work and UN Universal Declaration of Human Rights as reference, adopts this Supplier Code of Conduct (“Code”) which follows ASE Technology Holding Co., Ltd. Code of Business Conduct and Ethics as well as the Responsible Business Alliance (“RBA”, Formerly EICC) Code of Conduct , and we require Suppliers’ business conducts to strictly comply with this Code as well as laws and regulations of countries/area where suppliers’ operations exist with respect to labor, health and safety, environmental, business ethics and the management system. ASE also encourages Suppliers to require their suppliers, contractors, services providers and subcontractors to adopt and comply with this Code. Suppliers’ status of compliance with this Code will be one of the considerations for ASE’s evaluation of and decision making on the purchasing.<br><br>

                This Code consists of five sections. Sections A, B, and C outline tenets for Labor, Health and Safety, and the Environment, respectively, and Section D sets forth tenets for business ethics, and Section E outlines the elements necessary to an appropriate management system to implement this Code.<br><br>

                <div><a href="pdf/en/ASE_Holding_Supplier_CoC_EN_2018.pdf"><div class="circle_button darkgray facilities-circle-button"><i class="icon-arrow-right facilities-icon-arrow-right"></i></div> Supplier Code of Conduct</a></div>
            </p>
        </div>
    </div>
</section>