﻿@{
    ViewBag.Title = "CORPORATE SOCIAL RESPONSIBILITY";
    ViewBag.BannerStyle = "banner-csr";
    Layout = "~/Views/Shared/_Layout_Content_En_CSR.cshtml";
}

<section class="inside-article">
    <div class="content-lg row">
        <article class="col-xs-12">
            <h3 class="title"> Stakeholder Engagement</h3>
            <p>
                ASE is committed to conducting effective and strategic stakeholder engagement and communication while emphasizing transparent and balanced information disclosure, at both the corporate and local plant level.
            </p>
            <p>
                Communicating with our stakeholders is key to the long-term and continuous improvement of our enterprise. Through dedicated communication mechanisms, we collect and incorporate important stakeholder feedback into our strategies and operations worldwide. An important goal of stakeholder engagement is to seek feedback from diverse stakeholder groups, and transform that feedback into action.
            </p>
        </article>
    </div>
</section>
<!--Button-->
<section class="csr-bg">
    <div class="content-lg row">
        <div class="col-xs-12 csr">
            <div class="col-md-4 col-md-offset-2 bgnews-list list-base">
                <div class="content">
                    <a href="http://ase.aseglobal.com/en/CSR/csr_report_questionnaire" target="_blank">
                        <span class="blue-text-in-box">CSR report questionnaire</span>
                        <div class="circle_button-wrapper pull-right">
                            <div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 bgnews-list list-base">
                <div class="content">
                    <a href="@Url.Action("Contact", "En")">
                        <span class="blue-text-in-box">Contact CSR team</span>
                        <div class="circle_button-wrapper">
                            <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>