﻿@{
    ViewBag.Title = "CORPORATE SOCIAL RESPONSIBILITY";
    ViewBag.BannerStyle = "banner-csr";
    Layout = "~/Views/Shared/_Layout_Content_En_CSR.cshtml";
}

<section class="inside-article">
    <div class="content-lg row">
        <article class="col-xs-12">
            <h3 class="title">Sustainability Governance</h3>
            <p>
                As a responsible corporate citizen, ASE has taken proactive measures to ensure the highest standards of professional and ethical business conduct. We believe that the sustainable development of our enterprise and the realization of its social responsibilities are vital to our long-term strategies and success.
            </p>
        </article>
    </div>
</section>
<!--Button-->
<section class="csr-bg">
    <div class="content-lg row">
        <div class="col-xs-12 csr">
            <div class="col-md-4 col-md-offset-2 bgnews-list list-base">
                <div class="content">
                    <a href="@Url.Action("CsrCorporateSustainabilityPolicy", "En")">
                        <span class="blue-text-in-box">Corporate sustainability policy</span>
                        <div class="circle_button-wrapper pull-right">
                            <div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 bgnews-list list-base">
                <div class="content">
                    <a href="@Url.Action("CsrSustainabilityStrategy", "En")">
                        <span class="blue-text-in-box">Sustainability strategy</span>
                        <div class="circle_button-wrapper">
                            <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4  col-offset-md-2 bgnews-list list-base">
                <div class="content">
                    <a href="@Url.Action("CsrBusinessConductEthics", "En")">
                        <span class="blue-text-in-box">Business conduct and ethics</span>
                        <div class="circle_button-wrapper">
                            <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 bgnews-list list-base">
                <div class="content">
                    <a href="@Url.Action("CsrHumanRightsManagement", "En")">
                        <span class="blue-text-in-box">Human rights management</span>
                        <div class="circle_button-wrapper">
                            <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 bgnews-list list-base">
                <div class="content">
                    <a href="@Url.Action("CsrConflictMineralsCompliance", "En")">
                        <span class="blue-text-in-box">Conflict minerals compliance</span>
                        <div class="circle_button-wrapper">
                            <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 bgnews-list list-base">
                <div class="content">
                    <a href="@Url.Action("CsrSupplierCoc", "En")">
                        <span class="blue-text-in-box">Supplier Code of Conduct</span>
                        <div class="circle_button-wrapper">
                            <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>