﻿@model ASEH_Front.Models.Download.DownloadViewModel

@{
    ViewBag.Title = "Download Center";
    ViewBag.BannerStyle = "banner-about";
    Layout = "~/Views/Shared/_Layout_Content_En.cshtml";
    ViewBag.HeadTitle = "Download Center | ASE Technology Holding";
    ViewBag.Description = "Get CSR Report, Sustainability Documents, Conflict Minerals Documents from ASE Technology Holding Download Center.";
    ViewBag.enURL = "en/download";
    ViewBag.zhURL = "ch/download";
}

<!---Content --->
<section class="inside-article">
    <div class="content-lg row">
        <article class="col-xs-12">
            <h3 class="title">Download Center</h3>
        </article>
    </div>
</section>
<section class="inside-article">
    <div class="content-lg row csr">
        <article class="col-xs-12">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <!--    CSR Report Downloads Start    -->
                <div class="col-md-12 bgnews-list list-base panel">
                    <div class="content">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <span class="black-text-in-box accordion-center-text">CSR Report Downloads</span>
                            <div class="circle_button-wrapper">
                                <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                            </div>
                        </a>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingTwo">                       
                        <div class="panel-body">
                            <!-- left -->
                            <div class="col-md-6">
                                <!-- 1 -->
                                <div class="panel">
                                    <a role="button" href="~/en/pdf/aseh_2020_csr_en_final.pdf" target="_blank">
                                        <div class="downloads-link">
                                            <div class="circle_button downloads-circle-button darkgray">
                                                <i class="icon-arrow-right facilities-icon-arrow-right"></i>
                                            </div>
                                            <h3 class="title pull-left downloads-link-title">CSR Report 2020</h3>
                                        </div>
                                    </a>                                    
                                    <div class="clearfix"></div>                                    
                                </div>
                            </div>

                            <!-- right -->
                            <div class="col-md-6">
                                <!-- 1 -->
                                <div class="panel">
                                    <a role="button" href="~/en/pdf/aseh_2019_csr_en_final.pdf" target="_blank">
                                        <div class="downloads-link">
                                            <div class="circle_button downloads-circle-button darkgray">
                                                <i class="icon-arrow-right facilities-icon-arrow-right"></i>
                                            </div>
                                            <h3 class="title pull-left downloads-link-title">CSR Report 2019</h3>
                                        </div>
                                    </a>                                    
                                    <div class="clearfix"></div>                                    
                                </div>
                            </div>

                            <!-- left -->
                            <div class = "col-md-6">
                                <!-- 2 -->
                                <div class="panel">
                                    <a role="button" href="~/en/pdf/aseh_2018_csr_en_final.pdf" target="_blank">
                                        <div class="downloads-link">
                                            <div class="circle_button downloads-circle-button darkgray">
                                                <i class="icon-arrow-right facilities-icon-arrow-right"></i>
                                            </div>
                                            <h3 class="title pull-left downloads-link-title">CSR Report 2018</h3>
                                        </div>
                                    </a>                                    
                                    <div class="clearfix"></div>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--    CSR Report Downloads End    -->

                <!--    Sustainability Document Downloads Start     -->
                <div class="col-md-12 bgnews-list list-base panel">
                    <div class="content">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <span class="black-text-in-box accordion-center-text">Sustainability Document Downloads</span>
                            <div class="circle_button-wrapper">
                                <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                            </div>
                        </a>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">

                            <!-- left -->
                            <div class="col-md-6">
                                <!-- 1 -->
                                <div class="panel">
                                    <a role="button" href="~/en/pdf/2019_ASETH_CorporateSustainabilityAndCitizenshipPolicy.pdf" target="_blank">
                                        <div class="downloads-link">
                                            <div class="circle_button downloads-circle-button darkgray">
                                                <i class="icon-arrow-right facilities-icon-arrow-right"></i>
                                            </div>
                                            <h3 class="title pull-left downloads-link-title">Corporate Sustainability and Citizenship Policy</h3>
                                        </div>
                                    </a>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <!-- right -->
                            <div class="col-md-6">
                                <!-- 2 -->
                                <div class="panel">
                                    <a role="button" href="~/en/pdf/human-rights-policy-en.pdf" target="_blank">
                                        <div class="downloads-link">
                                            <div class="circle_button downloads-circle-button darkgray">
                                                <i class="icon-arrow-right facilities-icon-arrow-right"></i>
                                            </div>
                                            <h3 class="title pull-left downloads-link-title">Human Rights Policy</h3>
                                        </div>
                                    </a>
                                    <div class="clearfix"></div>
                                </div>
                            </div>

                            <!-- left -->
                            <div class="col-md-6">
                                <!-- 3 -->
                                <div class="panel">
                                    <a role="button" href="~/en/pdf/2019_ASETH_PurchasingAndSupplyChainDevelopmentPolicy.pdf" target="_blank">
                                        <div class="downloads-link">
                                            <div class="circle_button downloads-circle-button darkgray">
                                                <i class="icon-arrow-right facilities-icon-arrow-right"></i>
                                            </div>
                                            <h3 class="title pull-left downloads-link-title">Purchasing and Supply Chain Development Policy</h3>
                                        </div>
                                    </a>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <!-- right -->
                            <div class="col-md-6">
                                <!-- 4 -->
                                <div class="panel">
                                    <a role="button" href="~/en/pdf/ASE_Holding_Supplier_CoC_EN_2018.pdf" target="_blank">
                                        <div class="downloads-link">
                                            <div class="circle_button downloads-circle-button darkgray">
                                                <i class="icon-arrow-right facilities-icon-arrow-right"></i>
                                            </div>
                                            <h3 class="title pull-left downloads-link-title">Supplier Code of Conduct</h3>
                                        </div>
                                    </a>
                                    <div class="clearfix"></div>
                                </div>
                            </div>

                            <!-- left -->
                            <div class="col-md-6">
                                <!-- 5 -->
                                <div class="panel">
                                    <a role="button" href="~/en/pdf/aseh_public_affairs_policy.pdf" target="_blank">
                                        <div class="downloads-link">
                                            <div class="circle_button downloads-circle-button darkgray">
                                                <i class="icon-arrow-right facilities-icon-arrow-right"></i>
                                            </div>
                                            <h3 class="title pull-left downloads-link-title">Public Affairs Engagement Policy</h3>
                                        </div>
                                    </a>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <!-- right -->
                            <div class="col-md-6">
                                <!-- 6 -->
                                <div class="panel">
                                    <a role="button" href="~/en/pdf/2019_aseh_timm_report_en.pdf" target="_blank">
                                        <div class="downloads-link">
                                            <div class="circle_button downloads-circle-button darkgray">
                                                <i class="icon-arrow-right facilities-icon-arrow-right"></i>
                                            </div>
                                            <h3 class="title pull-left downloads-link-title">Total Impact Measurement and Management Report</h3>
                                        </div>
                                    </a>
                                    <div class="clearfix"></div>
                                </div>
                            </div>

                            <!-- left -->
                            <div class="col-md-6">
                                <!-- 7 -->
                                <div class="panel">
                                    <a role="button" href="~/en/pdf/2018_aseh_sdg_report_en.pdf" target="_blank">
                                        <div class="downloads-link">
                                            <div class="circle_button downloads-circle-button darkgray">
                                                <i class="icon-arrow-right facilities-icon-arrow-right"></i>
                                            </div>
                                            <h3 class="title pull-left downloads-link-title">The Sustainable Development Goals (SDGs) Report</h3>
                                        </div>
                                    </a>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <!-- right -->
                            <div class="col-md-6">
                                <!-- 8 -->
                                <div class="panel">
                                    <a role="button" href="~/en/pdf/anti-discrimination-and-anti-harassment-policy-en.pdf" target="_blank">
                                        <div class="downloads-link">
                                            <div class="circle_button downloads-circle-button darkgray">
                                                <i class="icon-arrow-right facilities-icon-arrow-right"></i>
                                            </div>
                                            <h3 class="title pull-left downloads-link-title">Anti-discrimination and Anti-harassment Policy</h3>
                                        </div>
                                    </a>
                                    <div class="clearfix"></div>
                                </div>
                            </div>

                            <!-- left -->
                            <div class="col-md-6">
                                <!-- 9 -->
                                <div class="panel">
                                    <a role="button" href="~/en/pdf/environmental-responsibility-policy-en.pdf" target="_blank">
                                        <div class="downloads-link">
                                            <div class="circle_button downloads-circle-button darkgray">
                                                <i class="icon-arrow-right facilities-icon-arrow-right"></i>
                                            </div>
                                            <h3 class="title pull-left downloads-link-title">Environmental Responsibility Policy</h3>
                                        </div>
                                    </a>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <!-- right -->
                            <div class="col-md-6">
                                <!-- 10 -->
                                <div class="panel">
                                    <a role="button" href="~/en/pdf/2020_aseth_ismp_en.pdf" target="_blank">
                                        <div class="downloads-link">
                                            <div class="circle_button downloads-circle-button darkgray">
                                                <i class="icon-arrow-right facilities-icon-arrow-right"></i>
                                            </div>
                                            <h3 class="title pull-left downloads-link-title">Cybersecurity Policy</h3>
                                        </div>
                                    </a>
                                    <div class="clearfix"></div>
                                </div>
                            </div>

                            <!-- left -->
                            <div class="col-md-6">
                                <!-- 11 -->
                                <div class="panel">
                                    <a role="button" href="~/en/pdf/2020_aseh_risk_management_policies_procedures_en_v1.pdf" target="_blank">
                                        <div class="downloads-link">
                                            <div class="circle_button downloads-circle-button darkgray">
                                                <i class="icon-arrow-right facilities-icon-arrow-right"></i>
                                            </div>
                                            <h3 class="title pull-left downloads-link-title">Risk Management Policies and Procedures</h3>
                                        </div>
                                    </a>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <!-- right -->
                            <div class="col-md-6">
                                <!-- 12 -->
                                <div class="panel">
                                    <a role="button" href="~/en/pdf/privacy-policy-en.pdf" target="_blank">
                                        <div class="downloads-link">
                                            <div class="circle_button downloads-circle-button darkgray">
                                                <i class="icon-arrow-right facilities-icon-arrow-right"></i>
                                            </div>
                                            <h3 class="title pull-left downloads-link-title">Privacy Policy</h3>
                                        </div>
                                    </a>
                                    <div class="clearfix"></div>
                                </div>
                            </div>

                            <!-- left -->
                            <div class="col-md-6">
                                <!-- 13 -->
                                <div class="panel">
                                    <a role="button" href="~/en/pdf/cookie-term-en.pdf" target="_blank">
                                        <div class="downloads-link">
                                            <div class="circle_button downloads-circle-button darkgray">
                                                <i class="icon-arrow-right facilities-icon-arrow-right"></i>
                                            </div>
                                            <h3 class="title pull-left downloads-link-title">Cookie Term</h3>
                                        </div>
                                    </a>
                                    <div class="clearfix"></div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!--    Sustainability Document Downloads End    -->
                <!--    Conflict Minerals Document Downloads Start     -->
                <div class="col-md-12 bgnews-list list-base panel">
                    <div class="content">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            <span class="black-text-in-box accordion-center-text">Conflict Minerals Document Downloads</span>
                            <div class="circle_button-wrapper">
                                <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                            </div>
                        </a>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingFive">
                        <div class="panel-body">
                            <!-- left -->
                            <div class="col-md-6">
                                <!-- 1 -->
                                <div class="panel">
                                    <a role="button" href="~/en/pdf/2019_aseth_conflictmineralscompliance.pdf" target="_blank">
                                        <div class="downloads-link">
                                            <div class="circle_button downloads-circle-button darkgray">
                                                <i class="icon-arrow-right facilities-icon-arrow-right"></i>
                                            </div>
                                            <h3 class="title pull-left downloads-link-title">Corporate Policy for Sourcing Conflict Minerals</h3>
                                        </div>
                                    </a>
                                    <div class="clearfix"></div>
                                </div>
                            </div>

                            <!-- right -->
                            <div class="col-md-6">
                                <!-- 2 -->
                                <div class="panel">
                                    <a role="button" href="~/en/pdf/2020_ASEH_CM_Report.pdf" target="_blank">
                                        <div class="downloads-link">
                                            <div class="circle_button downloads-circle-button darkgray">
                                                <i class="icon-arrow-right facilities-icon-arrow-right"></i>
                                            </div>
                                            <h3 class="title pull-left downloads-link-title">ASEH CM Report 2020</h3>
                                        </div>
                                    </a>
                                    <div class="clearfix"></div>
                                </div>
                            </div>

                            <!-- left -->
                            <div class="col-md-6">
                                <!-- 3 -->
                                <div class="panel">
                                    <a role="button" href="~/en/pdf/2019_ASEH_CM_Report.pdf" target="_blank">
                                        <div class="downloads-link">
                                            <div class="circle_button downloads-circle-button darkgray">
                                                <i class="icon-arrow-right facilities-icon-arrow-right"></i>
                                            </div>
                                            <h3 class="title pull-left downloads-link-title">ASEH CM Report 2019</h3>
                                        </div>
                                    </a>
                                    <div class="clearfix"></div>
                                </div>
                            </div>

                            <!-- right -->
                            <div class="col-md-6">
                                <!-- 4 -->
                                <div class="panel">
                                    <a role="button" href="~/en/pdf/2018_ASEH_CM_Report.pdf" target="_blank">
                                        <div class="downloads-link">
                                            <div class="circle_button downloads-circle-button darkgray">
                                                <i class="icon-arrow-right facilities-icon-arrow-right"></i>
                                            </div>
                                            <h3 class="title pull-left downloads-link-title">ASEH CM Report 2018</h3>
                                        </div>
                                    </a>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--    Conflict Minerals Document Downloads End    -->
                <!--    Video Downloads Start     -->
                <div class="col-md-12 bgnews-list list-base panel">
                    <div class="content">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                            <span class="black-text-in-box accordion-center-text">Video Downloads</span>
                            <div class="circle_button-wrapper">
                                <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                            </div>
                        </a>
                    </div>
                    <div id="collapseSix" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingSix">
                        <div class="panel-body">
                            <!-- left -->
                            <div class="col-md-5 col-md-offset-1">
                                <!-- 1 -->
                                <div class="panel">
                                    <a role="button" href="https://youtu.be/DBAeb5LFhXM" target="_blank">
                                        <div class="downloads-link">
                                            <div class="circle_button downloads-circle-button darkgray">
                                                <i class="icon-arrow-right facilities-icon-arrow-right"></i>
                                            </div>
                                            <h3 class="title pull-left downloads-link-title">The Power to Move People</h3>
                                        </div>
                                    </a>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--    Video Downloads End    -->
            </div>
        </article>
    </div>

</section>