﻿@model ASEH_Front.Models.Article.ArticleViewModel

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout_Base_En.cshtml";
    int x = 0;
    int y = 0;
}

<!--PC Slieder Banner -->
<section class="slider-vision index-banner hidden-xs hidden-sm">
    <div id="index-banner" class="carousel slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
            @{
                int px = 0;
                int py = 0;
            }
            @foreach (var item in Model.PicRotateList)
            {
                if (px == 0)
                {
                    <li data-target="#index-banner" data-slide-to="@px" class="active"></li>
                }
                else
                {
                    <li data-target="#index-banner" data-slide-to="@px"></li>
                }

                px++;
            }
        </ol>
        <div class="carousel-inner" role="listbox">
            @foreach (var item in Model.PicRotateList)
            {
                var active = (py == 0) ? "active" : "";

                <a href="@item.ProUrl_EN" class="item @active" style="background: url(@Url.Content(string.Format("~/uploads/{0}/{1}", item.ProID, item.ProPicPath)))">
                    <div class="carousel-caption">
                        <h3>@item.ProName_EN</h3>
                        <p style="margin-bottom: 10px">
                            @Html.Raw(item.ProDesc_EN.Replace("\n", "<br />"))
                        </p>
                        <div class="button"><span>MORE</span><i class="icon-arrow-right"></i></div>
                    </div>
                </a>

                py++;
            }
        </div>
    </div>
</section>

<!-- Mobile Slieder Banner -->
<section class="slider-vision index-banner hidden-md hidden-lg">
    <div id="index-banner" class="carousel slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
            @{
                int mx = 0;
                int my = 0;
            }
            @foreach (var item in Model.PicRotateList)
            {
                if (mx == 0)
                {
                    <li data-target="#index-banner" data-slide-to="@mx" class="active"></li>
                }
                else
                {
                    <li data-target="#index-banner" data-slide-to="@mx"></li>
                }

                mx++;
            }
        </ol>
        <div class="carousel-inner" role="listbox">
            @foreach (var item in Model.PicRotateList)
            {
                var active = (my == 0) ? "active" : "";

                <a href="@item.ProUrl_EN" class="item @active" style="background: url(@Url.Content(string.Format("~/uploads/{0}/{1}", item.ProID, item.ProPicPath_M)))">
                    <div class="carousel-caption">
                        <h3>@item.ProName_EN</h3>
                        <p style="margin-bottom: 10px">
                            @Html.Raw(item.ProDesc_EN.Replace("\n", "<br />"))
                        </p>
                        <div class="button"><span>MORE</span><i class="icon-arrow-right"></i></div>
                    </div>
                </a>

                my++;
            }
        </div>
    </div>
</section>


<!-- INDEX FASTLINK -->
<section id="iconlink" class="iconlink linebg-2">
    <div class="content-lg padding-W200">
        <h3 class="text-center sub-title" style="font-weight: bold;">Members of ASE Technology Holding Co., Ltd</h3>
        <ul class="row row_padding_0 item-csr">
            <li class="col-xs-12 col-md-4 text-center">
                <a href="http://ase.aseglobal.com/" target="_blank">
                    <div class="imgbox">
                        <img src="https://3711cdn.r.worldssl.net/pic/content/en/images/index/thumbnail_ase.png" alt="ASE Inc." data-hover="https://3711cdn.r.worldssl.net/pic/content/en/images/index/thumbnail_ase_hover.png">
                    </div>
                    <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                </a>
            </li>
            <li class="col-xs-12 col-md-4 text-center">
                <a href="https://www.spil.com.tw/" target="_blank">
                    <div class="imgbox">
                        <img src="https://3711cdn.r.worldssl.net/pic/content/en/images/index/thumbnail_spil.png" alt="SPIL" data-hover="https://3711cdn.r.worldssl.net/pic/content/en/images/index/thumbnail_spil_hover.png">
                    </div>
                    <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                </a>
            </li>
            <li class="col-xs-12 col-md-4 text-center">
                <a href="http://www.usish.com/" target="_blank">
                    <div class="imgbox">
                        <img src="https://3711cdn.r.worldssl.net/pic/content/en/images/index/thumbnail_usi.png" alt="USI" data-hover="https://3711cdn.r.worldssl.net/pic/content/en/images/index/thumbnail_usi_hover.png">
                    </div>
                    <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                </a>
            </li>
        </ul>
    </div>
</section>

<!-- INDEX FEATURE -->
<section id="index_fearture">
    <div class="row row_padding_0" data-bgcolor="#bec3c7">
        <figure class="col-xs-12 col-ms-12 col-md-6">
            <img src="https://3711cdn.r.worldssl.net/pic/content/en/images/index/holding_01.jpg" alt="INVESTOR RELATIONS img">
        </figure>
        <div class="col-xs-12 col-ms-12 col-md-6 caption-holding">
            <div>
                <h3>INVESTOR RELATIONS</h3>
                <p>More information about Financials, Corporate Governance and Stock Information.</p>
                <a class="button" href="http://ir.aseglobal.com/"><span>MORE</span><i class="icon-arrow-right"></i></a>
            </div>
        </div>
    </div>
    <div class="row row_padding_0" data-bgcolor="#68656e">
        <figure class="col-xs-12 col-ms-12 col-md-6">
            <img src="https://3711cdn.r.worldssl.net/pic/content/en/images/index/holding_02.jpg" alt="CORPORATE SOCIAL RESPONSIBILITY img">
        </figure>
        <div class="col-xs-12 col-ms-12 col-md-6 caption-holding">
            <div>
                <h3>CORPORATE SOCIAL REPONSIBILITY</h3>
                <p>ASE Technology Named Industry Leader in the 2018 Dow Jones Sustainability Indices</p>
                <a class="button" href="@Url.Action("Csr", "En")"><span>MORE</span><i class="icon-arrow-right"></i></a>
            </div>
        </div>
    </div>
</section>
<section id="events_news" class="bgnews-list">
    <div class="content-lg row">
        <br>
        <div class="col-xs-12 col-md-4"></div>
        <div class="col-xs-12 col-md-4">
            <div class="list">
                <h4 class="text-center">
                    News
                    <a href="@Url.Action("Press_Room", "En")" class="circle_button"><i class="icon-cross"></i></a>
                </h4>
                <div class="content info-3">
                    @foreach (var item in Model.ArticleList)
                    {
                        <a href="@Url.Action("Press_Room_Detail", new { Id = item.AtcDesc.Replace(" ", "-") })">
                            <div class="textbox">
                                <p class="date">@item.AtcOpenDate.Value.ToString("yyyy/MM/dd")</p>
                                <p class="title limit-row-two">@item.AtcName_EN</p>
                            </div>
                            <div class="circle_button-wrapper">
                                <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                            </div>
                        </a>
                    }
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4"></div>
    </div>
</section>
