﻿@model ASEH_Front.Models.Article.ArticleViewModel

@{
    ViewBag.Title = "Industry Leader in Outsourced Semiconductor Assembly and Test";
    Layout = "~/Views/Shared/_Layout_Base_En.cshtml";
    int x = 0;
    int y = 0;
    ViewBag.HeadTitle = "ASE Technology Holding | Industry Leader in Outsourced Semiconductor Assembly and Test";
    ViewBag.Description = "ASE Technology Holding Co., Ltd. is jointly established by the combination of Advanced Semiconductor Engineering, Inc. and Siliconware Precision Industries Co., Ltd. ASE Technology Holding develops and offers a wide portfolio of technology and solutions including IC test program design, front-end engineering test, wafer probe, wafer bump, substrate design and supply, wafer level package, flip chip, system-in-package, final test and electronic manufacturing services.";
    ViewBag.enURL = "en";
    ViewBag.zhURL = "ch";
}
<style>
    .carousel-background {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        opacity: 0;
    }
    .carousel-background video {
       position: relative;
       left: 50%;
       top: 50%;
       transform: translate3d(-50%, -50%, 0);
       opacity: 0;
       transition: opacity 0.5s;
    }
     @@media screen and (max-width: 767px) {
        .carousel-background--mobile {
            opacity: 1;
        }
    }
    @@media screen and (min-width: 768px) {
        .carousel-background--pc {
            opacity: 1;
        }
        
    }
</style>

<!-- Slieder Banner -->
@Html.Partial("../Widgets/Banner")

<!-- INDEX FASTLINK -->
<section id="iconlink" class="iconlink linebg-2">
    <div class="content-lg padding-W200">
        <h3 class="text-center sub-title" style="font-weight: bold;">Members of ASE Technology Holding Co., Ltd</h3>
        <ul class="row row_padding_0 item-csr">
            <li class="col-xs-12 col-md-4 text-center">
                <a href="https://ase.aseglobal.com/en" target="_blank">
                    <div class="imgbox">
                        <img src="https://3711cdn.r.worldssl.net/pic/content/en/images/index/thumbnail_ase.png" alt="ASE Inc." data-hover="https://3711cdn.r.worldssl.net/pic/content/en/images/index/thumbnail_ase_hover.png">
                    </div>
                    <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                </a>
            </li>
            <li class="col-xs-12 col-md-4 text-center">
                <a href="https://www.spil.com.tw/" target="_blank">
                    <div class="imgbox">
                        <img src="https://3711cdn.r.worldssl.net/pic/content/en/images/index/thumbnail_spil.png" alt="SPIL" data-hover="https://3711cdn.r.worldssl.net/pic/content/en/images/index/thumbnail_spil_hover.png">
                    </div>
                    <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                </a>
            </li>
            <li class="col-xs-12 col-md-4 text-center">
                <a href="https://www.usiglobal.com/en" target="_blank">
                    <div class="imgbox">
                        <img src="https://3711cdn.r.worldssl.net/pic/content/en/images/index/thumbnail_usi.png" alt="USI" data-hover="https://3711cdn.r.worldssl.net/pic/content/en/images/index/thumbnail_usi_hover.png">
                    </div>
                    <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                </a>
            </li>
        </ul>
    </div>
</section>

<!-- INDEX FEATURE -->
<section id="index_fearture">
    <div class="row row_padding_0" data-bgcolor="#bec3c7">
        <figure class="col-xs-12 col-ms-12 col-md-6">
            <img src="https://3711cdn.r.worldssl.net/pic/content/en/images/index/holding_01.jpg" alt="INVESTOR RELATIONS img">
        </figure>
        <div class="col-xs-12 col-ms-12 col-md-6 caption-holding">
            <div>
                <h3>INVESTOR RELATIONS</h3>
                <p>More information about Financials, Corporate Governance and Stock Information.</p>
                <a class="button" href="https://ir.aseglobal.com/"><span>MORE</span><i class="icon-arrow-right"></i></a>
            </div>
        </div>
    </div>
    <div class="row row_padding_0" data-bgcolor="#68656e">
        <figure class="col-xs-12 col-ms-12 col-md-6">
            <img src="https://3711cdn.r.worldssl.net/pic/content/en/images/index/holding_02.jpg" alt="CORPORATE SOCIAL RESPONSIBILITY img">
        </figure>
        <div class="col-xs-12 col-ms-12 col-md-6 caption-holding">
            <div>
                <h3>CORPORATE SOCIAL REPONSIBILITY</h3>
                <p>ASE Technology Named Industry Leader in the 2020 Dow Jones Sustainability Indices</p>
                <a class="button" href="@Url.Action("Csr", "En")"><span>MORE</span><i class="icon-arrow-right"></i></a>
            </div>
        </div>
    </div>
</section>
<section id="events_news" class="bgnews-list">
    <div class="content-lg row">
        <br>
        <div class="col-xs-12 col-md-4"></div>
        <div class="col-xs-12 col-md-4">
            <div class="list">
                <h4 class="text-center">
                    News
                    <a href="@Url.Action("Press_Room", "En")" class="circle_button"><i class="icon-cross"></i></a>
                </h4>
                <div class="content info-3">
                    @foreach (var item in Model.ArticleList)
                    {
                        <a href="@Url.RouteUrl("PressRoom", new { id = item.AtcDesc.Replace(" ", "-") })">
                            <div class="textbox">
                                <p class="date">@item.AtcOpenDate.Value.ToString("yyyy/MM/dd")</p>
                                <p class="title limit-row-two">@item.AtcName_EN</p>
                            </div>
                            <div class="circle_button-wrapper">
                                <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                            </div>
                        </a>
                    }
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4"></div>
    </div>
</section>

<script>
    function getAspect(ele) {
        return ele.offsetWidth / ele.offsetHeight
    }
    function resizeVideo() {
        $('#index-banner .active video').each(function (idx) {
            var ele =  $('#index-banner .active video')[idx]
            var containerAspect = getAspect(ele.parentElement)
            var targetAspect = getAspect(ele)
            
            if (containerAspect >= targetAspect) {
                ele.style.width = '100%';
                ele.style.height = 'auto'
            } else {
                ele.style.height = '100%';
                ele.style.width = 'auto';
            }
            ele.style.opacity = 1;
        })
    }
    $('#index-banner').on('slid.bs.carousel', function () {
        resizeVideo()
    })
    $(window).on('resize', function () {
        resizeVideo()
    })
    $('video').on('loadeddata', function() {
            console.log('loaded')
            resizeVideo()
        })
</script>
</script>