﻿@{
    ViewBag.Title = "Committed to<br />a Win-Win Sustainable Future";
    ViewBag.BannerStyle = "banner-csr";
    Layout = "~/Views/Shared/_Layout_Content_En_CSR.cshtml";
    ViewBag.HeadTitle = "Intellectual Property Management | ASE Technology Holding";
    ViewBag.Description = "ASE’s success is driven by its continuous quest for innovation and the strengthening of its IP management.";
    ViewBag.enURL = "en/ip_management";
    ViewBag.zhURL = "ch/ip_management";
}

<section class="inside-article">
    <div class="content-lg row">
        <article class="col-xs-12">
            <h3 class="title">Intellectual Property Management Plan</h3>
            <h4 class="sub-title">Intellectual Property Management Policy and Goals</h4>
            <p>
                To remain a world-leading technology provider, ASE shall continuously focus on research, development and innovation; formulate an intellectual property (“IP) strategy in alignment with its operation and R&D strategies; establish a set of operating model which can effectively utilize the IP rights ASE owns to promote various business interests, so as to not only appropriately protect R&D results and enhance the company's competitiveness, but also to ensure the freedom of operation of ASE and maximize shareholder benefits.<br><br>
            </p>
            <h4 class="sub-title">Intellectual Property Management System</h4>
            <p>
                To ensure the effective implementation of ASE’s IP policy and goals, the company and its subsidiaries draws up innovative programs in accordance with its business blueprint and prevailing laws and regulations, as well as continuously strengthen its IP management system. ASE’s comprehensive IP management ensures that the company’s R&D efforts and results are well protected and developed into IP rights. The company continues to integrate and utilize its high value IP portfolio to promote various business interests that further improve its competitiveness and strengthen its defense capabilities.<br><br>
            </p>
        </article>
    </div>
</section>
<section class="inside-article">
    <div class="content-lg row csr">
        <article class="col-xs-12">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                <div class="col-md-12 bgnews-list list-base panel">
                    <div class="content">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
                            <span class="black-text-in-box" style="color: #2a93d5;">A. Patent</span>
                            <div class="circle_button-wrapper pull-right">
                                <div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
                            </div>
                        </a>
                    </div>
                    <div id="collapseOne" class="panel-collapse no-border collapse" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false" style="height: 0px;">
                        <div class="panel-body">
                            <div class="col-md-12">
                                <p>
                                    ASE’s IP management strategy is focused on three equally weighted goals - patent quantity, patent quality and patent value.  In addition to early deployment of IP management for critical technologies, ASE continuously examines the quality and valuation of its patents through innovative ways to maintain a strong patent portfolio. These actions enable ASE to maintain high patent standards and maximize R&D investment returns by strengthening the use of value-added patent rights. ASE also actively collaborates with the industry’s technology leaders to jointly develop patents, file patent applications and obtain key licensing agreements. These actions enable ASE to defend its leadership position in technology as well as maintain its overall competitiveness.
                                </p>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-md-12 bgnews-list list-base panel">
                    <div class="content">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" class="collapsed">
                            <span class="black-text-in-box" style="color: #2a93d5;">B. Trade Secret</span>
                            <div class="circle_button-wrapper pull-right">
                                <div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
                            </div>
                        </a>
                    </div>

                    <div id="collapseTwo" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingTwo" aria-expanded="false">
                        <div class="panel-body">
                            <div class="col-md-12">
                                <p>
                                    The company’s trade secrets are based on a strong foundation of corporate competitiveness that include cost advantages, technology leadership, quality manufacturing service, and the establishment of smart factories and customer trust. To meet the requirements for adequate trade secret protection, ASE puts in place a system of measures including information security systems, employee education and training, and systematic management.  Where appropriate, the company will enforce applicable laws and regulations on trade secret to prevent improper use, leakage or misappropriation of company’s proprietary assets by others in order to ensure that ASE’s investments, rights and interests are duly protected.
                                </p>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-md-12 bgnews-list list-base panel">
                    <div class="content">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree" class="collapsed">
                            <span class="black-text-in-box" style="color: #2a93d5;">C. Trademark</span>
                            <div class="circle_button-wrapper pull-right">
                                <div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
                            </div>
                        </a>
                    </div>

                    <div id="collapseThree" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingThree" aria-expanded="false">
                        <div class="panel-body">
                            <div class="col-md-12">
                                <p>
                                    ASE has registered several trademarks that enable the company to distinguish its products and services from the competition or other products/services of its kind. The granted trademarks highlight the quality and uniqueness of ASE’s products and services, and help to effectively market the ASE brand name. ASE may claim its legitimate trademark rights against any other similar marks that are improperly used to cause confusion to customers or consumers, so as to protect the company’s goodwill and market share.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </article>
    </div>
</section>
<section class="inside-article">
    <div class="content-lg row">
        <article class="col-xs-12">
            <br>
            <h4 class="sub-title">IP Risk Management</h4>
            <p>
                ASE’s success is driven by its continuous quest for innovation and the strengthening of its IP management. To protect its proprietary technologies, trade secrets and patents from theft, misappropriation or infringement, the company has strengthened employees’ IP awareness as well as ensured the inclusion of IP protection measures at work.  In addition to regular IP related online and classroom courses, various types of exercises are also conducted to enhance employees’ knowledge and skills on IP protection.  The company has established stringent controls in its IT and email systems, and within its facilities, to strengthen security management and mitigate the risk of information leakage.  In case of any risk exposures in IP misappropriation or infringement, ASE has in place a robust response mechanism and standard operating procedure to promptly investigate and where appropriate, enforce legal actions to prevent IP misappropriation or infringement by others, so as to protect the company’s IP rights.<br><br>

                ASE respects the legitimate IP rights of others. However, to the extent that the technology is developed independently by ASE or that ASE does not have prior knowledge, it may be uncertain as to whether there may be any potential conflict with others’ IP.  To a certain extent, ASE may consider to rely on third party technology and patent licenses.  If the technology license cannot be granted due to unacceptable terms and conditions, ASE may be exposed to third party claims for infringement, damages incurred, or the risk of an injunction order. The company may also face customer requests and claims for ASE’s contractual obligations to indemnify for the damages suffered by the customer due to third-party claim for infringement. Therefore, the company will strategically obtain the necessary licenses for specific technologies, and at the same time, the company collects high-quality patents that could be utilized for defense against litigation or cross-licensing, so as to ensure the freedom of operation.<br><br>
            </p>
            <h4 class="sub-title">Implementation status</h4>
            <p>
                ASE’s patent portfolios comprise a variety of technologies related to semiconductor packaging and testing, and electronics manufacturing. As of January 31, 2021, ASE has a total of 6,038 patents, of which 2,473 were granted in Taiwan, 1,836 were granted in the U.S., 1,695 were granted in PRC , 9 patents in Europe and 25 were granted in other countries. There are a total of 1,631 pending patent applications, including 175 in Taiwan, 572 in the U.S., 852 in PRC, 15 in Europe and 17 in other countries.<br><br>

                ASE has applied and registered several trademarks in Taiwan, the United States, China and the EU which include “ASE”, “aCSP”, “ a-EASI”, “a-<i>fc</i>CSP”, “aQFN”, “a-QFN”, “a-S³”, “a-TiV”, “aWLP”, “a-WLP”, “iSiP”, “iWLP”, “aSiM”, “SiP-id”, “SPIL”, “<img src="https://3711cdn.r.worldssl.net/pic/content/en/images/about/logo_usi_ch.png" width="28px" />”, “環電”, “<img src="https://3711cdn.r.worldssl.net/pic/content/en/images/about/logo_usi.png" width="35px" />”, “環旭”, “环旭”, “環鴻”, “环鸿”, “HSiP”, “<img src="https://3711cdn.r.worldssl.net/pic/content/en/images/about/logo_gd.png" width="30px" />”, “<img src="https://3711cdn.r.worldssl.net/pic/content/en/images/about/logo_usi_six.png" width="24px" />”, “<img src="https://3711cdn.r.worldssl.net/pic/content/en/images/about/logo_sipset.png" width="50px" />”, “XnBay”, “Emerald” and “<img src="https://3711cdn.r.worldssl.net/pic/content/en/images/about/logo_cloud.png" width="28px" />”.<br>The above are registered trademarks in Taiwan.<br><br>

                At least once a year, the ASE management team reports to the Board of Directors on the progress of the IP management plan and implementation, and sets forth improvement measures based on the Board’s recommendations. The most recent reporting date is October 15, 2020.
            </p>
        </article>
    </div>
</section>