﻿@{
    ViewBag.Title = "Milestones";
    ViewBag.BannerStyle = "banner-about";
    Layout = "~/Views/Shared/_Layout_Content_En.cshtml";
    ViewBag.HeadTitle = "Milestones | ASE Technology Holding";
    ViewBag.Description = "ASE Technology Holding - Milestones";
    ViewBag.enURL = "en/milestones";
    ViewBag.zhURL = "ch/milestones";
}

<section class="timeline_section inside-article">
    <div class="content-lg row">
        <article class="col-xs-12">
            <h3 class="title">Milestones</h3>
        </article>
    </div>
    <div class="content-lg row">
        <div class="col-xs-12">
            <div id="milestone" class="timeline_div">    
            <div class="timeline_container">
                <div class="timeline">
                    <div class="plus"></div>
                </div>
            </div>
            <div class="item offset-first">  
                <span class="corner big current"></span>                     
                <div class="year"><b>2020</b></div>
                <div class="event">
                    <ul class="current">
                        <span style="font-size: 18px; font-weight: bold; color: #A4244F; padding-right: 5px;">Dec.</span>
                        <li>
                            <a href="https://ase.aseglobal.com/en/solution/smart_factory_5g"> Established the first 5G mmWave Smart Factory at ASE Kaohsiung.</a>
                            <br />
                            <img src="https://3711cdn.r.worldssl.net/pic/content/en/images/about/2020_5g_smart_factoty.jpg" class="col-xs-6 nopadding" />
                        </li><br />
                        <li>
                            <a href="https://www.aseglobal.com/en/press_room_detail/2020_cdp_double_a">Named on the CDP Water A List for the first time.</a>
                            <br />
                            <img src="https://3711cdn.r.worldssl.net/pic/content/en/images/about/2020_cdp_water-stamp.png" class="col-xs-6 nopadding" style="border: #DDDDDD 1px solid" />
                        </li><br />
                        <li>
                            <a href="https://www.aseglobal.com/en/press_room_detail/2020_cdp_double_a">Named on the CDP A List 2020.</a>
                            <br />
                            <img src="https://3711cdn.r.worldssl.net/pic/content/en/images/about/2020_cdp_climate-stamp.png" class="col-xs-6 nopadding" style="border: #DDDDDD 1px solid" />
                        </li><br />
                        <span style="font-size: 18px; font-weight: bold; color: #A4244F; padding-right: 5px;">Nov.</span>
                        <li>
                            <a href="https://www.aseglobal.com/en/press_room_detail/2020_tcsa">Awarded the ‘Top 10 Domestic Companies Sustainability Model Award (Manufacturing Industry)’ at the annual Taiwan Corporate Sustainability Awards.</a>
                            <br />
                            <img src="https://3711cdn.r.worldssl.net/pic/content/en/images/about/2020_tcsa.jpg" class="col-xs-6 nopadding" />
                        </li><br />
                        <li>
                            <a href="https://www.aseglobal.com/en/press_room_detail/2020_djsi_industry_leader">Named DJSI Industry Leader for the 5th consecutive year.</a>
                            <br />
                            <img src="https://3711cdn.r.worldssl.net/pic/content/en/images/about/2020_DowJonesSustainability.png" class="col-xs-8 nopadding" />
                        </li><br />
                        <span style="font-size: 18px; font-weight: bold; color: #A4244F; padding-right: 5px;">Mar.</span>
                        <li>
                            <a href="https://www.aseglobal.com/en/press_room_detail/amb_lift_restrictive-conditions">Removal of the restrictive conditions imposed on the establishment of ASEH by the PRC Anti-Monopoly Bureau.</a>
                            <br />
                        </li>
                    </ul>  
                </div>
            </div>
            <div class="item">  
                <span class="corner current"></span>                     
                <div class="year"><b>2019</b></div>
                <div class="event">
                    <ul class="current">
                        <span style="font-size: 18px; font-weight: bold; color: #A4244F; padding-right: 5px;">Dec.</span>
                        <li>
                            <a href="https://www.aseglobal.com/en/press_room_detail/2019_cdp_a_list">Named on the CDP Climate A List 2019 and the Supplier Engagement Leader Board 2019.</a>
                            <br />
                            <img src="https://3711cdn.r.worldssl.net/pic/content/en/images/about/2019_CDP_A_List.gif" class="col-xs-6 nopadding" />
                        </li><br />
                        <span style="font-size: 18px; font-weight: bold; color: #A4244F; padding-right: 5px;">Sep.</span>
                        <li>
                            <a href="https://www.aseglobal.com/en/press_room_detail/2019_djsi_industry_leader">Named Industry Group Leader in the 2019 Dow Jones Sustainability Indices, and listed as a constituent of the Dow Jones Sustainability World Index and Emerging Markets Index.</a>
                            <br />
                            <img src="https://3711cdn.r.worldssl.net/pic/content/en/images/about/2019_DowJonesSustainability.gif" class="col-xs-8 nopadding" />
                        </li>
                    </ul>  
                </div>
            </div>
            <div class="item">  
                <span class="corner current"></span>                     
                <div class="year"><b>2018</b></div>
                <div class="event">
                    <ul class="current">
                        <span style="font-size: 18px; font-weight: bold; color: #A4244F; padding-right: 5px;">Apr.</span>
                        <li>
                            ASE Technology Holding Co Limited (ASEH) was officially established and listed on the Taiwan Stock Exchange (3711) and the New York Stock Exchange (ASX).
                            <!-- <img src="https://3711cdn.r.worldssl.net/pic/content/en/images/about/2018_ASEH.jpg" class="col-xs-4 nopadding hide-in-small" /> -->
                        </li><br />
                        <span style="font-size: 18px; font-weight: bold; color: #A4244F; padding-right: 5px;">Jan.</span>
                        <li>
                            <a href="https://ase.aseglobal.com/ch/press_room/content/thomson_reuters_top_100_en" target="_blank">Named Thomson Reuters 2018 Top 100 Global Technology Leader. The inaugural program identifies the tech industry’s most operationally sound and financially successful organizations.</a>
                            <br />
                            <img src="https://3711cdn.r.worldssl.net/pic/content/en/images/about/2018_ThomsonReuters.jpg" class="col-xs-4 nopadding" />
                        </li>
                    </ul>   
                </div>
            </div>
            <div class="item">  
                <span class="corner current"></span>                     
                <div class="year"><b>2016</b></div>
                <div class="event">
                    <ul class="current">
                        <span style="font-size: 18px; font-weight: bold; color: #A4244F; padding-right: 5px;">Jun.</span>
                        <li>
                            ASE and SPIL jointly announced plans to establish ASE Technology Holding Co Limited (ASEH).
                            <br />
                            <img src="https://3711cdn.r.worldssl.net/pic/content/en/images/about/2016_ASE_Spin.jpg" class="col-xs-6 nopadding" />
                        </li>
                    </ul>    
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Each Page JS -->
<script type="text/javascript" src="https://3711cdn.r.worldssl.net/js/js/vendor/imagesloaded.pkgd.min.js"></script>
<script type="text/javascript" src="https://3711cdn.r.worldssl.net/js/js/vendor/masonry.pkgd.min.js"></script>
