﻿@{
    ViewBag.Title = "Subscribe to our Newsletter";
    ViewBag.BannerStyle = "banner-news";
    Layout = "~/Views/Shared/_Layout_Content_En.cshtml";
    ViewBag.HeadTitle = "Subscribe to our Newsletter";
}



<section class="inside-article">
    <div class="content-lg row">

        <article class="col-xs-12">

            <h3 class="title"><img src="https://3711cdn.r.worldssl.net/pic/news-login.png" class="news-icon" /> Newsletter</h3>
        </article>
    </div>
</section>

<section class="csr-bg">
    <div class="content-lg row">
        <div class="col-lg-offset-3 col-lg-6" style="border: 1px solid #aaa; padding: 12px; margin-top: 12px; margin-bottom: 12px;background-color:#fefefe;">
            <h4 style="text-align:center">Subscribe</h4>
            <hr />
            @using (Html.BeginForm("News_Register", null, FormMethod.Post, new { @class = "form-horizontal" }))
            {
                <div class="form-group">
                    <label class="col-sm-4 control-label required">Name</label>
                    <div class="col-sm-8">
                        <input class="form-control" name="NickName" placeholder="" required value="@Model.NickName">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label required">Email Address</label>
                    <div class="col-sm-8">
                        <input class="form-control" name="Account" type="email" placeholder="" required value="@Model.Account">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label required">Password</label>
                    <div class="col-sm-8">
                        <input class="form-control" type="password" name="Password" required placeholder="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label required">Confirm password</label>
                    <div class="col-sm-8">
                        <input class="form-control" type="password" name="ConfirmPassword" required placeholder="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Company name</label>
                    <div class="col-sm-8">
                        <input class="form-control" name="CompanyName" placeholder="" value="@Model.CompanyName">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Job title</label>
                    <div class="col-sm-8">
                        <input class="form-control" name="CompanyJob" placeholder="" value="@Model.CompanyJob">
                    </div>
                </div>
                if (ViewBag.CountryList != null)
                {
                    <div class="form-group">
                        <label class="col-sm-4 control-label required">Region/Country</label>
                        <div class="col-sm-8">
                            <select class="form-control" name="Country" required>
                                @foreach (Models.Country item in ViewBag.CountryList)
                                {
                                    <option value="@item.Title"
                                            @(item.Title == Model.Country ? "selected" : "")
                                            @(Model.Country == null && (ViewBag.CountryList as List<Models.Country>).IndexOf(item) == 0 ? "selected" : "")>
                                        @item.EnTitle
                                    </option>
                                }
                            </select>
                        </div>
                    </div>
                }

                <div class="form-group">
                    <label class="col-sm-4 control-label">Verification code</label>
                    <div class="col-sm-4">
                        <input class="form-control" name="VerifyCode" placeholder="">
                    </div>
                    <div class="col-sm-4">
                        <img id="captcha" src="~/CAPTCHA.ashx" style=" position:relative; width:100px; height:40px;" />
                        <a href="javascript:void" class="regenCode">Update verification code</a>
                    </div>

                </div>
                <div class="text-center" style="margin: 12px 0px;">
                    By submitting above information, you agree to our collection, processing and use of your personal information in accordance with our <a href="/content/en/ase_privacy.html ">Privacy</a>.

                </div>
                <div class="d-flex" style="justify-content: center">
                    <div style="position: relative">
                        <button type="submit" class="btn btn-primary btn-block">Subscribe</button>
                        <span style="color:red; position:absolute;left:105%;top:10px;white-space:nowrap;">*Required</span>
                    </div>
                </div>
            }

        </div>

    </div>
    <div class="content-lg row">
        <div class="col-lg-offset-3 col-lg-6" style="border: 1px solid #aaa; padding: 12px; margin-top: 12px; margin-bottom: 12px;background-color:#fefefe;">
            <h4 style="text-align:center">Login</h4>
            <hr />
            @using (Html.BeginForm("News_Login", null, FormMethod.Post, new { @class = "form-horizontal" }))
            {
                <div class="form-group">
                    <label class="col-sm-4 control-label">Email Address</label>
                    <div class="col-sm-8">
                        <input class="form-control" name="Account" placeholder="" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Password</label>
                    <div class="col-sm-8">
                        <span class="glyphicon glyphicon-eye-open togglePassword"></span>
                        <input class="form-control" type="password" name="Password" placeholder="" required>

                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9 text-right">
                        <a href="@Url.Action("News_Forget")">Forgot password</a>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-5 col-sm-2">
                        <button type="submit" class="btn btn-primary btn-block">Login</button>
                    </div>
                </div>
            }
        </div>
    </div>


</section>


<style>
    .control-label {
        text-align: left !important;
        width: 170px;
    }
</style>