﻿@model Models.NewsUser
@{
    ViewBag.Title = "Subscribe to our Newsletter";
    ViewBag.BannerStyle = "banner-news";
    Layout = "~/Views/Shared/_Layout_Content_En.cshtml";
    ViewBag.HeadTitle = "Registered";
}


<section class="inside-article">
    <div class="content-lg row">
        <article class="col-xs-12">
            <h3 class="title"><img src="https://3711cdn.r.worldssl.net/pic/news-register.png" class="news-icon" />  Registered</h3>
        </article>
    </div>
</section>

<section class="csr-bg">
    <div class="content-lg row">
        <div class="col-lg-offset-3 col-lg-6">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal" }))
            {
                <div class="form-group">
                    <label class="col-sm-4 control-label required">Name</label>
                    <div class="col-sm-8">
                        <input class="form-control" name="NickName" placeholder="" required value="@Model.NickName">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label required">Email Address</label>
                    <div class="col-sm-8">
                        <input class="form-control" name="Account" type="email" placeholder="" required value="@Model.Account">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label required">Password</label>
                    <div class="col-sm-8">
                        <input class="form-control" type="password" name="Password" required placeholder="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label required">Confirm password</label>
                    <div class="col-sm-8">
                        <input class="form-control" type="password" name="ConfirmPassword" required placeholder="">
                    </div>
                </div>
                <!-- <div class="form-group">
                    <label class="col-sm-4 control-label required">電子信箱</label>
                    <div class="col-sm-8">
                        <input class="form-control" type="email" name="Email" placeholder="" required value="@Model.Email">
                    </div>
                </div> -->
                <div class="form-group">
                    <label class="col-sm-4 control-label">Company name</label>
                    <div class="col-sm-8">
                        <input class="form-control" name="CompanyName" placeholder="" value="@Model.CompanyName">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Job title</label>
                    <div class="col-sm-8">
                        <input class="form-control" name="CompanyJob" placeholder="" value="@Model.CompanyJob">
                    </div>
                </div>
                <!-- <div class="form-group">
                    <label class="col-sm-4 control-label">聯絡電話</label>
                    <div class="col-sm-8 all-margin" style="display: flex; align-items: center;">
                        <div>
                            +
                        </div>
                        <div style="width: 20%">
                            <input class="form-control" name="ContactCode" placeholder="" value="@Model.ContactCode">
                        </div>
                        <div style="flex-grow:1">
                            <input class="form-control" name="ContactPhone" placeholder="" value="@Model.ContactPhone">
                        </div>

                        <div>
                            內線
                        </div>
                        <div style="width: 20%">
                            <input class="form-control" name="ContactExt" placeholder="" value="@Model.ContactExt">
                        </div>
                    </div>

                </div> -->
                @*<div class="form-group">
                    <label class="col-sm-4 control-label">傳真</label>
                    <div class="col-sm-8">
                        <input class="form-control" name="ContactFax" placeholder="" value="@Model.ContactFax">
                    </div>
                </div>*@
                if (ViewBag.CountryList != null)
                {
                    <div class="form-group">
                        <label class="col-sm-4 control-label required">Region/Country</label>
                        <div class="col-sm-8">
                            <select class="form-control" name="Country" required>
                                @foreach (Models.Country item in ViewBag.CountryList)
                                {
                                    <option 
                                       value="@item.Title" 
                                       @(item.Title == Model.Country ? "selected" : "")
                                       @(Model.Country == null  && (ViewBag.CountryList as List<Models.Country>).IndexOf(item) == 0 ? "selected" : "")
                                    >@item.EnTitle</option>
                                }
                            </select>
                        </div>
                    </div>
                }

                <div class="form-group">
                    <label class="col-sm-4 control-label">Verification code</label>
                    <div class="col-sm-4">
                        <input class="form-control" name="VerifyCode" placeholder="">
                    </div>
                    <div class="col-sm-4">
                        <img id="captcha" src="~/CAPTCHA.ashx" style=" position:relative; width:100px; height:40px;" />
                        <a href="javascript:void" class="regenCode">Update verification code</a>
                    </div>
                    
                </div>
                <div class="text-center" style="margin: 12px 0px;">
                    By submitting above information, you agree to our collection, processing and use of your personal information in accordance with our <a href="/content/en/ase_privacy.html ">Privacy</a>.
                    
                </div>
                <div class="d-flex" style="justify-content: center">
                    <div style="position: relative">
                        <button type="submit" class="btn btn-primary btn-block">Subscribe</button>
                        <span style="color:red; position:absolute;left:105%;top:10px;white-space:nowrap;">*Required</span>
                    </div>
                </div>
            }

        </div>
        
    </div>
</section>
<style>
    .control-label {
        text-align: left!important;
        width: 170px;
    }
</style>