﻿@{
    ViewBag.Title = "Subscribe to our Newsletter";
    ViewBag.BannerStyle = "banner-news";
    Layout = "~/Views/Shared/_Layout_Content_En.cshtml";
}

<section class="inside-article">
    <div class="content-lg row">
        <article class="col-xs-12">
            <h3 class="title"><img src="https://3711cdn.r.worldssl.net/pic/news-notify.png" class="news-icon" /> Subscribe to our Newsletter</h3>
            
        </article>
    </div>
</section>

<section class="csr-bg">
    <div class="content-lg row">
        <div class="col-xs-offset-3 col-xs-6 csr">
            <div class="col-md-12 bgnews-list list-base">
                <div class="content">
                    <a href="@Url.Action("News_Edit_Profile")">
                        <span class="blue-text-in-box"><img src="https://3711cdn.r.worldssl.net/pic/news-register.png" /> Change your profile details</span>
                        <div class="circle_button-wrapper pull-right">
                            <div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-12 bgnews-list list-base">
                <div class="content">
                    <a href="@Url.Action("News_Edit_Password")">
                        <span class="blue-text-in-box"><img src="https://3711cdn.r.worldssl.net/pic/news-change-password.png" /> Change password</span>
                        <div class="circle_button-wrapper pull-right">
                            <div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-12 bgnews-list list-base">
                <div class="content">
                    <a href="@Url.Action("News_Logout")">
                        <span class="blue-text-in-box"><img src="https://3711cdn.r.worldssl.net/pic/news-logout.png" /> Logout</span>
                        <div class="circle_button-wrapper pull-right">
                            <div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>