﻿@{
    ViewBag.Title = "Subscribe to our Newsletter";
    ViewBag.BannerStyle = "banner-news";
    Layout = "~/Views/Shared/_Layout_Content_En.cshtml";
    ViewBag.HeadTitle = "Forgot password";
}



<section class="inside-article">
    <div class="content-lg row">
        <article class="col-xs-12">
            <h3 class="title"><img src="https://3711cdn.r.worldssl.net/pic/news-forget.png" class="news-icon" /> Forgot password</h3>
            @if (ViewBag.Token == null)
            {
                <p style="font-size: 20px">Please enter the registered email address</p>
            }
            else
            {
                <p style="font-size: 20px">Successful verification, please enter to change the password</p>
            }
        </article>
    </div>
</section>

<section class="csr-bg">
    <div class="content-lg row">
        <div class="col-lg-offset-3 col-lg-6" style="padding-top: 50px; padding-bottom: 200px;">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal" }))
            {
                if (ViewBag.Token == null)
                {
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Email Address</label>
                        <div class="col-sm-8">
                            <input class="form-control" type="email" name="Email" placeholder="">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-4">
                            <button type="submit" class="btn btn-primary btn-block">Send verification letter</button>
                        </div>
                    </div>
                }
                else
                {
                    <div class="form-group">
                        <label class="col-sm-4 control-label">New password</label>
                        <div class="col-sm-8">
                            <span class="glyphicon glyphicon-eye-open togglePassword"></span>
                            <input class="form-control" type="password" name="Password" placeholder="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Confirm password again</label>
                        <div class="col-sm-8">
                            <span class="glyphicon glyphicon-eye-open togglePassword"></span>
                            <input class="form-control" type="password" name="ConfirmPassword" placeholder="">
                        </div>
                    </div>
                    <input name="Token" value="@ViewBag.Token" type="hidden" />
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-3">
                            <button type="submit" class="btn btn-primary btn-block">Change</button>
                        </div>
                    </div>
                }
            }
        </div>

    </div>
</section>