﻿@{
    ViewBag.Title = "Subscribe to our Newsletter";
    ViewBag.BannerStyle = "banner-news";
    Layout = "~/Views/Shared/_Layout_Content_En.cshtml";
    ViewBag.HeadTitle = "Change password";
}


<section class="inside-article">
    <div class="content-lg row">
        <article class="col-xs-12">
            <h3 class="title"><img src="https://3711cdn.r.worldssl.net/pic/news-change-password.png" class="news-icon" /> Change password</h3>
        </article>
    </div>
</section>

<section class="csr-bg">
    <div class="content-lg row">
        <div class="col-lg-offset-3 col-lg-6">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal" }))
            {
                <div class="form-group">
                    <label class="col-sm-4 control-label required">New password</label>
                    <div class="col-sm-8">
                        <span class="glyphicon glyphicon-eye-open togglePassword"></span>
                        <input class="form-control" type="password" name="Password" placeholder="" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label required">Confirm password again</label>
                    <div class="col-sm-8">
                        <span class="glyphicon glyphicon-eye-open togglePassword"></span>
                        <input class="form-control" type="password" name="ConfirmPassword" placeholder="" required>
                    </div>
                </div>

                <div class="d-flex" style="justify-content: center">
                    <div style="position: relative">
                        <button type="submit" class="btn btn-primary btn-block">Change password</button>
                    </div>
                </div>

            }

        </div>

    </div>
</section>