﻿@model ASEH_Front.Models.Article.ArticleViewModel

@{
    ViewBag.Title = "Press Room";
    ViewBag.BannerStyle = "banner-press_room";
    Layout = "~/Views/Shared/_Layout_Content_En.cshtml";
}

<section class="inside-article">
    <div class="content-lg row">
        <article class="col-xs-12">
            <h3 class="title">Press Room</h3>
        </article>
    </div>
</section>
<section class="page-list-content">
    <div class="content-lg row">
        <ul class="col-xs-12 list-base list-link list-timetip-line">
            @foreach (var item in Model.ArticleList)
            {
                <li>
                    <a href="@Url.Action("PressRoomDetail", new { Id = item.AtcID })">
                        <div class="date">@item.AtcOpenDate.Value.ToString("yyyy/MM/dd")</div>
                        <div class="text-box">
                            <h4 class="title">@item.AtcName_EN</h4>
                            <div class="circle_button-wrapper">
                                <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                            </div>
                        </div>
                    </a>
                </li>
            }
        </ul>
    </div>
</section>