﻿@model ASEH_Front.Models.Article.ArticleDetailViewModel

@{
    ViewBag.Title = "Press Room";
    ViewBag.BannerStyle = "banner-press_room";
    Layout = "~/Views/Shared/_Layout_Content_En.cshtml";
    ViewBag.HeadTitle = "Press Room | ASE Technology Holding";
    ViewBag.Description = "ASE Technology Holding Official News";
    ViewBag.enURL = "en/press_room";
    ViewBag.zhURL = "ch/press_room";
}

<section class="page-list-content">
    <div class="content-lg row">
        <div class="col-xs-12 list-base article-wrapper">
            <article class="article-detail">
                <div class="date">@Model.Article.AtcOpenDate.Value.ToString("yyyy/MM/dd")</div>
                <div class="text-box">
                    <h2 class="title">@Model.Article.AtcName_EN</h2>
                    @foreach (var content in Model.Article.tbArticleContent.Where(m => m.LgeID == "EN").OrderBy(m => m.AtnSort))
                    {
                        switch (content.AtsID)
                        {
                            case "C02":
                                {
                                    <p>@Html.Raw(content.AtnText)</p>
                                }
                                break;
                            case "C11":
                                {
                                    <figure class="news-detail-pic" style="margin-bottom: 20px;">
                                        <img src="@Url.Content(string.Format("~/uploads/{0}/{1}", content.AtnID, content.AtnPicPath))" alt="@content.AtnSubject" style="max-width: 100%; height: auto;">
                                    </figure>
                                }
                                break;
                            case "C31":
                                {
                                    <iframe width='100%' height='400' src="@content.AtnVideoPath" frameborder='0' allowfullscreen></iframe>
                                }
                                break;
                        }
                    }

                    @if (Model.Article.AtcIsSign == 1 && Model.ArticleSigh != null)
                    {
                        foreach (var content in Model.ArticleSigh.tbArticleContent.Where(m => m.LgeID == "EN").OrderBy(m => m.AtnSort))
                        {
                            switch (content.AtsID)
                            {
                                case "C02":
                                    {
                                        <p>@Html.Raw(content.AtnText)</p>
                                    }
                                    break;
                                case "C11":
                                    {
                                        <figure class="news-detail-pic" style="margin-bottom: 20px;">
                                            <img src="@Url.Content(string.Format("~/uploads/{0}/{1}", content.AtnID, content.AtnPicPath))" alt="@content.AtnSubject" style="max-width: 100%; height: auto;">
                                        </figure>
                                    }
                                    break;
                                case "C31":
                                    {
                                        <iframe width='100%' height='400' src="@content.AtnVideoPath" frameborder='0' allowfullscreen></iframe>
                                    }
                                    break;
                            }
                        }
                    }


                    <div class="twitter-share-button" style="display:inline-block">
                        <a onclick="window.open('https://twitter.com/intent/tweet?url=@(Request.Url.AbsoluteUri.Replace("localhost:52845", "www.aseglobal.com"))&openExternalBrowser=1')">
                            <img id="imgTWT" width="35" src="~/pic/twt-17.png" class="blog_content_icon_img" />
                        </a>
                    </div>
                    <div style="display:inline-block; margin:0px 18px;">
                        <a target="_blank" href="https://www.linkedin.com/sharing/share-offsite/?url=@(Request.Url.AbsoluteUri.Replace("localhost:52845", "www.aseglobal.com"))&openExternalBrowser=1">
                            <img src="~/pic/in-19.png"  width="35" class="blog_content_icon_img" border="0" />
                        </a>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>