﻿@using ASEH_Front.Models

@{
    List<SiteNav> site_nav_list = ViewBag.site_nav_list;
    ViewBag.Title = "Site Map";
    ViewBag.BannerStyle = "banner-about";
    Layout = "~/Views/Shared/_Layout_Content_En.cshtml";
}

@helper renderLinks(List<SiteNav> navList)
{
    <ul>
        @foreach (SiteNav nav in navList)
        {
            <li>
                <a href="@(nav.Url != "" ? nav.Url : "#")">@nav.Title</a>
                @if (nav.Children.Count() > 0)
                {
                    @renderLinks(nav.Children)
                }
            </li>
        }
    </ul>
}

<link href="~/css/ase-sitemap.css" rel="stylesheet" />

<section class="inside-article">
    <div class="content-lg row">
        <article class="col-xs-12">
            <h3 class="title">SiteMap</h3>
        </article>
    </div>
    <div class="content-lg row">
        <article class="col-xs-12">
            <div class="aseSiteMap">
                @renderLinks(site_nav_list)
            </div>
        </article>
    </div>
   
</section>
