﻿@{
    ViewBag.Title = "Committed to<br />a Win-Win Sustainable Future";
    ViewBag.BannerStyle = "banner-csr";
    Layout = "~/Views/Shared/_Layout_Content_En.cshtml";
    ViewBag.HeadTitle = "Stakeholder Communication | ASE Technology Holding";
    ViewBag.Description = "We define stakeholders as a group or an organization that can affect or be affected by ASEH.";
    ViewBag.enURL = "en/stakeholder_communication.html";
    ViewBag.zhURL = "ch/stakeholder_communication.html";
}

<section class="inside-article">
    <div class="content-lg row">
        <article class="col-xs-12">
            <h3 class="title">Stakeholder Communication</h3>
            <p>
                We define stakeholders as a group or an organization that can affect or be affected by ASEH. Based on the 5 major principles (dependency, responsibility, influence, diverse perspective, tension) of the AA1000 SES-2011 Stakeholder Engagement Standard (SES), we have identified 7 major categories of stakeholders. They are categorized into two groups based on whether the impact is direct or indirect. Our direct stakeholders include shareholders, employees, customers, and suppliers/contractors; our indirect stakeholders include community residents (media), government, industry unions and associations.<br /><br />

                We engage with our stakeholders through a variety of means, depending on the nature of the relationship. The methods of engagement will vary depending on the stakeholders, the issues of concern and the purpose of engagement. We regularly report the stakeholder communication status to the board of directors every year.<br /><br />
            </p>

            <h4 class="sub-title">Our Communication Mechanisms & Focus</h4>

            <div class="col-md-3"><img src="~/content/en/images/csr/communication.svg" class="stakeholder-small-icons"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Communication Mechanisms</div>
            <div class="col-md-3"><img src="~/content/en/images/csr/issues.svg" class="stakeholder-small-icons"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2019 Issues of Concerns</div>
            <div class="col-md-6"><img src="~/content/en/images/csr/outcome.svg" class="stakeholder-small-icons"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2019 Communication Key Outcomes</div>
            <div class="clearfix"></div>
        </article>
    </div>
</section>
<section class="plants-Offices">
    <div class="content-lg row stakeholder-engagement-box">
        <ul id="list-content" class="col-xs-12 list-base list-link office-list-content">
            <li class="gray-bg">
                <h4>Customers</h4>
                <div class="text-box">
                    <div class="content-wrapper">
                        <img src="~/content/en/images/csr/communication.svg" class="stakeholder-small-icons">
                        <ul class="stakeholder">
                            <li>Customer quarterly business review meeting</li>
                            <li>Customer audits</li>
                            <li>Customer service platform</li>
                            <li>Technical forums</li>
                        </ul>
                        <hr class="stakeholder">
                        <img src="~/content/en/images/csr/issues.svg" class="stakeholder-small-icons">
                        <ul class="stakeholder">
                            <li>R&amp;D and Innovation</li>
                            <li>Sustainable Supply Chain</li>
                            <li>Customer Relationship Management</li>
                        </ul>
                        <hr class="stakeholder">
                        <img src="~/content/en/images/csr/outcome.svg" class="stakeholder-small-icons">
                        <ul class="stakeholder">
                            <li>Satisfied customer percentage is 92% in 2019, which exceeded our "90% satisfied customer" target.</li>
                        </ul>
                    </div>
                </div>
            </li>
            <li>
                <h4>Employees</h4>
                <div class="text-box">
                    <div class="content-wrapper">
                        <img src="~/content/en/images/csr/communication.svg" class="stakeholder-small-icons">
                        <ul class="stakeholder">
                            <li>GM mailbox</li>
                            <li>Intranet web site</li>
                            <li>Satisfaction survey on employees</li>
                            <li>Dedicated employee helpline</li>

                        </ul>
                        <hr class="stakeholder">
                        <img src="~/content/en/images/csr/issues.svg" class="stakeholder-small-icons">
                        <ul class="stakeholder">
                            <li>Occupational Health and Safety</li>
                            <li>Human Rights</li>
                            <li>Talent Development</li>
                            <li>Talent Attraction and Retention</li>
                        </ul>
                        <hr class="stakeholder">
                        <img src="~/content/en/images/csr/outcome.svg" class="stakeholder-small-icons">
                        <ul class="stakeholder">
                            <li>To promote a sustainable safety culture, we organized a seminar on the revision of GRI 403 at our facilities in China. We also adopted standard operating procedures for handling occupational hazard incidents and notifying local authorities within a specified time limit. There were no occupational fatalities at ASEH in 2019.</li>
                            <li>In 2019, we conducted our second employee engagement survey, organized over 410 employee communication seminars for new employees, 320 forums for foreign employees, and 570 employee feedback meetings at our facilities worldwide.</li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="gray-bg">
                <h4>Shareholders</h4>
                <div class="text-box">
                    <div class="content-wrapper">
                        <img src="~/content/en/images/csr/communication.svg" class="stakeholder-small-icons">
                        <ul class="stakeholder">
                            <li>Annual and quarterly financial reports</li>
                            <li>Quarterly earnings conference</li>
                            <li>Annual shareholder meeting</li>
                            <li>Quarterly institutional investors' conference</li>
                        </ul>
                        <hr class="stakeholder">
                        <img src="~/content/en/images/csr/issues.svg" class="stakeholder-small-icons">
                        <ul class="stakeholder">
                            <li>Business Performance</li>
                            <li>Talent Attraction and Retention</li>
                            <li>Energy Management</li>
                        </ul>
                        <hr class="stakeholder">
                        <img src="~/content/en/images/csr/outcome.svg" class="stakeholder-small-icons">
                        <ul class="stakeholder">
                            <li>In 2019, our consolidated operating revenues were NT$413.2 billion, representing an increase of approximately NT$42.1 billion, or 11.3% as compared with 2018.</li>
                        </ul>
                    </div>
                </div>
            </li>
            <li>
                <h4>Suppliers/ Conctructors</h4>
                <div class="text-box">
                    <div class="content-wrapper">
                        <img src="~/content/en/images/csr/communication.svg" class="stakeholder-small-icons">
                        <ul class="stakeholder">
                            <li>Supplier questionnaire survey</li>
                            <li>Supplier on-site audits</li>
                            <li>Annual supplier forum</li>
                            <li>Supplier capacity-building activities</li>
                        </ul>
                        <hr class="stakeholder">
                        <img src="~/content/en/images/csr/issues.svg" class="stakeholder-small-icons">
                        <ul class="stakeholder">
                            <li>Occupational Health and Safety</li>
                            <li>Business Ethics</li>
                            <li>Human Rights</li>
                            <li>Sustainable Supply Chain</li>
                        </ul>
                        <hr class="stakeholder">
                        <img src="~/content/en/images/csr/outcome.svg" class="stakeholder-small-icons">
                        <ul class="stakeholder">
                            <li>After assessing over 100 suppliers worldwide, we presented the Sustainability Excellence Award to three of our suppliers and the Sustainability Partnership Award to six.</li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="gray-bg">
                <h4>Government</h4>
                <div class="text-box">
                    <div class="content-wrapper">
                        <img src="~/content/en/images/csr/communication.svg" class="stakeholder-small-icons">
                        <ul class="stakeholder">
                            <li>Communication meetings, conferences, forums or seminars held by government authorities</li>
                            <li>Proactive dialogue with government authorities</li>
                            <li>Reporting through government portal</li>
                        </ul>
                        <hr class="stakeholder">
                        <img src="~/content/en/images/csr/issues.svg" class="stakeholder-small-icons">
                        <ul class="stakeholder">
                            <li>Regulatory Compliance</li>
                            <li>Water Resource Management</li>
                            <li>Climate Change</li>
                            <li>Occupation Health and Safety</li>
                        </ul>
                        <hr class="stakeholder">
                        <img src="~/content/en/images/csr/outcome.svg" class="stakeholder-small-icons">
                        <ul class="stakeholder">
                            <li>Co-worked with other companies in the semiconductor packaging and testing industry to establish the TSIA ESH Committee for addressing the issues of industrial safety and environmental protection as well as propose amendments in environmental protection regulations to the government.</li>
                            <li>ASECL was awarded a Fire Safety Certificate by the Taoyuan City Government Fire Department.</li>
                        </ul>
                    </div>
                </div>
            </li>
            <li>
                <h4>Community, NGOs and Media</h4>
                <div class="text-box">
                    <div class="content-wrapper">
                        <img src="~/content/en/images/csr/communication.svg" class="stakeholder-small-icons">
                        <ul class="stakeholder">
                            <li>Community perception surveys and needs assessments</li>
                            <li>Communication meetings, forums, seminars or workshops held by NGOs</li>
                            <li>Volunteer activity cooperation with NGO</li>
                            <li>Press releases</li>
                            <li>Spokesperson interviews</li>
                            <li>Company's website</li>
                        </ul>
                        <hr class="stakeholder">
                        <img src="~/content/en/images/csr/issues.svg" class="stakeholder-small-icons">
                        <ul class="stakeholder">
                            <li>Social Involvement</li>
                            <li>Waste and Circular</li>
                            <li>Regulatory Compliance</li>
                            <li>Water Resource Management</li>
                        </ul>
                        <hr class="stakeholder">
                        <img src="~/content/en/images/csr/outcome.svg" class="stakeholder-small-icons">
                        <ul class="stakeholder">
                            <li>We held a press event for media and non-profit foundations, and organized forums and facility visits for concerned professionals to learn about the technologies behind semiconductor manufacturing and ASEH’s achievements in environmental protection.</li>
                            <li>We contributed US$2.1 million in support of environmental conservation programs, charitable activities and civic educational programs through collaboration with 50 NGOs.</li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="gray-bg">
                <h4>Industry Unions And Associations</h4>
                <div class="text-box">
                    <div class="content-wrapper">
                        <img src="~/content/en/images/csr/communication.svg" class="stakeholder-small-icons">
                        <ul class="stakeholder">
                            <li>Organizational member conference</li>
                            <li>Technology forums held by industry unions/associations</li>
                        </ul>
                        <hr class="stakeholder">
                        <img src="~/content/en/images/csr/issues.svg" class="stakeholder-small-icons">
                        <ul class="stakeholder">
                            <li>Regulatory Compliance</li>
                            <li>Business Ethics</li>
                            <li>Waste and Circular</li>
                            <li>Sustainable Supply Chain</li>
                        </ul>
                        <hr class="stakeholder">
                        <img src="~/content/en/images/csr/outcome.svg" class="stakeholder-small-icons">
                        <ul class="stakeholder">
                            <li>We engaged over 140 external organizations and contributed US$0.9 million in public policy and industry development. (can be accessed <a class="blue-link-popover" href="~/en/pdf/contributions-spendings-on-public-affairs-en.pdf" target="_blank">here</a>).</li>
                            <li>The 15T Circular Economy Alliance was established to build a cross-industry exchange platform and achieve industry consensus.</li>
                            <li>Collaboration with the Chung-Hua Institution for Economic Research and Taiwan Institute of Economic Research to promote the smart grid.</li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
<section class="inside-article">
    <div class="content-lg row">
        <article class="col-xs-12">
            <h4 class="sub-title">Materiality Assessment</h4>
            <p>
                ASEH develops its materiality assessment framework according to GRI Standards, AA 1000 Stakeholder Engagement Standard (SES), and Principles of identification, analysis and confirmation. The framework allows ASEH to determine major sustainable development issues, plan relevant strategies, and serves as the basis for compiling the CSR report. For the 2019 Corporate Social Responsibility Report, the CSC collated feedback from 2,297 stakeholders to determine the relative importance of different sustainability issues to our business operations. A 37-member team led by ASEH’s chief operating officer, chief financial officer, chief administration officer, along with the chairperson, general manager/senior executive of key ASEH subsidiaries, selected 14 major issues to be prioritized in driving corporate sustainability and setting long-term sustainability targets.
            </p>
        </article>
    </div>
</section>
<section class="plants-Offices">
    <div class="content-lg row stakeholder-engagement-box">
        <ul id="list-content" class="col-xs-12 list-base list-link office-list-content">
            <li style="background: #e3ead6;">
                <h4>Step 1 Identification: Inclusiveness</h4>
                <div class="text-box">
                    <div class="content-wrapper">
                        <p style="margin-left: -25px; border-bottom: 0">
                            To identify relevant and important issues, ASEH referenced international standards &amp; regulations, sustainable investment ratings and industry peers as well as stakeholder communications. A total of 40 related issues were generated and classified under 17 sustainable development categories.
                        </p>
                        <h5 style="font-size: 15px; font-weight: bold;">5 Economic Issues, 6 Environmental Issues, 6 Social Issues</h5>
                        <ul class="stakeholder nopadding">
                            <li><strong>International standards and regulations:</strong> GRI Standards, SASB, SDGs, RBA</li>
                            <li><strong>Sustainability Investment Assessment:</strong> DJSI, CDP, MSCI ESG Index, FTSE4Good Emerging Index</li>
                            <li><strong>Global semiconductor industry:</strong> Benchmarking sustainability policies and practices from semiconductor companies listed on the DJSI index</li>
                            <li><strong>Stakeholder Engagement:</strong> Analysis of online media reports and regular/occasional stakeholder communication to evaluate stakeholders' perception on sustainability issues</li>
                        </ul>
                    </div>
                </div>
            </li>
            <li style="background: #c4d5aa;">
                <h4>Step 2 Analysis: Materiality</h4>
                <div class="text-box">
                    <div class="content-wrapper">
                        <p style="margin-left: -25px; border-bottom: 0">
                            We follow guidelines from GRI Standards to rate the importance of issues based on the level of stakeholder concern and the effect on the operations of the organization. ASEH collects stakeholder concerns through its routine communication and the use of questionnaires. Senior management are empowered to determine the level of importance and relevance of these findings based on the respective impact to their organizations.
                        </p>
                        <h5 style="font-size: 15px; font-weight: bold;">2,297 Stakeholders, 37 CSC Members</h5>
                        <ul class="stakeholder nopadding">
                            <li>The degree of concern from stakeholders is a key factor in determining the significance of a particular issue. ASEH has designed a questionnaire 2,297 Stakeholders on sustainability that drew a total of 2,297 stakeholders' responses. Respondents include employees (991), customers (101), shareholders (30), suppliers (977), government (64), industry unions/associations (10), and community (124).</li>
                            <li>Integrating ESG (environmental, social and governance) into the company's core operations is a key driver for ASEH's corporate sustainability. A 37-member team of senior management leaders and CSC members participate actively in evaluating the impact of each sustainability topic on the company's revenues, risks and customer satisfaction, and ranking the level of each topic's importance according to the impact.</li>
                        </ul>
                    </div>
                </div>
            </li>
            <li style="background: #97b872;">
                <h4>Step 3 Confirmation: Responsiveness</h4>
                <div class="text-box">
                    <div class="content-wrapper">
                        <h5 style="font-size: 15px; font-weight: bold;">14 Key Issues, 20 Sub-topics</h5>
                        <ul class="stakeholder nopadding">
                            <li>The CSC initially identified 11 material issues that are of importance to stakeholders and of impact to the company’s sustainable development. After further deliberation, the CSC combined sustainable manufacturing with innovation and R&amp;D, and added energy management, climate change, human rights, and social involvement. The assessment ultimately yielded 14 issues of materiality that form the basis for the disclosures in the 2019 CSR report and formulating internal sustainable management goals.</li>
                            <li>A further 20 sub-topics (19 GRI-specific and 1 ASEH-specific) for disclosures were derived from the 14 issues. Other topics of lower priority will also be concurrently disclosed in the report.</li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
<section class="inside-article">
    <div class="content-lg row">
        <article class="col-xs-12">
            <h4 class="sub-title">Results of Materiality Assessment</h4>
            <img src="~/pic/content/en/images/csr/stakeholder_engagement_details.gif">
        </article>
    </div>
</section>