﻿<div>
    <h1>密碼驗證信</h1>
    <p>親愛的 __NAME__ 您好，</p>
    <p>請您於3小時內點擊以下網址 至"日月光電子報"進行密碼重置，謝謝您！</p>
    <p>Please click on the following URL to "ASE newsletter" within 3 hours to reset your password, thank you!</p>
    
    <a href="__FORGET_URL__">__FORGET_URL__</a>
</div>