﻿.required:after {
    content: "*";
    color: red;
    margin: 0 0.5rem;
}

.all-margin * {
    margin: 0px 3px;
}

.d-flex {
    display: flex;
}
.align-items-center {
    align-items: center;
}

.banner-news {
    background: url(/pic/ir_banner.jpg) no-repeat center;
}

.news-icon {
    vertical-align:bottom;
}