﻿.aseSearch input {
    width: 100%;
    padding: 6px;
}

.aseSearch .pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
}

    .aseSearch .pagination > li.active a {
        background-color: #2a93d5;
        color: #fff;
    }

    .aseSearch .pagination > li a {
        padding: 3px 12px;
        border: 1px solid #666;
        border-radius: 6px;
        margin: 6px;
        font-size: 20px;
        color: #333;
    }
/*# sourceMappingURL=ase-search.css.map */
