.aseSiteMap {
  width: 100%;
}

.aseSiteMap > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 20px;
}

.aseSiteMap > ul a {
  color: #333;
  vertical-align: top;
}

.aseSiteMap > ul a:hover {
  color: #2a93d5;
}

.aseSiteMap > ul > li {
  width: calc( 33% - 1rem);
  display: inline-block;
  margin: 0.5rem;
}

@media only screen and (max-width: 1024px) {
  .aseSiteMap > ul > li {
    width: 100%;
  }
}

.aseSiteMap > ul > li > a {
  font-weight: bold;
  border-bottom: 1px solid #666;
}

.aseSiteMap > ul > li > a:hover {
  text-decoration: none;
}

.aseSiteMap > ul > li > ul {
  font-size: 18px;
}

.aseSiteMap > ul > li > ul > li {
  margin: 1rem 0px;
}

.aseSiteMap > ul > li > ul > li > ul {
  font-size: 14px;
}

.aseSiteMap > ul > li > ul > li > ul > li {
  margin: 0.5rem 0px;
}
/*# sourceMappingURL=ase-sitemap.css.map */