a:link {  color: #333333; text-decoration: none}
a:hover {  color: #6600FF! important; text-decoration: underline ! important}
a:visited {  color: #333333; text-decoration: none}

BODY   {	SCROLLBAR-HIGHLIGHT-COLOR: buttonface;
 			SCROLLBAR-SHADOW-COLOR: buttonface;
 			SCROLLBAR-3DLIGHT-COLOR: buttonhighlight;
 			SCROLLBAR-TRACK-COLOR: #eeeeee;
 			SCROLLBAR-DARKSHADOW-COLOR: buttonshadow	}

.chinese {font-size: 12px; line-height: 16px; text-decoration: none; letter-spacing: 1px; color: #333333}

.chinese-tit {font-size: 16px; line-height: 24px; text-decoration: none; letter-spacing: 1px; color: #333333;font-family:Arial, Helvetica, "微軟正黑體", Verdana;}

.english {  font-family: "Arial"; font-size: 12px; color: #333333; text-decoration: none; line-height: 16px}

.english-tit { font-family: "Arial"; font-size: 15px; color: #3366FF; text-decoration: none; line-height: 18px}

.editbox1 {  border-bottom: #333333 1px solid; border-left: #333333 1px solid; border-right: #333333 1px solid; border-top: #333333 1px solid; color: #333333; cursor: text; font-family: "Arial"; font-size: 8pt; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; padding-top: 1px}

.editbox2 {  background: #f2f2f2;  border-bottom: #333333 1px solid; border-left: #333333 1px solid; border-right: #333333 1px solid; border-top: #333333 1px solid; color: #333333; cursor: text; font-family: "Arial"; font-size: 9pt; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; padding-top: 1px}

.editbox3 {  border-bottom: #CCCCCC 1px solid; border-left: #666666 1px solid; border-right: #666666 1px solid; border-top: #666666 1px solid; color: #333333; cursor: text; font-family: "新細明體"; font-size: 9pt; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; padding-top: 1px}

.editbox4 {  background: #f2f2f2; border-bottom: #F2F2F2 1px solid; border-left: #F2F2F2 1px solid; border-right: #F2F2F2 1px solid; border-top: #F2F2F2 1px solid; color: #333333; cursor: text; font-family: "新細明體"; font-size: 9pt; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; padding-top: 1px}

.editbox5 {  background: #FFFFFF; border-bottom: #333333 1px solid; border-left: #FFFFFF 1px solid; border-right: #FFFFFF 1px solid; border-top: #FFFFFF 1px solid; color: #333333; cursor: text; font-family: "Arial"; font-size: 9pt; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; padding-top: 1px}

.editbox6 {  background: #E3E3E3; border-bottom: #333333 1px solid; border-left: #E3E3E3 1px solid; border-right: #E3E3E3 1px solid; border-top: #E3E3E3 1px solid; color: #333333; cursor: text; font-family: "Arial"; font-size: 9pt; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; padding-top: 1px}

.buttom {  background: #F2F2F2; border-bottom: #F2F2F2 1px solid; border-left: #F2F2F2 1px solid; border-right: #F2F2F2 1px solid; border-top: #F2F2F2 3px solid; color: #333333; cursor: crosshair; font-size: 12px; line-height: 12px; text-decoration: none; clip:  rect(   ); vertical-align: text-bottom}

.list-01 {  list-style-position: inside; list-style-image: url(image/icon9.gif); list-style-type: square}
.cnnFormText {  font-family: verdana, "Lucida Sans Typewriter", helvetica;font-size: 10px}
.red {  color: #FF3333; font-weight: bold}
