.quest_form {
    $p: &;
    &__header {
        background-color: #ededeb;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        #{$p}__body {
            font-size: 1.4rem;
        }
    }
    &__topic {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    &__body {
        flex-grow: 1;
        width: 60%;
        padding: 1rem;
        #{$p}__body {
            font-size: 1.2rem;
        }
    }
    &__options {
        display: flex;
        width: 40%;
        align-self: stretch;
        flex-wrap: wrap;
        > * {
            flex-grow: 1;
            flex-shrink: 0;
            flex-basis: 0;
            text-align: center;
            border-left: 1px solid #ccc;
            position: relative;
            display: flex!important;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: 0.5s;
            margin: 0px;
            &:hover {
                background: #eee;
            }
        }
        &__title {
            flex: none!important;
            width: 100%;
            border-bottom: 1px solid #ccc;
        }
    }
    &__optionText {
        display: none;
        font-size: 0.8rem;
    }
}

@media(max-width: 1024px) {
    .quest_form {
        &__body {
            width: 100%;
        }
        &__options {
            width: 100%;
            > * {
                
                border-top: 1px solid #cccccc;
                border-bottom: 1px solid #cccccc;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                padding: 0.5rem;
                &:first-child {
                    border-left: none;
                }
                &:hover {
                    background-color: transparent;
                }
            }
        }
        
        &__optionText {
            display: block;
        }
    }

}