﻿.flex_1 {
    -webkit-box-flex: 1 !important;
    -ms-flex: 1 !important;
    flex: 1 !important;
}

.flex_2 {
    -webkit-box-flex: 2 !important;
    -ms-flex: 2 !important;
    flex: 2 !important;
}

.flex_3 {
    -webkit-box-flex: 3 !important;
    -ms-flex: 3 !important;
    flex: 3 !important;
}

.flex_4 {
    -webkit-box-flex: 4 !important;
    -ms-flex: 4 !important;
    flex: 4 !important;
}

.flex_5 {
    -webkit-box-flex: 5 !important;
    -ms-flex: 5 !important;
    flex: 5 !important;
}

.form .form__col {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 100%;
    padding: 5px 20px;
}

.form .form__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #ededeb;
}

    .form .form__header .form__header__item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
    }

        .form .form__header .form__header__item .form__header__title {
            font-size: 20px;
        }

        .form .form__header .form__header__item .form__header__col {
            -webkit-box-flex: 1;
            -ms-flex: 1;
            flex: 1;
            line-height: 1.6;
            padding: 10px 20px;
        }
        .form .form__header .form__header__item:nth-child(2) .form__header__col {
            display: flex;
            justify-content: center;
        }


@media screen and (max-width: 576px) {
    .form .form__header .form__header__item .form__header__col {
        padding: 10px 5px;
    }
}

.form .form__body .form__body__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
}

    .form .form__body .form__body__row .form__body__item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

        .form .form__body .form__body__row .form__body__item .form__body__col {
            -webkit-box-flex: 1;
            -ms-flex: 1;
            flex: 1;
            line-height: 1.6;
            padding: 10px 20px;
        }
        .form .form__body .form__body__row .form__body__item:nth-child(2) .form__body__col {
            display: flex;
            justify-content: center;
        }

@media screen and (max-width: 576px) {
    .form .form__body .form__body__row .form__body__item .form__body__col {
        padding: 10px 5px;
    }
}


.txt_bold {
    font-weight: bold;
}

.txt_mid {
    font-size: 18px;
}
/*# sourceMappingURL=r.css.map */
