.quest_form__header {
  background-color: #ededeb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.quest_form__header .quest_form__body {
  font-size: 1.4rem;
}

.quest_form__topic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.quest_form__body {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 60%;
  padding: 1rem;
}

.quest_form__body .quest_form__body {
  font-size: 1.2rem;
}

.quest_form__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.quest_form__options > * {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  text-align: center;
  border-left: 1px solid #ccc;
  position: relative;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin: 0px;
}

.quest_form__options > *:hover {
  background: #eee;
}

.quest_form__options__title {
  -webkit-box-flex: 0 !important;
      -ms-flex: none !important;
          flex: none !important;
  width: 100%;
  border-bottom: 1px solid #ccc;
}

.quest_form__optionText {
  display: none;
  font-size: 0.8rem;
}

@media (max-width: 1024px) {
  .quest_form__body {
    width: 100%;
  }
  .quest_form__options {
    width: 100%;
  }
  .quest_form__options > * {
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 0.5rem;
  }
  .quest_form__options > *:first-child {
    border-left: none;
  }
  .quest_form__options > *:hover {
    background-color: transparent;
  }
  .quest_form__optionText {
    display: block;
  }
}
/*# sourceMappingURL=quest.css.map */