﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.Master" AutoEventWireup="true" CodeBehind="MainIndex.aspx.cs" Inherits="ASEH_CMS.MainIndex" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

     <!-- Breadcrumb -->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">Home</li>
        <li class="breadcrumb-item active">Dashboard</li>
      </ol>
     <!-- Breadcrumb Menu-->

      <div class="container-fluid">
        <div class="animated fadeIn">
            <table style="width: 100%;" align="left">
                <tr>
                    <td align="center" class="style3">
                        &nbsp;</td>
                </tr>
                <tr>
                    <td align="center" class="style3">
                    </td>
                </tr>
                <tr>
                    <td align="center">

                    </td>
                </tr>
                <tr>
                    <td align="center" class="style3">
               

                        Welcome<p />
                        <p />
                        <asp:Label ID="lblYourIP" runat="server" Text="Label"></asp:Label><p />
                        <p />
                        <asp:Label ID="lblLoginTime" runat="server" Text="Label"></asp:Label><p />

                        </td>
                </tr>
            </table>
        </div>
      </div>
      <!-- /.conainer-fluid -->

</asp:Content>
