﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="PermissionErr.aspx.cs" Inherits="ASEH_CMS.PermissionErr" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="shortcut icon" href="img/favicon.png" />
<title>後端管理系統</title>
</head>
<body style="background-position: top; background-image: url(Images/login_bg.jpg); background-repeat: repeat-x;">
    <form id="form1" runat="server">
    <div id="login">
    
      <table style="width:100%;height:200px;">
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>

    <table align="center" border="0" cellpadding="0" cellspacing="0" height="400" width="480" bgcolor="#ffffff">
        <tr>
            <td colspan="2">
                <img alt="" height="83" src="Images/logout_05.gif" width="480" /></td>
        </tr>
        <tr>
            <td rowspan="3" width="188">
                <img alt="" height="279" src="Images/no_right_02.gif" width="188" /></td>
        </tr>
        <tr>
            <td height="38">
                <img alt="" height="46" src="Images/no_right_04.gif" width="292" /></td>
        </tr>
        <tr>
            <td height="231" align=center valign="middle">
            <a href='javascript:history.back(-1)' title="點選回上頁">回上頁</a>
              </td>
        </tr>
        <tr>
            <td colspan="2">
                <img alt="" height="83" src="Images/logout_05.gif" width="480" /></td>
        </tr>
    </table>
    
  </div>
 </form>
</body>
</html>
