﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="MessageBar.ascx.cs" Inherits="ASEH_CMS.WebControls.MessageBar" %>

<table cellpadding="0" cellspacing="0" width="100%" class="messagebar">
    <tr>
        <td style="padding-left: 7px; height: 23px;" align="left" class="messagebar">
        訊息：<asp:Label ID="lblMessage" runat="server"></asp:Label>
        </td>
    </tr>
</table>