<div class="ajax-text-and-image white-popup-block">
    <style>
    .ajcol {
        width: 100%; float:left;
    }
    @media all and (max-width:30em) {
        .ajcol { 
            width: 100%;
            float:none;
        }
    }
    </style>
    <div class="ajcol" style="line-height: 1.231;">
        <div style="padding: 20px">
            <p>
                As an international corporate citizen, ASEH endeavors to advance public welfare while we devote ourselves to business operations and shareholder benefit. We seek to effect positive change and impact across the globe society. Where permitted by laws, ASEH supports organizations which have a consistent view with ASEH’s priorities on specific issues and provide venues for important discussion regarding public policy issues and opportunities to advocate for common business interests. We are committed to ensuring that any contributions or spending we make are for the purpose of supporting the public affairs, compliance with all applicable regulations of all countries in which we operate, adequately disclosed in accordance with applicable regulations and reporting requirements, and in accordance with our relevant ethical policies and specifications.
            </p>

            Contributions or spendings on public affairs from FY2016 to FY2019
            <div class='table-responsive inside-table'>
                <table class='table table-striped table-hover csr grey-table'>
                    <thead>
                        <tr>
                            <th></th>
                            <th class='left-border'>FY2016</th>
                            <th class='left-border'>FY2017</th>
                            <th class='left-border'>FY2018</th>
                            <th class='left-border'>FY2019</th>
                        </tr>
                    </thead>
                    <tbody>
                    
                        <tr class='grey'>
                            <td>Total Amount (USD Thousand)</td>
                            <td class='left-border text-center'>327</td>
                            <td class='left-border text-center'>456</td>
                            <td class='left-border text-center'>555</td>
                            <td class='left-border text-center'>783</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <br>Ten largest contributions or spendings on public affairs in FY2019
            <div class='table-responsive inside-table'>
                <table class='table table-striped table-hover csr grey-table'>
                    <thead>
                        <tr>
                            <th>Name of Organizations</th>
                            <th class='left-border'>Total Amount<br>(USD Thousand)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class='grey'>
                            <td>Semiconductor Equipment and Materials International (SEMI)</td><td class='left-border text-center'>133</td>
                        </tr>
                        <tr class='grey'>
                            <td>Taiwan Semiconductor Industry Association (TSIA)</td><td class='left-border text-center'>120</td>
                        </tr>
                        <tr class='grey'>
                            <td>Taiwan Alliance for Sustainable Supply (TASS)</td><td class='left-border text-center'>70</td>
                        </tr>
                        <tr class='grey'>
                            <td>CALCE Electronic Products & Systems Consortium (EPSC)</td><td class='left-border text-center'>65</td>
                        </tr>
                        <tr class='grey'>
                            <td>Responsible Business Alliance (RBA)</td><td class='left-border text-center'>35</td>
                        </tr>
                        <tr class='grey'>
                            <td>Global Semiconductor Alliance (GSA)</td><td class='left-border text-center'>25</td>
                        </tr>
                        <tr class='grey'>
                            <td>Institute of Electrical and Electronics Engineers (IEEE)</td><td class='left-border text-center'>25</td>
                        </tr>
                        <tr class='grey'>
                            <td>International Wireless Industry Consortium (IWPC)</td><td class='left-border text-center'>15</td>
                        </tr>
                        <tr class='grey'>
                            <td>International Labour Organization(ILO) - Korea Employee Federation</td><td class='left-border text-center'>13</td>
                        </tr>
                        <tr class='grey'>
                            <td>Video Electronics Standards Association(VESA)</td><td class='left-border text-center'>10</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div style="clear:both; line-height: 0;"></div>
</div>