    <footer>

        <div id="footer">

          <div class="container">

                <div class="row">

                  <div class="col-md-6 col-md-offset-3 text-center">

                    <p>© 2017 ASE Group. All rights reserved.</p>

                  </div>

                </div>

            </div>

        </div>

    </footer>