@charset "utf-8";

.cookiebar{
	display: none;
	position: fixed;
	bottom: 0;
	background-color: #EEE;
	width: 30%;
	padding: 5px 0 20px 0;
	right:0px;
	bottom:0px;
	z-index:9999;	
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";filter: alpha(opacity=90);-moz-opacity:.9;
	-khtml-opacity: .9; opacity:.9;
	transition: bottom 0.4s ease-in-out;
}

.cookiebar p{
	width:95%; 
	margin: 20px; 
	color: #333; 
	line-height: 20px; 
	font-size: 13px; 
	text-align: left;
}

.cookiebar a{
	text-decoration:none;
	display:inline;
}

.hidedown .cookiebar {
  bottom: -160px;
}

.continuebutton{
	background: rgb(0, 125, 187);
	display:inline;
	margin:	20px;
	border: 0px;
	color: rgb(255, 255, 255); 
	padding: 10px;
	border-radius: 4px; 
	box-shadow: none;
	position: static;
}
.continuebutton a{
	color: rgb(255, 255, 255); 
}
.continuebutton:hover{
	background: rgb(0, 50, 100);
}

.ie8 .cookiebar{
	border-top:4px solid #b5b5b5;
}
.cookieterm_bg{
	background-color: #EEEEEE;
}
.cookieterm{
	width: 70vw;
	margin: 0 auto;
	padding: 20px 60px;
}
.cookieterm_content{
	font-size: 16px;
	line-height: 1.5;
	padding: 5px 30px 20px 30px;
	border-radius: 5px;
	background-color: #FFFFFF;
	margin-bottom: 20px;
}
.cookieterm_content ul{
	margin-bottom: 10px;
}
.cookieterm_content ol{
	margin-bottom: 10px;
}

@media only screen and (max-width : 520px) {
	.cookiebar{
		display: none;
		position: fixed;
		bottom: 0;
		background-color: #FFF;
		width: 100vw;
		padding: 5px 0 20px 0;	
		font-size: 14px;	
		z-index:9999;	
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";filter: alpha(opacity=90);-moz-opacity:.9;
		-khtml-opacity: .9; opacity:.9;
	}
	.cookiebar p{     
		width: 90vw;
	    float: left;
	    text-align: left;
	}

	.continuebutton{
		background: rgb(0, 125, 187);
		display:inline;
		margin:	20px;
		border: 0px;
		color: rgb(255, 255, 255);
		border-radius: 4px;
		position: static;
		box-shadow: none;
	}
	.continuebutton:hover{
		background: rgb(0, 50, 100);
	}
	.cookieterm{
		width: 100vw;
		padding: 20px;
	}
}