﻿@{
    ViewBag.Title = "關於日月光投控";
    ViewBag.BannerStyle = "banner-about";
    Layout = "~/Views/Shared/_Layout_Content.cshtml";
    ViewBag.HeadTitle = "關於日月光投資控股 | 日月光投控";
    ViewBag.Description = "日月光與矽品共組日月光投資控股公司，為全球領先半導體封裝與測試製造服務公司，提供客戶微型化、高效能與高整合的技術服務。";
    ViewBag.enURL = "en/about";
    ViewBag.zhURL = "ch/about";
}

<section class="inside-article">
    <div class="content-lg row">
        <article class="col-xs-12">
            <h3 class="title">關於日月光投資控股</h3>
            <p>
                日月光與矽品共組日月光投資控股公司，攜手開創全新格局，提升研發能量與競爭優勢，建全供應鏈發展，持續拓展全球市場，並提供客戶微型化、高效能與高整合的技術服務與快速產品上市時程，為下一代數位智慧應用的建置，貢獻高階研發與優質的技術解決方案。
            </p>
            <p>
                日月光投控為全球領先半導體封裝與測試製造服務公司，提供半導體客戶包括晶片前段測試及晶圓針測至後段封裝、材料及成品測試的一元化服務。結合專業電子代工製造服務的環電公司，提供完善的電子製造整體解決方案，以卓越技術及創新思維服務半導體、電子與數位科技市場。此外，藉由整合投控下各事業體之資源，可持續結合上下游供應鏈夥伴進一步強化技術創新，以最有效的方式降低營運風險，提升競爭力追求雙贏，確保產業鏈的持續發展。
            </p>
            <p>
                日月光投控將嚴格遵循公司治理守則、實踐且落實永續經營的企業理念。身為國際半導體產業鏈重要成員之一，依全球產業的發展與需求，進行全方位的布局，全力爭取全球的人才及資源，並與產業相互合作發展策略聯盟，以強化持續創新的能力，和企業夥伴共創互榮互利的經營環境，實現科技產業提升全體人類美好生活及友善環境的永續目標。
            </p>
            <p>
                日月光投控全球服務據點涵蓋臺灣、中國、南韓、日本、馬來西亞、新加坡、墨西哥、美國及歐洲多個主要城市，全球員工人數約九萬人。
            </p>

        </article>
        <article class="col-xs-12">
            <h3 class="title"><a href="/ch/milestones">日月光投控大事紀</a></h3>
            <ul class="nopadding">
                <li>
                    105年6月 日月光與矽品董事會分別決議通過雙方簽訂「共同轉換股份協議」，雙方合意共同籌組新設產業控股公司。
                </li>
                <li>
                    107年2月 日月光與矽品於2月12日分別召開股東臨時會，分別通過股份轉換案，由新設之日月光投資控股取得雙方100%股份。
                </li>
                <li>
                    107年4月 日月光投資控股公司於4月30日正式掛牌上市，臺灣證交所股票代號: 3711，美國紐約證交所股票代號: ASX。
                </li>
            </ul>
        </article>
        <article class="col-xs-12">
            <h3 class="title">日月光投控成員</h3>
            <p>
                日月光半導體製造股份有限公司與矽品精密工業股份有限公司為半導體封裝及測試製造服務公司。
            </p>
            <p>
                環電股份有限公司為專業電子代工製造服務領導供應商。
            </p>
            <div class="col-md-4 picture-padding-2">
                <image src="https://3711cdn.r.worldssl.net/pic/content/ch/images/about/building_ase.jpg?1">
                    <br>
                    日月光
</div>
            <div class="col-md-4 picture-padding-2">
                <image src="https://3711cdn.r.worldssl.net/pic/content/ch/images/about/building_spil.jpg">
                    <br>
                    矽品
</div>
            <div class="col-md-4 picture-padding-2">
                <image src="https://3711cdn.r.worldssl.net/pic/content/ch/images/about/building_usi.jpg">
                    <br>
                    環電
</div>
        </article>
    </div>
</section>