﻿@{
    ViewBag.Title = "聯絡日月光投控";
    ViewBag.BannerStyle = "banner-about";
    Layout = "~/Views/Shared/_Layout_Content.cshtml";
    ViewBag.HeadTitle = "聯絡我們 | 日月光投控";
    ViewBag.Description = "聯絡日月光投控";
    ViewBag.enURL = "en/contact";
    ViewBag.zhURL = "ch/contact";
}

<section class="inside-article">
    <div class="content-lg row">
        <article class="col-xs-12">
            <h3 class="title">聯絡我們</h3>
        </article>
    </div>
</section>
<section class="page-list-content section-contact">
    <div class="content-lg row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="list">
                <div class="title">
                    網站詢問
                    <a href="#open01" data-toggle="collapse" class="collapsed feedback"></a>
                </div>
                <div class="content-wrapper content-feedback">
                    <div id="open01" class="collapse text-center">
                        若您有任何關於網站的問題、意見或建議，請<a href="mailto:ase_webmaster@aseglobal.com">直接聯繫</a>我們。
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-lg row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="list">
                <div class="title">
                    媒體詢問
                    <a href="#open02" data-toggle="collapse" class="collapsed feedback"></a>
                </div>
                <div class="content-wrapper content-feedback">
                    <div id="open02" class="collapse text-center">
                        <strong>Eddie Chang</strong><br>
                        886-2-66365678<br>
                        <a href="mailto:eddie_chang@aseglobal.com">eddie_chang@aseglobal.com</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-lg row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="list">
                <div class="title">
                    企業社會責任詢問
                    <a href="#open03" data-toggle="collapse" class="collapsed feedback"></a>
                </div>
                <div class="content-wrapper content-feedback">
                    <div id="open03" class="collapse text-center">
                        若您對於日月光企業社會責任有任何建議與問題，請<a href="mailto:ASEH_CSR@aseglobal.com">直接聯繫</a>我們.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-lg row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="list">
                <div class="title">
                    業務詢問
                    <a href="#open04" data-toggle="collapse" class="collapsed feedback"></a>
                </div>
                <div class="content-wrapper content-feedback">
                    <div id="open04" class="collapse text-center">
                        <div class="col-md-5 col-xs-3"></div>
                        <div class="col-md-2 col-xs-6">
                            <ul class="nopadding" style="text-align: left;">
                                <li><a href="https://ase.aseglobal.com/ch/About/plants_offices" target="_blank">聯繫日月光</a></li>
                                <li><a href="https://www.spil.com.tw/chinese/contact/" target="_blank">聯繫矽品</a></li>
                                <li><a href="https://www.usiglobal.com/tw/sales_office" target="_blank">聯繫環隆電氣</a></li>
                            </ul>
                        </div>
                        <div class="col-md-5 col-xs-3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-lg row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="list">
                <div class="title">
                    投資人關係聯絡
                    <a href="#open05" data-toggle="collapse" class="collapsed feedback"></a>
                </div>
                <div class="content-wrapper content-feedback">
                    <div id="open05" class="collapse text-center">
                        若您有任何關於日月光投資人關係服務的資訊與建議，請瀏覽 <a href="https://ir.aseglobal.com/html/ir_contact.php">投資人關係網頁</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
$(function(){
    $('a.feedback').click(function(){
        if($(this).parent().attr('style')=='' || $(this).parent().prop('style').length==0){
           $(this).parent().attr('style','border:none;background: #eee;');
        }else
        {
            $(this).parent().attr('style','');
        }
    });
});
</script>