﻿@{ 
    
    Layout = "~/Views/Shared/_Layout_Content.cshtml";
    
    ViewBag.Title = "邁向永續共贏的未來";
    ViewBag.BannerStyle = "banner-csr";
    ViewBag.HeadTitle = "永續焦點 | 日月光投控";
    ViewBag.Description = "了解日月光投控如何推動永續治理、綠色轉型、責任採購、包容職場以及企業公民，達成正向改變與永續發展。";
    ViewBag.enURL = "en/csr";
    ViewBag.zhURL = "ch/csr";
}
<section class="inside-article">
    <div class="content-lg row">
        <article class="col-xs-12">
            <p>
                <br>
                日月光投控以「低碳使命、循環再生、社會共融、價值共創」四大面向作為企業永續發展策略，據此發展智慧工廠、效率防疫、能資源循環及資安管理等創新模式與制度，因應產業趨勢，有效掌握社會脈動，並深耕永續價值與文化，落實企業社會責任，推動正面影響力。
            </p>
        </article>
    </div>
</section>
<section id="iconlink" class="iconlink linebg-3">
    <div class="content-lg row">
        <ul class="row row_padding_0 item-csr">
            <li class="col-xs-12 col-sm-6 col-md-3 text-center">
                <a href="/content/ch/csr_smart_factories.html">
                    <div class="imgbox">
                        <img src="/pic/content/en/images/csr/icon_smart_factories.png" alt="智慧工廠" data-hover="/pic/content/en/images/csr/icon_smart_factories-hover.png">
                    </div>
                    <div class="textbox">
                        <h4>智慧工廠</h4>
                        <div class="text">
                            <p>日月光半導體自2015年始投入智慧製造數位轉型，至今已成功建置11座智慧工廠，並以2020年底增至18座的目標前進。</p>
                        </div>
                    </div>
                    <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                </a>
            </li>
            <li class="col-xs-12 col-sm-6 col-md-3 text-center">
                <a href="/content/ch/csr_pandemic_preparedness.html">
                    <div class="imgbox">
                        <img src="/pic/content/en/images/csr/icon_pandemic_preparedness.png" alt="效率防疫" data-hover="/pic/content/en/images/csr/icon_pandemic_preparedness-hover.png">
                    </div>
                    <div class="textbox">
                        <h4>效率防疫</h4>
                        <div class="text">
                            <p>日月光投控全球廠區採取最嚴謹的健康防疫措施，以有效溝通與提前部署做為防疫關鍵，落實危機管理、明確應對以減輕相關衝擊。</p>
                        </div>
                    </div>
                    <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                </a>
            </li>
            <li class="col-xs-12 col-sm-6 col-md-3 text-center" style="border-right: 1px solid #cccccc">
                <a href="/content/ch/csr_energy_resources_recycling.html">
                    <div class="imgbox">
                        <img src="/pic/content/en/images/csr/icon_energy_resources_recycling.png" alt="能資源循環" data-hover="/pic/content/en/images/csr/icon_energy_resources_recycling-hover.png">
                    </div>
                    <div class="textbox">
                        <h4>能資源循環</h4>
                        <div class="text">
                            <p>日月光投控積極節能減排，擴展綠色供應鏈，持續使用再生能源，並發展智慧能源技術與投資再生能源計畫。</p>
                        </div>
                    </div>
                    <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                </a>
            </li>
            <li class="col-xs-12 col-sm-6 col-md-3 text-center">
                <a href="/content/ch/csr_information_security_management_policy.html">
                    <div class="imgbox">
                        <img src="/pic/content/en/images/csr/icon_cybersecurity_management.png" alt="資安管理" data-hover="/pic/content/en/images/csr/icon_cybersecurity_management-hover.png">
                    </div>
                    <div class="textbox">
                        <h4>資安管理</h4>
                        <div class="text">
                            <p>日月光投控全球25個廠區全面導入NIST CSF 成熟度評量，推動全面網路安全規劃與定期改進計畫。</p>
                        </div>
                    </div>
                    <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                </a>
            </li>
        </ul>
    </div>
</section>
<section class="inside-article">
    <div class="content-lg row">
        <article class="col-xs-12">
            <h3 class="title">永續焦點</h3>
            <p>了解我們如何推動永續治理、綠色轉型、責任採購、包容職場以及企業公民，達成正向改變與永續發展。</p>
        </article>
    </div>
</section>

<section class="inside-article">
    <div class="technology-bottom-flex">
        <div class="carousel slide focus-carousel" data-ride="carousel" data-interval="9000" id="focus">
            <ol class="carousel-indicators">
                <li data-target="#focus" data-slide-to="0" class="active"></li>
                <li data-target="#focus" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <div class="row">
                        <div class="col-md-4">
                            <a href="@Url.Action("Csr_Sustainability_Governance", "Ch")"><img alt="" src="https://3711cdn.r.worldssl.net/pic/Content/ch/images/icon/p1.png" style="width: 100%"><br><h4>永續治理</h4></a><br />
                            <!-- <a href="@Url.Action("Csr_Corporate_Sustainability_Policy", "Ch")">企業永續政策</a><br />
                            <!-- <a href="@Url.Action("Csr_Sustainability_Strategy", "Ch")">永續發展策略</a><br /> -->
                            <!-- <a class="p" href="~/content/ch/csr_organization_structure.html">組織與架構</a><br /> -->
                            <a href="@Url.Action("Csr_Business_Conduct_Ethics", "Ch")">商業行為與道德</a><br />
                            <!-- <a href="@Url.Action("Csr_Human_Rights_Management", "Ch")">人權政策</a><br /> -->
                            <a href="~/content/ch/csr_risk_management.html">風險管理</a><br />
                            <a class="p" href="https://ir.aseglobal.com/c/ir_corpor.php">董事會運作</a><br />
                            <a class="p" href="~/content/ch/csr_succession_planning.html">接班傳承計畫</a><br />
                            <a class="p" href="~/Content/ch/csr_information_security_management_policy.html">資安管理</a><br />
                            <a class="p" href="@Url.Action("IP_Management", "Ch")">智財管理</a>
                        </div>
                        <div class="col-md-4">
                            <a class="" href="~/content/ch/csr_green_transformation.html"><img alt="" src="https://3711cdn.r.worldssl.net/pic/content/ch/images/icon/p2.png" style="width: 100%"><br><h4>綠色轉型</h4></a>
                            <a class="p" href="~/content/ch/csr_climate_change_energy_management.html">氣候變遷與能源管理</a><br />
                            <a class="p" href="~/content/ch/csr_water_resource_management.html">水管理</a><br />
                            <a class="p" href="~/content/ch/csr_waste_management.html">廢棄物管理</a><br />
                            <a class="p" href="~/content/ch/csr_green_facility.html">綠色廠房</a>
                        </div>
                        <div class="col-md-4">
                            <a class="" href="~/content/ch/csr_responsible_procurement.html"><img alt="" src="https://3711cdn.r.worldssl.net/pic/content/ch/images/icon/p3.png" style="width: 100%"><br><h4>責任採購</h4></a>
                            <a class="p" href="~/content/ch/csr_supply_chain_management_framework.html">供應鏈管理框架</a><br />
                            <a class="p" href="~/content/ch/csr_supply_chain_sustainability_management.html">供應商永續管理</a><br />
                            <a class="p" href="~/content/ch/csr_conflict_minerals_compliance.html">衝突礦產承諾</a><br />
                            <a class="p" href="~/content/ch/supplier-sustainability-excellence-award.html">供應商永續獎專區</a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-md-4 col-md-offset-2">
                            <a class="" href="~/content/ch/csr_inclusive_workplace.html"><img alt="" src="https://3711cdn.r.worldssl.net/pic/Content/ch/images/icon/p4.png" style="width: 100%"><br><h4>包容職場</h4></a>
                            <a class="p" href="~/content/ch/csr_global_recruitment_diversity.html">全球招募與多元人才</a><br />
                            <a class="p" href="~/content/ch/csr_talent_attraction_retention.html">人才吸引與留任</a><br />
                            <a class="p" href="~/content/ch/csr_talent_cultivation_development.html">人才培育與發展</a><br />
                            <a class="p" href="~/content/ch/csr_occupational_health_safety.html">職業健康與安全</a>
                        </div>
                        <div class="col-md-4">
                            <a class="" href="~/content/ch/csr_corporate_citizenship.html"><img alt="" src="https://3711cdn.r.worldssl.net/pic/content/ch/images/icon/p5.png" style="width: 100%"><br><h4>企業公民</h4></a>
                            <a class="p" href="~/content/ch/csr_social_involvement_overview.html">社會影響力</a><br />
                            <a class="p" href="~/content/ch/csr_environmental_conservation.html">環保公益</a><br />
                            <a class="p" href="~/content/ch/csr_industry-academia_collaborations.html">產學教育</a><br />
                            <a class="p" href="~/content/ch/csr_community_engagement.html">社區營造</a><br />
                            <a class="p" href="~/content/ch/csr_public_advocacy.html">永續倡議</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <a data-slide="prev" href="#focus" class="left carousel-control">‹</a>
            <a data-slide="next" href="#focus" class="right carousel-control">›</a> -->
        </div>
    </div>
    <div class="row">
        <div class="container technology-carousel">
            <div class='col-xs-12 nopadding'>
                <div class="carousel slide media-carousel" data-ride="carousel" data-interval="9000" id="media">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#media" data-slide-to="0" class="active"></li>
                        <li data-target="#media" data-slide-to="1"></li>
                        <li data-target="#media" data-slide-to="2"></li>
                        <li data-target="#media" data-slide-to="3"></li>
                        <li data-target="#media" data-slide-to="4"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="col-xs-12" style="padding: 0 5px;">
                                <a href="@Url.Action("Csr_Sustainability_Governance", "Ch")"><img alt="" src="https://3711cdn.r.worldssl.net/pic/Content/ch/images/icon/p1.png" style="width: 100%"><br><h4>永續治理</h4></a><br />
                                <!-- <a href="@Url.Action("Csr_Corporate_Sustainability_Policy", "Ch")">企業永續政策</a><br /> -->
                                <!-- <a href="@Url.Action("Csr_Sustainability_Strategy", "Ch")">永續發展策略</a><br /> -->
                                <!-- <a class="p" href="~/content/ch/csr_organization_structure.html">組織與架構</a><br /> -->
                                <a href="@Url.Action("Csr_Business_Conduct_Ethics", "Ch")">商業行為與道德</a><br />
                                <!-- <a href="@Url.Action("Csr_Human_Rights_Management", "Ch")">人權政策</a><br /> -->
                                <a href="~/content/ch/csr_risk_management.html">風險管理</a><br />
                                <a class="p" href="https://ir.aseglobal.com/c/ir_corpor.php">董事會運作</a><br />
                                <a class="p" href="~/content/ch/csr_succession_planning.html">接班傳承計畫</a><br />
                                <a class="p" href="~/Content/ch/csr_information_security_management_policy.html">資安管理</a><br />
                                <a class="p" href="@Url.Action("IP_Management", "Ch")">智財管理</a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-xs-12" style="padding: 0 5px">
                                <a class="" href="~/content/ch/csr_green_transformation.html"><img alt="" src="https://3711cdn.r.worldssl.net/pic/content/ch/images/icon/p2.png" style="width: 100%"><br><h4>綠色轉型</h4></a>
                                <a class="p" href="~/content/ch/csr_climate_change_energy_management.html">氣候變遷與能源管理</a><br />
                                <a class="p" href="~/content/ch/csr_water_resource_management.html">水管理</a><br />
                                <a class="p" href="~/content/ch/csr_waste_management.html">廢棄物管理</a><br />
                                <a class="p" href="~/content/ch/csr_green_facility.html">綠色廠房</a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-xs-12" style="padding: 0 5px">
                                <a class="" href="~/content/ch/csr_responsible_procurement.html"><img alt="" src="https://3711cdn.r.worldssl.net/pic/content/ch/images/icon/p3.png" style="width: 100%"><br><h4>責任採購</h4></a>
                                <a class="p" href="~/content/ch/csr_supply_chain_management_framework.html">供應鏈管理框架</a><br />
                                <a class="p" href="~/content/ch/csr_supply_chain_sustainability_management.html">供應商永續管理</a><br />
                                <a class="p" href="~/content/ch/csr_conflict_minerals_compliance.html">衝突礦產承諾</a><br />
                                <a class="p" href="~/content/ch/supplier-sustainability-excellence-award.html">供應商永續獎專區</a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-xs-12" style="padding: 0 5px">
                                <a class="" href="~/content/ch/csr_inclusive_workplace.html"><img alt="" src="https://3711cdn.r.worldssl.net/pic/content/ch/images/icon/p4.png" style="width: 100%"><br><h4>包容職場</h4></a>
                                <a class="p" href="~/content/ch/csr_global_recruitment_diversity.html">全球招募與多元人才</a><br />
                                <a class="p" href="~/content/ch/csr_talent_attraction_retention.html">人才吸引與留任</a><br />
                                <a class="p" href="~/content/ch/csr_talent_cultivation_development.html">人才培育與發展</a><br />
                                <a class="p" href="~/content/ch/csr_occupational_health_safety.html">職業健康與安全</a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-xs-12" style="padding: 0 5px">
                                <a class="" href="~/content/ch/csr_corporate_citizenship.html"><img alt="" src="https://3711cdn.r.worldssl.net/pic/content/ch/images/icon/p5.png" style="width: 100%"><br><h4>企業公民</h4></a>
                                <a class="p" href="~/content/ch/csr_social_involvement_overview.html">社會影響力</a><br />
                                <a class="p" href="~/content/ch/csr_environmental_conservation.html">環保公益</a><br />
                                <a class="p" href="~/content/ch/csr_industry-academia_collaborations.html">產學教育</a><br />
                                <a class="p" href="~/content/ch/csr_community_engagement.html">社區營造</a><br />
                                <a class="p" href="~/content/ch/csr_public_advocacy.html">永續倡議</a>
                            </div>
                        </div>
                        <a data-slide="prev" href="#media" class="left carousel-control">‹</a>
                        <a data-slide="next" href="#media" class="right carousel-control">›</a>
                    </div>
                    <script>
                        $(document).ready(function () {
                            $('[data-toggle="popover"]').popover();
                            $("#focus").swiperight(function () { /* enables the swiping on phone */
                                $(this).carousel('prev');
                            });
                            $("#focus").swipeleft(function () { /* enables the swiping on phone */
                                $(this).carousel('next');
                            });
                            $("#media").swiperight(function () { /* enables the swiping on phone */
                                $(this).carousel('prev');
                            });
                            $("#media").swipeleft(function () { /* enables the swiping on phone */
                                $(this).carousel('next');
                            });
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="inside-article">
    <div class="content-lg row">
        <article class="col-md-10 col-md-offset-1 text-center" style="padding: 60px 0;">
            <div class="col-md-12 nopadding">
                <img src="/pic/content/ch/images/csr/csr_mov.jpg">
            </div>
            <div style="position:absolute; left:25%; top: 35%; z-index:100; margin:0 auto; background-color: rgba(0, 0, 0, 0.5); border-radius: 5px; width: 50%; height: 30%; padding: 6%;">
                <a class="button videoButton popupVideo" href="https://www.aseglobal.com/marcom/files/C46A77B7E357658D46611150CAF413CB0869A558A30117536B25B12932F54FCA" target="_blank"><span style="padding-top: 4px;">立即觀看</span><i class="icon-play"></i></a>
            </div>
        </article>
    </div>
</section>
<section id="iconlink" class="csr-bg">
    <div class="content-lg row">
        <div class="container" style="margin: 100px 0;">
            <div class="col-xs-6 col-sm-6 col-md-4 hide-in-small" style="padding: 0 5px">
                <a href="javascript:" data-toggle="popover" data-trigger="hover" data-content="蟬聯 2016-2020 道瓊永續指數(DJSI) 產業領導者 (Industry Leader)，並入選DJSI「世界指數」與「新興市場指數」成份股。" data-placement="bottom">
                    <div class="lab-type white">
                        <img src="https://3711cdn.r.worldssl.net/pic/content/ch/images/csr/logo_DJSI.jpg?1" style="width: 100%">
                    </div>
                </a>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4" style="padding: 0 5px">
                <div class="lab-type lightblue">
                    <img src="https://3711cdn.r.worldssl.net/pic/content/ch/images/csr/logo_text.png" style="width: 100%">
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4 hide-in-large" style="padding: 0 5px">
                <a href="javascript:" data-toggle="popover" data-trigger="hover" data-content="蟬聯 2016-2020 道瓊永續指數(DJSI) 產業領導者 (Industry Leader)，並入選DJSI「世界指數」與「新興市場指數」成份股。" data-placement="bottom">
                    <div class="lab-type white">
                        <img src="https://3711cdn.r.worldssl.net/pic/content/ch/images/csr/logo_DJSI.jpg?1" style="width: 100%">
                    </div>
                </a>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4" style="padding: 0 5px">
                <a href="javascript:" data-toggle="popover" data-trigger="hover" data-html="true" data-content="榮獲2016, 2018, 2019, 2020年CDP氣候變遷評比 A List。<br />榮獲2020年CDP水安全專案評比 A List。" data-placement="bottom">
                    <div class="lab-type white">
                        <img src="https://3711cdn.r.worldssl.net/pic/content/ch/images/csr/logo_CDP.jpg?1" style="width: 100%">
                    </div>
                </a>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4" style="padding: 0 5px">
                <a href="javascript:" data-toggle="popover" data-trigger="hover" data-content="榮獲2018, 2019, 2020年TCSA台灣企業永續獎「企業永續報告白金獎」。" data-placement="bottom">
                    <div class="lab-type white">
                        <img src="https://3711cdn.r.worldssl.net/pic/content/ch/images/csr/logo_TCSA.jpg" style="width: 100%">
                    </div>
                </a>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4 hide-in-small" style="padding: 0 5px">
                <div class="lab-type lightgray">
                    <img src="https://3711cdn.r.worldssl.net/pic/content/ch/images/csr/logo_ase.png" data-hover="https://3711cdn.r.worldssl.net/pic/content/ch/images/csr/logo_ase.png">
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4" style="padding: 0 5px">
                <a href="javascript:" data-toggle="popover" data-trigger="hover" data-content="2015~2019年連續入選英國富時社會責任指數(FTSE4Good)新興市場指數成分股。" data-placement="bottom">
                    <div class="lab-type white">
                        <img src="https://3711cdn.r.worldssl.net/pic/content/ch/images/csr/logo_FTSE4Good.jpg" style="width: 100%">
                    </div>
                </a>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4" style="padding: 0 5px">
                <a href="javascript:" data-toggle="popover" data-trigger="hover" data-content="入選 RobecoSAM世界企業永續年鑑，並連續四年獲得「金級」殊榮，是「全球半導體及半導體設備」產業中排名前1%的企業。" data-placement="bottom">
                    <div class="lab-type white">
                        <img src="https://3711cdn.r.worldssl.net/pic/content/ch/images/csr/logo_SAM.jpg" style="width: 100%">
                    </div>
                </a>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4" style="padding: 0 5px">
                <a href="javascript:" data-toggle="popover" data-trigger="hover" data-content="榮登湯森路透2018年全球百大技術領袖。" data-placement="bottom">
                    <div class="lab-type white">
                        <img src="https://3711cdn.r.worldssl.net/pic/content/ch/images/csr/logo_TR.jpg" style="width: 100%">
                    </div>
                </a>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4" style="padding: 0 5px">
                <a href="javascript:" data-toggle="popover" data-trigger="hover" data-content="2018~2019年連續入選臺灣指數公司與英國富時社會責任指數(FTSE4Good)所共同編製的「臺灣永續指數」(FTSE4Good TIP Taiwan ESG Index)成分股。" data-placement="bottom">
                    <div class="lab-type white">
                        <img src="https://3711cdn.r.worldssl.net/pic/content/ch/images/csr/logo_TIP.jpg" style="width: 100%">
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<section id="iconlink" class="iconlink linebg-2">
    <div class="content-lg row">
        <ul class="row row_padding_0 item-csr">
            <li class="col-xs-12 col-sm-4 col-md-4 text-center">
                <a href="/ch/csr_stakeholder_engagement">
                    <div class="imgbox">
                        <img src="https://3711cdn.r.worldssl.net/pic/content/ch/images/icon/csr_icon-05.png" alt="利害關係人專區" data-hover="https://3711cdn.r.worldssl.net/pic/content/ch/images/icon/csr_icon-05_hover.png">
                    </div>
                    <div class="textbox">
                        <h4>利害關係人專區</h4>
                        <div class="text">
                            <p>透過各種溝通管道與平台，我們將利害關係人的回覆和建議納入策略與營運規劃中。</p>
                        </div>
                    </div>
                    <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                </a>
            </li>
            <li class="col-xs-12 col-sm-4 col-md-4 text-center" style="border-right: 1px solid #cccccc">
                <a href="/ch/csr_download">
                    <div class="imgbox">
                        <img src="https://3711cdn.r.worldssl.net/pic/content/ch/images/icon/csr_icon-06.png" alt="企業社會責任下載專區" data-hover="https://3711cdn.r.worldssl.net/pic/content/ch/images/icon/csr_icon-06_hover.png">
                    </div>
                    <div class="textbox">
                        <h4>企業社會責任下載專區</h4>
                        <div class="text">
                            <p>閱讀與下載日月光企業社會責任報告書，觀看與下載永續相關影片。</p>
                        </div>
                    </div>
                    <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                </a>
            </li>
            <li class="col-xs-12 col-sm-4 col-md-4 text-center">
                <a href="/ch/news_login">
                    <div class="imgbox">
                        <img src="https://3711cdn.r.worldssl.net/pic/news-icon.png?1" alt="電子報" data-hover="https://3711cdn.r.worldssl.net/pic/news-icon-hover.png?1">
                    </div>
                    <div class="textbox">
                        <h4>電子報</h4>
                        <div class="text">
                            <p>歡迎訂閱電子報，掌握日月光投控最新的企業社會責任資訊～</p>
                        </div>
                    </div>
                    <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                </a>
            </li>
        </ul>
    </div>
</section>

<section class="csr-news">
    <div class="content-lg row">
        <div class="col-xs-12">
            <div class="list">
                <h4 class="text-center">
                    關注CSR<a href="~/content/ch/csr_news.html" class="circle_button"><i class="icon-cross"></i></a>
                </h4>
                <div class="content">
                    <a href="~/en/press_room_detail/2020_djsi_industry_leader">
                        <div class="textbox">
                            <p class="title">日月光五連霸 榮獲道瓊永續領導者殊榮</p>
                            <p class="text">日月光投控(TAIEX: 3711, NYSE: ASX)今日宣佈連續第五年榮獲道瓊永續指數「半導體及半導體設備產業」領導者(DJSI Semiconductors and Semiconductor Equipment Industry Leader)殊榮，為台灣首家於全球半導體封測業五度蟬聯企業領導者之公司。</p>
                        </div>
                        <div class="circle_button-wrapper">
                            <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="linebg-2">
    <div class="content-lg text-center" style="padding: 100px 0">
        <h2>歡迎關注</h2>
        <span style="padding-top: 10px;">
            <a href="https://twitter.com/asegroup_global" target="_blank" style="margin: 0 10px">
                <img src="https://3711cdn.r.worldssl.net/pic/content/en/images/icon/icon_twitter.png" alt="Ase Group Twitter" />
            </a>
            <a href="https://tw.linkedin.com/company/ase-group" target="_blank" style="margin: 0 10px">
                <img src="https://3711cdn.r.worldssl.net/pic/content/en/images/icon/icon_linkedin.png" alt="Ase Group Linkedin" />
            </a>
            <a href="javascript:" data-toggle="popover" data-trigger="hover" data-placement="top" data-html="true" data-content="
              <div class='weChat'>
                <img src='https://3711cdn.r.worldssl.net/pic/content/ch/images/icon/ASE_wechat.png' style='width:160px; height:192px' />
              </div>
            " style="margin: 0 10px">
                <img class="m1" src="https://3711cdn.r.worldssl.net/pic/content/en/images/icon/icon_wechat.png" alt="Ase Group WeChat" />
            </a>
            <a href="javascript:" data-toggle="popover" data-trigger="hover" data-placement="top" data-html="true" data-content="
              <div class='weChat'>
                <img src='https://3711cdn.r.worldssl.net/pic/content/ch/images/icon/ase_line.png' style='width:160px; height:192px' />
              </div>
            " style="margin: 0 10px">
                <img class="m1" src="https://3711cdn.r.worldssl.net/pic/content/en/images/icon/icon_line.png" alt="Ase Group LINE" />
            </a>
        </span>
    </div>
</section>

<script>
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover();
        $("#focus").swiperight(function () { /* enables the swiping on phone */
            $(this).carousel('prev');
        });
        $("#focus").swipeleft(function () { /* enables the swiping on phone */
            $(this).carousel('next');
        });
        $("#media").swiperight(function () { /* enables the swiping on phone */
            $(this).carousel('prev');
        });
        $("#media").swipeleft(function () { /* enables the swiping on phone */
            $(this).carousel('next');
        });
    });
</script>