﻿@model ASEH_Front.Models.ReportQuestionnaire.ReportQuestionnaireViewModel

@{
    ViewBag.Title = "企業社會責任";
    ViewBag.BannerStyle = "banner-csr";
    Layout = "~/Views/Shared/_Layout_Content.cshtml";
}

<section class="inside-article">
    <div class="content-lg row">
        <article class="col-xs-12">
            <h3 class="title">企業社會責任報告書問卷</h3>
            <h4 class="sub-title">各位關注日月光投控的利害關係人，大家好！</h4>
            <p>
                日月光投控每年持續進行社會責任報告書的編撰與出版，揭露我們對於社會責任的各種作法與永續發展的績效。為使揭露的資訊內容能夠更符合社會大眾的需求，在此誠摯地邀請您提供寶貴的意見與建議，協助我們瞭解您所關注的議題，做為資訊揭露的重要參考依據。本調查採不記名方式，所得資料僅作為日月光投控分析外界關注議題使用，不作為其他用途。
            </p>

            <h4 class="sub-title">您和日月光投控的關係：</h4>
            @using (Html.BeginForm("Csr_Report_Questionnaire", "Ch", FormMethod.Post, new { @class = "form-inline" }))
            {
                @Html.AntiForgeryToken()

                <div class="col-sm-4">
                    <label class="radio-inline">
                        <input type="radio" name="stakeholder" value="Employee" @(Model.stakeholder == "Employee" ? "checked" : "")> 員工
                    </label>
                </div>
                <div class="col-sm-4">
                    <label class="radio-inline">
                        <input type="radio" name="stakeholder" value="Customer" @(Model.stakeholder == "Customer" ? "checked" : "")> 客戶
                    </label>
                </div>
                <div class="col-sm-4">
                    <label class="radio-inline">
                        <input type="radio" name="stakeholder" value="Supplier / Contractor" @(Model.stakeholder == "Supplier / Contractor" ? "checked" : "")> 供應商/承攬商
                    </label>
                </div>
                <div class="col-sm-4">
                    <label class="radio-inline">
                        <input type="radio" name="stakeholder" value="Shareholder / Investor" @(Model.stakeholder == "Shareholder / Investor" ? "checked" : "")> 股東/投資人
                    </label>
                </div>
                <div class="col-sm-4">
                    <label class="radio-inline">
                        <input type="radio" name="stakeholder" value="Community Resident" @(Model.stakeholder == "Community Resident" ? "checked" : "")> 社區
                    </label>
                </div>
                <div class="col-sm-4">
                    <label class="radio-inline">
                        <input type="radio" name="stakeholder" value="Industry Unions / Association" @(Model.stakeholder == "Industry Unions / Association" ? "checked" : "")> 產業工會/協會
                    </label>
                </div>
                <div class="col-sm-4">
                    <label class="radio-inline">
                        <input type="radio" name="stakeholder" value="NGO / NPO" @(Model.stakeholder == "NGO / NPO" ? "checked" : "")> 非政府組織/非營利機構
                    </label>
                </div>
                <div class="col-sm-4">
                    <label class="radio-inline">
                        <input type="radio" name="stakeholder" value="Government" @(Model.stakeholder == "Government" ? "checked" : "")> 政府
                    </label>
                </div>
                <div class="col-sm-4">
                    <label class="radio-inline">
                        <input type="radio" name="stakeholder" value="Media" @(Model.stakeholder == "Media" ? "checked" : "")> 媒體
                    </label>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="radio-inline">
                            <input type="radio" name="stakeholder" value="Other" @(Model.stakeholder == "Other" ? "checked" : "")> 其他(請描述)：
                            <input type="text" class="form-control" name="other" style="height:24px;" value="@(Model.other)">
                        </label>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        @if (@ViewData["stakeholder"] != null)
                        {
                            <span style="color: red;">@ViewData["stakeholder"]</span>
                        }
                    </div>
                </div>
                <p>&nbsp;</p>
                <h4 class="sub-title">請您針對下列議題，勾選您的關注程度。</h4>
                <div class="table-responsive inside-table">
                    <table class="table csr grey-table table-with-border">
                        <tbody>
                            <tr class="grey">
                                <td rowspan="2" colspan="2" class="col-sm-4">永續議題</td>
                                <td rowspan="2" class="col-sm-4">說明</td>
                                <td colspan="6" class="col-sm-4">議題關心度</td>
                            </tr>
                            <tr class="grey">
                                <td class="col-sm-1">非常關注</td>
                                <td class="col-sm-1">經常關注</td>
                                <td class="col-sm-1">普通關注</td>
                                <td class="col-sm-1">稍微關注</td>
                                <td class="col-sm-1">不太關注</td>
                                <td class="col-sm-1">不關注</td>
                            </tr>
                            <tr class="white">
                                <td rowspan="10">經濟</td>
                                <td>公司治理</td>
                                <td>治理結構和組成；董事會監督公司策略的獨立能力</td>
                                <td class="text-center"><input type="radio" name="Corporate" value="VeryHigh" checked="checked"></td>
                                <td class="text-center"><input type="radio" name="Corporate" value="High"></td>
                                <td class="text-center"><input type="radio" name="Corporate" value="SlightlyHigh"></td>
                                <td class="text-center"><input type="radio" name="Corporate" value="SlightlyLow"></td>
                                <td class="text-center"><input type="radio" name="Corporate" value="Low"></td>
                                <td class="text-center"><input type="radio" name="Corporate" value="VeryLow"></td>
                            </tr>
                            <tr class="white">
                                <td>商業道德</td>
                                <td>行為準則和道德守則； 反貪腐； 反競爭行為；資訊安全(含客戶機密資訊保護)</td>
                                <td class="text-center"><input type="radio" name="Ethics" value="VeryHigh" checked="checked"></td>
                                <td class="text-center"><input type="radio" name="Ethics" value="High"></td>
                                <td class="text-center"><input type="radio" name="Ethics" value="SlightlyHigh"></td>
                                <td class="text-center"><input type="radio" name="Ethics" value="SlightlyLow"></td>
                                <td class="text-center"><input type="radio" name="Ethics" value="Low"></td>
                                <td class="text-center"><input type="radio" name="Ethics" value="VeryLow"></td>
                            </tr>
                            <tr class="white">
                                <td>法律遵循</td>
                                <td>遵循所有適用法律，促進合法合規意識</td>
                                <td class="text-center"><input type="radio" name="Regulatory" value="VeryHigh" checked="checked"></td>
                                <td class="text-center"><input type="radio" name="Regulatory" value="High"></td>
                                <td class="text-center"><input type="radio" name="Regulatory" value="SlightlyHigh"></td>
                                <td class="text-center"><input type="radio" name="Regulatory" value="SlightlyLow"></td>
                                <td class="text-center"><input type="radio" name="Regulatory" value="Low"></td>
                                <td class="text-center"><input type="radio" name="Regulatory" value="VeryLow"></td>
                            </tr>
                            <tr class="white">
                                <td>利害關係人溝通</td>
                                <td>了解利害關係人的合理期望和利益所在</td>
                                <td class="text-center"><input type="radio" name="Stakeholders" value="VeryHigh" checked="checked"></td>
                                <td class="text-center"><input type="radio" name="Stakeholders" value="High"></td>
                                <td class="text-center"><input type="radio" name="Stakeholders" value="SlightlyHigh"></td>
                                <td class="text-center"><input type="radio" name="Stakeholders" value="SlightlyLow"></td>
                                <td class="text-center"><input type="radio" name="Stakeholders" value="Low"></td>
                                <td class="text-center"><input type="radio" name="Stakeholders" value="VeryLow"></td>
                            </tr>
                            <tr class="white">
                                <td>經營策略與績效</td>
                                <td>產業佈局/市場定位；經濟價值產出</td>
                                <td class="text-center"><input type="radio" name="Strategy" value="VeryHigh" checked="checked"></td>
                                <td class="text-center"><input type="radio" name="Strategy" value="High"></td>
                                <td class="text-center"><input type="radio" name="Strategy" value="SlightlyHigh"></td>
                                <td class="text-center"><input type="radio" name="Strategy" value="SlightlyLow"></td>
                                <td class="text-center"><input type="radio" name="Strategy" value="Low"></td>
                                <td class="text-center"><input type="radio" name="Strategy" value="VeryLow"></td>
                            </tr>
                            <tr class="white">
                                <td>客戶關係管理</td>
                                <td>服務客戶品質；客戶健康與安全</td>
                                <td class="text-center"><input type="radio" name="Customer" value="VeryHigh" checked="checked"></td>
                                <td class="text-center"><input type="radio" name="Customer" value="High"></td>
                                <td class="text-center"><input type="radio" name="Customer" value="SlightlyHigh"></td>
                                <td class="text-center"><input type="radio" name="Customer" value="SlightlyLow"></td>
                                <td class="text-center"><input type="radio" name="Customer" value="Low"></td>
                                <td class="text-center"><input type="radio" name="Customer" value="VeryLow"></td>
                            </tr>
                            <tr class="white">
                                <td>稅務</td>
                                <td>稅務相關風險、稅務政策</td>
                                <td class="text-center"><input type="radio" name="Taxation" value="VeryHigh" checked="checked"></td>
                                <td class="text-center"><input type="radio" name="Taxation" value="High"></td>
                                <td class="text-center"><input type="radio" name="Taxation" value="SlightlyHigh"></td>
                                <td class="text-center"><input type="radio" name="Taxation" value="SlightlyLow"></td>
                                <td class="text-center"><input type="radio" name="Taxation" value="Low"></td>
                                <td class="text-center"><input type="radio" name="Taxation" value="VeryLow"></td>
                            </tr>
                            <tr class="white">
                                <td>永續供應鏈</td>
                                <td>採購政策與方法；當地採購；供應商環境/社會評估；衝突礦產管理</td>
                                <td class="text-center"><input type="radio" name="Supply" value="VeryHigh" checked="checked"></td>
                                <td class="text-center"><input type="radio" name="Supply" value="High"></td>
                                <td class="text-center"><input type="radio" name="Supply" value="SlightlyHigh"></td>
                                <td class="text-center"><input type="radio" name="Supply" value="SlightlyLow"></td>
                                <td class="text-center"><input type="radio" name="Supply" value="Low"></td>
                                <td class="text-center"><input type="radio" name="Supply" value="VeryLow"></td>
                            </tr>
                            <tr class="white">
                                <td>創新研發管理</td>
                                <td>新製程與新產品研發；產品品質；技術 / 智慧財產權取得及管理</td>
                                <td class="text-center"><input type="radio" name="Innovation" value="VeryHigh" checked="checked"></td>
                                <td class="text-center"><input type="radio" name="Innovation" value="High"></td>
                                <td class="text-center"><input type="radio" name="Innovation" value="SlightlyHigh"></td>
                                <td class="text-center"><input type="radio" name="Innovation" value="SlightlyLow"></td>
                                <td class="text-center"><input type="radio" name="Innovation" value="Low"></td>
                                <td class="text-center"><input type="radio" name="Innovation" value="VeryLow"></td>
                            </tr>
                            <tr class="white">
                                <td>風險管理</td>
                                <td>風險鑑別、評估和回應；ERM（企業風險管理）；災難應急計劃</td>
                                <td class="text-center"><input type="radio" name="Risk" value="VeryHigh" checked="checked"></td>
                                <td class="text-center"><input type="radio" name="Risk" value="High"></td>
                                <td class="text-center"><input type="radio" name="Risk" value="SlightlyHigh"></td>
                                <td class="text-center"><input type="radio" name="Risk" value="SlightlyLow"></td>
                                <td class="text-center"><input type="radio" name="Risk" value="Low"></td>
                                <td class="text-center"><input type="radio" name="Risk" value="VeryLow"></td>
                            </tr>
                            <tr class="grey">
                                <td rowspan="5">環境</td>
                                <td>氣候變遷</td>
                                <td>氣候變遷減緩與調適；碳管理(溫室氣體管理)；綠建築；綠色工廠</td>
                                <td class="text-center"><input type="radio" name="Climate" value="VeryHigh" checked="checked"></td>
                                <td class="text-center"><input type="radio" name="Climate" value="High"></td>
                                <td class="text-center"><input type="radio" name="Climate" value="SlightlyHigh"></td>
                                <td class="text-center"><input type="radio" name="Climate" value="SlightlyLow"></td>
                                <td class="text-center"><input type="radio" name="Climate" value="Low"></td>
                                <td class="text-center"><input type="radio" name="Climate" value="VeryLow"></td>
                            </tr>
                            <tr class="grey">
                                <td>廢棄物管理</td>
                                <td>廢棄物減量與回收</td>
                                <td class="text-center"><input type="radio" name="Waste" value="VeryHigh" checked="checked"></td>
                                <td class="text-center"><input type="radio" name="Waste" value="High"></td>
                                <td class="text-center"><input type="radio" name="Waste" value="SlightlyHigh"></td>
                                <td class="text-center"><input type="radio" name="Waste" value="SlightlyLow"></td>
                                <td class="text-center"><input type="radio" name="Waste" value="Low"></td>
                                <td class="text-center"><input type="radio" name="Waste" value="VeryLow"></td>
                            </tr>
                            <tr class="grey">
                                <td>水資源管理</td>
                                <td>提高水資源使用效率，減少廢水排放</td>
                                <td class="text-center"><input type="radio" name="Water" value="VeryHigh" checked="checked"></td>
                                <td class="text-center"><input type="radio" name="Water" value="High"></td>
                                <td class="text-center"><input type="radio" name="Water" value="SlightlyHigh"></td>
                                <td class="text-center"><input type="radio" name="Water" value="SlightlyLow"></td>
                                <td class="text-center"><input type="radio" name="Water" value="Low"></td>
                                <td class="text-center"><input type="radio" name="Water" value="VeryLow"></td>
                            </tr>
                            <tr class="grey">
                                <td>能源管理</td>
                                <td>提高能資源使用效率</td>
                                <td class="text-center"><input type="radio" name="Energy" value="VeryHigh" checked="checked"></td>
                                <td class="text-center"><input type="radio" name="Energy" value="High"></td>
                                <td class="text-center"><input type="radio" name="Energy" value="SlightlyHigh"></td>
                                <td class="text-center"><input type="radio" name="Energy" value="SlightlyLow"></td>
                                <td class="text-center"><input type="radio" name="Energy" value="Low"></td>
                                <td class="text-center"><input type="radio" name="Energy" value="VeryLow"></td>
                            </tr>
                            <tr class="grey">
                                <td>綠色解決方案</td>
                                <td>提供輕薄短小以及具能源效率的產品解決方案；綠色製程(含有害物質管理，使用回收再利用的原物料)</td>
                                <td class="text-center"><input type="radio" name="Green" value="VeryHigh" checked="checked"></td>
                                <td class="text-center"><input type="radio" name="Green" value="High"></td>
                                <td class="text-center"><input type="radio" name="Green" value="SlightlyHigh"></td>
                                <td class="text-center"><input type="radio" name="Green" value="SlightlyLow"></td>
                                <td class="text-center"><input type="radio" name="Green" value="Low"></td>
                                <td class="text-center"><input type="radio" name="Green" value="VeryLow"></td>
                            </tr>
                            <tr class="white">
                                <td rowspan="8">社會</td>
                                <td>人才培育</td>
                                <td>員工教育訓練制度；人才發展</td>
                                <td class="text-center"><input type="radio" name="Training" value="VeryHigh" checked="checked"></td>
                                <td class="text-center"><input type="radio" name="Training" value="High"></td>
                                <td class="text-center"><input type="radio" name="Training" value="SlightlyHigh"></td>
                                <td class="text-center"><input type="radio" name="Training" value="SlightlyLow"></td>
                                <td class="text-center"><input type="radio" name="Training" value="Low"></td>
                                <td class="text-center"><input type="radio" name="Training" value="VeryLow"></td>
                            </tr>
                            <tr class="white">
                                <td>平等與多元</td>
                                <td>女男同酬；多樣性和平等機會</td>
                                <td class="text-center"><input type="radio" name="Equality" value="VeryHigh" checked="checked"></td>
                                <td class="text-center"><input type="radio" name="Equality" value="High"></td>
                                <td class="text-center"><input type="radio" name="Equality" value="SlightlyHigh"></td>
                                <td class="text-center"><input type="radio" name="Equality" value="SlightlyLow"></td>
                                <td class="text-center"><input type="radio" name="Equality" value="Low"></td>
                                <td class="text-center"><input type="radio" name="Equality" value="VeryLow"></td>
                            </tr>
                            <tr class="white">
                                <td>人權機制</td>
                                <td>公司人權政策及員工基本人權保障</td>
                                <td class="text-center"><input type="radio" name="Human" value="VeryHigh" checked="checked"></td>
                                <td class="text-center"><input type="radio" name="Human" value="High"></td>
                                <td class="text-center"><input type="radio" name="Human" value="SlightlyHigh"></td>
                                <td class="text-center"><input type="radio" name="Human" value="SlightlyLow"></td>
                                <td class="text-center"><input type="radio" name="Human" value="Low"></td>
                                <td class="text-center"><input type="radio" name="Human" value="VeryLow"></td>
                            </tr>
                            <tr class="white">
                                <td>勞資溝通</td>
                                <td>勞工/管理階層關係；勞資協商</td>
                                <td class="text-center"><input type="radio" name="Labor" value="VeryHigh" checked="checked"></td>
                                <td class="text-center"><input type="radio" name="Labor" value="High"></td>
                                <td class="text-center"><input type="radio" name="Labor" value="SlightlyHigh"></td>
                                <td class="text-center"><input type="radio" name="Labor" value="SlightlyLow"></td>
                                <td class="text-center"><input type="radio" name="Labor" value="Low"></td>
                                <td class="text-center"><input type="radio" name="Labor" value="VeryLow"></td>
                            </tr>
                            <tr class="white">
                                <td>員工健康與安全</td>
                                <td>職業健康和安全</td>
                                <td class="text-center"><input type="radio" name="Health" value="VeryHigh" checked="checked"></td>
                                <td class="text-center"><input type="radio" name="Health" value="High"></td>
                                <td class="text-center"><input type="radio" name="Health" value="SlightlyHigh"></td>
                                <td class="text-center"><input type="radio" name="Health" value="SlightlyLow"></td>
                                <td class="text-center"><input type="radio" name="Health" value="Low"></td>
                                <td class="text-center"><input type="radio" name="Health" value="VeryLow"></td>
                            </tr>
                            <tr class="white">
                                <td>社區發展</td>
                                <td>社區發展（教育，激勵下一代兒童，策略性捐贈等）</td>
                                <td class="text-center"><input type="radio" name="Community" value="VeryHigh" checked="checked"></td>
                                <td class="text-center"><input type="radio" name="Community" value="High"></td>
                                <td class="text-center"><input type="radio" name="Community" value="SlightlyHigh"></td>
                                <td class="text-center"><input type="radio" name="Community" value="SlightlyLow"></td>
                                <td class="text-center"><input type="radio" name="Community" value="Low"></td>
                                <td class="text-center"><input type="radio" name="Community" value="VeryLow"></td>
                            </tr>
                            <tr class="white">
                                <td>環保公益</td>
                                <td>推動環境教育，倡導環保意識；提升環境品質；降低環境衝擊；贊助環保公益</td>
                                <td class="text-center"><input type="radio" name="Charity" value="VeryHigh" checked="checked"></td>
                                <td class="text-center"><input type="radio" name="Charity" value="High"></td>
                                <td class="text-center"><input type="radio" name="Charity" value="SlightlyHigh"></td>
                                <td class="text-center"><input type="radio" name="Charity" value="SlightlyLow"></td>
                                <td class="text-center"><input type="radio" name="Charity" value="Low"></td>
                                <td class="text-center"><input type="radio" name="Charity" value="VeryLow"></td>
                            </tr>
                            <tr class="white">
                                <td>公共政策與倡議</td>
                                <td>參與公共政策之制定(如提交白皮書)；公共議題倡議</td>
                                <td class="text-center"><input type="radio" name="Initiatives" value="VeryHigh" checked="checked"></td>
                                <td class="text-center"><input type="radio" name="Initiatives" value="High"></td>
                                <td class="text-center"><input type="radio" name="Initiatives" value="SlightlyHigh"></td>
                                <td class="text-center"><input type="radio" name="Initiatives" value="SlightlyLow"></td>
                                <td class="text-center"><input type="radio" name="Initiatives" value="Low"></td>
                                <td class="text-center"><input type="radio" name="Initiatives" value="VeryLow"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-12">
                    <h4 class="sub-title">*除上述永續議題，其他欲建議我們的新增議題以及想給予我們其他的寶貴意見：</h4>
                    <textarea class="form-control" name="additional" rows="5" style="min-width: 100%" required>@(Model.additional)</textarea>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        <br><br>
                        <h4 class="sub-title inline">*驗證碼:</h4>
                        <input type="text" name="vcode" class="form-control" required style="border-color: #CCCCCC" />
                        <img id="captcha" src="~/CAPTCHA.ashx" style=" position:relative; width:100px; height:40px;" />
                        @if (@ViewData["captcha"] != null)
                        {
                            <span style="color: red;">@ViewData["captcha"]</span>
                        }
                    </div>
                </div>
                <div class="col-xs-12 section-contact">
                    <div class="content-wrapper pull-left">
                        <button type="reset" style="margin-left:30px">清除</button>
                        <button type="submit">送出</button>
                    </div>
                </div>
                <input type="hidden" name="fieid" value="@Model.FieId">
            }
        </article>
    </div>
</section>
<link rel="stylesheet" href="https://3711cdn.r.worldssl.net/css/js/vendor/sweetalert/sweetalert2.min.css" />
<script src="https://3711cdn.r.worldssl.net/js/js/vendor/sweetalert/sweetalert2.min.js"></script>

@if (@ViewData["msg"] != null)
{
    <script>swal({ title: '@ViewData["msg"]', timer: 3000, type: 'success' })</script>
}