﻿@{
    ViewBag.Title = "邁向永續共贏的未來";
    ViewBag.BannerStyle = "banner-csr";
    Layout = "~/Views/Shared/_Layout_Content.cshtml";
}

<section class="inside-article">
    <div class="content-lg row">
        <div class="col-xs-12">
            <h3 class="title">企業社會責任影片下載</h3>
        </div>
    </div>
</section>
<br>
<section class="inside-article">
    <div class="content-lg row">
        <div class="col-md-4">
            <div class="video">
                <a href="http://ase.aseglobal.com/public/frontend/videos/ASE_Sustability_CH_20171113_final.html" data-toggle="lightbox" data-type="vimeo" data-title="日月光永續發展">
                    <img src="https://3711cdn.r.worldssl.net/pic/content/ch/images/csr/video1.jpg" width="100%">
                    <span class="glyphicon glyphicon-play-circle play-icon" aria-hidden="true"></span>
                </a>
            </div>
            <h4 class="text-left" style="font-weight: bold;">日月光永續發展</h4>
            <p class="text-left">日月光具體落實水資源管理、綠建築、綠色供應鏈、員工關懷、社會參與等永續發展的努力與成果。</p>
        </div>
        <div class="col-md-4">
            <div class="video">
                <a href="http://ase.aseglobal.com/public/frontend/videos/ASE_Sustability_2_CH_20180321_final.html" data-toggle="lightbox" data-type="vimeo" data-title="日月光永續策略">
                    <img src="https://3711cdn.r.worldssl.net/pic/content/ch/images/csr/video2.jpg" width="100%">
                    <span class="glyphicon glyphicon-play-circle play-icon" aria-hidden="true"></span>
                </a>
            </div>
            <h4 class="text-left" style="font-weight: bold;">日月光永續策略</h4>
            <p class="text-left">日月光思考永續，邁向長期未來發展的願景與行動。</p>
        </div>
        <div class="col-md-4">
            <div class="video">
                <a href="http://ase.aseglobal.com/public/frontend/videos/ASE_WaterManagement_CH_2014_final.html" data-toggle="lightbox" data-type="vimeo" data-title="日月光水資源管理">
                    <img src="https://3711cdn.r.worldssl.net/pic/content/ch/images/csr/video3.jpg" width="100%">
                    <span class="glyphicon glyphicon-play-circle play-icon" aria-hidden="true"></span>
                </a>
            </div>
            <h4 class="text-left" style="font-weight: bold;">日月光水資源管理</h4>
            <p class="text-left">日月光高雄廠區設置台灣第一座採用最高標準水資源回收的中水回收廠。</p>
        </div>
    </div>
</section>

<script src="https://3711cdn.r.worldssl.net/js/js/vendor/lightbox/ekko-lightbox.min.js"></script>
<script>
    // Lightbox
    $(document).delegate('*[data-toggle="lightbox"]', 'click', function (event) {
        event.preventDefault();
        $(this).ekkoLightbox();
    });
</script>
