﻿@model ASEH_Front.Models.Download.DownloadViewModel

@{
    ViewBag.Title = "邁向永續共贏的未來";
    ViewBag.BannerStyle = "banner-csr";
    Layout = "~/Views/Shared/_Layout_Content.cshtml";
    ViewBag.HeadTitle = "企業社會責任下載專區 | 日月光投控";
    ViewBag.Description = "下載日月光投控企業社會責任報告書";
    ViewBag.enURL = "en/csr";
    ViewBag.zhURL = "ch/csr";
}

<section class="inside-article">
    <div class="content-lg row">
        <article class="col-xs-12">
            <h3 class="title">企業社會責任下載專區</h3>
        </article>
    </div>
</section>
<section class="csr-bg">
    <div class="content-lg row">
        <div class="col-sm-4 col-sm-offset-4 csr">
            <div class="col-md-12 bgnews-list list-base">
                <div class="content">
                    <a href="@Url.Action("Csr_Report", "Ch")">
                        <span class="blue-text-in-box">企業社會責任報告書下載</span>
                        <div class="circle_button-wrapper pull-right">
                            <div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
                        </div>
                    </a>
                </div>
            </div>
            @*<div class="col-md-6 bgnews-list list-base">
                <div class="content">
                    <a href="@Url.Action("Csr_Video", "Ch")">
                        <span class="blue-text-in-box">企業社會責任影片下載</span>
                        <div class="circle_button-wrapper">
                            <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                        </div>
                    </a>
                </div>
            </div>*@
            <div class="clearfix"></div>
        </div>
    </div>
</section>
