﻿@{
    ViewBag.Title = "邁向永續共贏的未來";
    ViewBag.BannerStyle = "banner-csr";
    Layout = "~/Views/Shared/_Layout_Content.cshtml";
    ViewBag.Description = "了解日月光投控如何推動永續管理、綠色轉型、責任採購、包容職場以及企業公民，達成正向改變與永續發展。";
    ViewBag.enURL = "en/csr";
    ViewBag.zhURL = "ch/csr";
}

<section class="inside-article">
    <div class="content-lg row">
        <div class="col-md-12">
            <h3 class="title">供應鏈發展政策與供應商行為準則</h3>
            <h4 class="sub-title">日月光投資控股股份有限公司採購與供應鏈發展政策</h4>
            <p>
                日月光投資控股股份有限公司及其子公司(以下合稱”日月光投控”)為全球半導體封裝測試服務領導者及主要的系統與核心技術整合者，對全球電子產業供應鏈產生正面影響力是我們的責任。我們視供應商為長期合作的夥伴，並倡導與供應商一同建立永續供應鏈，致力於責任採購及供應鏈的技術能力發展，俾以持續提供負責任且優質的服務給我們的客戶。<br><br>

                日月光投控承諾：<br>
                <ol class="nopadding">
                    <li>以積極的行動確保採購行為符合專業及商業道德的最高標準，並恪遵所有營運所在地的法律規定，強調供應商間的公平競爭，以及供應商與日月光投控間的公平交易。</li>

                    <li>全面推動綠色採購，並依循日月光投控衝突礦產政策和綠色產品規範進行採購。</li>

                    <li>與供應商發展穩定的夥伴關係，充分溝通並互相合作以追求雙贏，強調風險共擔與利益共享。</li>

                    <li>要求供應商遵守相關法規、符合高標準商業道德、保障人權、重視勞工身心健康與安全、保護環境及善盡企業社會責任。</li>

                    <li>積極進行供應商管理及輔導，協助供應商持續提升競爭力，並對供應商進行風險評鑑，將交期、品質、成本、服務、技術、及永續管理列為評核標準，做為日月光投控採購決策之重要依據。對於經輔導後仍始終無法達到日月光投控要求之供應商，將於充分溝通後啟動供應商更換機制。</li>

                    <li>兼顧客戶需求與綠色設計，與上下游供應鏈合作開發創新的材料及設備，以提升整體供應鏈之技術與競爭力。</li>
                </ol>
            </p>
            <br>
            <div><a href="~/ch/pdf/2019_ASETH_PurchasingAndSupplyChainDevelopmentPolicy.pdf" target="_blank"><div class="circle_button darkgray facilities-circle-button"><i class="icon-arrow-right facilities-icon-arrow-right"></i></div> 日月光投資控股股份有限公司採購與供應鏈發展政策</a></div>
            <br>
            
            <h4 class="sub-title">供應商行為準則</h4>
            <p>
                日月光投資控股股份有限公司、其子公司及關係企業( 以下合稱「日月光」)是負責任的企業公民，以積極的行動確保商業行為符合專業及道德的最高標準。我們相信公司長期的經營與成功必須仰賴企業的永續發展及其社會責任的體現。而供應鏈是日月光商業價值鏈的重要延伸，我們積極投入供應鏈發展以確保供應商、承包商、服務提供商和分包商( 以下合稱「供應商」)共同實現永續發展的目標。<br><br>

                為了確保供應鏈工作環境的安全、保障員工受到尊重並富有尊嚴、落實環保並遵守道德操守，日月光依據「日月光投資控股股份有限公司商業行為與道德準則」及責任商業聯盟( 前身為電子行業公民聯盟，以下簡稱「責任商業聯盟」) 之行為準則，並參考「聯合國企業和人權指導原則」、國際勞工組織的「工作基本原則與權利宣言」及「世界人權宣言」等國際規範，訂定本供應商行為準則( 以下稱「本準則」)，要求供應商於勞工、健康與安全、環境、商業道德及管理體系等各方面之商業行為確實符合本準則，並且完全遵守經營所在國家/地區的法律和法規。供應商應要求其供應商、承包商、服務提供商和分包商採用並遵守本準則。供應商對本準則的遵循程度將是日月光評估採購決策的考量之一。<br><br>

                本準則由五個章節組成。A、B、C 章節分別概述勞工、健康與安全，以及環境的標準。D 章節列舉商業道德的標準；E 章節概述貫徹本準則的合宜管理體系之所需要素。
            </p>
            <br>
            <div><a href="~/ch/pdf/ASE_Holding_Supplier_CoC_CH_2018.pdf" target="_blank"><div class="circle_button darkgray facilities-circle-button"><i class="icon-arrow-right facilities-icon-arrow-right"></i></div> 供應商行為準則</a></div>
        </div>
    </div>
</section>