﻿@{
    ViewBag.Title = "邁向永續共贏的未來";
    ViewBag.BannerStyle = "banner-csr";
    Layout = "~/Views/Shared/_Layout_Content.cshtml";
    ViewBag.HeadTitle = "人權管理 | 日月光投控";
    ViewBag.Description = "為保護與促進人權，日月光投資控股股份有限公司及其子公司(以下合稱 “日月光投控”)支持並尊重「聯合國世界人權宣言」、「聯合國全球盟約」第一與第二條原則、「聯合國企業與人權指導原則」、國際勞工組織「工作基本原則與權利宣言」與當地法令規範，並透過加入「責任商業聯盟」，落實人權保障。據此，日月光投控訂定人權保障管理原則來保護員工，並期許我們的供應商亦恪遵此原則以維護人權。";
    ViewBag.enURL = "en/csr_human_rights_management.html";
    ViewBag.zhURL = "ch/csr_human_rights_management.html";
}

<section class="inside-article">
    <div class="content-lg row">
        <div class="col-md-12">
            <h3 class="title">人權管理</h3>
            <h4 class="sub-title">日月光投資控股股份有限公司人權政策</h4>
            <p>
                為保護與促進人權，日月光投資控股股份有限公司及其子公司(以下合稱 “日月光投控”)支持並尊重「聯合國世界人權宣言」、「聯合國全球盟約」第一與第二條原則、「聯合國企業與人權指導原則」、國際勞工組織「工作基本原則與權利宣言」與當地法令規範，並透過加入「責任商業聯盟」，落實人權保障。據此，日月光投控訂定人權保障管理原則來保護員工，並期許我們的供應商亦恪遵此原則以維護人權。<br /><br />

                日月光投控承諾依以下原則落實人權保障：
                <ol class="nopadding">
                    <li>保護原則：恪遵營運所在地之勞動、性別工作平等相關法規，並提供勞動者安全及健康的工作環境。</li>

                    <li>尊重原則：不強迫勞動、禁用童工、不歧視、禁止騷擾、尊重結社自由、尊重隱私權、落實工作時間限制並給予合適的薪資福利。</li>

                    <li>補救原則：保持申訴機制暢通，如有違反人權事宜，即時採取補救改善措施。</li>

                    <li>管理原則：持續推動人權教育訓練、定期評估人權風險，並將結果呈報高階主管，同時將其對外公開揭露。</li>
                </ol>
            </p>
            <br>
            <div><a href="~/ch/pdf/2019_ASETH_HumanRightsPolicy.pdf" target="_blank"><div class="circle_button darkgray facilities-circle-button"><i class="icon-arrow-right facilities-icon-arrow-right"></i></div> 日月光投資控股股份有限公司人權政策</a></div>
            <h4 class="sub-title">人權治理</h4>
            <p>
                針對全球廠區與公司營運過程所面臨的人權議題，與各廠區進行風險管理，彙整後提報至集團永續發展委員會中的各個團隊，透過定期會議召開，向高階經營管理階層報告。<br /><br />

                員工與營運相關的人權議題，則由「員工關懷與發展團隊」負責，透過RBA管理機制進行風險管理；社區與環境相關的人權議題，主要透過營運所在地的廠區落實環境監測與蒐集社區意見，辨識人權風險。在供應商上，則由「供應鏈管理團隊」進行永續風險調查，鑑別與人權相關的風險。
            </p>
            <br />
            <div class="col-md-12 nopadding">
                <b>日月光投控人權風險管理流程</b><br />
                <img src="https://3711cdn.r.worldssl.net/pic/content/ch/images/csr/pic_human_rights_management-1.png" style="width: 100%" />
            </div>
        </div>
    </div>
</section>