﻿@{
    ViewBag.Title = "邁向永續共贏的未來";
    ViewBag.BannerStyle = "banner-csr";
    Layout = "~/Views/Shared/_Layout_Content.cshtml";
    ViewBag.HeadTitle = "永續發展策略 | 日月光投控";
    ViewBag.Description = "在近年來全球永續發展趨勢的浪潮下，永續發展不再只是企業營運面臨的潛在風險，而是成為企業價值創造方向與策略規劃的重大影響因素。";
    ViewBag.enURL = "en/csr_sustainability_strategy.html";
    ViewBag.zhURL = "ch/csr_sustainability_strategy.html";
}

<section class="inside-article">
    <div class="content-lg row">
        <article class="col-xs-12">
            <h3 class="title">永續發展策略</h3>
            <p>
                在近年來全球永續發展趨勢的浪潮下，永續發展不再只是企業營運面臨的潛在風險，而是成為企業價值創造方向與策略規劃的重大影響因素。在未來20年，企業將面臨許多環境和社會變化，這將帶來永續成長的風險與機會，其中與日月光特別有關的永續發展趨勢包含氣候變遷、能源與燃料供應的不確定性、原物料資源匱乏、水資源短缺、人口成長以及供應鏈全球化的挑戰，皆是現今企業發展必須納入考量的關鍵因子。<br><br>

                我們將上述關鍵的永續發展趨勢與日月光的價值創造模式整合，發展出屬於日月光的長期永續發展策略框架(參見下圖)，我們以此整合性、動態性的策略框架定義日月光的四大永續策略主軸 – 低碳使命、循環再生、社會共融與價值共創 – 以及對應的策略方向。
            </p>
        </article>
    </div>
</section>
<div class="row csr-bg csr">
    <div class="col-xs-10 col-xs-offset-1 col-lg-8 col-lg-offset-2 nopadding">
        <div class="nopadding" style="width: 28%; top: 9%; float: left; position: absolute; display: inline;" id="circular"><a href="#circular1"><img src="https://3711cdn.r.worldssl.net/pic/content/ch/images/csr/sustainability_strategy1.png" width="100%"></a></div>
        <div class="nopadding" style="width: 44%; top: 9%; left: 28%; float: left; position: absolute; display: inline;"></div>
        <div class="nopadding" style="width: 28%; top: 9%; left: 72%; float: left; position: absolute; display: inline;" id="inclusive"><a href="#inclusive1"><img src="https://3711cdn.r.worldssl.net/pic/content/ch/images/csr/sustainability_strategy2.png" width="100%"></a></div>
        <div class="clearfix"></div>
        <div class="nopadding" style="width: 28%; top: 49%; float: left; position: absolute; display: inline;" id="low_carbon"><a href="#low_carbon1"><img src="https://3711cdn.r.worldssl.net/pic/content/ch/images/csr/sustainability_strategy3.png" width="100%"></a></div>
        <div class="nopadding" style="width: 44%; top: 49%; left: 28%; float: left; position: absolute; display: inline;"></div>
        <div class="nopadding" style="width: 28%; top: 49%; left: 72%; float: left; position: absolute; display: inline;" id="collaborative"><a href="#collaborative1"><img src="https://3711cdn.r.worldssl.net/pic/content/ch/images/csr/sustainability_strategy4.png" width="100%"></a></div>
        <div class="clearfix"></div>
        <div><img src="https://3711cdn.r.worldssl.net/pic/content/ch/images/csr/sustainability_strategy.png" width="100%"></div>
    </div>
</div>
<section class="inside-article">
    <div class="content-lg row csr">
        <article class="col-xs-12">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <br>
                <a id="circular1"></a>
                <div class="col-md-12 bgnews-list list-base panel">
                    <div class="content">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            <span class="black-text-in-box accordion-center-text">Circular 循環再生</span>
                            <div class="circle_button-wrapper pull-right">
                                <div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
                            </div>
                        </a>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <p>
                                <strong>日月光的定義：</strong><br>
                                創造永續型解決方案及生產模式以促進可再儲存、再生產與再利用的循環設計及過程皆創造最高價值。<br>

                                <strong>長期目標：</strong><br>
                                促使日月光價值網路相關聯的產品、零組件及原物料等皆可循環，並在過程中發揮最高的效用以及價值。
                            </p>
                            <h3 class="title">策略方向</h3>
                            <p>
                                <strong>循環設計</strong><br>
                                將循環思維導入日月光產品與流程的設計中，促進資源循環，創造循環商業模式。<br>

                                <strong>水循環</strong><br>
                                建立日月光的永續水循環，並以循環思維打造用水目標與策略。<br>

                                <strong>廢棄物/可再利用資源管理</strong><br>
                                辨識與發展具循環潛力的原物料與製程，朝向廢棄物極小化的循環模式邁進。
                            </p>
                        </div>
                    </div>
                </div>

                <a id="inclusive1"></a>
                <div class="col-md-12 bgnews-list list-base panel">
                    <div class="content">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <span class="black-text-in-box accordion-center-text">Inclusive 社會共融</span>
                            <div class="circle_button-wrapper pull-right">
                                <div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
                            </div>
                        </a>
                    </div>

                    <div id="collapseTwo" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            <p>
                                <strong>日月光的定義：</strong><br>
                                創造永續型解決方案旨在於公益慈善及社會參與外，更專注於打造共融型商業模式，為弱勢族群創造適用的的產品或服務。<br>

                                <strong>長期目標：</strong><br>
                                逐步建立日月光的新興商業模式以積極創造社會價值。
                            </p>
                            <h3 class="title">策略方向</h3>
                            <p>
                                <strong>社會影響</strong><br>
                                發展社會投資資源配置的管理架構與監控、衡量機制。<br>

                                <strong>社會創新</strong><br>
                                辨識日月光專注解決的社會問題與協助的目標族群，找出社會創新之焦點並與合作夥伴一同創造新的商機。
                            </p>
                        </div>
                    </div>
                </div>

                <a id="low_carbon1"></a>
                <div class="col-md-12 bgnews-list list-base panel">
                    <div class="content">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <span class="black-text-in-box accordion-center-text">Low Carbon 低碳使命</span>
                            <div class="circle_button-wrapper pull-right">
                                <div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
                            </div>
                        </a>
                    </div>

                    <div id="collapseThree" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
                            <p>
                                <strong>日月光的定義：</strong><br>
                                創造與領導低碳轉型的永續解決方案，使經濟以氣候友善、韌性以及具成本效益的方式成長。<br>

                                <strong>長期目標：</strong><br>
                                形塑日月光的氣候領導力，並將低碳解決方案提供至全球市場。
                            </p>
                            <h3 class="title">策略方向</h3>
                            <p>
                                <strong>整合型碳管理</strong><br>
                                建立整體碳管理策略、政策、系統，促進日月光低碳發展。<br>

                                <strong>綠色及可再生能源投資</strong><br>
                                建立日月光的綠色及可再生能源投資策略，避免環境外部成本並抓住綠色商機。<br>

                                <strong>低碳產品及服務</strong><br>
                                提供市場化、可行之低碳解決方案( 產品或服務) 。<br>

                                <strong>調適與韌性</strong><br>
                                辨識日月光在氣候變遷與極端氣候下的脆弱度，發展相應調適策略以降低氣候風險。<br>

                                <strong>創造永續生活型態</strong><br>
                                對內形塑低碳文化，對外成為低碳解決方案的提供者，推動與內化永續生活型態。
                            </p>
                        </div>
                    </div>
                </div>

                <a id="collaborative1"></a>
                <div class="col-md-12 bgnews-list list-base panel">
                    <div class="content">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            <span class="black-text-in-box accordion-center-text">Collaborative 價值共創</span>
                            <div class="circle_button-wrapper pull-right">
                                <div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
                            </div>
                        </a>
                    </div>

                    <div id="collapseFour" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingFour">
                        <div class="panel-body">
                            <p>
                                <strong>日月光的定義：</strong><br>
                                創造永續型解決方案以促進來自同質與異質價值鏈上，擁有不同資源與能力的公司進行跨產業與跨領域的合作創新。<br>

                                <strong>長期目標：</strong><br>
                                藉由合作創新加速價值鏈的永續成長和社會發展，並共創共享價值。
                            </p>
                            <h3 class="title">策略方向</h3>
                            <p>
                                <strong>智能型採購</strong><br>
                                建立責任與永續的採購機制，篩選合作夥伴並強化企業風險管理系統。<br>

                                <strong>供應鏈管理科技化發展</strong><br>
                                增加供應鏈管理廣度與深度，提升供應鏈的透明度與可追溯性。<br>

                                <strong>策略性夥伴關係</strong><br>
                                與擁有不同能力與資源之公司建立夥伴關係，透過資源整合與能力互補激發合作創新。
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script>
    $(document).ready(function () {

        $('#circular').click(function () {
            $('#collapseOne').addClass("in");
            $('#collapseTwo').removeClass("in");
            $('#collapseThree').removeClass("in");
            $('#collapseFour').removeClass("in");
        });

        $('#inclusive').click(function () {
            $('#collapseOne').removeClass("in");
            $('#collapseTwo').addClass("in");
            $('#collapseThree').removeClass("in");
            $('#collapseFour').removeClass("in");
        });

        $('#low_carbon').click(function () {
            $('#collapseOne').removeClass("in");
            $('#collapseTwo').removeClass("in");
            $('#collapseThree').addClass("in");
            $('#collapseFour').removeClass("in");
        });

        $('#collaborative').click(function () {
            $('#collapseOne').removeClass("in");
            $('#collapseTwo').removeClass("in");
            $('#collapseThree').removeClass("in");
            $('#collapseFour').addClass("in");
        });
    });
</script>