﻿@{
    ViewBag.Title = "邁向永續共贏的未來";
    ViewBag.BannerStyle = "banner-csr";
    Layout = "~/Views/Shared/_Layout_Content.cshtml";
    ViewBag.HeadTitle = "商業行為與道德 | 日月光投控";
    ViewBag.Description = "日月光相信，企業的永續發展是公司長期經營與成功的關鍵。";
    ViewBag.enURL = "en/csr_business_conduct_ethics.html";
    ViewBag.zhURL = "ch/csr_business_conduct_ethics.html";
}

<section class="inside-article">
    <div class="content-lg row">
        <article class="col-xs-12">
            <h3 class="title">商業行為與道德</h3>
            <p>
                日月光相信，企業的永續發展是公司長期經營與成功的關鍵。為了協助日月光在企業經營的過程中實踐良好的企業公民與社會責任，日月光制定<a href="https://media-aseholdco.todayir.com/20180622151727139618980_tc.pdf" target="_blank">「商業行為與道德準則」</a>，清楚且詳盡地訂定商業行為與道德的規範，形塑誠實和當責的文化，將日月光遵循最高道德標準的承諾體現在所有日月光的商業活動中。<br>
                <br>
                永續發展委員會為本公司商業行為與道德的最高管理組織，負責統籌集團內誠信經營政策規範之制定、監督與執行，每年定期檢視其推動與遵循狀況，並向董事會報告。本公司旗下三大子公司並設置隸屬於各子集團永續發展委員會之「公司治理團隊」負責推動誠信經營政策規範至日月光全球營運據點，並協助共同管理與配合各地區法令訂定相關規定。全球營運據點負責規劃內部執行誠信經營政策規範之組織、編制與職掌，依據集團政策規範之架構訂定相關標準作業程序及行為指南，並在日常內部管理及營運中積極宣導與訓練。集團稽核單位負責監督，以確保檢舉制度之有效性。
            </p>
        </article>
    </div>
</section>
<div class="row csr-bg">
    <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        <img src="https://3711cdn.r.worldssl.net/pic/content/ch/images/csr/business_conduct_and_ethics.png">
        <a href="https://media-aseholdco.todayir.com/20180622151727139618980_tc.pdf" target="_blank">
            <div class="circle-link"></div>
        </a>
    </div>
</div>
<section class="inside-article">
    <div class="content-lg row">
        <article class="col-xs-12">
            <p>
                <br>
                所有日月光成員均應恪遵日月光商業行為與道德的相關政策與規範。如日月光成員或第三人發現任何違反、疑似違反或可能導致違反誠信經營與商業道德之情事，得以下列方式提出檢舉：
            </p>
            <h4 class="sub-title">外部檢舉管道</h4>

            <p><a href="/antifraud/ch.asp" target="_blank">商業行為與道德遵循舉報系統</a></p>

            <h4 class="sub-title">內部檢舉管道</h4>
            <ol class="nopadding">
                <li>總經理信箱</li>
                <li>人力資源信箱</li>
                <li>員工申訴專線</li>
                <li>性騷擾防治專線</li>
                <li>廠區商業行為與道德遵循舉報系統</li>
            </ol>
            <p>
                日月光接獲檢舉後，將依上述政策規範之處理程序調查及處分。<br>
                <br>
                檢舉人可以具名或匿名方式，提出具體事實內容、相關資訊及文件進行舉報。除法律另有規定外，日月光及受委託調查舉報事項之第三方對於檢舉人與檢舉內容將予以保密，並依法採取適當之保護措施保護檢舉人的個人資料及隱私，避免其遭受不公平的報復或對待。
            </p>

            <h4 class="sub-title">2020商業行為與道德之推動與執行</h4>
            <p>
                日月光長期以來透過制定規範與教育宣導等多種方式，致力於商業行為與道德之相關政策與規範的落實。我們在2020年實際推動與執行的項目如下：
                <ul class="nopadding">
                    <li>向全球十七個營業據點高階主管以電子郵件方式宣導舉報態樣案例，藉以檢視並強化舞弊風險管理的預防及偵測控制，並以實地及遠端會議方式向全球十七個營運據點管理階層及同仁進行違反誠信經營檢舉案件處理辦法及流程宣導，鼓勵同仁主動揭發不誠信行為，以落實公司檢舉制度，強化舞弊事件發生之偵防機制。</li>
                    <li>舉辦教育訓練：<br>
                        <ol class="nopadding">
                            <li>董事成員於2020年10月15日參與｢董監如何督導公司做好舞弊偵防，及建立吹哨機制、強化公司治理｣課程<a href="javascript:" data-toggle="popover" data-trigger="hover" data-content="共計11人次參與共計33小時。" data-placement="top" data-original-title="" title="">*</a>，內容包含利害關係人交易與內線交易等規範。</li>
                            <li>
                                全球二十三個營運據點分別對各級員工以面授、線上、電子郵件及靜態與動態宣導等方式進行商業行為與道德相關之教育訓練，主題包含：<br />
                                (1) 商業行為與道德相關議題如誠信經營、反貪腐、營業秘密、防範內線交易、公平競爭、尊重智慧財產、人權保障、法令遵循及資訊安全等<a href="javascript:" data-toggle="popover" data-trigger="hover" data-content="共計174,542人次參與共計75,821小時。" data-placement="top" data-original-title="" title="">*</a>。<br>
                                (2) 責任商業聯盟(RBA)行為準則課程<a href="javascript:" data-toggle="popover" data-trigger="hover" data-content="共計56,630人次參與共計75,597小時。" data-placement="top" data-original-title="" title="">*</a>。<br>
                                (3) 各營運據點之員工行為準則<a href="javascript:" data-toggle="popover" data-trigger="hover" data-content="共計10,872人次參與共計3,795小時。" data-placement="top" data-original-title="" title="">*</a>。
                            </li>
                        </ol>
                    </li>
                </ul>
            </p>

        </article>
    </div>
</section>
<script>
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover({
            html: true,
        });
    });
</script>