﻿@{
    ViewBag.Title = "邁向永續共贏的未來";
    ViewBag.BannerStyle = "banner-csr";
    Layout = "~/Views/Shared/_Layout_Content.cshtml";
    ViewBag.HeadTitle = "企業永續政策 | 日月光投控";
    ViewBag.Description = "日月光投資控股股份有限公司及其子公司(以下合稱”日月光投控”)為全球半導體封裝測試服務領導者及主要的系統與核心技術整合者，在社會轉型至綠色及低碳經濟的過程中，扮演重要的角色。";
    ViewBag.enURL = "en/csr_corporate_sustainability_policy.html";
    ViewBag.zhURL = "ch/csr_corporate_sustainability_policy.html";
}

<section class="inside-article">
    <div class="content-lg row">
        <div class="col-md-12">
            <h3 class="title">企業永續政策</h3>
            <h4 class="sub-title">日月光投資控股股份有限公司企業永續發展與企業公民政策</h4>
            <p>
                日月光投資控股股份有限公司及其子公司(以下合稱”日月光投控”)為全球半導體封裝測試服務領導者及主要的系統與核心技術整合者，在社會轉型至綠色及低碳經濟的過程中，扮演重要的角色。我們視永續發展與企業公民為公司成長的機會，承諾提供具生態效益及負責任的服務給我們的客戶，俾以在環境、社會及公司治理三方面有優異的績效表現。<br><br>

                日月光投控將引領創新及永續的企業責任實踐，為產業界、企業界、利害關係人和全體社會帶來正面的影響力。<br><br>

                日月光投控致力於以策略性做法追求企業的永續成長，不僅會持續進行成本控管、整合性風險管理以及先進技術開發，更會以負責任的態度運用自然、社會與人力資本，與我們所仰賴並汲取資源的土地共存共榮。<br><br>

                <b>日月光投控承諾：</b>
                <ol class="nopadding">
                    <li>維持健全的公司治理制度，於企業內持續實踐商業道德規範，並恪遵所有營運所在地的法律規定。</li>

                    <li>持續增加資源再利用及減少溫室氣體與廢水排放、廢棄物產生及化學品使用，以改善我們的生態效益並保護環境。</li>

                    <li>提供員工安全、健康及優質的工作環境，確保勞動力多元化及保障人權。</li>

                    <li>建立供應商夥伴關係，確保供應鏈具備安全的工作環境，其員工受到尊重並享有尊嚴，且其營運對環境負責並符合商業道德。</li>

                    <li>透過積極參與慈善活動、教育計畫和社會工作回饋社區，將資源做最完善的分配，並發揮最大的社會影響力。</li>

                    <li>進行有效且具策略性的利害關係人溝通與議合，並強化資訊的公開透明與平衡揭露。</li>
                </ol>
            <br>
            <div><a href="~/ch/pdf/2019_ASETH_CorporateSustainabilityAndCitizenshipPolicy.pdf" target="_blank"><div class="circle_button darkgray facilities-circle-button"><i class="icon-arrow-right facilities-icon-arrow-right"></i></div> 日月光投資控股股份有限公司企業永續發展與企業公民政策</a></div>
        </div>
    </div>
</section>