﻿@{
    ViewBag.Title = "企業社會責任";
    ViewBag.BannerStyle = "banner-csr";
    Layout = "~/Views/Shared/_Layout_Content.cshtml";
}

<section class="inside-article">
    <div class="content-lg row">
        <article class="col-xs-12">
            <h3 class="title">商業行為與道德</h3>
            <p>
                日月光相信，企業的永續發展是公司長期經營與成功的關鍵。為了協助日月光在企業經營的過程中實踐良好的企業公民與社會責任，日月光制定<a href="https://ir.aseglobal.com/attachment/20180622151727139618980_tc.pdf" target="_blank">「商業行為與道德準則」</a>，清楚且詳盡地訂定商業行為與道德的規範，形塑誠實和當責的文化，將日月光遵循最高道德標準的承諾體現在所有日月光的商業活動中。<br>
                <br>
                集團永續發展委員會為日月光集團商業行為與道德的最高管理組織，負責統籌集團內誠信經營政策規範之制定、監督與執行，每年定期檢視其推動與遵循狀況，並向董事會報告。隸屬於集團永續發展委員會之「公司治理團隊」負責推動誠信經營政策規範至日月光全球營運據點，並協助共同管理與配合各地區法令訂定相關規定。全球營運據點負責規劃內部執行誠信經營政策規範之組織、編制與職掌，依據集團政策規範之架構訂定相關標準作業程序及行為指南，並在日常內部管理及營運中積極宣導與訓練。集團稽核單位將負責監督，以確保檢舉制度之有效性。
            </p>
        </article>
    </div>
</section>
<div class="row csr-bg">
    <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        <img src="https://3711cdn.r.worldssl.net/pic/content/ch/images/csr/business_conduct_and_ethics.png">
        <a href="https://ir.aseglobal.com/attachment/20180622151727139618980_tc.pdf" target="_blank">
            <div class="circle-link"></div>
        </a>
    </div>
</div>
<section class="inside-article">
    <div class="content-lg row">
        <article class="col-xs-12">
            <p>
                <br>
                所有日月光成員均應恪遵日月光商業行為與道德的相關政策與規範。如日月光成員或第三人發現任何違反、疑似違反或可能導致違反誠信經營與商業道德之情事，得以下列方式提出檢舉：
            </p>
            <h4 class="sub-title">外部檢舉管道</h4>

            <p><a href="http://www.aseglobal.com/antifraud/ch.asp" target="_blank">商業行為與道德遵循舉報系統</a></p>

            <h4 class="sub-title">內部檢舉管道</h4>
            <ol class="nopadding">
                <li>總經理信箱</li>
                <li>人力資源信箱</li>
                <li>員工申訴專線</li>
                <li>性騷擾防治專線</li>
                <li>廠區商業行為與道德遵循舉報系統</li>
            </ol>
            <p>
                日月光接獲檢舉後，將依上述政策規範之處理程序調查及處分。<br>
                <br>
                檢舉人可以具名或匿名方式，提出具體事實內容、相關資訊及文件進行舉報。除法律另有規定外，日月光及受委託調查舉報事項之第三方對於檢舉人與檢舉內容將予以保密，並依法採取適當之保護措施保護檢舉人的個人資料及隱私，避免其遭受不公平的報復或對待。
            </p>

            <h4 class="sub-title">2018商業行為與道德之推動與執行</h4>
            <p>
                日月光長期以來透過制定規範與教育宣導等多種方式，致力於商業行為與道德之相關政策與規範的落實。我們在2018年實際推動與執行的項目如下：
                <ul class="nopadding">
                    <li>制定政策：訂定違反誠信經營檢舉案件處理辦法。</li>
                    <li>
                        舉辦教育訓練：<br>
                        <ol class="nopadding">
                            <li>董事參與｢資訊安全治理的趨勢與挑戰｣課程<a href="javascript:" data-toggle="popover" data-trigger="hover" data-content="共計11人次參與共計33小時。" data-placement="top">*</a>。</li>
                            <li>
                                全球十五個營運據點分別對各級員工以面授、線上或電子郵件等方式進行商業行為與道德相關之教育訓練，主題包含：<br>
                                (1) 商業行為與道德相關議題如人權、性騷擾、法令遵循及資訊安全等<a href="javascript:" data-toggle="popover" data-trigger="hover" data-content="共計152,115人次參與共計354,548小時。" data-placement="top">*</a>。<br>
                                (2) RBA責任商業聯盟行為準則課程<a href="javascript:" data-toggle="popover" data-trigger="hover" data-content="共計64,388人次參與共計60,661小時。" data-placement="top">*</a>。<br>
                                (3) 各營運據點之員工行為準則<a href="javascript:" data-toggle="popover" data-trigger="hover" data-content="共計27,825人次參與共計16,573小時。" data-placement="top">*</a>。
                            </li>
                        </ol>
                    </li>
                </ul>
            </p>

        </article>
    </div>
</section>

<script>
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover({
            html: true,
        });
    });
</script>