﻿@{
    ViewBag.Title = "企業社會責任";
    ViewBag.BannerStyle = "banner-csr";
    Layout = "~/Views/Shared/_Layout_Content.cshtml";
}

<!-- Letter from the Chairman -->
<section class="inside-article">
    <div class="content-lg row">
        <div class="col-md-12">
            <h3 class="title">衝突礦產承諾</h3>

        </div>
    </div>
</section>
<div class="content-lg row csr-bg">
    <div class="col-md-12">
        <h4 class="sub-title">日月光投資控股股份有限公司衝突礦產採購管理政策</h4>
        <p>
            來自剛果民主共和國的「衝突礦產<a href="javascript:" data-toggle="popover" data-trigger="hover" data-content="「衝突礦產」係指「華爾街改革與消費者保護法(Dodd-Frank Act)」第1502條和依據1934年證券交易法之美國證券交易委員會規則13P-1所界定的鈳鉭鐵礦、錫石、黃金、黑鎢礦或其衍生物。" data-placement="bottom">*</a>」之開採與銷售，有時會被武裝團體控制用以資助該國和鄰近區域的衝突，而我們產業的供應鏈可能會不慎取得衍生自衝突礦產的金屬，例如金、錫、鉭和鎢。日月光投資控股股份有限公司及其子公司(以下合稱“日月光投控”)致力於供應鏈非衝突採購，只使用來源可靠的「非衝突礦產<a href="javascript:" data-toggle="popover" data-trigger="hover" data-content="「非衝突礦產」係指不直接(或間接)為剛果民主共和國及鄰近區域的武裝團體帶來利益的「衝突礦產」。" data-placement="bottom">*</a>」。我們期望供應商與通過獨立第三方稽核計畫檢驗所認可的非衝突冶煉或熔煉廠進行採購。同時，我們也支持繼續使用來自剛果民主共和國或鄰近地區的非衝突礦產的措施，以不致於影響或縮減該區域「有責採礦作業<a href="javascript:" data-toggle="popover" data-trigger="hover" data-content="「有責採礦作業」係指承擔社會和環境責任的採礦作業。" data-placement="bottom">*</a>」。日月光投控遵循經濟合作暨發展組織(OECD)所制訂「來自有衝突或高風險地區的礦產其負責任的供應鏈盡職調查指南」的盡職調查(Due Diligence)架構，對供應商執行盡責調查，以建立衝突礦產的管理機制。<br><br>

            日月光投控供應商必須遵守以下方針：
            <ol class="nopadding">
                <li>積極調查與驗證其供應鏈，以確保日月光投控供應鏈透明化及非衝突採購的目標。</li>

                <li>遵循衝突礦產之區域及國際法規。</li>

                <li>遵循衝突礦產之採購及報告的產業標準。</li>

                <li>務求提供正確的非衝突礦產之正式保證。</li>
            </ol>
        </p>
    </div>
</div>
<section class="inside-article">
    <div class="content-lg row">
        <div class="col-md-12">
            <br>
            <div><a href="~/pdf/ch/2019_ASETH_ConflictMineralsCompliance.pdf" target="_blank"><div class="circle_button darkgray facilities-circle-button"><i class="icon-arrow-right facilities-icon-arrow-right"></i></div> 日月光投資控股股份有限公司衝突礦產採購管理政策</a></div>
            <br>
            <h4 class="sub-title">衝突礦產諮詢：</h4>
            <p>
                若您對於日月光半導體股份有限公司衝突礦產有任何建議與問題，請聯繫：<br>
                <a href="mailto:ASE_CM@aseglobal.com">ASE_CM@aseglobal.com</a><br><br>

                若您對於矽品精密工業股份有限公司衝突礦產有任何建議與問題，請聯繫：<br>
                <a href="mailto:petition@spil.com.tw">petition@spil.com.tw</a><br><br>

                若您對於環電股份有限公司衝突礦產有任何建議與問題，請聯繫：<br>
                <a href="mailto:conflict_minerals@usiglobal.com">conflict_minerals@usiglobal.com</a><br><br>
            </p>
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover({
            html: true,
            trigger: 'hover',
            placement: 'bottom',
        });
    });
</script>
