﻿@model ASEH_Front.Models.Download.DownloadViewModel

@{
    ViewBag.Title = "企業社會責任";
    ViewBag.BannerStyle = "banner-csr";
    Layout = "~/Views/Shared/_Layout_Content.cshtml";
}

<section class="inside-article">
    <div class="content-lg row">
        <article class="col-xs-12">
            <h3 class="title">企業社會責任下載專區</h3>
        </article>
    </div>
</section>
<section class="csr-bg">
    <div class="content-lg row">
        <div class="col-sm-10 col-sm-offset-1 csr">
            <div class="col-md-6 bgnews-list list-base">
                <div class="content">
                    <a href="@Url.Action("CsrReport", "Ch")">
                        <span class="blue-text-in-box">企業社會責任報告書下載</span>
                        <div class="circle_button-wrapper pull-right">
                            <div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-6 bgnews-list list-base">
                <div class="content">
                    <a href="@Url.Action("CsrVideo", "Ch")">
                        <span class="blue-text-in-box">企業社會責任影片下載</span>
                        <div class="circle_button-wrapper">
                            <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</section>
