﻿@{
    ViewBag.Title = "企業社會責任";
    ViewBag.BannerStyle = "banner-csr";
    Layout = "~/Views/Shared/_Layout_Content.cshtml";
}

<section class="inside-article">
    <div class="content-lg row">
        <div class="col-md-12">
            <h3 class="title">人權政策</h3>
            <p>
                為保護與促進人權，日月光集團支持並尊重「聯合國世界人權宣言」、「聯合國全球盟約」第一與第二條原則、「聯合國企業與人權指導原則」、國際勞工組織「工作基本原則與權利宣言」與當地法令規範，並透過加入「責任商業聯盟」，落實人權保障。據此，日月光集團訂定人權保障管理原則來保護員工，並期許我們的供應商亦恪遵此原則以維護人權。
            </p>
            <p>
                日月光集團承諾依以下原則落實人權保障：
                <ol class="nopadding">
                    <li>保護原則：恪遵營運所在地之勞動、性別工作平等相關法規，並提供勞動者安全及健康的工作環境。</li>

                    <li>尊重原則：不強迫勞動、禁用童工、不歧視、禁止騷擾、尊重結社自由、尊重隱私權、落實工作時間限制並給予合適的薪資福利。</li>

                    <li>補救原則：保持申訴機制暢通，如有違反人權事宜，即時採取補救改善措施。</li>

                    <li>管理原則：持續推動人權教育訓練、定期評估人權風險，並將結果呈報高階主管，同時將其對外公開揭露。</li>
                </ol>
            </p>
        </div>
    </div>
</section>