﻿@{
    ViewBag.Title = "企業社會責任";
    ViewBag.BannerStyle = "banner-csr";
    Layout = "~/Views/Shared/_Layout_Content.cshtml";
}

<section class="inside-article">
    <div class="content-lg row">
        <div class="col-md-12">
            <h3 class="title">供應商行為準則</h3>
            <p>
                日月光投資控股股份有限公司、其子公司及關係企業( 以下合稱「日月光」)是負責任的企業公民，以積極的行動確保商業行為符合專業及道德的最高標準。我們相信公司長期的經營與成功必須仰賴企業的永續發展及其社會責任的體現。而供應鏈是日月光商業價值鏈的重要延伸，我們積極投入供應鏈發展以確保供應商、承包商、服務提供商和分包商( 以下合稱「供應商」)共同實現永續發展的目標。<br><br>

                為了確保供應鏈工作環境的安全、保障員工受到尊重並富有尊嚴、落實環保並遵守道德操守，日月光依據「日月光投資控股股份有限公司商業行為與道德準則」及責任商業聯盟( 前身為電子行業公民聯盟，以下簡稱「責任商業聯盟」) 之行為準則，並參考「聯合國企業和人權指導原則」、國際勞工組織的「工作基本原則與權利宣言」及「世界人權宣言」等國際規範，訂定本供應商行為準則( 以下稱「本準則」)，要求供應商於勞工、健康與安全、環境、商業道德及管理體系等各方面之商業行為確實符合本準則，並且完全遵守經營所在國家/地區的法律和法規。供應商應要求其供應商、承包商、服務提供商和分包商採用並遵守本準則。供應商對本準則的遵循程度將是日月光評估採購決策的考量之一。<br><br>

                本準則由五個章節組成。A、B、C 章節分別概述勞工、健康與安全，以及環境的標準。D 章節列舉商業道德的標準；E 章節概述貫徹本準則的合宜管理體系之所需要素。<br><br>

                <div><a href="~/pdf/ch/ASE_Holding_Supplier_CoC_CH_2018.pdf"><div class="circle_button darkgray facilities-circle-button"><i class="icon-arrow-right facilities-icon-arrow-right"></i></div> 供應商行為準則</a></div>
            </p>
        </div>
    </div>
</section>