﻿@{
    ViewBag.Title = "企業社會責任";
    ViewBag.BannerStyle = "banner-csr";
    Layout = "~/Views/Shared/_Layout_Content.cshtml";
}

<section class="inside-article">
    <div class="content-lg row">
        <article class="col-xs-12">
            <h3 class="title">永續治理</h3>
            <p>
                日月光投控是負責任的企業公民，以積極的行動確保商業行為符合專業及道德的最高標準。我們相信公司長期的經營與成功必須仰賴企業的永續發展及其社會責任的體現。
            </p>
        </article>
    </div>
</section>
<!--Button-->
<section class="csr-bg">
    <div class="content-lg row">
        <div class="col-xs-12 csr">
            <div class="col-md-4 col-md-offset-2 bgnews-list list-base">
                <div class="content">
                    <a href="@Url.Action("CsrCorporateSustainabilityPolicy", "Ch")">
                        <span class="blue-text-in-box">企業永續政策</span>
                        <div class="circle_button-wrapper pull-right">
                            <div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 bgnews-list list-base">
                <div class="content">
                    <a href="@Url.Action("CsrSustainabilityStrategy", "Ch")">
                        <span class="blue-text-in-box">永續發展策略</span>
                        <div class="circle_button-wrapper">
                            <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4  col-offset-md-2 bgnews-list list-base">
                <div class="content">
                    <a href="@Url.Action("CsrBusinessConductEthics", "Ch")">
                        <span class="blue-text-in-box">商業行為與道德</span>
                        <div class="circle_button-wrapper">
                            <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 bgnews-list list-base">
                <div class="content">
                    <a href="@Url.Action("CsrHumanRightsManagement", "Ch")">
                        <span class="blue-text-in-box">人權政策</span>
                        <div class="circle_button-wrapper">
                            <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 bgnews-list list-base">
                <div class="content">
                    <a href="@Url.Action("CsrConflictMineralsCompliance", "Ch")">
                        <span class="blue-text-in-box">衝突礦產承諾</span>
                        <div class="circle_button-wrapper">
                            <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 bgnews-list list-base">
                <div class="content">
                    <a href="@Url.Action("CsrSupplierCoc", "Ch")">
                        <span class="blue-text-in-box">供應商行為準則</span>
                        <div class="circle_button-wrapper">
                            <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>