﻿@{
    ViewBag.Title = "企業社會責任";
    ViewBag.BannerStyle = "banner-csr";
    Layout = "~/Views/Shared/_Layout_Content.cshtml";
}

<section class="inside-article">
    <div class="content-lg row">
        <article class="col-xs-12">
            <h3 class="title">利害關係人專區</h3>
            <p>
                日月光投控承諾，進行有效且具策略性的利害關係人議合與溝通，展現透明與平衡的資訊揭露。
            </p>
            <p>
                與利害關係人的溝通是企業持續改善與長遠發展的關鍵。透過各種溝通機制，我們將利害關係人的回覆和建議納入全球策略與營運規劃中。利害關係人議合的主要目的是尋求各類利益相關群體的反饋，並將建議轉化為實際回應行動。
            </p>
        </article>
    </div>
</section>
<!--Button-->
<section class="csr-bg">
    <div class="content-lg row">
        <div class="col-xs-12 csr">
            <div class="col-md-4 col-md-offset-2 bgnews-list list-base">
                <div class="content">
                    <a href="http://ase.aseglobal.com/ch/CSR/csr_report_questionnaire">
                        <span class="blue-text-in-box">企業社會責任報告書問卷</span>
                        <div class="circle_button-wrapper pull-right">
                            <div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 bgnews-list list-base">
                <div class="content">
                    <a href="@Url.Action("Contact", "Ch")">
                        <span class="blue-text-in-box">聯絡企業社會責任團隊</span>
                        <div class="circle_button-wrapper">
                            <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>