﻿@model ASEH_Front.Models.Download.DownloadViewModel

@{
    ViewBag.Title = "下載專區";
    ViewBag.BannerStyle = "banner-about";
    Layout = "~/Views/Shared/_Layout_Content.cshtml";
    ViewBag.HeadTitle = "下載專區 | 日月光投控";
    ViewBag.Description = "日月光投控下載專區 : 取得企業社會責任報告書、永續治理文件、衝突礦產承諾文件。";
    ViewBag.enURL = "en/download";
    ViewBag.zhURL = "ch/download";
}

<section class="inside-article">
    <div class="content-lg row">
        <article class="col-xs-12">
            <h3 class="title">下載專區</h3>
        </article>
    </div>
</section>
<section class="inside-article">
    <div class="content-lg row csr">
        <article class="col-xs-12">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <!--    CSR Report Downloads Start    -->
                <div class="col-md-12 bgnews-list list-base panel">
                    <div class="content">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <span class="black-text-in-box accordion-center-text">企業社會責任報告書下載</span>
                            <div class="circle_button-wrapper">
                                <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                            </div>
                        </a>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingTwo">                       
                        <div class="panel-body">
                            <!-- left -->
                            <div class="col-md-6">
                                <!-- 1 -->
                                <div class="panel">
                                    <a role="button" href="~/ch/pdf/aseh_2020_csr_ch_final.pdf" target="_blank">
                                        <div class="downloads-link">
                                            <div class="circle_button downloads-circle-button darkgray">
                                                <i class="icon-arrow-right facilities-icon-arrow-right"></i>
                                            </div>
                                            <h3 class="title pull-left downloads-link-title">2020 企業社會責任報告書</h3>
                                        </div>
                                    </a>                                    
                                    <div class="clearfix"></div>                                    
                                </div>
                            </div>

                            <!-- right -->
                            <div class="col-md-6">
                                <!-- 1 -->
                                <div class="panel">
                                    <a role="button" href="~/ch/pdf/aseh_2019_csr_ch_final.pdf" target="_blank">
                                        <div class="downloads-link">
                                            <div class="circle_button downloads-circle-button darkgray">
                                                <i class="icon-arrow-right facilities-icon-arrow-right"></i>
                                            </div>
                                            <h3 class="title pull-left downloads-link-title">2019 企業社會責任報告書</h3>
                                        </div>
                                    </a>                                    
                                    <div class="clearfix"></div>                                    
                                </div>
                            </div>

                            <!-- left -->
                            <div class = "col-md-6">
                                <!-- 2 -->
                                <div class="panel">
                                    <a role="button" href="~/ch/pdf/aseh_2018_csr_ch_final.pdf" target="_blank">
                                        <div class="downloads-link">
                                            <div class="circle_button downloads-circle-button darkgray">
                                                <i class="icon-arrow-right facilities-icon-arrow-right"></i>
                                            </div>
                                            <h3 class="title pull-left downloads-link-title">2018 企業社會責任報告書</h3>
                                        </div>
                                    </a>                                    
                                    <div class="clearfix"></div>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--    CSR Report Downloads End    -->

                <!--    Sustainability Document Downloads Start     -->
                <div class="col-md-12 bgnews-list list-base panel">
                    <div class="content">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <span class="black-text-in-box accordion-center-text">永續治理文件下載</span>
                            <div class="circle_button-wrapper">
                                <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                            </div>
                        </a>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
                            <!-- left -->
                            <div class="col-md-6">
                                <!-- 1 -->
                                <div class="panel">
                                    <a role="button" href="~/ch/pdf/2019_ASETH_CorporateSustainabilityAndCitizenshipPolicy.pdf" target="_blank">
                                        <div class="downloads-link">
                                            <div class="circle_button downloads-circle-button darkgray">
                                                <i class="icon-arrow-right facilities-icon-arrow-right"></i>
                                            </div>
                                            <h3 class="title pull-left downloads-link-title">企業永續發展與企業公民政策</h3>
                                        </div>
                                    </a>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <!-- right -->
                            <div class="col-md-6">
                                <!-- 2 -->
                                <div class="panel">
                                    <a role="button" href="~/ch/pdf/human-rights-policy-ch.pdf" target="_blank">
                                        <div class="downloads-link">
                                            <div class="circle_button downloads-circle-button darkgray">
                                                <i class="icon-arrow-right facilities-icon-arrow-right"></i>
                                            </div>
                                            <h3 class="title pull-left downloads-link-title">人權政策</h3>
                                        </div>
                                    </a>
                                    <div class="clearfix"></div>
                                </div>
                            </div>

                            <!-- left -->
                            <div class="col-md-6">
                                <!-- 3 -->
                                <div class="panel">
                                    <a role="button" href="~/ch/pdf/2019_ASETH_PurchasingAndSupplyChainDevelopmentPolicy.pdf" target="_blank">
                                        <div class="downloads-link">
                                            <div class="circle_button downloads-circle-button darkgray">
                                                <i class="icon-arrow-right facilities-icon-arrow-right"></i>
                                            </div>
                                            <h3 class="title pull-left downloads-link-title">採購與供應鏈發展政策</h3>
                                        </div>
                                    </a>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <!-- right -->
                            <div class="col-md-6">
                                <!-- 4 -->
                                <div class="panel">
                                    <a role="button" href="~/ch/pdf/ASE_Holding_Supplier_CoC_CH_2018.pdf" target="_blank">
                                        <div class="downloads-link">
                                            <div class="circle_button downloads-circle-button darkgray">
                                                <i class="icon-arrow-right facilities-icon-arrow-right"></i>
                                            </div>
                                            <h3 class="title pull-left downloads-link-title">供應商行為準則</h3>
                                        </div>
                                    </a>
                                    <div class="clearfix"></div>
                                </div>
                            </div>

                            <!-- left -->
                            <div class="col-md-6">
                                <!-- 5 -->
                                <div class="panel">
                                    <a role="button" href="~/ch/pdf/aseh_public_affairs_policy.pdf" target="_blank">
                                        <div class="downloads-link">
                                            <div class="circle_button downloads-circle-button darkgray">
                                                <i class="icon-arrow-right facilities-icon-arrow-right"></i>
                                            </div>
                                            <h3 class="title pull-left downloads-link-title">公共事務參與政策</h3>
                                        </div>
                                    </a>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <!-- right -->
                            <div class="col-md-6">
                                <!-- 6 -->
                                <div class="panel">
                                    <a role="button" href="~/ch/pdf/2019_aseh_timm_report_ch.pdf?1" target="_blank">
                                        <div class="downloads-link">
                                            <div class="circle_button downloads-circle-button darkgray">
                                                <i class="icon-arrow-right facilities-icon-arrow-right"></i>
                                            </div>
                                            <h3 class="title pull-left downloads-link-title">全面影響力價值評估報告</h3>
                                        </div>
                                    </a>
                                    <div class="clearfix"></div>
                                </div>
                            </div>

                            <!-- left -->
                            <div class="col-md-6">
                                <!-- 7 -->
                                <div class="panel">
                                    <a role="button" href="~/ch/pdf/2018_aseh_sdg_report_ch.pdf" target="_blank">
                                        <div class="downloads-link">
                                            <div class="circle_button downloads-circle-button darkgray">
                                                <i class="icon-arrow-right facilities-icon-arrow-right"></i>
                                            </div>
                                            <h3 class="title pull-left downloads-link-title">全球永續發展目標報告</h3>
                                        </div>
                                    </a>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <!-- right -->
                            <div class="col-md-6">
                                <!-- 8 -->
                                <div class="panel">
                                    <a role="button" href="~/ch/pdf/anti-discrimination-and-anti-harassment-policy-ch.pdf" target="_blank">
                                        <div class="downloads-link">
                                            <div class="circle_button downloads-circle-button darkgray">
                                                <i class="icon-arrow-right facilities-icon-arrow-right"></i>
                                            </div>
                                            <h3 class="title pull-left downloads-link-title">反歧視及反騷擾政策</h3>
                                        </div>
                                    </a>
                                    <div class="clearfix"></div>
                                </div>
                            </div>

                            <!-- left -->
                            <div class="col-md-6">
                                <!-- 9 -->
                                <div class="panel">
                                    <a role="button" href="~/ch/pdf/environmental-responsibility-policy-ch.pdf" target="_blank">
                                        <div class="downloads-link">
                                            <div class="circle_button downloads-circle-button darkgray">
                                                <i class="icon-arrow-right facilities-icon-arrow-right"></i>
                                            </div>
                                            <h3 class="title pull-left downloads-link-title">環境責任政策</h3>
                                        </div>
                                    </a>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <!-- right -->
                            <div class="col-md-6">
                                <!-- 10 -->
                                <div class="panel">
                                    <a role="button" href="~/ch/pdf/2020_aseth_ismp_ch.pdf" target="_blank">
                                        <div class="downloads-link">
                                            <div class="circle_button downloads-circle-button darkgray">
                                                <i class="icon-arrow-right facilities-icon-arrow-right"></i>
                                            </div>
                                            <h3 class="title pull-left downloads-link-title">資訊安全政策</h3>
                                        </div>
                                    </a>
                                    <div class="clearfix"></div>
                                </div>
                            </div>

                            <!-- left -->
                            <div class="col-md-6">
                                <!-- 11 -->
                                <div class="panel">
                                    <a role="button" href="~/ch/pdf/2020_aseh_risk_management_policies_procedures_ch_v1.pdf" target="_blank">
                                        <div class="downloads-link">
                                            <div class="circle_button downloads-circle-button darkgray">
                                                <i class="icon-arrow-right facilities-icon-arrow-right"></i>
                                            </div>
                                            <h3 class="title pull-left downloads-link-title">風險管理政策與程序辦法</h3>
                                        </div>
                                    </a>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <!-- right -->
                            <div class="col-md-6">
                                <!-- 12 -->
                                <div class="panel">
                                    <a role="button" href="~/ch/pdf/privacy-policy-ch.pdf" target="_blank">
                                        <div class="downloads-link">
                                            <div class="circle_button downloads-circle-button darkgray">
                                                <i class="icon-arrow-right facilities-icon-arrow-right"></i>
                                            </div>
                                            <h3 class="title pull-left downloads-link-title">隱私權政策</h3>
                                        </div>
                                    </a>
                                    <div class="clearfix"></div>
                                </div>
                            </div>

                            <!-- left -->
                            <div class="col-md-6">
                                <!-- 13 -->
                                <div class="panel">
                                    <a role="button" href="~/ch/pdf/cookie-term-ch.pdf" target="_blank">
                                        <div class="downloads-link">
                                            <div class="circle_button downloads-circle-button darkgray">
                                                <i class="icon-arrow-right facilities-icon-arrow-right"></i>
                                            </div>
                                            <h3 class="title pull-left downloads-link-title">Cookie聲明</h3>
                                        </div>
                                    </a>
                                    <div class="clearfix"></div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!--    Sustainability Document Downloads End    -->
                <!--    Conflict Minerals Document Downloads Start     -->
                <div class="col-md-12 bgnews-list list-base panel">
                    <div class="content">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            <span class="black-text-in-box accordion-center-text">衝突礦產承諾文件下載</span>
                            <div class="circle_button-wrapper">
                                <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                            </div>
                        </a>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingFive">
                        <div class="panel-body">
                            <!-- left -->
                            <div class="col-md-6">
                                <!-- 1 -->
                                <div class="panel">
                                    <a role="button" href="~/ch/pdf/2019_aseth_conflictmineralscompliance.pdf" target="_blank">
                                        <div class="downloads-link">
                                            <div class="circle_button downloads-circle-button darkgray">
                                                <i class="icon-arrow-right facilities-icon-arrow-right"></i>
                                            </div>
                                            <h3 class="title pull-left downloads-link-title">衝突礦產採購管理政策</h3>
                                        </div>
                                    </a>
                                    <div class="clearfix"></div>
                                </div>
                            </div>

                            <!-- right -->
                            <div class="col-md-6">
                                <!-- 2 -->
                                <div class="panel">
                                    <a role="button" href="~/ch/pdf/2020_ASEH_CM_Report.pdf" target="_blank">
                                        <div class="downloads-link">
                                            <div class="circle_button downloads-circle-button darkgray">
                                                <i class="icon-arrow-right facilities-icon-arrow-right"></i>
                                            </div>
                                            <h3 class="title pull-left downloads-link-title">日月光投控2020衝突礦產申報文件</h3>
                                        </div>
                                    </a>
                                    <div class="clearfix"></div>
                                </div>
                            </div>

                            <!-- left -->
                            <div class="col-md-6">
                                <!-- 3 -->
                                <div class="panel">
                                    <a role="button" href="~/ch/pdf/2019_ASEH_CM_Report.pdf" target="_blank">
                                        <div class="downloads-link">
                                            <div class="circle_button downloads-circle-button darkgray">
                                                <i class="icon-arrow-right facilities-icon-arrow-right"></i>
                                            </div>
                                            <h3 class="title pull-left downloads-link-title">日月光投控2019衝突礦產申報文件</h3>
                                        </div>
                                    </a>
                                    <div class="clearfix"></div>
                                </div>
                            </div>

                            <!-- right -->
                            <div class="col-md-6">
                                <!-- 4 -->
                                <div class="panel">
                                    <a role="button" href="~/ch/pdf/2018_ASEH_CM_Report.pdf" target="_blank">
                                        <div class="downloads-link">
                                            <div class="circle_button downloads-circle-button darkgray">
                                                <i class="icon-arrow-right facilities-icon-arrow-right"></i>
                                            </div>
                                            <h3 class="title pull-left downloads-link-title">日月光投控2018衝突礦產申報文件</h3>
                                        </div>
                                    </a>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--    Conflict Minerals Document Downloads End    -->
                <!--    Video Downloads Start     -->
                <div class="col-md-12 bgnews-list list-base panel">
                    <div class="content">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                            <span class="black-text-in-box accordion-center-text">影片下載</span>
                            <div class="circle_button-wrapper">
                                <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                            </div>
                        </a>
                    </div>
                    <div id="collapseSix" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingSix">
                        <div class="panel-body">
                            <!-- left -->
                            <div class="panel">
                                <a role="button" href="https://youtu.be/s8U-cVC1OX4" target="_blank">
                                    <div class="downloads-link">
                                        <div class="circle_button downloads-circle-button darkgray">
                                            <i class="icon-arrow-right facilities-icon-arrow-right"></i>
                                        </div>
                                        <h3 class="title pull-left downloads-link-title">感動的力量</h3>
                                    </div>
                                </a>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--    Video Downloads End    -->
            </div>
        </article>
    </div>

</section>
