﻿@model ASEH_Front.Models.Article.ArticleViewModel

@{
    ViewBag.Title = "首頁";
    Layout = "~/Views/Shared/_Layout_Base.cshtml";
    int x = 0;
    int y = 0;
    ViewBag.HeadTitle = "日月光投控 | 半導體委外封測產業領導者";
    ViewBag.Description = "日月光投資控股股份有限公司是由日月光半導體製造股份有限公司及矽品精密工業股份有限公司合併組成。日月光投控提供客戶完整的封測解決方案，包括晶片測試程式開發、前段工程測試、晶圓針測、晶圓凸塊、基板設計與製造、晶圓級封裝、覆晶封裝、系統級封裝、成品測試以及電子製造服務。";
    ViewBag.enURL = "en";
    ViewBag.zhURL = "ch";
}


<style>
    .carousel-background {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        opacity: 0;
    }

        .carousel-background video {
            position: relative;
            left: 50%;
            top: 50%;
            transform: translate3d(-50%, -50%, 0);
            opacity: 0;
            transition: opacity 0.5s;
        }

    @@media screen and (max-width: 767px) {
        .carousel-background--mobile {
            opacity: 1;
        }
    }

    @@media screen and (min-width: 768px) {
        .carousel-background--pc {
            opacity: 1;
        }
    }
</style>

<!-- Slieder Banner -->
@Html.Partial("../Widgets/Banner")

<!-- INDEX FASTLINK -->
<section id="iconlink" class="iconlink linebg-2">
    <div class="content-lg padding-W200">
        <h3 class="text-center sub-title" style="font-weight: bold;">日月光投資控股股份有限公司成員</h3>
        <ul class="row row_padding_0 item-csr">
            <li class="col-xs-12 col-md-4 text-center">
                <a href="https://ase.aseglobal.com/ch" target="_blank">
                    <div class="imgbox">
                        <img src="https://3711cdn.r.worldssl.net/pic/content/ch/images/index/thumbnail_ase.png" alt="ASE Inc." data-hover="https://3711cdn.r.worldssl.net/pic/content/ch/images/index/thumbnail_ase_hover.png">
                    </div>
                    <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                </a>
            </li>
            <li class="col-xs-12 col-md-4 text-center">
                <a href="https://www.spil.com.tw/" target="_blank">
                    <div class="imgbox">
                        <img src="https://3711cdn.r.worldssl.net/pic/content/ch/images/index/thumbnail_spil.png" alt="SPIL" data-hover="https://3711cdn.r.worldssl.net/pic/content/ch/images/index/thumbnail_spil_hover.png">
                    </div>
                    <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                </a>
            </li>
            <li class="col-xs-12 col-md-4 text-center">
                <a href="https://www.usiglobal.com/tw" target="_blank">
                    <div class="imgbox">
                        <img src="https://3711cdn.r.worldssl.net/pic/content/ch/images/index/thumbnail_usi.png" alt="USI" data-hover="https://3711cdn.r.worldssl.net/pic/content/ch/images/index/thumbnail_usi_hover.png">
                    </div>
                    <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                </a>
            </li>
        </ul>
    </div>
</section>

<!-- INDEX FEATURE -->
<section id="index_fearture">
    <div class="row row_padding_0" data-bgcolor="#bec3c7">
        <figure class="col-xs-12 col-ms-12 col-md-6">
            <img src="https://3711cdn.r.worldssl.net/pic/content/ch/images/index/holding_01.jpg" alt="INVESTOR RELATIONS img">
        </figure>
        <div class="col-xs-12 col-ms-12 col-md-6 caption-holding">
            <div>
                <h3>投資人關係</h3>
                <p>更多財務資訊、公司治理、股價資訊等</br>相關訊息</p>
                <a class="button" href="https://ir.aseglobal.com/c/index.php"><span>了解更多</span><i class="icon-arrow-right"></i></a>
            </div>
        </div>
    </div>
    <div class="row row_padding_0" data-bgcolor="#68656e">
        <figure class="col-xs-12 col-ms-12 col-md-6">
            <img src="https://3711cdn.r.worldssl.net/pic/content/ch/images/index/holding_02.jpg" alt="CORPORATE SOCIAL RESPONSIBILITY img">
        </figure>
        <div class="col-xs-12 col-ms-12 col-md-6 caption-holding">
            <div>
                <h3>企業社會責任</h3>
                <p>日月光連續五年榮獲雙項道瓊永續殊榮</p>
                <a class="button" href="@Url.Action("Csr", "Ch")"><span>了解更多</span><i class="icon-arrow-right"></i></a>
            </div>
        </div>
    </div>
</section>
<section id="events_news" class="bgnews-list">
    <div class="content-lg row">
        <br>
        <div class="col-xs-12 col-md-4"></div>
        <div class="col-xs-12 col-md-4">
            <div class="list">
                <h4 class="text-center">
                    新聞
                    <a href="@Url.Action("Press_Room", "Ch")" class="circle_button"><i class="icon-cross"></i></a>
                </h4>
                <div class="content info-3">
                    @foreach (var item in Model.ArticleList)
                    {
                        <a href="@Url.RouteUrl("PressRoom", new { id = item.AtcDesc.Replace(" ", "-") })">
                            <div class="textbox">
                                <p class="date">@item.AtcOpenDate.Value.ToString("yyyy/MM/dd")</p>
                                <p class="title limit-row-two">@item.AtcName</p>
                            </div>
                            <div class="circle_button-wrapper">
                                <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                            </div>
                        </a>
                    }
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4"></div>
    </div>
</section>
<script>
    function getAspect(ele) {
        return ele.offsetWidth / ele.offsetHeight
    }
    function resizeVideo() {
        $('#index-banner .active video').each(function (idx) {
            var ele = $('#index-banner .active video')[idx]
            var containerAspect = getAspect(ele.parentElement)
            var targetAspect = getAspect(ele)

            if (containerAspect >= targetAspect) {
                ele.style.width = '100%';
                ele.style.height = 'auto'
            } else {
                ele.style.height = '100%';
                ele.style.width = 'auto';
            }
            ele.style.opacity = 1;
        })
    }
    $('#index-banner').on('slid.bs.carousel', function () {
        resizeVideo()
    })
    $(window).on('resize', function () {
        resizeVideo()
    })
    $('video').on('loadeddata', function () {
        console.log('loaded')
        resizeVideo()
    })
</script>