﻿@{
    ViewBag.Title = "邁向永續共贏的未來";
    ViewBag.BannerStyle = "banner-csr";
    Layout = "~/Views/Shared/_Layout_Content.cshtml";
    ViewBag.HeadTitle = "智財管理 | 日月光投控";
    ViewBag.Description = "持續研發創新、強化智慧財產管理是日月光營運成功的重要因素之一。";
    ViewBag.enURL = "en/ip_management";
    ViewBag.zhURL = "ch/ip_management";
}

<section class="inside-article">
    <div class="content-lg row">
        <article class="col-xs-12">
            <h3 class="title">智財管理計畫</h3>
            <h4 class="sub-title">智慧財產管理政策與目標</h4>
            <p>
                為維持全球技術領導地位，本公司持續投入研發創新工作，擬定符合公司營運暨研發策略的智財管理策略，建立一套運用智慧財產權來促進各種商業利益的運作模式，以妥善保護公司研發成果，提升公司競爭力，確保公司營運的自由，為股東帶來最大收益。<br><br>
            </p>
            <h4 class="sub-title">智慧財產管理制度</h4>
            <p>
                為落實智慧財產政策與目標，本公司及所屬子公司依據公司營運藍圖以及相關最新法令規劃創新活動，建立並持續強化智慧財產管理制度，經由健全妥善的智財管理確保研發成果成為智慧財產權，獲得完善有效的保護，並整合運用高價值的智慧財產權促進各種商業利益，以持續提升競爭力並增強防禦力。<br><br>
            </p>
        </article>
    </div>
</section>
<section class="inside-article">
    <div class="content-lg row csr">
        <article class="col-xs-12">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                <div class="col-md-12 bgnews-list list-base panel">
                    <div class="content">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
                            <span class="black-text-in-box" style="color: #2a93d5;">A. 專利</span>
                            <div class="circle_button-wrapper pull-right">
                                <div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
                            </div>
                        </a>
                    </div>
                    <div id="collapseOne" class="panel-collapse no-border collapse" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false" style="height: 0px;">
                        <div class="panel-body">
                            <div class="col-md-12">
                                <p>
                                    本公司的智財管理策略著重於專利數量、品質與價值三者並重。除了針對關鍵技術提早全面布局外，更透過不斷的評估和創新，讓專利權去蕪存菁，達到品質持續提升的目標，亦持續強化專利權加值活化的運用，極大化研發投資的收益。除此之外，本公司亦與產業技術領導者合作，共同研發、布局申請或取得必要專利授權，以確保公司在技術上能全方位地增強防禦力和維持競爭力。
                                </p>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-md-12 bgnews-list list-base panel">
                    <div class="content">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" class="collapsed">
                            <span class="black-text-in-box" style="color: #2a93d5;">B. 營業秘密</span>
                            <div class="circle_button-wrapper pull-right">
                                <div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
                            </div>
                        </a>
                    </div>

                    <div id="collapseTwo" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingTwo" aria-expanded="false">
                        <div class="panel-body">
                            <div class="col-md-12">
                                <p>
                                    本公司的營業秘密是成本優勢、技術領先、精細製造、智慧工廠、客戶信賴等企業競爭力的基礎。本公司藉資訊安全制度、觀念宣導、全廠培訓、系統化管理等措施，確保營業秘密各保護要件皆能滿足，當必要時，可有效援引營業秘密相關法令制止他人不正當取得、揭露或使用本公司資訊資產，保障投資並捍衛權益。
                                </p>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-md-12 bgnews-list list-base panel">
                    <div class="content">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree" class="collapsed">
                            <span class="black-text-in-box" style="color: #2a93d5;">C. 商標</span>
                            <div class="circle_button-wrapper pull-right">
                                <div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
                            </div>
                        </a>
                    </div>

                    <div id="collapseThree" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingThree" aria-expanded="false">
                        <div class="panel-body">
                            <div class="col-md-12">
                                <p>
                                    為了使本公司專屬產品或服務與他人的類似產品或服務區隔，本公司已註冊並取得若干商標權。當行銷推廣產品或服務時，本公司可以使用註冊的商標彰顯公司產品或服務的品質與特色。若他人不當使用近似標記造成客戶或消費者混淆誤認時，本公司可主張商標權以捍衛商譽或鞏固市占率。
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </article>
    </div>
</section>
<section class="inside-article">
    <div class="content-lg row">
        <article class="col-xs-12">
            <br>
            <h4 class="sub-title">有關智慧財產權之風險與因應措施</h4>
            <p>
                持續研發創新、強化智慧財產管理是日月光營運成功的重要因素之一，基此公司不斷積極地研發並保護自身的智慧財產權。為防範公司的獨有技術、營業秘密或專利被他人剽竊或侵害的風險，本公司加強建立公司全體同仁的智財意識並要求落實保護措施於日常工作中。除定期以線上或開辦課程的方式舉辦智權相關的教育訓練外，亦不定期舉辦各式演練活動，提升同仁對智權保護的認知。此外，本公司亦透過資訊設備管制、電子郵件管制及以廠區管制等管控措施，強化公司安全管理，降低洩密的風險。本公司並已建立應變機制與流程，對於智慧財產權遭受侵害的風險能及時啟動調查蒐證的程序，必要時亦會透過法律行動，排除他人的侵權行為，捍衛公司的智慧財產權。<br><br>

                公司同時也尊重他人合法的智慧財產權，但無法保證公司獨立開發之技術，或在不知情的狀況下，是否可能有與他人的智慧財產權相衝突之疑慮。此外，公司在某種程度上需倚賴他人的技術及專利授權。當無法以合理條件取得授權時，公司可能有被第三方主張侵權的賠償責任或聲請法院禁制令的風險，或是客戶依合約請求及主張本公司負擔或賠償客戶因第三方侵權主張所遭受之損害，因而公司會策略性取得某些特定技術的必要授權，並同時盤點整備公司具備的優質專利作為防禦訴訟或交互授權之用，確保公司的營運自由。<br><br>
            </p>
            <h4 class="sub-title">執行情形</h4>
            <p>
                截至2021 年1月31日，本公司擁有6,038件專利，布局主要在各種封裝測試技術和電子製造服務技術，其包括2,473件台灣專利，1,836件美國專利，1,695件中華人民共和國專利，9件歐洲專利和25件其他國家專利。截至2021年1月31日，我們共擁有1,631件專利申請案，其包括175件台灣專利申請案，572件美國專利申請案，852件中華人民共和國專利申請案，15件歐洲專利申請案和17件其他國家專利申請案。<br><br>

                本公司目前已在台灣、美國、中國及歐盟申請並註冊若干商標，其中如“日月光”、“ASE”, “aCSP”, “a-EASI”, “a-<i>fc</i>CSP”, “aQFN”, “a-QFN”, “a-S³”, “a-TiV”, “aWLP”, “a-WLP”, “iSiP”, “iWLP”, “aSiM”, “SiP-id”, “SPIL”, “<img src="https://3711cdn.r.worldssl.net/pic/content/en/images/about/logo_usi_ch.png" width="28px" />”、“環電”、“<img src="https://3711cdn.r.worldssl.net/pic/content/en/images/about/logo_usi.png" width="35px" />”, “環旭”, “环旭”, “環鴻”, “环鸿”, “HSiP”, “<img src="https://3711cdn.r.worldssl.net/pic/content/en/images/about/logo_gd.png" width="30px" />”, “<img src="https://3711cdn.r.worldssl.net/pic/content/en/images/about/logo_usi_six.png" width="24px" />”, “<img src="https://3711cdn.r.worldssl.net/pic/content/en/images/about/logo_sipset.png" width="50px" />”, “XnBay”, “Emerald” & “<img src="https://3711cdn.r.worldssl.net/pic/content/en/images/about/logo_cloud.png" width="28px" />”已在台灣獲得註冊。<br><br>

                本公司每年至少一次將上述智慧財產管理計畫及執行情形向董事會進行報告，並針對董事之建議提出改善措施。最近一次提報日期為2020年10月15日。
            </p>
        </article>
    </div>
</section>