﻿@{
    ViewBag.Title = "大事紀";
    ViewBag.BannerStyle = "banner-about";
    Layout = "~/Views/Shared/_Layout_Content.cshtml";
    ViewBag.HeadTitle = "大事紀 | 日月光投控";
    ViewBag.Description = "日月光投控 - 大事紀";
    ViewBag.enURL = "en/milestones";
    ViewBag.zhURL = "ch/milestones";
}

<section class="timeline_section inside-article">
    <div class="content-lg row">
        <article class="col-xs-12">
            <h3 class="title">大事紀</h3>
        </article>
    </div>
    <div class="content-lg row">
        <div class="col-xs-12">
            <div id="milestone" class="timeline_div">    
            <div class="timeline_container">
                <div class="timeline">
                    <div class="plus"></div>
                </div>
            </div>
            <div class="item offset-first">  
                <span class="corner big current"></span>                     
                <div class="year"><b>2020</b></div>
                <div class="event">
                    <ul class="current">
                        <li>
                            <a href="https://ase.aseglobal.com/en/solution/smart_factory_5g">建立全球首座5G mmWave企業專網智慧工廠。</a>
                            <br />
                            <img src="https://3711cdn.r.worldssl.net/pic/content/en/images/about/2020_5g_smart_factoty.jpg" class="col-xs-6 nopadding" />
                        </li><br />
                        <li>
                            <a href="https://www.aseglobal.com/ch/press_room_detail/2020_cdp_double_a">首度榮獲CDP水安全專案評比 A List。</a>
                            <br />
                            <img src="https://3711cdn.r.worldssl.net/pic/content/en/images/about/2020_cdp_water-stamp.png" class="col-xs-6 nopadding" style="border: #DDDDDD 1px solid" />
                        </li><br />
                        <li>
                            <a href="https://www.aseglobal.com/ch/press_room_detail/2020_cdp_double_a">榮獲2020年CDP氣候變遷評比 A List。</a>
                            <br />
                            <img src="https://3711cdn.r.worldssl.net/pic/content/en/images/about/2020_cdp_climate-stamp.png" class="col-xs-6 nopadding" style="border: #DDDDDD 1px solid" />
                        </li><br />
                        <li>
                            <a href="https://www.aseglobal.com/ch/press_room_detail/2020_tcsa">榮獲2020年TCSA 台灣十大永續典範企業獎(製造業組)。</a>
                            <br />
                            <img src="https://3711cdn.r.worldssl.net/pic/content/en/images/about/2020_tcsa.jpg" class="col-xs-6 nopadding" />
                        </li><br />
                        <li>
                            <a href="https://www.aseglobal.com/ch/press_room_detail/2020_djsi_industry_leader">連續五年榮獲道瓊永續指數「半導體及半導體設備產業」領導者(DJSI Semiconductors and Semiconductor Equipment Industry Leader)。</a>
                            <br />
                            <img src="https://3711cdn.r.worldssl.net/pic/content/en/images/about/2020_DowJonesSustainability.png" class="col-xs-8 nopadding" />
                        </li><br />
                        <li>
                            <a href="https://www.aseglobal.com/ch/press_room_detail/amb_lift_restrictive-conditions">中國大陸反壟斷法執法機構於3月25日解除日月光與矽品共組控股公司案之限制條件。</a>
                            <br />
                        </li> 
                    </ul>  
                </div>
            </div>
            <div class="item">  
                <span class="corner current"></span>                     
                <div class="year"><b>2019</b></div>
                <div class="event">
                    <ul class="current">
                        <li>
                            <a href="https://www.aseglobal.com/ch/press_room_detail/2019_cdp_a_list">榮獲2019年CDP氣候變遷評比「A List」及供應鏈議合評價「Leader Board」。</a>
                            <br />
                            <img src="https://3711cdn.r.worldssl.net/pic/content/en/images/about/2019_CDP_A_List.gif" class="col-xs-6 nopadding" />
                        </li><br />
                        <li>
                            <a href="https://www.aseglobal.com/ch/press_room_detail/2019_djsi_industry_leader">榮獲2019 道瓊永續指數(DJSI) 產業領導者，並入選DJSI「世界指數」與「新興市場指數」成份股。</a>
                            <br />
                            <img src="https://3711cdn.r.worldssl.net/pic/content/en/images/about/2019_DowJonesSustainability.gif" class="col-xs-8 nopadding" />
                        </li>
                    </ul>  
                </div>
            </div>
            <div class="item">  
                <span class="corner current"></span>                     
                <div class="year"><b>2018</b></div>
                <div class="event">
                    <ul class="current">
                        <li>
                            日月光投資控股公司於4月30日正式掛牌上市，臺灣證交所股票代號: 3711，美國紐約證交所股票代號: ASX。
                            <!-- <img src="https://3711cdn.r.worldssl.net/pic/content/en/images/about/2018_ASEH.jpg" class="col-xs-4 nopadding hide-in-small" /> -->
                        </li><br />
                        <li>
                            <a href="https://ase.aseglobal.com/ch/press_room/content/thomson_reuters_top_100_ch" target="_blank">榮登《湯森路透》2018年全球百大技術領袖（Thomson Reuters Top 100 Global Technology Leader），該獎項肯定日月光在科技產業營運與財務面的傑出表現。</a>
                            <br />
                            <img src="https://3711cdn.r.worldssl.net/pic/content/en/images/about/2018_ThomsonReuters.jpg" class="col-xs-4 nopadding" />
                        </li>
                    </ul>   
                </div>
            </div>
            <div class="item">  
                <span class="corner current"></span>                     
                <div class="year"><b>2016</b></div>
                <div class="event">
                    <ul class="current">
                        <li>
                            日月光與矽品董事會於6月20日分別決議通過雙方簽訂「共同轉換股份協議」，雙方合意共同籌組新設產業控股公司。
                            <br />
                            <img src="https://3711cdn.r.worldssl.net/pic/content/en/images/about/2016_ASE_Spin.jpg" class="col-xs-6 nopadding" />
                        </li>
                    </ul>    
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Each Page JS -->
<script type="text/javascript" src="https://3711cdn.r.worldssl.net/js/js/vendor/imagesloaded.pkgd.min.js"></script>
<script type="text/javascript" src="https://3711cdn.r.worldssl.net/js/js/vendor/masonry.pkgd.min.js"></script>