﻿@{
    ViewBag.Title = "訂閱電子報";
    ViewBag.BannerStyle = "banner-news";
    Layout = "~/Views/Shared/_Layout_Content.cshtml";
    ViewBag.HeadTitle = "忘記密碼";
}



<section class="inside-article">
    <div class="content-lg row">
        <article class="col-xs-12">
            <h3 class="title"><img src="https://3711cdn.r.worldssl.net/pic/news-forget.png" class="news-icon" /> 忘記密碼</h3>
            @if (ViewBag.Token == null)
            {
                <p style="font-size: 20px">請輸入註冊的電子信箱</p>
            }
            else
            {
                <p style="font-size: 20px">驗證成功，請輸入修改密碼</p>
            }
        </article>
    </div>
</section>

<section class="csr-bg">
    <div class="content-lg row">
        <div class="col-lg-offset-3 col-lg-6" style="padding-top: 50px; padding-bottom: 200px;">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal" }))
            {
                if (ViewBag.Token == null)
                {
                    <div class="form-group">
                        <label class="col-sm-3 control-label">電子信箱</label>
                        <div class="col-sm-9">
                            <input class="form-control" type="email" name="Email" placeholder="">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-4">
                            <button type="submit" class="btn btn-primary btn-block">寄送驗證信</button>
                        </div>
                    </div>
                }
                else
                {
                    <div class="form-group">
                        <label class="col-sm-3 control-label">新密碼</label>
                        <div class="col-sm-9">
                            <span class="glyphicon glyphicon-eye-open togglePassword"></span>
                            <input class="form-control" type="password" name="Password" placeholder="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">再次確認密碼</label>
                        <div class="col-sm-9">
                            <span class="glyphicon glyphicon-eye-open togglePassword"></span>
                            <input class="form-control" type="password" name="ConfirmPassword" placeholder="">
                        </div>
                    </div>
                    <input name="Token" value="@ViewBag.Token" type="hidden" />
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-3">
                            <button type="submit" class="btn btn-primary btn-block">變更</button>
                        </div>
                    </div>
                }
            }
        </div>

    </div>
</section>