﻿@{
    ViewBag.Title = "訂閱電子報";
    ViewBag.BannerStyle = "banner-news";
    Layout = "~/Views/Shared/_Layout_Content.cshtml";
    ViewBag.HeadTitle = "登入電子報通知";
}


<section class="inside-article">
    <div class="content-lg row">
        
        <article class="col-xs-12">
            
            <h3 class="title"><img src="https://3711cdn.r.worldssl.net/pic/news-login.png" class="news-icon" /> 電子報</h3>
        </article>
    </div>
</section>

<section class="csr-bg">
    <div class="content-lg row">
        <div class="col-lg-offset-3 col-lg-6" style="border: 1px solid #aaa; padding: 12px; margin-top: 12px; margin-bottom: 12px;background-color:#fefefe;">
            <h4 style="text-align:center">我要訂閱</h4>
            <hr />
            @using (Html.BeginForm("News_Register", null, FormMethod.Post, new { @class = "form-horizontal" }))
            {
                <div class="form-group">
                    <label class="col-sm-3 control-label required">名稱</label>
                    <div class="col-sm-9">
                        <input class="form-control" name="NickName" placeholder="" required value="@Model.NickName">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label required">電子信箱</label>
                    <div class="col-sm-9">
                        <input class="form-control" name="Account" type="email" placeholder="" required value="@Model.Account">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label required">密碼</label>
                    <div class="col-sm-9">
                        <input class="form-control" type="password" name="Password" required placeholder="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label required">確認密碼</label>
                    <div class="col-sm-9">
                        <input class="form-control" type="password" name="ConfirmPassword" required placeholder="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">公司名稱</label>
                    <div class="col-sm-9">
                        <input class="form-control" name="CompanyName" placeholder="" value="@Model.CompanyName">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">職銜</label>
                    <div class="col-sm-9">
                        <input class="form-control" name="CompanyJob" placeholder="" value="@Model.CompanyJob">
                    </div>
                </div>
                if (ViewBag.CountryList != null)
                {
                    <div class="form-group">
                        <label class="col-sm-3 control-label required">地區/國家</label>
                        <div class="col-sm-9">
                            <select class="form-control" required name="Country">
                                @foreach (Models.Country item in ViewBag.CountryList)
                                {
                                    <option value="@item.Title" @(item.Title == Model.Country ? "selected" : "")>@item.Title</option>
                                }
                            </select>
                        </div>
                    </div>
                }

                <div class="form-group">
                    <label class="col-sm-3 control-label">驗證碼</label>
                    <div class="col-sm-4">
                        <input class="form-control" name="VerifyCode" placeholder="">
                    </div>
                    <div class="col-sm-4">
                        <img id="captcha" src="~/CAPTCHA.ashx" style=" position:relative; width:100px; height:40px;" />
                        <a href="javascript:void" class="regenCode">更新驗證碼</a>
                    </div>

                </div>
                <div class="text-center" style="margin: 12px 0px;">
                    您將資料送出後，代表您已同意本公司依<a href="/content/ch/ase_privacy.html ">隱私權政策</a>之規定，蒐集、處理及利用您的個人資料。
                </div>
                <div class="d-flex" style="justify-content: center">
                    <div style="position: relative">
                        <button type="submit" class="btn btn-primary btn-block">訂閱</button>
                        <span style="color:red; position:absolute;left:105%;top:10px;white-space:nowrap;">*必須填寫</span>
                    </div>
                </div>
            }

        </div>

    </div>
    <div class="content-lg row">
        <div class="col-lg-offset-3 col-lg-6" style="border: 1px solid #aaa; padding: 12px; margin-top: 12px; margin-bottom: 12px;background-color:#fefefe;">
            <h4 style="text-align:center">登入</h4>
            <hr />
            @using (Html.BeginForm("News_Login", "Ch", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                <div class="form-group">
                    <label class="col-sm-3 control-label">電子信箱</label>
                    <div class="col-sm-9">
                        <input class="form-control" name="Account" placeholder="" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">密碼</label>
                    <div class="col-sm-9">
                        <span class="glyphicon glyphicon-eye-open togglePassword"></span>
                        <input class="form-control" type="password" name="Password" placeholder="" required>

                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9 text-right">
                        <a href="@Url.Action("News_Forget")">忘記密碼</a>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-5 col-sm-2">
                        <button type="submit" class="btn btn-primary btn-block">登入</button>
                    </div>
                </div>
            }


        </div>

    </div>


</section>



<style>
    .control-label {
        text-align: left !important;
        width: 130px;
    }
</style>