﻿@{
    ViewBag.Title = "訂閱電子報";
    ViewBag.BannerStyle = "banner-news";
    Layout = "~/Views/Shared/_Layout_Content.cshtml";
}


<section class="inside-article">
    <div class="content-lg row">
        <article class="col-xs-12">
            <h3 class="title"><img src="https://3711cdn.r.worldssl.net/pic/news-change-password.png" class="news-icon" /> 變更密碼</h3>
        </article>
    </div>
</section>

<section class="csr-bg">
    <div class="content-lg row">
        <div class="col-lg-offset-3 col-lg-6">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal" }))
            {
                <div class="form-group">
                    <label class="col-sm-3 control-label required">新密碼</label>
                    <div class="col-sm-9">
                        <span class="glyphicon glyphicon-eye-open togglePassword"></span>
                        <input class="form-control" type="password" name="Password" placeholder="" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label required">再次確認密碼</label>
                    <div class="col-sm-9">
                        <span class="glyphicon glyphicon-eye-open togglePassword"></span>
                        <input class="form-control" type="password" name="ConfirmPassword" placeholder="" required>
                    </div>
                </div>

                <div class="d-flex" style="justify-content: center">
                    <div style="position: relative">
                        <button type="submit" class="btn btn-primary btn-block">變更密碼</button>
                    </div>
                </div>

            }

        </div>

    </div>
</section>