﻿@model ASEH_Front.Models.Article.ArticleViewModel

@{
    ViewBag.Title = "新聞中心";
    ViewBag.BannerStyle = "banner-press_room";
    Layout = "~/Views/Shared/_Layout_Content.cshtml";
    ViewBag.HeadTitle = "新聞中心 | 日月光投控";
    ViewBag.Description = "日月光投控新聞中心";
    ViewBag.enURL = "en/press_room";
    ViewBag.zhURL = "ch/press_room";
}

<section class="inside-article">
    <div class="content-lg row">
        <article class="col-xs-12">
            <h3 class="title">新聞</h3>
        </article>
    </div>
</section>
<section class="page-list-content">
    <div class="content-lg row">
        <ul class="col-xs-12 list-base list-link list-timetip-line">
            @foreach (var item in Model.ArticleList)
            {
                <li>
                    <a href="@Url.RouteUrl("PressRoom", new { id = item.AtcDesc.Replace(" ", "-") })">
                        <div class="date">@item.AtcOpenDate.Value.ToString("yyyy/MM/dd")</div>
                        <div class="text-box">
                            <h4 class="title">@item.AtcName</h4>
                            <div class="circle_button-wrapper">
                                <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                            </div>
                        </div>
                    </a>
                </li>
            }
        </ul>
    </div>
</section>