﻿@model ASEH_Front.Models.Article.ArticleDetailViewModel

@{
    ViewBag.Title = "新聞";
    ViewBag.BannerStyle = "banner-press_room";
    Layout = "~/Views/Shared/_Layout_Content.cshtml";
}

<section class="page-list-content">
    <div class="content-lg row">
        <div class="col-xs-12 list-base article-wrapper">
            <article class="article-detail">
                <div class="date">@Model.Article.AtcOpenDate.Value.ToString("yyyy/MM/dd")</div>
                <div class="text-box">
                    <h2 class="title">@Model.Article.AtcName</h2>
                    @foreach (var content in Model.Article.tbArticleContent.Where(m => m.LgeID == "CT").OrderBy(m => m.AtnSort))
                    {
                        switch (content.AtsID)
                        {
                            case "C02":
                                {
                                    <p>@Html.Raw(content.AtnText)</p>
                                }
                                break;
                            case "C11":
                                {
                                    <figure class="news-detail-pic" style="margin-bottom: 20px;">
                                        <img src="@Url.Content(string.Format("~/uploads/{0}/{1}", content.AtnID, content.AtnPicPath))" alt="@content.AtnSubject" style="max-width: 100%; height: auto;">
                                    </figure>
                                }
                                break;
                            case "C31":
                                {
                                    <iframe width='100%' height='400' src="@content.AtnVideoPath" frameborder='0' allowfullscreen></iframe>
                                }
                                break;
                        }
                    }

                    @if (Model.Article.AtcIsSign == 1 && Model.ArticleSigh != null)
                    {
                        foreach (var content in Model.ArticleSigh.tbArticleContent.Where(m => m.LgeID == "CT").OrderBy(m => m.AtnSort))
                        {
                            switch (content.AtsID)
                            {
                                case "C02":
                                    {
                                        <p>@Html.Raw(content.AtnText)</p>
                                    }
                                    break;
                                case "C11":
                                    {
                                        <figure class="news-detail-pic" style="margin-bottom: 20px;">
                                            <img src="@Url.Content(string.Format("~/uploads/{0}/{1}", content.AtnID, content.AtnPicPath))" alt="@content.AtnSubject" style="max-width: 100%; height: auto;">
                                        </figure>
                                    }
                                    break;
                                case "C31":
                                    {
                                        <iframe width='100%' height='400' src="@content.AtnVideoPath" frameborder='0' allowfullscreen></iframe>
                                    }
                                    break;
                            }
                        }
                    }
                </div>
            </article>
        </div>
    </div>
</section>