﻿
@model ASEH_Front.Models.Common.Quest.QuestBody

@{
  ViewBag.BannerStyle = "banner-csr";
  Layout = "~/Views/Shared/_Layout_Content.cshtml";
}

<style>
  .rq-table th, .rq-table td {
    font-size: 16px !important;
  }

  .rq-table thead td {
    font-weight: bold;
  }
</style>
<section class="inside-article" style="font-size:16px!important;line-height: 28px;">
  <div class="content-lg row">
    <article class="col-xs-12">
      @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-inline" }))
      {
        @Html.AntiForgeryToken()

        <h3 class="title">@(Model.GetText(Model.Common.Title))</h3>
        <p style="font-size: 1.1rem;">
          @(Model.GetText(Model.Common.Description))
        </p>

        <h4 class="sub-title">
          @Model.GetText(Model.Common.Stakeholder)
        </h4>
        <div>
          @foreach (var stakeholder in Model.StakeholderList)
          {
            <div class="col-sm-4">
              <label class="radio-inline">
                <input type="radio"
                       name="stakeholder"
                       value="@(stakeholder.Value)"
                       @(Model.Form["stakeholder"] == stakeholder.Value ? "checked" : "") />
                @Model.GetText(stakeholder.Title)
                @if (stakeholder.Value == "Other")
                {
                  <input type="text" class="form-control" name="other" style="height:24px;" value="@Model.Form["Other"]">
                }
              </label>
            </div>
          }
        </div>
        <div class="col-sm-12">
          <div class="form-group">
            @if (@ViewData["stakeholder"] != null)
            {
              <span style="color: red;">@ViewData["stakeholder"]</span>
            }
          </div>
        </div>
        <br />
        <h4 class="sub-title">
          @Model.GetText(Model.Common.Organization)
        </h4>
        <input class="form-control" name="org" style="min-width: 100%" />
        <br />
        foreach (var Group in Model.GroupList)
        {
          <h4 class="sub-title">@(Model.GetText(Group.Title))</h4>
          <div class="table-responsive inside-table rq-table">
            <div class="quest_form">
              <div class="quest_form__header">
                <div class="quest_form__body">
                  <div>
                    <strong>
                      @Model.GetText(Group.Head1)
                    </strong>
                    (@Model.GetText(Group.Head2))
                  </div>
                </div>

                <div class="quest_form__options">
                  <div class="quest_form__options__title">@Model.GetText(Group.Head3)</div>
                  @foreach (var option in Model.OptionList)
                  {
                    <div>@Model.GetText(option.Title)</div>
                  }
                </div>
              </div>
              <div class="quest_form__group">
                @foreach (var topic in Group.TopicList)
                {
                  <div class="quest_form__topic">
                    <div class="quest_form__body">
                      <h4>
                        <strong>@Model.GetText(topic.Title)</strong>
                      </h4>
                      <div>
                        @Model.GetText(topic.Content)
                      </div>
                    </div>
                    <div class="quest_form__options">
                      @foreach (var option in Model.OptionList)
                      {
                        <label>
                          <input type="radio"
                                 name="@topic.Key"
                                 value="@option.Value"
                                 @(Model.Form[topic.Key] == option.Value ? "checked" : "")>
                          <span class="quest_form__optionText">@Model.GetText(option.Title)</span>
                        </label>
                      }
                    </div>
                  </div>
                }
              </div>
            </div>
          </div>

          <p>&nbsp;</p>
        }
        <div class="col-sm-12">
          <h4 class="sub-title">*@Model.GetText(Model.Common.Suggest)</h4>
          <textarea class="form-control" name="additional" rows="5" style="min-width: 100%">@Model.Form["additional"]</textarea>
        </div>
        <div class="col-xs-12">
          <div class="form-group">
            <br>
            <br>
            <h4 class="sub-title inline">*@Model.GetText(Model.Common.Valid)</h4>
            <input type="text" name="vcode" class="form-control" required style="border-color: #CCCCCC" />
            <img id="captcha" src="~/CAPTCHA.ashx" style=" position:relative; width:100px; height:40px;" />
            <button onclick="regenVcode()" type="button">@Model.GetText(Model.Common.ReGenValid)</button>
            @if (@ViewData["captcha"] != null)
            {
              <span style="color: red;">@ViewData["captcha"]</span>
            }
          </div>
        </div>
        <div class="col-xs-12 section-contact">
          <div class="content-wrapper pull-left">
            <button type="reset" style="margin-left:30px">@Model.GetText(Model.Common.Reset)</button>
            <button type="submit">@Model.GetText(Model.Common.Submit)</button>
          </div>
        </div>
        <input type="hidden" name="fieid" value="">
      }
    </article>
  </div>
</section>
<link rel="stylesheet" href="https://3711cdn.r.worldssl.net/css/js/vendor/sweetalert/sweetalert2.min.css" />
<link rel="stylesheet" href="https://3711cdn.r.worldssl.net/css/css/quest.css" />

<script src="https://3711cdn.r.worldssl.net/js/js/vendor/sweetalert/sweetalert2.min.js"></script>

@if (@ViewData["msg"] != null)
{
  <script>swal({ title: '@ViewData["msg"]', timer: 3000, type: 'success' })</script>
}

<script>

  function regenVcode() {
    var img = document.querySelector("#captcha");
    var newSrc = img.getAttribute('src').split('?')[0];
    newSrc = newSrc + '?unix=' + new Date().getTime();
    img.setAttribute("src", newSrc)
  }
</script>