﻿@{
    ViewBag.Title = "邁向永續共贏的未來";
    ViewBag.BannerStyle = "banner-csr";
    Layout = "~/Views/Shared/_Layout_Content.cshtml";
    ViewBag.HeadTitle = "利害關係人溝通 | 日月光投控";
    ViewBag.Description = "日月光投控將利害關係人界定為影響日月光投控或受日月光投控影響的團體或組織。";
    ViewBag.enURL = "en/stakeholder_communication.html";
    ViewBag.zhURL = "ch/stakeholder_communication.html";
}

<section class="inside-article">
    <div class="content-lg row">
        <article class="col-xs-12">
            <h3 class="title">利害關係人溝通</h3>
            <p>
                日月光投控將利害關係人界定為影響日月光投控或受日月光投控影響的團體或組織。我們透過AA1000 SES-2011利害關係人議合標準 (Stakeholder Engagement Standard, SES) 的五大原則（依賴性、責任、影響、多元觀點、張力），鑑別出七大類主要的利害關係人。根據其影響的方式（直接或間接），可區分為兩大群組—直接利害關係人包括股東、員工、客戶及供應商/承攬商；間接利害關係人包括社區（媒體）、政府、產業公協會。<br /><br />

                日月光投控以利害關係人的本質、關心的議題以及議合的目的為考量，選擇不同的方式進行利害關係人議合，並每年定期將與各利害關係人溝通情形報告至董事會。<br /><br />
            </p>

            <h4 class="sub-title">溝通機制與重點</h4>

            <div class="col-md-3"><img src="~/content/ch/images/csr/communication.svg" class="stakeholder-small-icons"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;溝通機制</div>
            <div class="col-md-3"><img src="~/content/ch/images/csr/issues.svg" class="stakeholder-small-icons"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2019年關心議題</div>
            <div class="col-md-6"><img src="~/content/ch/images/csr/outcome.svg" class="stakeholder-small-icons"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2019年關鍵溝通結果</div>
            <div class="clearfix"></div>
        </article>
    </div>
</section>
<section class="plants-Offices">
    <div class="content-lg row stakeholder-engagement-box">
        <ul id="list-content" class="col-xs-12 list-base list-link office-list-content">
            <li class="gray-bg">
                <h4>客戶</h4>
                <div class="text-box">
                    <div class="content-wrapper">
                        <img src="~/content/ch/images/csr/communication.svg" class="stakeholder-small-icons">
                        <ul class="stakeholder">
                            <li>客戶季度業務評審會議</li>
                            <li>客戶稽核</li>
                            <li>客戶服務平台</li>
                            <li>技術論壇</li>
                        </ul>
                        <hr class="stakeholder">
                        <img src="~/content/ch/images/csr/issues.svg" class="stakeholder-small-icons">
                        <ul class="stakeholder">
                            <li>創新與研發</li>
                            <li>永續供應鏈</li>
                            <li>客戶關係管理</li>
                        </ul>
                        <hr class="stakeholder">
                        <img src="~/content/ch/images/csr/outcome.svg" class="stakeholder-small-icons">
                        <ul class="stakeholder">
                            <li>客戶滿意百分比2019年為92%，達到所設定之「90%客戶滿意」的目標。</li>
                        </ul>
                    </div>
                </div>
            </li>
            <li>
                <h4>員工</h4>
                <div class="text-box">
                    <div class="content-wrapper">
                        <img src="~/content/ch/images/csr/communication.svg" class="stakeholder-small-icons">
                        <ul class="stakeholder">
                            <li>總經理信箱</li>
                            <li>內部網站</li>
                            <li>員工滿意度調查</li>
                            <li>員工熱線</li>

                        </ul>
                        <hr class="stakeholder">
                        <img src="~/content/ch/images/csr/issues.svg" class="stakeholder-small-icons">
                        <ul class="stakeholder">
                            <li>職業健康與安全</li>
                            <li>人權</li>
                            <li>人力發展</li>
                            <li>人才吸引與留任</li>
                        </ul>
                        <hr class="stakeholder">
                        <img src="~/content/ch/images/csr/outcome.svg" class="stakeholder-small-icons">
                        <ul class="stakeholder">
                            <li>安全永續文化推廣，於中國大陸廠區舉辦GRI 403改版更新條文說明會。嚴格執行工傷事故標準處理程序，並於管制時間內通報當地主管機關，2019年無發生重大工傷死亡事件。</li>
                            <li>執行2019全球廠區第二次員工投入度調查，全球各廠區與新進員工共進行超過410場溝通會、與外籍員工舉辦了320場座談會和一般員工進行了570場意見交流會。</li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="gray-bg">
                <h4>股東</h4>
                <div class="text-box">
                    <div class="content-wrapper">
                        <img src="~/content/ch/images/csr/communication.svg" class="stakeholder-small-icons">
                        <ul class="stakeholder">
                            <li>年度財務報告</li>
                            <li>季度法人說明會</li>
                            <li>年度股東大會</li>
                            <li>季度機構投資者會議</li>
                        </ul>
                        <hr class="stakeholder">
                        <img src="~/content/ch/images/csr/issues.svg" class="stakeholder-small-icons">
                        <ul class="stakeholder">
                            <li>經營績效</li>
                            <li>人才吸引與留任</li>
                            <li>能源管理</li>
                        </ul>
                        <hr class="stakeholder">
                        <img src="~/content/ch/images/csr/outcome.svg" class="stakeholder-small-icons">
                        <ul class="stakeholder">
                            <li>2019年合併營收約為新台幣4,132億元，較2018年增加約421億元，年成長約11.3%。</li>
                        </ul>
                    </div>
                </div>
            </li>
            <li>
                <h4>供應商/承攬商</h4>
                <div class="text-box">
                    <div class="content-wrapper">
                        <img src="~/content/ch/images/csr/communication.svg" class="stakeholder-small-icons">
                        <ul class="stakeholder">
                            <li>供應商問卷調查</li>
                            <li>供應商現場稽核</li>
                            <li>年度供應商大會</li>
                            <li>供應商能力建置活動</li>
                        </ul>
                        <hr class="stakeholder">
                        <img src="~/content/ch/images/csr/issues.svg" class="stakeholder-small-icons">
                        <ul class="stakeholder">
                            <li>法令遵循</li>
                            <li>商業道德</li>
                            <li>人權</li>
                            <li>永續供應鏈</li>
                        </ul>
                        <hr class="stakeholder">
                        <img src="~/content/ch/images/csr/outcome.svg" class="stakeholder-small-icons">
                        <ul class="stakeholder">
                            <li>全球120家公司參加年度供應商頒獎典禮，3家供應商獲頒「供應商永續經營獎」<a href="javascript:" class="blue-link-popover" data-toggle="popover" data-trigger="hover" data-content="因應新冠病毒防疫政策，日月光半導體取消「2019年最佳供應商頒獎典禮」，改以公開表揚表現優異的獲獎企業。" data-placement="top" data-original-title="" title="">*</a>。</li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="gray-bg">
                <h4>政府</h4>
                <div class="text-box">
                    <div class="content-wrapper">
                        <img src="~/content/ch/images/csr/communication.svg" class="stakeholder-small-icons">
                        <ul class="stakeholder">
                            <li>政府部門舉行的溝通會議/論壇/研討會或公開聽證會</li>
                            <li>與政府部門主動對話</li>
                            <li>呈報至政府門戶網站</li>
                        </ul>
                        <hr class="stakeholder">
                        <img src="~/content/ch/images/csr/issues.svg" class="stakeholder-small-icons">
                        <ul class="stakeholder">
                            <li>職業安全衛生</li>
                            <li>水資源管理</li>
                            <li>氣候變遷</li>
                            <li>永續供應鏈</li>
                        </ul>
                        <hr class="stakeholder">
                        <img src="~/content/ch/images/csr/outcome.svg" class="stakeholder-small-icons">
                        <ul class="stakeholder">
                            <li>封測同業共組環保安全衛生委員會，共同研議解決國內半導體產業工安與環保問題，提供政府單位制訂半導體封測業相關政策及法規調整之參考。</li>
                            <li>日月光半導體中壢廠榮獲桃園市政府消防推薦優良消防管理場所績優公司。</li>
                        </ul>
                    </div>
                </div>
            </li>
            <li>
                <h4>社區(NGO、媒體)</h4>
                <div class="text-box">
                    <div class="content-wrapper">
                        <img src="~/content/ch/images/csr/communication.svg" class="stakeholder-small-icons">
                        <ul class="stakeholder">
                            <li>社區意見調查和需求評估</li>
                            <li>NGOs溝通會議/論壇/研討會</li>
                            <li>與NGOs合作的志工活動</li>
                            <li>新聞稿</li>
                            <li>發言人接受採訪</li>
                            <li>公司網站</li>
                        </ul>
                        <hr class="stakeholder">
                        <img src="~/content/ch/images/csr/issues.svg" class="stakeholder-small-icons">
                        <ul class="stakeholder">
                            <li>社會參與</li>
                            <li>廢棄物與循環再生</li>
                            <li>法令遵循</li>
                            <li>水資源管理</li>
                        </ul>
                        <hr class="stakeholder">
                        <img src="~/content/ch/images/csr/outcome.svg" class="stakeholder-small-icons">
                        <ul class="stakeholder">
                            <li>舉辦媒體及非營利基金會說明會，透過論壇及廠區實地考察，讓關心日月光投控的專業人士了解半 導體製程技術與環保績效。</li>
                            <li>贊助約新台幣6,300萬元與50個NGOs合作支持環保方案、慈善活動以及公民教育方案。</li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="gray-bg">
                <h4>產業公會/協會</h4>
                <div class="text-box">
                    <div class="content-wrapper">
                        <img src="~/content/ch/images/csr/communication.svg" class="stakeholder-small-icons">
                        <ul class="stakeholder">
                            <li>會員大會</li>
                            <li>公會/協會舉行的技術研討會</li>
                        </ul>
                        <hr class="stakeholder">
                        <img src="~/content/ch/images/csr/issues.svg" class="stakeholder-small-icons">
                        <ul class="stakeholder">
                            <li>法令遵循</li>
                            <li>商業道德</li>
                            <li>廢棄物與循環再生</li>
                            <li>永續供應鏈</li>
                        </ul>
                        <hr class="stakeholder">
                        <img src="~/content/ch/images/csr/outcome.svg" class="stakeholder-small-icons">
                        <ul class="stakeholder">
                            <li>參與超過140個產業公會、協會與國際產業聯盟，支持公共政策倡議與產業發展約新台幣2,700萬元(<a class="blue-link-popover" href="~/ch/pdf/contributions-spendings-on-public-affairs-ch.pdf" target="_blank">詳細資料</a>)。</li>
                            <li>成立5T台灣永續供應循環經濟聯盟，建構推動跨產業交流平台及分享資訊凝聚產業共識。</li>
                            <li>與中華經濟研究院及台灣經濟研究院，共同推動「智慧電網計畫」。</li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
<section class="inside-article">
    <div class="content-lg row">
        <article class="col-xs-12">
            <h4 class="sub-title">重大性分析流程</h4>
            <p>
                日月光投控根據 GRI Standards（永續性報告準則）與AA 1000 SES利害關係人議合標準，依循鑑別、分析與確認三大原則，發展重大性分析架構，辨識日月光投控重大永續議題，作為永續策略的規劃工具外，同時為日月光投控編撰企業社會責任報告書的參考基礎。2019 年企業社會責任報告書編撰過程，我們蒐集2,297位利害關係人回饋，同時由營運長、財務長、行政長及主要子公司董事長、總經理或高階主管，帶領集團永續發展委員會成員，總共37位同仁辨識永續議題對營運的重要性，決定14個重大議題，成為公司推動企業永續的優先議題，擬定長期永續管理目標。
            </p>
        </article>
    </div>
</section>
<section class="plants-Offices">
    <div class="content-lg row stakeholder-engagement-box">
        <ul id="list-content" class="col-xs-12 list-base list-link office-list-content">
            <li style="background: #e3ead6;">
                <h4>步驟一　鑑別：包容性</h4>
                <div class="text-box">
                    <div class="content-wrapper">
                        <p style="margin-left: -25px; border-bottom: 0">
                            在辨識與組織相關性與重要性的議題上，日月光投控參考國際標準與規範、永續投資評比、全球半導體同業與利害關係人溝通，蒐集40個相關議題，透過合併與群集分類後，最後彙整17個日月光投控的永續議題。
                        </p>
                        <h5 style="font-size: 15px; font-weight: bold;">5個 經濟面議題、6個 環境面議題、6個 社會面議題</h5>
                        <ul class="stakeholder nopadding">
                            <li><strong>國際標準與規範：</strong><br />永續報告準則 (GRI Standards)、永續會計準則委員會 (SASB)、聯合國永續發展目標 (SDGs)、負責任商業聯盟 (RBA)。</li>
                            <li><strong>永續投資評比：</strong><br />道瓊永續指數 (DJSI)、CDP氣候變遷評比、摩根史坦利ESG指數 (MSCI ESG Index)、富時新興市場指數 (FTSE4Good Emerging Index)。</li>
                            <li><strong>全球半導體同業：</strong><br />針對入選 DJSI 指數的全球半導體公司，蒐集永續資訊揭露內容與做法。</li>
                            <li><strong>利害關係人溝通：</strong><br />從定期與不定期與利害關係人溝通與互動過程，以及網路媒體報導，蒐集利害關係人對於永續議題的回饋。</li>
                        </ul>
                    </div>
                </div>
            </li>
            <li style="background: #c4d5aa;">
                <h4>步驟二　分析：重大性</h4>
                <div class="text-box">
                    <div class="content-wrapper">
                        <p style="margin-left: -25px; border-bottom: 0">
                            日月光投控遵循GRI Standards要求，將議題重要性植基於「利害關係人關注程度」與「組織營運影響」觀點，我們透過日常與問卷發放的溝通模式，蒐集利害關係人意見回饋，同時讓高階主管決定議題對於組織營運影響，決定議題的重大性與相關性。
                        </p>
                        <h5 style="font-size: 15px; font-weight: bold;">2,297位 利害關係人、37位 集團永續發展委員會</h5>
                        <ul class="stakeholder nopadding">
                            <li>利害關係人關注程度是決定議題重大性的原則之一，日月光投控透過問卷調查，瞭解利害關係人對於永續議題關注程度，總共2,297位利害關 係人參與，包括員工 (991份)、客戶 (101份)、股東 (30份)、供應商 (977份)、政府 (64份)、公協會 (10份)、社區 (124份)。</li>
                            <li>讓環境、社會與治理 (ESG) 連結營運核心是日月光投控推動企業永續的重要原則，我們邀請高階主管與集團永續發展委員會，總共37位同仁 參與重大性分析，衡量每個永續議題對於公司營收、風險與客戶滿意的影響，排序每個永續議題與公司營運的影響程度，決定議題的重要性。</li>
                        </ul>
                    </div>
                </div>
            </li>
            <li style="background: #97b872;">
                <h4>步驟三　確認：回應性</h4>
                <div class="text-box">
                    <div class="content-wrapper">
                        <h5 style="font-size: 15px; font-weight: bold;">14個 重大議題、20個 主題</h5>
                        <ul class="stakeholder nopadding">
                            <li>考量「利害關係人關注議題」與「議題對於公司永續營運的影響」兩大原則下，選出11個議題具重大性，經過集團永續發展委員會討論後，整併「永續製造」至「創新與研發」；納入「能源管理」、「氣候變遷」、「人權」與「社會參與」，最後定義為14個議題為重大性。據此作為2019企業社會責任報告書揭露的基礎，進而作為組織內部研擬永續管理目標的優先考量。</li>
                            <li>根據14個重大議題，選出20個重大主題 (包含19個GRI準則主題以及1個日月光投控特定主題) 用於報告揭露。其他潛在的永續議題，亦同步公開揭露。</li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
<section class="inside-article">
    <div class="content-lg row">
        <article class="col-xs-12">
            <h4 class="sub-title">重大性分析結果</h4>
            <img src="~/pic/content/ch/images/csr/stakeholder_engagement_details.gif">
        </article>
    </div>
</section>

