<div class="ajax-text-and-image white-popup-block">
    <style>
    .ajcol {
        width: 100%; float:left;
    }
    @media all and (max-width:30em) {
        .ajcol { 
            width: 100%;
            float:none;
        }
    }
    </style>
    <div class="ajcol" style="line-height: 1.231;">
        <div style="padding: 20px">
            <p>
                身為國際企業公民，日月光投控在致力於公司營運與維護股東利益的同時，也力求促進公共福祉。我們希望能在全球社會帶來正面的改變和影響。在法律允許的情況下，我們支持與日月光投控關注之特定議題有相同觀點，而同時能作為公共政策議題之討論平台且能為共同商業利益進行倡議之組織。我們力求確保所做的捐贈或支出是以支持公共事務為目的，恪遵營運所在地所有應適用法規並依據應適用之法規及報導需求適當揭露，同時也會遵守公司相關的道德政策與規範。
            </p>

            2016~2019年公共事務捐贈或支出
            <div class='table-responsive inside-table'>
                <table class='table table-striped table-hover csr grey-table'>
                    <thead>
                        <tr>
                            <th></th>
                            <th class='left-border'>2016年</th>
                            <th class='left-border'>2017年</th>
                            <th class='left-border'>2018年</th>
                            <th class='left-border'>2019年</th>
                        </tr>
                    </thead>
                    <tbody>
                    
                        <tr class='grey'>
                            <td>總計</td>
                            <td class='left-border text-center'>US$ 327K</td>
                            <td class='left-border text-center'>US$ 456K</td>
                            <td class='left-border text-center'>US$ 555K</td>
                            <td class='left-border text-center'>US$ 783K</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <br>2019年前十大公共事務捐贈或支出
            <div class='table-responsive inside-table'>
                <table class='table table-striped table-hover csr grey-table'>
                    <thead>
                        <tr>
                            <th>組織名稱</th>
                            <th class='left-border'>總計</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class='grey'>
                            <td>國際半導體協會(SEMI)</td><td class='left-border text-center'>US$ 133K</td>
                        </tr>
                        <tr class='grey'>
                            <td>台灣半導體協會(TSIA)</td><td class='left-border text-center'>US$ 120K</td>
                        </tr>
                        <tr class='grey'>
                            <td>台灣永續供應協會(TASS)</td><td class='left-border text-center'>US$ 70K</td>
                        </tr>
                        <tr class='grey'>
                            <td>CALCE電子產品與系統聯盟(EPSC)</td><td class='left-border text-center'>US$ 65K</td>
                        </tr>
                        <tr class='grey'>
                            <td>責任商業聯盟 (RBA)</td><td class='left-border text-center'>US$ 35K</td>
                        </tr>
                        <tr class='grey'>
                            <td>全球半導體聯盟</td><td class='left-border text-center'>US$ 25K</td>
                        </tr>
                        <tr class='grey'>
                            <td>電機電子工程師學會</td><td class='left-border text-center'>US$ 25K</td>
                        </tr>
                        <tr class='grey'>
                            <td>國際無線產業聯盟</td><td class='left-border text-center'>US$ 15K</td>
                        </tr>
                        <tr class='grey'>
                            <td>國際勞工組織 - 韓國雇主聯合會</td><td class='left-border text-center'>US$ 13K</td>
                        </tr>
                        <tr class='grey'>
                            <td>電子影像標準協會</td><td class='left-border text-center'>US$ 10K</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div style="clear:both; line-height: 0;"></div>
</div>