@charset "utf-8";
.form-control{
	height: 40px;
}
.logo{
	margin: auto;
	text-align: center;
	padding-top: 20%;
}

/*for logintemplate blue*/
.grayBody{
	background-color: #E9E9E9;
}
.loginbox{
	margin-top: 5%;
	border-top: 5px solid rgba(205,205,205,1);
	background-color:#fff;
	padding: 20px;
	box-shadow: 0 10px 10px -2px rgba(0,0,0,0.12),0 -2px 10px -2px rgba(0,0,0,0.12);    
}
.singtext{    
	font-size: 22px;  
	color: rgba(30,30,30,1);
	font-weight: 500;
	letter-spacing: 1px;
}