@charset "utf-8";
/*==================== reset css  start================================*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote{margin:0;padding:0;}
/*==================== reset css END =================================*/
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Open Sans", Arial, sans-serif;
  line-height: 1.6;
  font-size: 14px;
  background: #fff;
  color: #333333;
  font-weight: 300;
  overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6 {
	margin-bottom:20px
}
.header {
	height:100px;
	background-color:rgba(245,245,245,1);
}
.logo {
	padding:22px 0 0 0;
}
.menubar {
	padding:40px 0 0 0;
}